<template>
  <transition
    name="dialog-fade"
    @after-enter="afterEnter"
    @after-leave="afterLeave"
  >
    <div
      v-show="visible"
      class="el-dialog__wrapper"
      @click.self="handleWrapperClick"
    >
      <div
        :key="key"
        ref="dialog"
        v-loading="bodyLoading"
        role="dialog"
        aria-modal="true"
        :aria-label="title || 'dialog'"
        :class="['el-dialog', { 'is-fullscreen': fullscreen, 'el-dialog--center': center }, customClass]"
        :style="style"
      >
        <div class="el-dialog__header">
          <slot name="title">
            <span class="el-dialog__title">{{ title }}</span>
          </slot>
          <div
            v-if="isSafari"
            style="overflow: hidden; width: 0; height: 0;"
          >
            <input
              ref="dummyInput"
              type="text"
            >
          </div>
          <el-tooltip
            class="item"
            effect="dark"
            :content="closeTitle"
            placement="bottom"
            :tabindex="-1"
          >
            <button
              v-if="showClose"
              type="button"
              class="el-dialog__headerbtn"
              aria-label="Close"
              @click="handleClose"
            >
              <i class="el-dialog__close el-icon el-icon-close" />
            </button>
          </el-tooltip>
        </div>
        <div
          v-if="rendered"
          class="el-dialog__body"
        >
          <slot />
        </div>
        <div
          v-if="$slots.footer"
          class="el-dialog__footer"
        >
          <slot name="footer" />
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import { isSafari } from 'Foundation/helpers/browser-detect';
  import { Dialog } from "element-ui";

  export default {
    /**
     * Component name
     */
    name: "BaseModal",

    /**
     * Parent component
     */
    extends: Dialog,

    props: {
      /**
       * Close button title
       */
      closeTitle : {
        type: String,
        default: 'Close',
      },

      /**
       * Body has a loading
       */
      bodyLoading : {
        type: Boolean,
        default: false,
      }
    },

    /**
     * Watchers.
     */
    watch: {
      rendered () {
        if (isSafari) {
          this.$refs.dummyInput.focus();
        }
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Wrapper for helper.
       * @returns {*}
       */
      isSafari () {
        return isSafari();
      }
    },
  }
</script>
