<template>
  <el-button
    type="primary"
    :disabled="disabled"
    @click="cancel"
  >
    {{ cancelLabel || $trans('actions.cancel') }}
  </el-button>
</template>

<script>
  export default {
    /**
     * Name
     */
    name: 'ButtonCancel',

    /**
     * Props
     */
    props: {
      /**
       * Cancel button label
       */
      cancelLabel: {
        type: String,
        default: '',
      },

      /**
       * Check if cancel is disabled
       */
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    /**
     * Methods
     */
    methods: {
      /**
       * On submit
       */
      cancel () {
        this.$emit('cancel');
      }
    }
  };
</script>
