<template>
  <el-button
    type="default"
    :disabled="submitDisabled"
    @click="submit"
  >
    {{ submitLabel || $trans('actions.save_changes') }}
  </el-button>
</template>

<script>
  export default {
    /**
     * Name
     */
    name: 'ButtonSubmit',

    /**
     * Props
     */
    props: {
      submitDisabled: {
        type: Boolean,
        default: false,
      },
      submitLabel: {
        type: String,
        default: '',
      },
    },

    /**
     * Methods
     */
    methods: {
      /**
       * On submit
       */
      submit () {
        this.$emit('submit');
      }
    }
  };
</script>
