<template>
  <advertiser-creative-table
    v-if="id"
    :id="id"
  />
</template>

<script>
  import AdvertiserCreativeTable from './creatives/AdvertiserCreativeTable';
  import Id from 'Foundation/mixins/Id';

  export default {
    /**
     * Name of the component.
     */
    name: 'CreativesTab',

    /**
     * Child components.
     */
    components: {
      AdvertiserCreativeTable,
    },

    /**
     * Mixins.
     */
    mixins: [
      Id,
    ],
  };
</script>
