<template>
  <div>
    <transaction-history-table
      :user-id="id"
      :use-routing="false"
    />
  </div>
</template>

<script>
  import Id from 'Foundation/mixins/Id';
  import TransactionHistoryTable from 'Modules/payment/components/TransactionHistoryTable';

  export default {
    /**
     * Name of the component.
     */
    name: 'TransactionsTab',

    /**
     * Child components.
     */
    components: { TransactionHistoryTable },

    /**
     * Mixins.
     */
    mixins: [
      Id,
    ],
  };
</script>
