<script>
  import LoginForm from 'Modules/auth/components/login/LoginForm';

  export default {
    extends: LoginForm,

    /**
     * Methods.
     */
    methods: {
      /**
       * Submit the form.
       *
       * @returns {Promise<void>}
       */
      async submit () {
        this.cognitoUser = this.cognitoUser || {
          signInUserSession: {
            accessToken: {
              /** @see \Modules\Demo\Auth\Http\Controllers\Api\LoginController::attemptLogin() */
              jwtToken: btoa(this.email) + '.' + btoa(this.password)
            },
            refreshToken: {
              token: 'Dummy.Refresh.Token',
            },
          }
        };

        await this.$call(this.platformLogin(this.cognitoUser), { notify: false })
          .then(({ data }) => {
            this.beforeRedirect = true;
            this.$redirect(data.redirect);
          }).catch(( response ) => {
            this.$notify.error({
              message: response.data.message || this.$trans('messages.went_wrong')
            });
          });
      },
    },
  };
</script>
