<template>
  <div class="admin-caption">
    <div class="admin-caption__item">
      <p>
        <strong class="text-label-xs-semibold-caps">
          {{ $trans('labels.personal_info') }}
        </strong>
      </p>
      <p>{{ advertiser.name }}</p>
      <p>{{ advertiser.email }}</p>
      <p>
        <a
          v-if="advertiser.contactSfdcUrl"
          :href="advertiser.contactSfdcUrl"
          target="_blank"
        >
          {{ $trans('advertiser::labels.contact_sfdc_link') }}
        </a>
      </p>
      <el-switch
        v-if="advertiser.states.can_update_account_type"
        v-model="specialAccountType"
        :active-text="$trans('invitation::labels.special_ads_category')"
        @change="changeAccountTypeEvent"
      />
    </div>
    <div class="admin-caption__item">
      <p>
        <strong class="text-label-xs-semibold-caps">
          {{ $trans('labels.business_info') }}
        </strong>
      </p>
      <div v-if="advertiser.address && advertiser.location && advertiser.phone">
        <p>
          {{ advertiser.address }}<br>
          {{ advertiser.location }}
        </p>
        <p>{{ advertiser.phone }}</p>
      </div>
      <div v-else>
        &mdash;
      </div>
      <p>
        <a
          v-if="advertiser.advertiserSfdcUrl"
          :href="advertiser.advertiserSfdcUrl"
          target="_blank"
        >
          {{ $trans('advertiser::labels.advertiser_sfdc_link') }}
        </a>
      </p>
      <p>
        <a
          v-if="advertiser.brandSfdcUrl"
          :href="advertiser.brandSfdcUrl"
          target="_blank"
        >
          {{ $trans('advertiser::labels.brand_sfdc_link') }}
        </a>
      </p>
    </div>

    <confirm-change-account-type-modal
      v-if="visibleModal"
      :value="specialAccountType"
      @rollback="rollback"
    />
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import ConfirmChangeAccountTypeModal from 'Modules/advertiser/components/show/modals/ConfirmChangeAccountTypeModal';
  import UpdateAccountType from "Modules/advertiser/components/show/mixins/UpdateAccountType";

  export default {
    /**
     * Name of the component.
     */
    name: 'AdvertiserDetails',

    /**
     * Child components.
     */
    components: {
      ConfirmChangeAccountTypeModal
    },

    /**
     * Mixins.
     */
    mixins: [
      UpdateAccountType
    ],

    /**
     * Reactive properties.
     * @returns {{}}
     */
    data() {
      return {
        visibleModal: false,
        specialAccountType: false
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('show', [
        'advertiser',
      ]),
    },

    /**
     * Created.
     */
    created() {
      this.specialAccountType = this.advertiser.specialAccountType;
    },

    methods: {
      /**
       * Change account type handler.
       */
      changeAccountTypeEvent () {
        if (!this.specialAccountType){
          this.updateAccountType(this.specialAccountType);
          this.visibleModal = false;
          return
        }
        this.visibleModal = true;
      },

      /**
       * Rollback account type if modal was closed.
       */
      rollback () {
        this.specialAccountType = this.advertiser.specialAccountType;
        this.visibleModal = false;
      }
    }
  };
</script>
