<template>
  <div class="d-flex">
    <el-button
      type="text"
      @click="onClick"
    >
      <icon
        value="copy"
        transparent="stroke"
      />
      {{ $trans('campaign::actions.clone') }}
    </el-button>
  </div>
</template>

<script>
  import { mapActions } from "vuex";
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name of the component.
     */
    name: "Clone",

    /**
     * Child components.
     */
    components: {
      Icon,
    },

    /**
     * Available properties.
     */
    props: {
      /**
       * Campaign Id
       */
      campaignId: {
        type: [String, Number],
        default: '',
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex.
       */
      ...mapActions('details', ['clone']),

      /**
       * On click handler.
       */
      onClick () {
        this.$call(this.clone(this.campaignId))
          .then((data) => {
            this.$redirect(data.data.route);
          })
          .catch((error) => {
            this.$notify.error(error.data.message);
            return Promise.reject(error);
          })
      }
    }
  };
</script>
