<template>
  <div class="d-flex">
    <el-button
      type="text"
      @click="$redirectToRoute('api.campaigns.report.download', { campaign: campaignId })"
    >
      <icon
        value="download"
        transparent="fill"
      />
      {{ $trans('campaign::actions.download_report') }}
    </el-button>
  </div>
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name of the component.
     */
    name: "DownloadReport",

    /**
     * Child components.
     */
    components: {
      Icon,
    },

    /**
     * Available properties.
     */
    props: {
      /**
       * Campaign Id
       */
      campaignId: {
        type: [String, Number],
        default: '',
      },
    },

    /**
     * Available methods.
     */
    methods: {
      /**
       * On click event handler.
       */
      onClick () {
        this.$redirectToRoute('campaigns.report.', { campaign: this.campaignId });
      },
    },
  };
</script>
