<template>
  <el-tooltip
    class="item"
    effect="dark"
    :content="$trans('campaign::actions.download_report')"
    placement="top"
  >
    <el-button
      type="text"
    >
      <icon value="download" />
      {{ $trans('campaign::actions.download_report') }}
    </el-button>
  </el-tooltip>
</template>

<script>
import Icon from 'Foundation/components/icons/Icon';

export default {
  /**
   * Name.
   */
  name: 'Print',

  /**
   * Components.
   */
  components: {
    Icon
  },

  /**
   * Mixins.
   */
  mixins: [],

  /**
   * Props.
   */
  props: {},

  /**
   * Reactive properties.
   * @returns {{}}
   */
  data () {
    return {};
  },

  /**
   * Computed properties.
   */
  computed: {},

  /**
   * Watchers.
   */
  watch: {},

  /**
   * Created hook.
   */
  created () {
  },

  /**
   * Mounted hook.
   */
  mounted () {
  },

  /**
   * Destroyed hook.
   */
  destroyed () {
  },

  /**
   * Methods.
   */
  methods: {},
};
</script>
