<template>
  <div class="d-flex">
    <!-- BUTTON -->
    <el-button
      type="text"
      @click.prevent="onClick"
    >
      <icon
        value="trash"
        transparent="stroke"
      />
      {{ $trans('campaign::actions.delete_campaign') }}
    </el-button>
    <!-- SUBMIT MODAL -->
    <modal
      :visible="visible"
      :title="$trans('campaign::messages.remove.title')"
      :submit-label="$trans('actions.yes')"
      :cancel-label="$trans('actions.no')"
      :custom-class="'change-status'"
      :width="'488px'"
      @close="close"
      @cancel="close"
      @submit="removeCampaign"
    >
      <div class="change-status__content">
        <p class="change-status__descr text-body-sm">
          {{ $trans('campaign::messages.remove.content') }}
        </p>
        <p class="change-status__note text-body-sm black-text-muted">
          {{ $trans('campaign::messages.remove.description') }}
        </p>
      </div>
    </modal>

    <!-- DEACTIVATED ADVERTISER MODAL -->
    <modal-deactivated
      :visible.sync="modalDeactivatedOpened"
    />
  </div>
</template>

<script>
import DeactivatedAdvertiser from 'Modules/advertiser/mixins/DeactivatedAdvertiser';
import Modal from 'Foundation/components/layout/modal/Modal';
import {mapActions, mapState} from 'vuex';
import Icon from 'Foundation/components/icons/Icon';

export default {
  /**
   * Name.
   */
  name: 'Remove',

  /**
   * Components.
   */
  components: {
    Icon,
    Modal,
  },

  /**
   * Mixins.
   */
  mixins: [
    DeactivatedAdvertiser,
  ],

  /**
   * Properties.
   */
  props: {
    /**
     * Status.
     */
    campaignStatus: {
      type: String,
      default: '',
    },
  },

  /**
   * Reactive properties.
   * @returns {{}}
   */
  data () {
    return {
      /**
       * Is dialog visible
       */
      visible: false,
    };
  },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Map state.
     */
    ...mapState('details', ['campaign'])
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Vuex actions
     */
    ...mapActions('details', {
      remove: 'remove'
    }),

    /**
     * On click event handler.
     */
    onClick () {
      if (this.campaignStatus === 'draft') {
        return this.open();
      }
      this.ifAdvertiserActivated(this.open);
    },

    /**
     * Open modal
     */
    open () {
      this.visible = true;
    },

    /**
     * Close modal.
     */
    close () {
      this.visible = false;
    },

    /**
     * Remove campaign
     * @return Promise
     */
    removeCampaign () {
      this.close();
      return this.remove(this.campaignId)
        .then(({ data }) => {
          this.$notify.success({
            title: this.$trans('messages.success'),
            message: data.data.message,
          });
          this.$emit('removed', true);
        })
        .catch(() => {
          this.$notify.error('Campaign can\'t be removed');
        });
    }
  },
};
</script>
