<template>
  <modal
    :title="$trans('invitation::labels.tabs.bulk_invite')"
    custom-class="el-dialog--actions-column-reverse video-popup "
    width="992px"
    :visible="visible"
    :submit-label="$trans('invitation::labels.confirm_bulk_invites')"
    :submit-disabled="disableSubmit"
    :loading-buttons="loadingButtons"
    @submit="onSubmit"
    @close="close"
    @cancel="close"
  >
    <bulk-invites-confirm
      :emails="confirmEmails"
    />
  </modal>
</template>

<script>
  import Visible from 'Foundation/mixins/Visible';
  import Modal from 'Foundation/components/layout/modal/Modal';
  import BulkInvitesConfirm from './content/BulkInvitesConfirm';
  import {mapActions} from 'vuex';
  import {mapFields} from 'vuex-map-fields';

  export default {

    /**
     * Component name
     */
    name: "Confirm",

    /**
     * Used Components
     */
    components: {
      BulkInvitesConfirm,
      Modal,
    },

    /**
     * Mixins
     */
    mixins: [
      Visible
    ],

    /**
     * Props
     */
    props: {
      confirmEmails: {
        type: [Array, Object],
        default: () => {
          return [];
        }
      },
    },

    /**
     * Data properties.
     */
    data() {
      return {
        loadingButtons: false
      }
    },

    /**
     * Computed property
     */
    computed: {
      disableSubmit() {
        return this.confirmEmails.success && this.confirmEmails.success.length === 0;
      },

      /**
       * Fields mapping.
       */
      ...mapFields('invitation', {formData: 'bulkInvite'}),
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('invitation', { store: 'storeBulkInvitation' }),

      /**
       * Submit success invites
       */
      async onSubmit() {
        this.loadingButtons = true;

        try {
          await this.$call(
            this.store({
              emails: this.confirmEmails.success,
              account_type_category: this.formData.account_type_category
            }),
            { notify: false }
          ).then(({ data }) => {
            this.$emit('confirm-modal', data.data);
          });
        } catch (e) {
          this.loadingButtons = false;
          return;
        }

        this.loadingButtons = false;

        this.$emit('close');
        this.$emit('created');
      }
    }
  }
</script>
