<template>
  <div>
    <modal
      v-if="!showConfirmModal"
      custom-class="el-dialog--actions-column-reverse invitation-popup"
      width="688px"
      :visible="true"
      :title="label"
      :submit-label="$trans('invitation::labels.send_invite')"
      :loading-buttons="loadingButtons"
      @submit="onSubmit"
      @close="close"
      @cancel="close"
    >
      <div class="custom-label">
        {{ $trans('invitation::labels.invite_type') }}
      </div>
      <el-tabs
        v-model="activeTab"
        class="el-tabs-large"
      >
        <el-tab-pane
          :label="$trans('invitation::labels.tabs.individual_invite')"
          :name="individualInvite"
        >
          <individual-invitation-form
            :ref="individualInvite"
            @loading-buttons="pending"
            @close="$emit('close')"
            @created="$emit('created')"
          />
        </el-tab-pane>
        <el-tab-pane
          :label="$trans('invitation::labels.tabs.bulk_invite')"
          :name="bulkInvite"
        >
          <bulk-invitation-form
            :ref="bulkInvite"
            @loading-buttons="pending"
            @close="$emit('close')"
            @created="$emit('created')"
            @confirm-modal="confirmModal"
          />
        </el-tab-pane>
      </el-tabs>
    </modal>
    <confirm
      :visible="showConfirmModal"
      :confirm-emails="confirmEmails"
      @created="$emit('created')"
      @close="hideModal"
    />
  </div>
</template>

<script>
  import Modal from 'Foundation/components/layout/modal/Modal';
  import Visible from "Foundation/mixins/Visible";
  import IndividualInvitationForm from "Modules/invitation/components/index/forms/IndividualInvitationForm";
  import BulkInvitationForm from "Modules/invitation/components/index/forms/BulkInvitationForm";
  import Confirm from "./Confirm";

  const TYPE_INDIVIDUAL = 'individual';
  const TYPE_BULK = 'bulk';

  export default {
    /**
     * Name.
     */
    name: 'InvitationModal',

    /**
     * Components.
     */
    components: {
      Confirm,
      IndividualInvitationForm,
      BulkInvitationForm,
      Modal,
    },

    /**
     * Mixins.
     */
    mixins: [Visible],

    /**
     * Data properties.
     */
    data() {
      return {
        activeTab: TYPE_INDIVIDUAL,
        individualInvite: TYPE_INDIVIDUAL,
        bulkInvite: TYPE_BULK,
        showConfirmModal: false,
        confirmEmails: [],
        loadingButtons: false
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Modal label
       */
      label () {
        return this.$trans('invitation::labels.create_invite');
      },
    },

    /**
     * Methods
     */
    methods: {
      /**
       * On submit method
       */
      onSubmit () {
        this.$refs[this.activeTab].submit();
      },

      /**
       * On cancel handler.
       */
      cancel() {
        this.$emit('cancel');
      },

      /**
       * Show confirm modal.
       *
       * @param emails
       */
      confirmModal(emails) {
        this.confirmEmails = emails;
        this.showConfirmModal = true;
      },

      /**
       * Hide error modal.
       */
      hideModal() {
        this.showConfirmModal = false;
        this.close();
      },

      /**
       * Show buttons loading.
       */
      pending (value) {
        this.loadingButtons = value;
      }
    },
  }
</script>
