<template>
  <base-tooltip
    ref="tooltip"
    :zindex="zindex"
    :popper-class="tooltipClass"
    :append-to-body="!appendAsSibling"
    effect="light"
    :visible-arrow="false"
    placement="right-start"
    :popper-options="{
      modifiers:['shift', 'offset', popperOffset, 'applyStyle'],
      gpuAcceleration: false,
    }"
    @created="onPopperCreated"
  >
    <template slot="content">
      <div
        ref="termTitle"
        class="title"
        v-html="term"
      />
      <div
        class="description"
        v-html="description"
      />
      <p
        v-if="moreLink"
        class="more"
      >
        <a :href="moreLink">{{ $trans('labels.learn_more') }}</a>
      </p>
    </template>
    <span v-html="term" />
  </base-tooltip>
</template>

<script>
  import BaseTooltip from 'Foundation/components/toolpip/BaseTooltip';

  export default {

    name: 'Annotation',

    /**
     * Components.
     */
    components: {
      BaseTooltip,
    },

    /**
     * Props.
     */
    props: {
      /**
       * Term. Could contain arbitrary html.
       */
      term: {
        type: String,
        default: '',
      },

      /**
       * Term's description. Could contain arbitrary html.
       */
      description: {
        type: String,
        required: true,
      },

      /**
       * Link to the details page.
       */
      moreLink: {
        type: String,
        default: '',
      },

      /**
       * Identify if tooltip should be hoverable.
       */
      hoverable: {
        type: Boolean,
        default: false,
      },

      /**
       * Custom css-class for popper.
       */
      popperClass: {
        type: String,
        default: '',
      },

      /**
       * Z-index value for popper element.
       * Default - false. Native calculation by Element's popup manager.
       */
      zindex: {
        type: [Number, Boolean],
        default: false,
      },

      /**
       * Verify if popper html-element should be append within the same parent as the term.
       */
      appendAsSibling: {
        type: Boolean,
        default: false,
      },
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * @returns {HTMLElement}
       */
      titleEl () {
        if (this.$refs.tooltip) {
          return this.$refs.tooltip.poperEl.querySelector('.title');
        }

        return null;
      },

      /**
       * @returns {string}
       */
      tooltipClass () {
        return `text-tip ${this.popperClass}`;
      },
    },

    /**
     * Mounted hook.
     */
    mounted () {
      this.addEventListeners();
    },

    /**
     * Destroyed hook.
     */
    destroyed () {
      this.removeEventListeners();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Custom popper modifier. Moving popper over the term.
       * @param {*} data
       * @returns {*}
       */
      popperOffset (data) {
        const popper  = data.offsets.popper;
        const reference = data.offsets.reference;

        popper.left = reference.left - 29;
        popper.top = reference.top - 15;

        return data;
      },

      /**
       * @returns {void}
       */
      addEventListeners () {
        this.$nextTick(() => {
          if (!this.hoverable && this.titleEl) {
            this.titleEl.addEventListener('mouseleave', this.closePopper);
          }
        });
      },

      /**
       * @returns {void}
       */
      removeEventListeners () {
        if (!this.hoverable && this.titleEl) {
          this.titleEl.removeEventListener('mouseleave', this.closePopper);
        }
      },

      /**
       * @returns {void}
       */
      closePopper () {
        this.$refs.tooltip.hide();
      },

      /**
       * Handler of popover "created" event.
       */
      onPopperCreated () {
        if (this.appendAsSibling) {
          this.$el.parentElement.appendChild(this.$refs.tooltip.poperEl);
        }
      },
    },
  }
</script>
