<template>
  <base-modal
    :title="payload.title"
    :visible="status"
    :custom-class="'popup-upload el-dialog--actions-column-reverse'"
    width="688px"
    @close="handleClose"
  >
    <component
      :is="contentComponent"
      v-if="type"
      @close="handleClose"
    />
  </base-modal>
</template>

<script>
  import Visible from 'Foundation/mixins/Visible';
  import BaseModal from 'Foundation/components/layout/modal/BaseModal';
  import WarningContent from './content/WarningContent';
  import FailContent from './content/FailContent';
  import DangerScheduleContent from './content/DangerScheduleContent';
  import DangerBudgetContent from './content/DangerBudgetContent';
  import { mapState } from 'vuex';

  export default {
    /**
     * Component name.
     */
    name: 'InventoryCheckModal',

    /**
     * Child components.
     */
    components: {
      BaseModal,
      WarningContent,
      FailContent,
      DangerScheduleContent,
      DangerBudgetContent
    },

    /**
     * Mixins.
     */
    mixins: [
      Visible,
    ],

    /**
     * Available properties.
     */
    props: {
      /**
       * Should modal be shown status.
       */
      status: {
        type: Boolean,
        default: () => false,
      },

      /**
       * Type of content.
       */
      type: {
        type: String,
        default: () => 'warning',
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('wizard/inventory', ['payload']),

      /**
       * Get modal type.
       */
      contentComponent () {
        const typeComponent = this.type[0].toUpperCase() + this.type.slice(1);

        return typeComponent + 'Content';
      }
    },

    /**
     * Component methods.
     */
    methods: {
      /**
       * This method is called before close modal.
       *
       */
      handleClose() {
        this.$emit('close');
      },
    },
  }
</script>
