<template>
  <layout>
    <div class="el-form sign-up__forms sign-up__forms--admin">
      <div class="sign-up__forms-step">
        <div class="text-center">
          <p
            class="text-body-md sign-up__thanks-descr"
            v-html="$trans('auth::messages.admin_login_failed', { admin_login_page: $getRoute('admin-attempt-login') })"
          />
        </div>
      </div>
    </div>
  </layout>
</template>

<script>
  import Layout from "Foundation/layouts/Layout";

  export default {
    /**
     * Name.
     */
    name: 'TheAdminLoginRestricted',

    /**
     * Child components.
     */
    components: {
      Layout,
    },
  };
</script>
