<template>
  <layout :action-buttons="false">
    <transition
      name="el-fade-in-linear"
      mode="out-in"
    >
      <div class="browser-lock">
        <div class="browser-lock__content">
          <h3>Oops! Browser not supported.</h3>
          <div class="caption">
            <p>It looks like you’re using a browser we don’t support yet. Please use one of the following browsers to continue.</p>
          </div>
          <ul>
            <li>
              <img
                src="/images/content/lock/Google_Chrome_icon.svg"
              >
              {{ $trans('auth::messages.google_chrome') }}
              <a
                target="_blank"
                :href="downloadLinks.chrome"
              >
                {{ $trans('auth::messages.install_for_free') }}
              </a>
            </li>
            <li>
              <img
                src="/images/content/lock/Firefox_Icon.svg"
              >
              {{ $trans('auth::messages.mozilla_firefox') }}
              <a
                target="_blank"
                :href="downloadLinks.firefox"
              >
                {{ $trans('auth::messages.install_for_free') }}
              </a>
            </li>
            <li>
              <img
                src="/images/content/lock/Safari_Icon.svg"
              >
              {{ $trans('auth::messages.apple_safari') }}
              <span>(Mac Only)</span>
            </li>
          </ul>
          <p>
            {{ $trans('auth::messages.using_browser') }} {{ $trans('labels.please') }}
            <a
              :href="contactHref"
            >
              {{ $trans('labels.contact_us') }}
            </a>
          </p>
          <el-button
            type="default"
            @click="openLanding"
          >
            Back Home
          </el-button>
        </div>
        <img
          src="/images/content/lock/Hulu-Astronaut.gif"
        >
      </div>
    </transition>
  </layout>
</template>

<script>
  import Layout from 'Foundation/layouts/Layout';

  export default {
    /**
     * Name.
     */
    name: 'TheBrowserLock',

    /**
     * Child components.
     */
    components: {
      Layout,
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * Contact mail address.
       */
      contactHref () {
        return `mailto:${this.$config.general.company_support_email}`
      },

      /**
       * Get browser download links
       */
      downloadLinks () {
        return this.$config.general.thirdparty_links.download;
      }
    },

    /**
     * Methods
     */
    methods: {
      openLanding () {
        this.$redirectToRoute('landing');
      },
    },
  };
</script>
