<template>
  <layout :action-buttons="false">
    <transition
      name="el-fade-in-linear"
      mode="out-in"
    >
      <div class="login-failed">
        <h3>{{ $trans('auth::messages.failed_to_login') }}</h3>
        <p>{{ $trans('auth::messages.login_went_wrong') }}</p>
        <p
          v-html="$trans('auth::messages.try_again', { support_email: $config.general.internal_support_email })"
        />
        <el-button
          type="default"
          @click="openLanding"
        >
          {{ $trans('auth::messages.back_to_homepage') }}
        </el-button>
      </div>
    </transition>
  </layout>
</template>

<script>
  import Layout from 'Foundation/layouts/Layout';

  export default {
    /**
     * Name.
     */
    name: 'TheLoginFailed',

    /**
     * Child components.
     */
    components: {
      Layout,
    },

    /**
     * Methods
     */
    methods: {
      openLanding () {
        this.$redirectToRoute('landing');
      },
    },
  };
</script>
