<template>
  <layout-guest
    v-if="!isBrowserUnsupported"
    :show-login-button="false"
  >
    <transition
      name="el-fade-in-linear"
      mode="out-in"
    >
      <login-form
        v-if="!firstLogin"
        @first-login="firstLogin=true"
      />
      <create-password-form
        v-else
        @first-login="firstLogin = false"
      />
    </transition>
  </layout-guest>
</template>

<script>
  import LoginForm from '../components/login/LoginForm';
  import LayoutGuest from 'Foundation/layouts/LayoutGuest';
  import BrowserUnsupported from '../mixins/BrowserUnsupported';
  import CreatePasswordForm from '../components/create-password/CreatePasswordForm';

  export default {
    /**
     * Name of the component.
     */
    name: 'TheLoginForm',

    /**
     * Child components.
     */
    components: {
      LoginForm,
      LayoutGuest,
      CreatePasswordForm
    },

    /**
     * Browser Unsupported check.
     */
    mixins: [
      BrowserUnsupported,
    ],

    /**
     * Component data
     */
    data () {
      return {
        firstLogin: false,
      }
    }
  };
</script>
