<template>
  <onboarding-wizard
    v-if="visible"
    :routes="routes"
    :loading="completePending"
    @close="close"
    @finish="submit"
  />
</template>

<script>
  import OnboardingWizard from './OnboardingWizard';
  import Visible from 'Foundation/mixins/Visible';
  import { mapActions, mapState } from 'vuex';

  export default {
    /**
     * Name of the component.
     */
    name: "OnboardingView",

    /**
     * Child components.
     */
    components: {
      OnboardingWizard,
    },

    /**
     * Mixins.
     */
    mixins: [
      Visible,
    ],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('onboarding', ['completePending']),

      /**
       * List of routes for the wizard.
       *
       * @returns {string[]}
       */
      routes () {
        return [
          'onboarding.steps.one',
          'onboarding.steps.two',
          'onboarding.steps.three',
        ];
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex.
       */
      ...mapActions('onboarding', ['complete']),

      /**
       * Submit form (complete onboarding).
       *
       * @returns {Promise<void>}
       */
      async submit () {
        const response = await this.complete();
        const redirect = response.data && response.data.redirect;

        if (redirect) {
          this.$redirect(redirect);
        }
      },
    },
  };
</script>
