<template>
  <status-badge
    :value="cellText"
    :type="type"
  />
</template>

<script>
  import CellMixin from 'Foundation/mixins/CellMixin';

  export default {
    /**
     * Component name
     */
    name: 'StatusCell',

    /**
     * Mixins.
     */
    mixins: [CellMixin],

    /**
     * Component data.
     */
    data () {
      return {
        typeStatusMapping: {
          'default': ['draft', 'review', 'pending_approval', 'complete', 'completed', 'pending', 'precessing'],
          'success' : ['live'],
          'info': ['ready'],
          'warning': ['paused'],
          'danger': ['canceled', 'suspended'],
        }
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Cell text
       */
      cellText () {
        return this.$trans(`campaign::labels.campaign.statuses.${this.cellValue}`);
      },
    },
  };
</script>
