<template>
  <div class="details--overview">
    <div
      v-for="(block, key) in blocks"
      :key="key"
      class="review-campaign__list"
      :class="block.class"
    >
      <div class="collapse-grid">
        <campaign-review-item-wrapper
          v-for="(item, property) in block.block"
          :key="property"
          :item="item"
        />
      </div>
    </div>
  </div>
</template>

<script>
import CampaignReviewItemWrapper
  from "Modules/campaign/components/wizard/steps/review-and-payment/review/items/CampaignReviewItemWrapper";
import translator from "Foundation/services/translations/locale";

export default {
  /**
   * Component name
   */
  name: 'TabOverview',

  /**
   * Child components.
   */
  components: {
    CampaignReviewItemWrapper
  },

  /**
   * Prop properties.
   */
  props: {
    targetings: {
      type: Object,
      required: true,
    }
  },

  /**
   * Computed properties.
   */
  computed: {
    blocks () {
      return {
        locations: {
          class: 'is-bordered',
          block: {
            locations: {
              singleColumn: true,
              title: this.$trans('labels.locations'),
              value: {
                locations: this.targetings.locations,
                allLabel: this.$trans('targeting::labels.locations.all'),
              },
              component: 'sidebar-targeting-locations',
            },
          },
        },
        age_groups: {
          class: 'is-bordered',
          block: {
            gender: {
              title: this.$trans('labels.gender'),
              value: this.targetings.gender.label ? translator.get(`targeting::labels.genders.${this.targetings.gender.label}`) : '-',
              component: 'sidebar-item',
            },
            age: {
              title: this.$trans('labels.ages'),
              value: this.targetings.ages.map(item => item.label).join(', '),
              component: 'sidebar-item',
            },
          },
        },
        audiences: {
          class: 'is-bordered',
          block: {
            audiences: {
              singleColumn: true,
              title: this.$trans('labels.audiences'),
              value: this.targetings.audiences,
              component: 'sidebar-targeting-audiences',
            },
          },
        },
        devices: {
          class: 'is-bordered',
          block: {
            devices: {
              singleColumn: true,
              title: this.$trans('labels.platforms'),
              value: {
                items: this.targetings.deviceGroups,
                allowAll: false,
              },
              component: 'sidebar-targeting-item',
            },
          },
        },
        genres: {
          class: 'is-bordered',
          block: {
            genres: {
              singleColumn: true,
              title: this.$trans('labels.show_genres'),
              value: {
                items: this.targetings.genres,
                allowAll: true,
                allLabel: this.$trans('targeting::labels.genres.all'),
              },
              component: 'sidebar-targeting-include-item',
            },
          },
        },
      }
    }
  },
};
</script>
