<template>
  <div
    class="details--perfomance"
  >
    <div>
      <chart-container
        :loading="loadStatisticPending"
        :title="$trans('campaign::labels.performance.charts.impressions.title')"
        :subtitle="$trans('campaign::labels.performance.charts.impressions.subtitle', { days: 30 })"
        :show-options="false"
        :has-data="impressionPerformance.performance.length > 1"
        :no-data-message="$trans('campaign::messages.charts.performance_not_available')"
      >
        <line-chart
          :data="impressionsChartData"
          :x-axis-title="$trans('labels.days')"
          :y-axis-title="$trans('campaign::labels.impressions')"
          :legend="legend"
          line-color-start="#5D7CE9"
          line-color-end="#1AB5E6"
        />
      </chart-container>

      <chart-container
        :loading="loadStatisticPending || loadGenresPending"
        :title="$trans('campaign::labels.performance.charts.genres.title')"
        :subtitle="$trans('campaign::labels.performance.charts.genres.subtitle')"
        :show-options="false"
        :has-data="!!genresChartData.length"
        :no-data-message="genresNoDataMessage"
      >
        <scale-chart :chart-data="genresChartData" />
      </chart-container>

      <chart-container
        :loading="loadStatisticPending || loadDevicesPending"
        :title="$trans('campaign::labels.performance.charts.devices.title')"
        :subtitle="$trans('campaign::labels.performance.charts.devices.subtitle')"
        :show-options="false"
        :has-data="!!deviceChartData.labels.length"
        :no-data-message="devicesNoDataMessage"
      >
        <doughnut-chart :chart-data="deviceChartData" />
      </chart-container>
    </div>
  </div>
</template>

<script>
  import CampaignState from 'Modules/campaign/mixins/CampaignState';
  import ChartContainer from 'Foundation/components/chart/ChartContainer';
  import LineChart from 'Foundation/components/chart/LineChart';
  import DoughnutChart from 'Foundation/components/chart/DoughnutChart';
  import ScaleChart from 'Foundation/components/chart/ScaleChart';
  import { mapState } from 'vuex';
  import moment from 'moment';

  export default {
    /**
     * Name
     */
    name: 'TabPerformance',

    /**
     * Components.
     */
    components: {
      ChartContainer,
      LineChart,
      DoughnutChart,
      ScaleChart,
    },

    /**
     * Mixins.
     */
    mixins: [
      CampaignState,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Active tab.
       */
      campaignId: {
        type: Number,
        default: null,
      }
    },

    /**
     * Computed props.
     */
    computed: {
      /**
       * Map store.
       */
      ...mapState('metrics', {
        impressionPerformance: state => state.campaignStatistic.performance,
        loadGenresPending: 'loadGenresPending',
        loadDevicesPending: 'loadDevicesPending',
        loadStatisticPending: 'loadStatisticPending',
        generalImpressionsByGenre: 'generalImpressionsByGenre',
        generalImpressionsByDevice: 'generalImpressionsByDevice',
      }),

      /**
       * @returns {Array}
       */
      genresChartData () {
        return this.generalImpressionsByGenre;
      },

      /**
       * @returns {*}
       */
      deviceChartData () {
        return this.generalImpressionsByDevice;
      },

      /**
       * @returns string
       */
      devicesNoDataMessage () {
        return this.statisticAvailable ?
          this.$trans('campaign::messages.charts.devices_data_not_available') :
          this.$trans('campaign::messages.charts.devices_data_not_started');
      },

      /**
       * @returns string
       */
      genresNoDataMessage () {
        return this.statisticAvailable ?
          this.$trans('campaign::messages.charts.genres_data_not_available') :
          this.$trans('campaign::messages.charts.genres_data_not_started');
      },

      /**
       * Chart data.
       * @returns {*}
       */
      impressionsChartData () {
        return {
          labels: this.impressionPerformance.performance.map(
            item => moment.parseZone(item.startTime).format('MM/DD')
          ),
          datasets: [
            {
              data: this.impressionPerformance.performance.map(item => item.impressions),
            },
          ]
        };
      },

      /**
       * Chart legend.
       * @returns {string}
       */
      legend () {
        return `${this.impressionPerformance.startDate} - ${this.impressionPerformance.endDate}`
      },
    },
  };
</script>
