<template>
  <div class="landing-page">
    <div class="landing-page__hero land-hero">
      <div class="land-hero__bg" />
      <div class="landing-page__header land-header">
        <div class="land-header__logo">
          <a href="#">
            <img
              src="../../../../images/Logo-black-beta-light.svg"
              alt="Hulu advertising"
            >
          </a>
        </div>
        <div class="land-header__menu">
          <el-button
            type="primary"
          >
            Sign up today!
          </el-button>
          <el-button
            type="text"
          >
            Login
          </el-button>
        </div>
        <button
          class="navbar-toggler"
          aria-label="Toggle navigation"
        >
          <span />
        </button>
      </div>
      <div class="land-hero__content">
        <h1>
          Break through to your audience
        </h1>
        <p>
          Hulu Ad Manager gives advertisers DIY access to a broad audience of engaged viewers in a premium environment.
        </p>
        <el-button
          type="success"
        >
          Sign up today!
        </el-button>
      </div>
    </div>
    <div class="landing-page__content land-content">
      <div class="land-content__text">
        <span class="land-content__subtitle">Hulu Ad Manager</span>
        <h2 class="land-content__title">
          Simple as 1, 2, 3
        </h2>
        <p>
          Hulu Ad Manager is a self-service advertising platform that makes TV-quality advertising accessible to businesses of all sizes.By connecting the dots of simplicity, 100% addressability, and precision targeting, we’re putting BETTER in the hands of our advertisers.
        </p>
      </div>
      <div class="land-content__features land-features">
        <div class="land-features__item">
          <div class="img">
            <img
              src="../../../../../resources/images/landing/Local-Simple-1.png"
              alt="Hulu advertising"
            >
          </div>
          <p>Self-Service Simplicity</p>
        </div>
        <div class="land-features__item">
          <div class="img">
            <img
              src="../../../../../resources/images/landing/Local-Simple-2.png"
              alt="Hulu advertising"
            >
          </div>
          <p>Audience Precision</p>
        </div>
        <div class="land-features__item">
          <div class="img">
            <img
              src="../../../../../resources/images/landing/Local-Simple-3.png"
              alt="Hulu advertising"
            >
          </div>
          <p>Premium Environment</p>
        </div>
      </div>
    </div>
    <div class="landing-page__footer land-footer">
      <div class="land-footer__content">
        <ul class="land-footer__menu">
          <li>
            <a href="#">Ad Manager Terms</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <div class="land-footer__copy">
          ©2019 Hulu
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {

    name: 'TheLandingPage',

    data () {
      return {
        showWizard: false,
        activeStep: 0,
      }
    },

    methods: {
      nextStep() {
        if (this.activeStep++ > 1) this.activeStep = 0;
      },
      prevStep() {
        this.activeStep -= 1;
      },
    }

  };

</script>
