<template>
  <div
    class="mockups-home"
    style="padding: 20px;"
  >
    <h3 style="margin-bottom: 10px;">
      List of pages
    </h3>
    <ul style="margin-bottom: 40px;">
      <li>
        <a
          target="_blank"
          href="/mockups#/stylemap"
        >
          StyleMap
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="/mockups#/single-page-layout"
        >
          Single page layout <span class="text-danger">(demo)</span>
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="/mockups#/landing"
        >
          Landing
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="/mockups#/forgot-password"
        >
          Forgot Password
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="/mockups#/advertiser-profile"
        >
          Advertiser Profile
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="/mockups#/campaigns"
        >
          Campaigns
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="/mockups#/admin-campaigns"
        >
          Admin Campaigns
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="/mockups#/create-campaign"
        >
          Campaign Creation Wizard
        </a>
      </li>
    </ul>
    <h3 style="margin-bottom: 10px;">
      Other
    </h3>
    <el-button
      type="default"
      size="medium"
      @click="showWizard = true"
    >
      Show wizard
    </el-button>
    <el-dialog
      :visible.sync="showWizard"
      custom-class="el-dialog--info on-boarding"
      width="100%"
      :fullscreen="true"
      top="0px"
    >
      <h1 class="on-boarding__title">
        Welcome to Hulu Advertising
      </h1>
      <div
        v-show="activeStep === 0"
        class="on-boarding__body"
      >
        <div class="on-boarding__frame">
          <img
            src="https://images.unsplash.com/photo-1529982477610-aaaa849d0798?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2173&q=80"
            alt="Square"
          >
        </div>
        <div class="on-boarding__content">
          <strong class="on-boarding__caption text-body-sm">
            Get started
          </strong>
          <h2 class="on-boarding__subtitle">
            Create Campaigns with Video Ads
          </h2>
          <p class="text-muted">
            A documentary that profiles the life and work of artist Shepard Fairey, following his roots in punk rock and skateboarding.
          </p>
        </div>
      </div>
      <div
        v-show="activeStep === 1"
        class="on-boarding__body"
      >
        <div class="on-boarding__frame">
          <img
            src="https://images.unsplash.com/photo-1463100099107-aa0980c362e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80"
            alt="Square"
          >
        </div>
        <div class="on-boarding__content">
          <strong class="on-boarding__caption text-body-sm">
            Get started
          </strong>
          <h2 class="on-boarding__subtitle">
            Engage with your Audience
          </h2>
          <p class="text-muted">
            A documentary that profiles the life and work of artist Shepard Fairey, following his roots in punk rock and skateboarding.
          </p>
        </div>
      </div>
      <div
        v-show="activeStep === 2"
        class="on-boarding__body"
      >
        <div class="on-boarding__frame">
          <img
            src="https://images.unsplash.com/photo-1507332098075-a547892ed192?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2208&q=80"
            alt="Square"
          >
        </div>
        <div class="on-boarding__content">
          <strong class="on-boarding__caption text-body-sm">
            Get started
          </strong>
          <h2 class="on-boarding__subtitle">
            Track Performance of Video Ads
          </h2>
          <p class="text-muted">
            A documentary that profiles the life and work of artist Shepard Fairey, following his roots in punk rock and skateboarding.
          </p>
        </div>
      </div>
      <div class="on-boarding__actions">
        <el-steps
          :active="activeStep"
          :simple="true"
          class="on-boarding__pagination welcome-pagination"
        >
          <el-step />
          <el-step />
          <el-step />
        </el-steps>
        <el-button
          v-show="activeStep >= 1"
          type="primary"
          @click="prevStep"
        >
          Back
        </el-button>
        <el-button
          type="default"
          @click="nextStep"
        >
          Next
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>

  export default {

    name: 'TheIndexPage',

    data () {
      return {
        showWizard: false,
        activeStep: 0,
      }
    },

    methods: {
      nextStep() {
        if (this.activeStep++ > 1) this.activeStep = 0;
      },
      prevStep() {
        this.activeStep -= 1;
      },
    }

  };

</script>
