<template>
  <el-container>
    <el-main>
      <div class="stylemap">
        <h1 class="text-title-xxxl-bold-caps">
          StyleMap
        </h1>
        <div class="stylemap__section stylemap-type">
          <color-system />
        </div>
        <div class="stylemap__section stylemap-type">
          <typo />
        </div>
        <div class="stylemap__section stylemap-buttons">
          <h2 class="stylemap__title text-subtitle-lg-semibold">
            #Buttons
          </h2>
          <buttons />
        </div>
        <div class="stylemap__section stylemap-buttons">
          <h2 class="stylemap__title text-subtitle-lg-semibold">
            #Tags
          </h2>
          <tags />
        </div>
        <div class="stylemap__section stylemap-buttons">
          <h2 class="stylemap__title text-subtitle-lg-semibold">
            #Tooltips
          </h2>
          <tooltips />
        </div>
        <div class="stylemap__section stylemap__icons">
          <h3 class="stylemap__title text-subtitle-lg-semibold">
            #Icons
          </h3>
          <span class="text-label-sm">All available icons</span>
          <all-icons />
          <span class="text-label-sm">Used icons (symbol-defs.svg)</span>
          <used-icons />
        </div>
        <div class="stylemap__section stylemap-inputs">
          <el-form
            :hide-required-asterisk="true"
          >
            <h2 class="stylemap__title text-subtitle-lg-semibold">
              #Form fields
            </h2>
            <div class="stylemap-inputs__row">
              <span class="text-label-sm">Default</span>
              <text-field
                v-model="form.name"
                name="name"
                :show-label="false"
                :placeholder="'Placeholder'"
                :label="''"
              />
            </div>
            <div class="stylemap-inputs__row">
              <span class="text-label-sm">Medium (changing only font-size)</span>
              <text-field
                v-model="form.name"
                size="medium"
                name="name"
                :show-label="false"
                :placeholder="'Placeholder'"
                :label="''"
              />
            </div>
            <div class="stylemap-inputs__row">
              <span class="text-label-sm">Default input with label</span>
              <text-field
                v-model="form.name"
                name="name"
                :placeholder="'Placeholder'"
                :label="'Label'"
                :validation="rules.name"
              />
            </div>
            <div class="stylemap-inputs__row">
              <span class="text-label-sm">Input with icon</span>
              <password-field
                v-model="form.passwordConfirmation"
                name="password_confirmation"
                :label="'Confirm password'"
                :validation="rules.passwordConfirmation"
              >
                <el-button
                  slot="suffix"
                  type="text"
                  class="icon-btn"
                />
              </password-field>
            </div>
            <div class="stylemap-inputs__row">
              <span class="text-label-sm">Search input</span>
              <el-input
                v-model="form.search"
                name="name"
                :placeholder="'Search'"
                class="input-secondary"
                :label="''"
              />
            </div>
            <div class="stylemap-inputs__row">
              <span class="text-label-sm">Date range input</span>
              <div
                class="el-form-item"
                :class="{ 'is-error': hasError, 'is-filled': isFilled }"
              >
                <div class="el-form-item__content">
                  <date-range-field
                    v-model="date"
                    :picker-options="pickerOptions"
                    :validation-messages="validationMessages"
                    :validation="validation"
                    name="date"
                  />
                </div>
              </div>
            </div>
            <div class="stylemap-inputs__row">
              <span class="text-label-sm">Select</span>
              <el-select
                size="large"
                class="input-secondary"
                placeholder="Large"
                popper-class="dropdown-pages"
              >
                <el-option
                  v-for="item in pageSelector"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
              <br><br>
              <el-select
                multiple
                size="small"
                class="select-table"
                collapse-tags
                placeholder="Select"
              >
                <el-option
                  v-for="item in pageSelector"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </div>

            <div class="stylemap-inputs__row">
              <span class="text-label-sm">Checkbox default</span>
              <el-checkbox
                v-model="checked"
              >
                Option
              </el-checkbox>
            </div>
          </el-form>
        </div>
        <div class="stylemap__section stylemap-components">
          <h2 class="stylemap__title text-subtitle-lg-semibold">
            #Components
          </h2>
          <div class="stylemap-components__row">
            <span>#Tabs Default</span>
            <el-tabs
              v-model="activeFullBorderTab"
              @tab-click="handleClick"
            >
              <el-tab-pane
                label="User"
                name="first"
              >
                User
              </el-tab-pane>
              <el-tab-pane
                label="Config"
                name="second"
              >
                Config
              </el-tab-pane>
              <el-tab-pane
                label="Role"
                name="third"
              >
                Role
              </el-tab-pane>
              <el-tab-pane
                label="Task"
                name="fourth"
              >
                Task
              </el-tab-pane>
            </el-tabs>
          </div>
          <div class="stylemap-components__row">
            <span class="text-label-sm">#Tabs with fullscreen border</span>
            <strong>Add class el-tabs--fullborder to tabs</strong>
            <el-tabs
              v-model="activeFullBorderTab"
              class="el-tabs--fullborder"
              @tab-click="handleClick"
            >
              <el-tab-pane
                label="User"
                name="first"
              >
                User
              </el-tab-pane>
              <el-tab-pane
                label="Config"
                name="second"
              >
                Config
              </el-tab-pane>
              <el-tab-pane
                label="Role"
                name="third"
              >
                Role
              </el-tab-pane>
              <el-tab-pane
                label="Task"
                name="fourth"
              >
                Task
              </el-tab-pane>
            </el-tabs>
          </div>
          <div class="stylemap-components__row">
            <span class="text-label-sm">#Tabs with large navigation items</span>
            <el-tabs
              v-model="activeFullBorderTab"
              class="reports-tabs el-tabs-large"
            >
              <el-tab-pane
                label="Schedule"
                name="first"
              >
                Tab Content 1
              </el-tab-pane>
              <el-tab-pane
                label="Download"
                name="second"
              >
                Tab Content 2
              </el-tab-pane>
            </el-tabs>
          </div>
          <div class="stylemap-components__row">
            <span class="text-label-sm">#Counter widget</span>
            <counter-widget />
          </div>
          <div class="stylemap-components__row">
            <span class="text-label-sm">#Messages</span>
            <messages />
          </div>
          <div class="stylemap-components__row">
            <span class="text-label-sm">#Accordion</span>
            <span> Default</span>
            <accordion />
            <span> With checkbox</span>
            <accordion-with-checkbox />
          </div>
          <div class="stylemap-components__row">
            <span> Campaign creation sidebar</span>
            <campaign-sidebar />
          </div>
          <div class="stylemap-components__row">
            <span class="text-label-sm">#FAQ header</span>
            <faq-header />
          </div>
          <div class="stylemap-components__row">
            <span class="text-label-sm">#FAQ Accordion</span>
            <faq-accordion />
          </div>
          <div class="stylemap-components__row">
            <span class="text-label-sm">#FAQ features</span>
            <faq-features />
          </div>
          <div class="stylemap-components__row">
            <span class="text-label-sm">#FAQ cards</span>
            <faq-cards />
          </div>
        </div>
        <div class="stylemap-components__row">
          <span class="text-label-sm">#Upload creative</span>
          <upload-creative />
        </div>
        <div class="stylemap-components__row">
          <span class="text-label-sm">#Charts</span>
          <chart-container
            :title="lineChartTitle"
            :subtitle="lineChartSubtitle"
          >
            <line-scale
              slot="chart"
              :chart-data="lineChartData"
            />
          </chart-container>
        </div>
        <div class="stylemap-components__row">
          <span class="text-label-sm">#Inventory delivery indicator</span>
          <inventory-delivery-indicator
            :delivery-percentage="5"
          />
        </div>
        <div class="stylemap-components__row">
          <span class="text-label-sm">#Tables</span>
          <br>
          <span class="text-body-md">Table campaigns listing (Default table with actions and pagination)</span>
          <br>
          <br>
          <table-default />
        </div>
        <div class="stylemap-components__row">
          <span class="text-body-md">Table creative listing (for create campaign wizard)</span>
          <br>
          <table-creative />
        </div>
        <div class="stylemap-components__row">
          <span class="text-body-md">Table notifications</span>
          <br>
          <br>
          <table-notifications />
        </div>
        <div class="stylemap__section stylemap-popups">
          <h2 class="stylemap__title text-subtitle-lg-semibold">
            #Popups
          </h2>
          <div class="stylemap-popups__row">
            <div class="stylemap-popups__item">
              <notification-popup />
            </div>
            <div class="stylemap-popups__item">
              <video-popup />
            </div>
            <div class="stylemap-popups__item">
              <popup-default />
            </div>
            <div class="stylemap-popups__item">
              <full-screen-popup />
            </div>
            <div class="stylemap-popups__item">
              <order-popup />
            </div>
            <div class="stylemap-popups__item">
              <secondary-popup />
            </div>
            <div class="stylemap-popups__item">
              <faq-question />
            </div>
            <div class="stylemap-popups__item">
              <faq-section />
            </div>
            <div class="stylemap-popups__item">
              <upload-popup />
            </div>
            <div class="stylemap-popups__item">
              <contact-popup />
            </div>
            <div class="stylemap-popups__item">
              <promo-code />
            </div>
            <div class="stylemap-popups__item">
              <reports-popup />
            </div>
          </div>
        </div>
      </div>
    </el-main>
  </el-container>
</template>

<script>
  import {PasswordField, TextField} from 'Foundation/components/form';
  import UploadCreative from '../components/UploadCreative'
  import Messages from '../components/Messages'
  import Accordion from '../components/Accordion'
  import AccordionWithCheckbox from '../components/AccordionWithCheckbox'
  import CampaignSidebar from '../components/CampaignSidebar'
  import Buttons from '../components/Buttons'
  import AllIcons from '../components/AllIcons'
  import UsedIcons from '../components/UsedIcons'
  import Typo from '../components/Typo'
  import ColorSystem from '../components/ColorSystem'
  import CounterWidget from '../components/CounterWidget'
  import TableDefault from '../components/Tables/TableDefault'
  import TableCreative from '../components/Tables/TableCreative'
  import TableNotifications from '../components/Tables/TableNotifications'
  import FullScreenPopup from '../components/Popups/FullScreenPopup'
  import PopupDefault from '../components/Popups/PopupDefault'
  import VideoPopup from '../components/Popups/VideoPopup'
  import OrderPopup from '../components/Popups/OrderPopup'
  import FaqQuestion from '../components/Popups/FaqQuestion'
  import FaqSection from '../components/Popups/FaqSection'
  import UploadPopup from '../components/Popups/UploadPopup'
  import NotificationPopup from '../components/Popups/NotificationPopup'
  import ContactPopup from '../components/Popups/ContactPopup'
  import SecondaryPopup from '../components/Popups/SecondaryPopup'
  import PromoCode from '../components/Popups/PromoCode'
  import ReportsPopup from '../components/Popups/ReportsPopup'
  import { DateRangeField } from 'Foundation/components/form';
  import Tags from '../components/Tags'
  import Tooltips from '../components/Tooltips'
  import LineScale from '../components/Charts/LineScale/LineScale'
  import ChartContainer from '../components/Charts/ChartContainer'
  import InventoryDeliveryIndicator from '../components/Charts/InventoryDeliveryIndicator'

  export default {
    /**
     * Component name.
     */
    name: 'TheStyleMap',

    components: {
      Typo,
      TableDefault,
      ColorSystem,
      TableCreative,
      CounterWidget,
      AllIcons,
      UsedIcons,
      CampaignSidebar,
      Accordion,
      UploadCreative,
      Messages,
      Buttons,
      PasswordField,
      TextField,
      FullScreenPopup,
      PopupDefault,
      FaqQuestion,
      FaqSection,
      UploadPopup,
      OrderPopup,
      ContactPopup,
      VideoPopup,
      PromoCode,
      ReportsPopup,
      DateRangeField,
      TableNotifications,
      NotificationPopup,
      SecondaryPopup,
      AccordionWithCheckbox,
      Tags,
      Tooltips,
      LineScale,
      ChartContainer,
      InventoryDeliveryIndicator,
    },

    data() {
      return {
        videoItemPopup: false,
        primaryPopup: false,
        secondaryPopup: false,
        activeFullBorderTab: 'first',
        checked: true,
        lineChartTitle: 'Genre Breakdown',
        lineChartSubtitle: 'Short description of this graph',
        lineChartData: [
          {
            title: 'Comedy',
            percentage: 41.8
          },
          {
            title: 'Drama',
            percentage: 29.77
          },
          {
            title: 'Reality and Game Shows',
            percentage: 19.16
          },
          {
            title: 'Animation and Cartoons',
            percentage: 5.11
          },
          {
            title: 'Other',
            percentage: 4.16
          },
        ],
        form: {
          name: null,
          email: null,
          password: null,
          passwordConfirmation: null,
        },
      };
    },
    computed: {
      rules() {
        return {
          name: {
            required: true,
          },
          email: {
            required: true,
          },
          password: {
            required: true,
            min: 6,
            max: 30,
          },
          passwordConfirmation: {
            required: true,
            confirmed: this.form.password,
            min: 6,
            max: 30,
          },
        };
      },
      pageSelector () {
        return [
          {
            label: 10,
            value: 10,
          },
          {
            label: 25,
            value: 25,
          },
          {
            label: 50,
            value: 50,
          },
          {
            label: 100,
            value: 100,
          },
        ];
      },
    },
    methods: {
      handleClick () {}
    },
  }
</script>
