<template>
  <div class="sp-wrapper">
    <div class="sp-header">
      <el-button
        type="success"
        @click="prevLayout"
      >
        Prev
      </el-button>
      <el-button
        type="success"
        @click="nextLayout"
      >
        Next
      </el-button>
    </div>
    <div
      class="sp-main"
      :class="{'zoomed': activeLayout >= 9}"
    >
      <div class="sp-row">
        <!-- Column 1: Primary column -->
        <div
          class="sp-column border-right level-negative-1"
          :class="{ 'sp-col-collapsed': (activeLayout === 0 || activeLayout >= 3), 'sp-col-3': activeLayout < 2, 'sp-col-2': activeLayout === 2 }"
        >
          <div class="sp-column__track">
            <div class="sp-column__inner">
              <h2>Primary column</h2>
              <h3 v-if="activeLayout === 2">
                col-2
              </h3>
              <h3 v-if="activeLayout < 2">
                col-3
              </h3>
              <el-form
                ref="form"
                :model="form"
                label-width="120px"
                label-position="top"
              >
                <el-form-item label="Activity name">
                  <el-input v-model="form.name" />
                </el-form-item>
                <el-form-item label="Activity zone">
                  <el-select
                    v-model="form.region"
                    placeholder="please select your zone"
                  >
                    <el-option
                      label="Zone one"
                      value="shanghai"
                    />
                    <el-option
                      label="Zone two"
                      value="beijing"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item label="Activity time">
                  <el-col :span="11">
                    <el-date-picker
                      v-model="form.date1"
                      type="date"
                      placeholder="Pick a date"
                      style="width: 100%;"
                    />
                  </el-col>
                  <el-col
                    class="line"
                    :span="2"
                  >
                    -
                  </el-col>
                  <el-col :span="11">
                    <el-time-picker
                      v-model="form.date2"
                      placeholder="Pick a time"
                      style="width: 100%;"
                    />
                  </el-col>
                </el-form-item>
                <el-form-item label="Instant delivery">
                  <el-switch v-model="form.delivery" />
                </el-form-item>
                <el-form-item label="Activity type">
                  <el-checkbox-group v-model="form.type">
                    <el-checkbox
                      label="Online activities"
                      name="type"
                    />
                    <el-checkbox
                      label="Promotion activities"
                      name="type"
                    />
                    <el-checkbox
                      label="Offline activities"
                      name="type"
                    />
                    <el-checkbox
                      label="Simple brand exposure"
                      name="type"
                    />
                  </el-checkbox-group>
                </el-form-item>
                <el-form-item label="Resources">
                  <el-radio-group v-model="form.resource">
                    <el-radio label="Sponsor" />
                    <el-radio label="Venue" />
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="Activity form">
                  <el-input
                    v-model="form.desc"
                    type="textarea"
                  />
                </el-form-item>
                <el-form-item>
                  <el-button type="primary">
                    Create
                  </el-button>
                  <el-button>Cancel</el-button>
                </el-form-item>
              </el-form>
            </div>
          </div>
        </div>

        <!-- Column 2: Supplemental column & Campaign Hierarchy Layers -->
        <div
          class="sp-column level-negative-1"
          :class="{ 'sp-col-collapsed': activeLayout >= 8 }"
        >
          <div class="sp-row">
            <!-- Column 2.1: Supplemental column -->
            <div
              class="sp-column"
              :class="{ 'sp-col-collapsed': activeLayout >= 5 }"
            >
              <div class="sp-column__track">
                <div class="sp-column__inner">
                  <h2>Supplemental Column</h2>
                  <h3
                    v-if="activeLayout === 0"
                  >
                    col-12
                  </h3>
                  <h3
                    v-if="activeLayout === 1"
                  >
                    col-9
                  </h3>
                  <h3
                    v-if="activeLayout === 2"
                  >
                    col-5
                  </h3>
                  <h3
                    v-if="activeLayout === 3"
                  >
                    col-7
                  </h3>
                  <h3
                    v-if="activeLayout === 4"
                  >
                    col-4
                  </h3>
                  <div class="campaigns">
                    <div class="campaigns__holder level-default">
                      <el-card shadow="always">
                        <div class="table">
                          <div class="table__actions">
                            <div class="table__actions-select-page">
                              <span>Show</span>
                              <el-select
                                v-model="value"
                                value="Value"
                                size="small"
                                class="input-secondary"
                                placeholder="10"
                              >
                                <el-option
                                  v-for="item in options"
                                  :key="item.value"
                                  :label="item.label"
                                  :value="item.value"
                                />
                              </el-select>
                              <span>entries</span>
                            </div>
                            <div class="table__actions-search">
                              <text-field
                                v-model="form.name"
                                size="small"
                                name="name"
                                :show-label="false"
                                :placeholder="$trans('campaign::labels.search_campaign_placeholder')"
                                class="input-secondary"
                                :label="''"
                              />
                            </div>
                            <div class="table__actions-filter">
                              <el-select
                                v-model="value11"
                                multiple
                                size="small"
                                class="select-table"
                                collapse-tags
                                placeholder="Select"
                              >
                                <el-option
                                  v-for="item in filters"
                                  :key="item.value"
                                  :label="item.label"
                                  :value="item.value"
                                />
                              </el-select>
                            </div>
                          </div>
                          <div class="table__holder">
                            <el-table
                              :data="campaignTableData"
                            >
                              <el-table-column
                                label="Name"
                                sortable
                                prop="name"
                                class-name="overflow-text"
                              >
                                <template slot-scope="scope">
                                  <a href="#">
                                    {{ scope.row.name }}
                                  </a>
                                </template>
                              </el-table-column>
                              <el-table-column
                                label="Creative Status"
                                width="180"
                                prop="creative"
                              >
                                <template slot-scope="scope">
                                  <div class="creative-status tile-badge">
                                    <i
                                      v-if="'approved' === scope.row.creative"
                                      :class="'is-' + [scope.row.creative] + ' creative-status__item '"
                                    >
                                      <svg
                                        class="icon icon-approved"
                                      >
                                        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-approved" />
                                      </svg>
                                    </i>
                                    <i
                                      v-if="'missing' === scope.row.creative"
                                      :class="'is-' + [scope.row.creative] + ' creative-status__item'"
                                    >
                                      <svg
                                        class="icon icon-missing"
                                      >
                                        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-missing" />
                                      </svg>
                                    </i>
                                    <i
                                      v-if="'review' === scope.row.creative"
                                      :class="'is-' + [scope.row.creative] + ' creative-status__item'"
                                    >
                                      <svg
                                        class="icon icon-review"
                                      >
                                        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-review" />
                                      </svg>
                                    </i>
                                    <i
                                      v-if="'rejected' === scope.row.creative"
                                      :class="'is-' + [scope.row.creative] + ' creative-status__item'"
                                    >
                                      <svg
                                        class="icon icon-rejected"
                                      >
                                        <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-rejected" />
                                      </svg>
                                    </i>
                                    {{ scope.row.creative }}
                                  </div>
                                </template>
                              </el-table-column>
                              <el-table-column
                                label="Order Id"
                                sortable
                                align="right"
                                header-align="center"
                                prop="order"
                              />
                              <el-table-column
                                label="Start Date"
                                sortable
                                align="right"
                                header-align="center"
                                prop="start"
                              />
                              <el-table-column
                                label="End Date"
                                sortable
                                align="right"
                                header-align="center"
                                prop="end"
                              />
                              <el-table-column
                                label="Budget"
                                sortable
                                align="right"
                                header-align="center"
                                prop="budget"
                              />
                              <el-table-column
                                label="Impressions"
                                sortable
                                align="right"
                                width="200"
                                header-align="center"
                                class-name="campaigns__impressions-cell"
                                prop="impressions"
                              />
                              <el-table-column
                                label="Campaign Status"
                                prop="status"
                                width="170"
                              >
                                <template slot-scope="scope">
                                  <span :class="'is-' + [scope.row.status] + ' campaign-status tile-badge'">
                                    {{ scope.row.status }}
                                  </span>
                                </template>
                              </el-table-column>
                            </el-table>
                          </div>
                          <div class="table__footer">
                            <el-pagination
                              :total="100"
                              prev-text="Previous"
                              next-text="Next"
                              background
                              layout="total, prev, pager, next"
                            />
                          </div>
                        </div>
                      </el-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Column 2.2: Campaign Hierarchy Layers -->
            <div
              class="sp-column level-negative-1"
              :class="{ 'sp-col-collapsed': activeLayout < 5 }"
            >
              <div class="sp-column__track">
                <div class="sp-column__inner">
                  <h2>Campaign Hierarchy Layers</h2>
                  <h3
                    v-if="activeLayout >= 5"
                  >
                    col-4
                  </h3>
                  <p
                    v-for="index in 5"
                    :key="index"
                  >
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum iure maxime velit? Accusantium consectetur earum expedita id nihil quos totam veritatis. At, inventore molestiae nisi quasi reprehenderit similique tempore velit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Column 3: Help Pane 1, Secondary Column, Help Pane 2-->
        <div
          class="sp-column border-left level-default"
          :class="{ 'sp-col-collapsed': activeLayout < 2, 'sp-col-5': activeLayout >= 2, 'sp-col-8': activeLayout >= 4, 'sp-col-wide': activeLayout >= 8 }"
        >
          <div class="sp-row">
            <!-- Column 3.1: Help Pane 1 -->
            <div
              class="sp-column border-right"
              :class="{ 'sp-col-collapsed': activeLayout < 7, 'sp-col-3': activeLayout >= 7 }"
            >
              <div class="sp-column__track">
                <div class="sp-column__inner">
                  <h2>Help Pane 1</h2>
                  <h3
                    v-if="activeLayout >= 7"
                  >
                    col-3
                  </h3>
                  <p
                    v-for="index in 100"
                    :key="index"
                  >
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto consequatur debitis, dolor doloribus earum eum excepturi expedita fugiat in, iure libero magni praesentium provident quibusdam, quis rem similique temporibus.
                  </p>
                </div>
              </div>
            </div>

            <!-- Column 3.2: Secondary Column -->
            <div
              class="sp-column"
            >
              <div class="sp-column__track">
                <div class="sp-column__inner">
                  <h2>Secondary Column</h2>
                  <h3 v-if="activeLayout === 2 || activeLayout === 3">
                    col-5
                  </h3>
                  <h3 v-if="activeLayout === 4 || activeLayout === 5">
                    col-8
                  </h3>
                  <h3 v-if="activeLayout === 6 || activeLayout === 7">
                    col-5
                  </h3>
                  <h3 v-if="activeLayout >= 8">
                    col-6
                  </h3>
                  <el-card
                    class="box-card profile-card"
                  >
                    <div
                      slot="header"
                      class="clearfix"
                    >
                      <span>Your Account</span>
                    </div>
                    <div class="profile-card__account account-info">
                      <div class="profile-card__panel">
                        <strong
                          class="profile-card__subtitle text-label-sm"
                        >
                          Personal info
                        </strong>
                      </div>
                      <div class="account-info__item">
                        <p class="account-info__name">
                          Name
                          <a
                            href="#"
                            class="profile-card__update"
                            @click="updatePersonalInfo = true"
                          >
                            Update
                          </a>
                        </p>
                        <p class="account-info__value">
                          Full Name
                        </p>
                      </div>
                      <div class="account-info__item">
                        <p class="account-info__name">
                          Email
                          <a
                            href="#"
                            class="account-info__change"
                          >
                            Change
                          </a>
                        </p>
                        <p class="account-info__value">
                          email@example.com
                        </p>
                      </div>
                      <div class="account-info__item">
                        <p class="account-info__name">
                          Password
                          <a
                            href="#"
                            class="account-info__change"
                          >
                            Change
                          </a>
                        </p>
                        <p class="account-info__value">
                          ••••••••••
                        </p>
                      </div>
                      <div class="profile-card__account account-info no-border">
                        <div class="profile-card__panel">
                          <strong
                            class="profile-card__subtitle text-label-sm"
                          >
                            Bussines info
                          </strong>
                          <a
                            href="#"
                            class="profile-card__update"
                            @click="updateBussinesInfo = true"
                          >
                            Update
                          </a>
                        </div>
                        <div class="account-info__item">
                          <p class="account-info__name">
                            Business Name
                          </p>
                          <p class="account-info__value">
                            Business Name
                          </p>
                        </div>
                        <div class="account-info__item">
                          <p class="account-info__name">
                            Business Phone
                          </p>
                          <p class="account-info__value">
                            +1 (000) 000-0000
                          </p>
                        </div>
                        <div class="account-info__item">
                          <p class="account-info__name">
                            Business Address
                          </p>
                          <p class="account-info__value">
                            330 Conor Pike
                          </p>
                          <p class="account-info__value">
                            Los Angeles, CA 90210
                          </p>
                        </div>
                      </div>
                    </div>
                  </el-card>
                </div>
              </div>
            </div>

            <!-- Column 3.3: Help Pane 2-->
            <div
              class="sp-column border-left"
              :class="{ 'sp-col-collapsed': (activeLayout < 6 || activeLayout === 7), 'sp-col-3': (activeLayout === 6 || activeLayout >= 8) }"
            >
              <div class="sp-column__track">
                <div class="sp-column__inner">
                  <h2>Help Pane 2</h2>
                  <h3 v-if="activeLayout === 6 || activeLayout >= 8">
                    col-3
                  </h3>
                  <el-form
                    ref="form"
                    :model="form"
                    label-width="120px"
                    label-position="top"
                  >
                    <el-form-item label="Activity name">
                      <el-input v-model="form.name" />
                    </el-form-item>
                    <el-form-item label="Activity name">
                      <el-input v-model="form.name" />
                    </el-form-item>
                    <el-form-item label="Activity name">
                      <el-input v-model="form.name" />
                    </el-form-item>
                    <el-form-item label="Activity zone">
                      <el-select
                        v-model="form.region"
                        placeholder="please select your zone"
                      >
                        <el-option
                          label="Zone one"
                          value="shanghai"
                        />
                        <el-option
                          label="Zone two"
                          value="beijing"
                        />
                      </el-select>
                    </el-form-item>
                    <el-form-item label="Instant delivery">
                      <el-switch v-model="form.delivery" />
                    </el-form-item>
                    <el-form-item label="Activity type">
                      <el-checkbox-group v-model="form.type">
                        <el-checkbox
                          label="Online activities"
                          name="type"
                        />
                        <el-checkbox
                          label="Promotion activities"
                          name="type"
                        />
                        <el-checkbox
                          label="Offline activities"
                          name="type"
                        />
                        <el-checkbox
                          label="Simple brand exposure"
                          name="type"
                        />
                      </el-checkbox-group>
                    </el-form-item>
                    <el-form-item label="Resources">
                      <el-radio-group v-model="form.resource">
                        <el-radio label="Sponsor" />
                        <el-radio label="Venue" />
                      </el-radio-group>
                    </el-form-item>
                    <el-form-item label="Activity form">
                      <el-input
                        v-model="form.desc"
                        type="textarea"
                      />
                    </el-form-item>
                    <el-form-item>
                      <el-button type="primary">
                        Create
                      </el-button>
                      <el-button>Cancel</el-button>
                    </el-form-item>
                  </el-form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Column 4: Secondary pane -->
    <div
      class="sp-column is-fixed level-default"
      :class="{ 'sp-col-collapsed': activeLayout < 9, 'sp-col-6': activeLayout >= 9}"
    >
      <div class="sp-column__track">
        <div class="sp-column__inner">
          <h2>Fixed modal column</h2>
          <h3>col-6</h3>
          <p
            v-for="index in 100"
            :key="index"
          >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto consequatur debitis, dolor doloribus earum eum excepturi expedita fugiat in, iure libero magni praesentium provident quibusdam, quis rem similique temporibus.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {

    name: 'TheSinglePageLayout',

    data () {
      return {
        activeLayout: 0,
        zoomLayout: false,
        campaignTableData: [
          {
            name: 'Campaign name',
            creative: 'review',
            order: '123124',
            start: '01/01/2019',
            end: '01/31/2019',
            budget: '$4.125',
            impressions: '33355',
            status: 'complete',
          },
          {
            name: 'Campaign name',
            creative: 'approved',
            order: '123124',
            start: '01/01/2019',
            end: '01/31/2019',
            budget: '$4.125',
            impressions: '33355',
            status: 'live',
          }
        ],
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        },
      }
    },

    methods: {
      nextLayout () {
        if (this.activeLayout++ > 8) this.activeLayout = 0;
      },

      prevLayout () {
        if (this.activeLayout-- === 0) this.activeLayout = 0;
      },
    }
  };

</script>
