<template>
  <div class="campaigns">
    <data-table
      ref="dataTable"
      :title="$trans('campaign::labels.campaigns')"
      :search-placeholder="$trans('campaign::labels.search_campaign_placeholder')"
      :user-id="advertiserId"
      name="advertiser-campaigns"
      :additional-columns="additionalColumns"
      order-by="order_id"
      order-dir="descending"
      @row-click="handleRowClick"
    >
      <template slot="banner">
        <campaigns-banner />
      </template>
      <template
        slot="filters"
        slot-scope="props"
      >
        <status-filter
          :disabled="props.disabled"
          placeholder="Campaign Status"
          @change="props.change"
        />
      </template>

      <!-- CAMPAIGN NAME -->
      <data-table-column
        prop="name"
        :label="$trans('labels.name')"
      >
        <url-cell
          slot-scope="scope"
          :cell-url="$getRoute('campaigns.show', { campaign: scope.row.id })"
          :cell-value="scope.row.name"
          @click="showCampaignDetails(scope.row.id)"
        />
      </data-table-column>

      <!-- CREATIVE STATUS -->
      <data-table-column
        :label="$trans('creative::labels.status')"
        prop="creative_status"
        :searchable="false"
      >
        <creative-status-cell
          :key="scope.row.id"
          slot-scope="scope"
          :cell-value="scope.row.creative_status"
        />
      </data-table-column>

      <!-- ORDER ID -->
      <data-table-column
        :label="$trans('labels.order_id')"
        :searchable="true"
        prop="order_id"
      />

      <!-- START DATE -->
      <data-table-column
        prop="date_start"
        :label="$trans('campaign::labels.start_date')"
        :searchable="false"
      >
        <date-cell
          slot-scope="scope"
          :cell-value="scope.row.date_start"
        />
      </data-table-column>

      <!-- END DATE -->
      <data-table-column
        prop="date_end"
        :label="$trans('campaign::labels.end_date')"
        :searchable="false"
      >
        <date-cell
          slot-scope="scope"
          :cell-value="scope.row.date_end"
        />
      </data-table-column>

      <!-- BUDGET -->
      <data-table-column
        prop="budget"
        :label="$trans('campaign::labels.budget')"
        :searchable="false"
      >
        <money-cell
          slot-scope="scope"
          :cell-value="scope.row.budget"
        />
      </data-table-column>

      <!-- IMPRESSIONS -->
      <data-table-column
        prop="impressions"
        :label="$trans('campaign::labels.target_impressions')"
        :searchable="false"
      >
        <number-cell
          slot-scope="scope"
          :cell-value="scope.row.impressions"
        />
      </data-table-column>

      <!-- CAMPAIGN STATUS -->
      <data-table-column
        :label="$trans('campaign::labels.status')"
        prop="campaign_status"
        :searchable="false"
      >
        <status-cell
          slot-scope="scope"
          :cell-value="scope.row.campaign_status"
        />
      </data-table-column>
    </data-table>
  </div>
</template>

<script>
  import CampaignTable from 'Modules/campaign/components/admin/index/AdminCampaignTable';

  export default {
    /**
     * Name of the component.
     */
    name: 'AdvertiserCampaignTable',

    /**
     * Extend the component.
     */
    extends: CampaignTable,

    /**
     * Available properties.
     */
    props: {
      /**
       * Advertiser id.
       */
      advertiserId: {
        type: Number,
        required: true,
      },
    },

    methods: {
      /**
       * Get route for campaign details page.
       */
      getDetailsRoute (campaignId) {
        return {
          name: 'show.campaigns.show',
          params: {
            campaignId,
            userId: this.advertiserId,
          },
        };
      },
    },
  };
</script>
