<template>
  <div id="app">
    <div class="wrapper">
      <el-main>
        <router-view />
      </el-main>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'App',

    components: {
    },
  };
</script>
