<template>
  <div class="promocode">
    <el-form @submit.prevent.native="onSubmit(validatePromocodePending)">
      <div class="promocode__input">
        <text-field
          ref="promocode"
          v-model="code"
          name="promocode"
          size="medium"
          :label="$trans('promocode::labels.promocode')"
          :validation="validation.campaign.promocode"
          :autofocus="false"
        >
          <el-button
            slot="append"
            v-loading="validatePromocodePending"
            :disabled="validatePromocodePending"
            class="promocode__btn"
            :class="{ 'is-success' : applied }"
            @click="onSubmit(validatePromocodePending)"
          >
            <icon
              value="arrow-up"
              :width="14"
              :height="14"
              transparent="stroke"
              lightness="light"
            />
          </el-button>
        </text-field>
      </div>
    </el-form>
    <transition
      name="el-fade-in-linear"
      mode="out-in"
    >
      <div
        v-if="applied"
        class="promocode__success"
        v-html="$trans('promocode::messages.applied_promocode', { promocode_name: escape(promocode.code) })"
      />
    </transition>
  </div>
</template>

<script>
  import { mapActions, mapState, mapMutations } from 'vuex'
  import TextField from 'Foundation/components/form/TextField';
  import escape from 'lodash/escape';
  import pick from 'lodash/pick';
  import Form from 'Foundation/mixins/Form';
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name.
     */
    name: 'Promocode',

    /**
     * Components.
     */
    components: {
      TextField,
      Icon
    },

    /**
     * Mixins.
     */
    mixins: [Form],

    /**
     * Reactive properties.
     * @returns {{}}
     */
    data () {
      return {
        code: '',
        action: this.applyPromocode
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('wizard/promocode', [
        'applied',
        'promocode',
        'validatePromocodePending',
      ]),

      /**
       * Validation.
       */
      validation () {
        return pick(this.validationRules, ['campaign.promocode.min', 'campaign.promocode.max', 'campaign.promocode.string']);
      },
    },

    /**
     * On component mounted
     */
    mounted () {
      this.discardPromocode();
    },

    /**
     * Methods.
     */
    methods: {
      ...mapActions('wizard/promocode', [
        'validatePromocode',
      ]),

      ...mapMutations('wizard/promocode', [
        'discardPromocode',
      ]),

      /**
       * @param string
       */
      escape (string) {
        return escape(string);
      },

      /**
       * Apply Promo Code.
       */
      async applyPromocode () {
        try {
          await this.$call(this.validatePromocode(this.code), {notify: false});
          this.code = '';
        } catch (e) {
          if (Object.prototype.hasOwnProperty.call(e, 'status') && e.status !== 422) {
            this.$notify.error(e.data.message || this.$trans('promocode::messages.invalid_promocode'));
          } else {
            return;
          }
        }
      }
    },
  };
</script>
