@import "mixins/mixins";
@import "common/variables";

@include b(card) {
  --card-border-color: var(--fg-offset90);
  --card-border-radius: #{$--card-border-radius};
  --card-padding: #{$--card-padding};

  border-radius: var(--card-border-radius);
  border: 1px solid var(--card-border-color);
  background-color: var(--bg-base);
  overflow: hidden;
  color: var(--color-text-med);
  transition: .3s;

  @include when(always-shadow) {
    box-shadow: var(--box-shadow-base);
  }

  @include when(hover-shadow) {
    &:hover,
    &:focus {
      box-shadow: var(--box-shadow-base);
    }
  }

  @include e(header) {
    @extend .text-size-md;
    padding: 30px 32px;
    border-bottom: 1px solid var(--card-border-color);
    box-sizing: border-box;
  }

  @include e(body) {
    padding: var(--card-padding);
  }

  .table {
    &__actions {
      input {
        line-height: 20px;
      }
    }
  }
}
