@import "mixins/mixins";
@import "common/variables";
@import "common/transition";

@include b(collapse) {
  --collapse-border-color: var(--color-text-sm-low);
  --collapse-header-height: #{$--collapse-header-height};
  --collapse-header-padding: #{$--collapse-header-padding};
  --collapse-header-fill: var(--fg-offset100);
  --collapse-header-color: var(--color-text-med);
  --collapse-content-fill: var(--fg-offset100);
  --collapse-content-color: var(--color-text-med);
  --collapse-arrow-color: var(--fg-offset60);
  --collapse-header-background-color: var(--bg-base);
  --collapse-header-font-color: var(--color-text-med);
  --collapse-content-background-color: var(--bg-base);
  --collapse-content-font-color: var(--color-text-med);

  border-top: 1px solid var(--collapse-border-color);
  border-bottom: 1px solid var(--collapse-border-color);
  margin-bottom: 17px;
}
@include b(collapse-item) {
  &:first-child {
    .el-collapse-item {
      border-top: 1px solid var(--border-color-base);
    }
  }

  @include when(disabled) {
    .el-collapse-item__header {
      color: var(--color-text-disabled1);
      cursor: not-allowed;

      .icon-chevron-up {
        fill: var(--font-color-disabled-base);
      }
    }
    .icon-chevron-up {
      fill: var(--color-text-disabled1);
    }
  }
  @include e(header) {
    @extend .text-size-sm;
    display: flex;
    align-items: center;
    height: var(--collapse-header-height);
    background-color: var(--collapse-header-background-color);
    cursor: pointer;
    transition: border-bottom-color .3s;
    outline: none;
    padding: 14px 24px;
    border: 1px solid var(--border-color-base);
    position: relative;
    color: var(--color-text-high);

    .default-accordion__icon {
      transform: translateY(-50%) rotate(180deg);
    }

    @include e(arrow) {
      display: none;
    }

    &.focusing:focus:not(:hover){
      color: var(--color-text-high);
    }

    @include when(active) {
      border-bottom: 1px solid var(--border-color-base);

      .default-accordion__icon {
        transform: translateY(-50%) rotate(0);
      }
    }
  }

  @include e(wrap) {
    will-change: height;
    background-color: var(--collapse-content-background-color);
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid var(--collapse-border-color);
    border-top: 0;
    padding: 14px 24px;
  }

  @include e(content) {
    @extend .text-size-xs;
    padding-bottom: 25px;
    color: var(--collapse-content-font-color);
  }

  &:last-child {
    margin-bottom: -1px;
  }
}
