@import "./date-picker/date-table";
@import "./date-picker/month-table";
@import "./date-picker/year-table";
@import "./date-picker/time-spinner";
@import "./date-picker/picker";
@import "./date-picker/date-picker";
@import "./date-picker/date-range-picker";
@import "./date-picker/time-range-picker";
@import "./date-picker/time-picker";
@import "./scrollbar";
@import "./popper";

.el-picker-panel {
  --datepicker-font-color: var(--color-text-med);
  --datepicker-off-font-color: var(--color-text-sm-low);
  --datepicker-header-font-color: var(--color-text-med);
  --datepicker-icon-color: var(--color-text-disabled2);
  --datepicker-border-color: var(--color-text-sm-low);
  --datepicker-inner-border-color: var(--color-text-disabled2);
  --datepicker-inrange-color: var(--fg-offset90);
  --datepicker-inrange-hover-color: var(--fg-offset90);
  --datepicker-active-color: var(--color-text-med);
  --datepicker-text-hover-color: var(--color-text-med);
  --datepicker-cell-hover-color: var(--color-text-high-inverted);
  --datepicker-hover-font-color: var(--color-text-med);
  --datepicker-inrange-background-color: var(--bg-offset5);
  --datepicker-inrange-hover-background-color: var(--bg-offset5);
}
