@import "mixins/mixins";
@import "mixins/utils";
@import "common/variables";
@import "common/popup";

@include b(dialog) {
  --dialog-background-color: var(--color-text-high-inverted);
  --dialog-box-shadow: 0 1px 3px #{getDarkHSLA(.3)};
  --dialog-close-hover-color: var(--fg-base);
  --dialog-font-line-height: #{$--dialog-font-line-height};
  --dialog-panel-background: var(--bg-offset5);

  position: relative;
  margin: 0 auto 50px;
  background: var(--dialog-background-color);
  border-radius: var(--border-radius-small);
  box-shadow: var(--dialog-box-shadow);
  box-sizing: border-box;
  width: 50%;

  // Classes for full width actions (component) buttons for footer dialog #start
  &--actions-row {
    .default-actions {
      @extend .buttons-in-row;
    }
  }

  &--actions-column-reverse {
    .default-actions {
      @extend .buttons-in-row;
      padding-top: 20px;
      flex-flow: column-reverse wrap;
    }
  }

  @include when(fullscreen) {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    overflow: auto;
  }

  @include e(wrapper) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
  }

  @include e(header) {
    padding: 88px var(--main-padding-x) 0;
    padding-bottom: 10px;
  }

  @include e(headerbtn) {
    @extend .text-size-md;
    position: absolute;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    top: 45px;
    right: 55px;

    .el-dialog__close {
      color: var(--color-text-sm-low);
    }

    &:focus, &:hover {
      .el-dialog__close {
        color: var(--color-text-med);
      }
    }
  }

  @include e(title) {
    color: var(--color-text-med);
    @extend .text-subtitle-lg-semibold;
  }

  @include e(body) {
    @extend .text-size-xs;
    color: var(--color-text-med);
    padding: 48px var(--main-padding-x) 80px;
    word-break: break-word;
  }

  @include e(footer) {
    padding: $--dialog-padding-primary;
    padding-top: 10px;
    text-align: right;
    box-sizing: border-box;
  }

  @include m(center) {
    text-align: center;

    @include e(body) {
      text-align: initial;
      padding: 25px $--dialog-padding-primary + 5px 30px;
    }

    @include e(footer) {
      text-align: inherit;
    }
  }
}

.dialog-fade-enter-active {
  animation: dialog-fade-in .3s;
}

.dialog-fade-leave-active {
  animation: dialog-fade-out .3s;
}

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
