.dropdown-badge {
  --dropdown-badge-height: #{$--button-large-height};
  --base-sat: var(--sat-high);

  display: inline-flex;
  justify-content: center;
  min-width: 152px;
  align-items: center;
  border-radius: var(--border-radius-base);
  height: var(--dropdown-badge-height);
  background: var(--fg-offset50);
  color: var(--color-text-med);

  &:hover,
  &:focus {//TODO: focus added temporary
    background: var(--fg-offset60);
    border-color: var(--fg-offset60);
    cursor: default;
  }

  &:active {
    background: var(--fg-offset70);
    border-color: var(--fg-offset70);
  }

  .el-dropdown-link {
    border-radius: var(--border-radius-base);

    &:focus {
      outline: none;

      &:active,
      &:hover {
        box-shadow: none;
      }
    }
  }

  @each $type in (default, '', success, warning, info, danger) {
    @include m($type) {
      @if $type == success {
        --base-hue: var(--hue-success);

      } @else if $type == default or $type == '' {//For the default state
        --base-hue: var(--hue-gray);
        --base-sat: var(--sat-low);

        background: var(--bg-offset15);
        color: var(--color-text-high);

        &:hover {
          background: var(--bg-offset10);
          border-color: var(--bg-offset10);
        }

        &:active {
          background: var(--bg-offset5);
          border-color: var(--fg-offset95);
        }

        .el-dropdown-link {
          &:focus {
            background: var(--bg-offset10);//TODO: added temporary
            border-color: var(--fg-offset90);//TODO: added temporary
          }
        }

      } @else if $type == warning {
        --base-hue: var(--hue-warning);

      } @else if $type == info {
        --base-hue: var(--hue-info);

        color: var(--gray100);

      } @else if $type == danger {
        --base-hue: var(--hue-danger);

        color: var(--gray100);
      }
    }
  }

  .el-dropdown-link {
    cursor: pointer;
    padding: 17px;
    white-space: nowrap;
    flex: 0 0 100%;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  &.no-click {
    .el-dropdown-link {
      cursor: default;
      justify-content: center;
      white-space: nowrap;
    }
  }
}
