@import "mixins/mixins";
@import "common/variables";
@import "button";
@import "./popper";

.el-dropdown-menu,
.el-autocomplete-suggestion {
  --dropdown-menu-box-shadow: var(--box-shadow-light);
  --dropdown-menuItem-hover-fill: var(--bg-base);
  --dropdown-menuItem-color: var(--color-text-sm-low);
  --dropdown-menuItem-hover-color: var(--color-text-med);

  .popper__arrow {
    display: none;
  }
}

@include b(dropdown) {
  @extend .text-size-sm;
  display: inline-block;
  position: relative;
  color: var(--color-text-med);

  .el-button-group {
    display: block;

    .el-button {
      float: none;
    }
  }

  & .el-dropdown__caret-button {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    border-left: none;

    &::before {
      $gap: 5px;

      content: '';
      position: absolute;
      display: block;
      width: 1px;
      top: $gap;
      bottom: $gap;
      left: 0;
      background: mix(white, transparent, 50%);
    }

    &.el-button--default::before {
      background: var(--fg-base);
      opacity: .5;
    }

    &:hover {
      &::before {
        top: 0;
        bottom: 0;
      }
    }

    & .el-dropdown__icon {
      padding-left: 0;
    }
  }
  @include e(icon) {
    @extend .text-size-xxs;
    margin: 0 3px;
  }

  .el-dropdown-selfdefine {
    &:focus:active, &:focus:not(.focusing) {
      outline-width: 0;
    }
  }
}

@include b(dropdown-menu) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $--index-top + 1;
  margin: 5px 0;
  background-color: var(--bg-base);
  box-shadow: var(--dropdown-menu-box-shadow);
  border-radius: 0;
  border: 0;
  padding: 14px 80px 22px 0;

  @include e(item) {
    @extend .text-body-sm;
    list-style: none;
    margin: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
    color: var(--color-text-sm-low);

    &:not(.is-disabled):hover, &:focus {
      background-color: var(--dropdown-menuItem-hover-fill);
      color: var(--dropdown-menuItem-hover-color);
    }

    i {
      margin-right: 5px;
    }

    a {
      color: var(--dropdown-menuItem-color);
      display: block;
      padding: 16px 0 15px 30px;
      white-space: nowrap;

      &:hover {
        color: var(--dropdown-menuItem-hover-color);
      }

      &:focus {
        outline: none;
      }
    }

    @include m(divided) {
      position: relative;
      margin-top: 6px;
      border-top: 1px solid var(--border-color-base);

      &:before {
        content: '';
        height: 6px;
        display: block;
        margin: 0 -20px;
        background-color: var(--bg-base);
      }
    }

    @include when(disabled) {
      cursor: default;
      color: var(--font-color-disabled-base);
      pointer-events: none;
    }

    &:not(.is-disabled):hover,
    &:focus {
      background: var(--bg-base);
      color: var(--color-text-med);
    }
  }

  @include m(medium) {
    padding: 6px 0;

    @include e(item) {
      @extend .text-body-xs;
      padding: 0 17px;

      &.el-dropdown-menu__item--divided {
        margin-top: 6px;

        &:before {
          height: 6px;
          margin: 0 -17px;
        }
      }
    }
  }

  @include m(small) {
    padding: 6px 0;

    @include e(item) {
      @extend .text-body-xxs;
      padding: 0 15px;

      &.el-dropdown-menu__item--divided {
        margin-top: 4px;

        &:before {
          height: 4px;
          margin: 0 -15px;
        }
      }
    }
  }

  @include m(mini) {
    padding: 3px 0;

    @include e(item) {
      @extend .text-body-xxs;
      padding: 0 10px;

      &.el-dropdown-menu__item--divided {
        margin-top: 3px;

        &:before {
          height: 3px;
          margin: 0 -10px;
        }
      }
    }
  }
}
