@import "mixins/mixins";
@import "mixins/utils";
@import "common/variables";

@include b(form) {
  @include m(label-left) {
    & .el-form-item__label {
      text-align: left;
    }
  }
  @include m(label-top) {
    & .el-form-item__label {
      float: none;
      display: inline-block;
      text-align: left;
      padding: 0 0 10px 0;
    }
  }
  @include m(inline) {
    & .el-form-item {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
    }
    & .el-form-item__label {
      float: none;
      display: inline-block;
    }
    & .el-form-item__content {
      display: inline-block;
      vertical-align: top;
    }
    &.el-form--label-top .el-form-item__content {
      display: block;
    }
  }
}

@include b(form-item) {
  margin-bottom: 28px;
  position: relative;
  @include utils-clearfix;

  & .el-form-item {
    margin-bottom: 0;

    &__content {
      .text-muted {
        margin-top: 8px;
        line-height: #{$--input-mini-height};
      }
    }
  }

  & .el-input__validateIcon {
    display: none;
  }

  .icon {
    position: absolute;
    bottom: 10px;
    right: 15px;
  }

  .el-input__inner {
    padding-right: 50px;
    line-height: 20px;
    word-break: keep-all;
  }

  &.is-filled {
    &.is-error {
      .el-input__inner {
        background: var(--bg-base);
        border: 0;
      }
    }
  }

  &.is-error {
    margin-bottom: 36px;

    .el-input__inner {
      background: var(--bg-base);
      border: 0;
    }
  }

  &.schedule-date {
    .el-form-item__error {
      padding-top: 0;
      margin-top: -4px;
    }
  }

  @include m(medium) {
    .el-form-item__label {
      line-height: 36px;
    }
    .el-form-item__content {
      line-height: 36px;
    }
  }
  @include m(small) {
    .el-form-item__label {
      line-height: 32px;
    }
    .el-form-item__content {
      line-height: 32px;
    }
    &.el-form-item {
      margin-bottom: 18px;
    }
    .el-form-item__error {
      padding-top: 2px;
    }
  }
  @include m(mini) {
    .el-form-item__label {
      line-height: 28px;
    }
    .el-form-item__content {
      line-height: 28px;
    }
    &.el-form-item {
      margin-bottom: 18px;
    }
    .el-form-item__error {
      padding-top: 1px;
    }
  }

  @include e(label-wrap) {
    float: left;
    .el-form-item__label {
      display: inline-block;
      float: none;
    }
  }

  @include e(label) {
    @extend .text-label-xxs-semibold-caps;

    text-align: right;
    vertical-align: middle;
    float: left;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    text-transform: uppercase;
    color: var(--input-label-color);
    margin-bottom: 8px;
  }
  @include e(content) {
    @extend .text-body-xs;
    position: relative;
    @include utils-clearfix;

    .el-input-group {
      vertical-align: top;
    }
  }
  @include e(error) {
    @extend .text-size-xxs;
    color: var(--color-danger);
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 8px;

    @include m(inline) {
      position: relative;
      top: auto;
      left: auto;
      display: inline-block;
      margin-left: 10px;
    }
  }

  @include when(required) {
    @include pseudo('not(.is-no-asterisk)') {
      & > .el-form-item__label:before,
      & .el-form-item__label-wrap > .el-form-item__label:before {
        content: '*';
        color: var(--color-danger);
        margin-right: 4px;
      }
    }
  }

  @include when(error) {
    & .el-input-group__append,
    & .el-input-group__prepend {
      & .el-input__inner {
        border-color: transparent;
      }
    }
    .el-input__validateIcon {
      color: var(--color-danger);
    }
  }

  @include m(feedback) {
    .el-input__validateIcon {
      display: inline-block;
    }
  }
}
