@import "mixins/mixins";
@import "common/variables";

%size {
  width: 100%;
  height: 100%;
}

@include b(image) {
  position: relative;
  display: inline-block;
  overflow: hidden;

  @include e(inner) {
    @extend %size;
    vertical-align: top;

    @include m(center) {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
    }
  }

  @include e(placeholder) {
    @extend %size;
    background: var(--background-color-base);
  }

  @include e(error) {
    @extend %size;
    @extend .text-size-xs;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color-base);
    color: var(--color-text-placeholder);
    vertical-align: middle;
  }

  @include e(preview) {
    cursor: pointer;
  }
}


@include b(image-viewer) {

  @include e(wrapper) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include e(btn) {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: .8;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
  }

  @include e(close) {
    @extend .text-size-md;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    color: var(--color-text-high-inverted);
    background-color: var(--color-gray-40);
  }

  @include e(canvas) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include e(actions) {
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 282px;
    height: 44px;
    padding: 0 23px;
    background-color: var(--color-gray-40);
    border-color: var(--fg-offset100);
    border-radius: 22px;

    @include e(actions__inner) {
      @extend .text-size-md;
      width: 100%;
      height: 100%;
      text-align: justify;
      cursor: default;
      color: var(--color-text-high-inverted);
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  @include e(prev){
    @extend .text-size-md;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    color: var(--color-text-high-inverted);
    background-color: var(--color-gray-40);
    border-color: var(--fg-offset100);
    left: 40px;
  }

  @include e(next){
    @extend .text-size-md;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    color: var(--color-text-high-inverted);
    background-color: var(--color-gray-40);
    border-color: var(--fg-offset100);
    right: 40px;
    text-indent: 2px;
  }

  @include e(mask) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    background: var(--bg-offset100);
  }
}

.viewer-fade-enter-active {
  animation: viewer-fade-in .3s;
}

.viewer-fade-leave-active {
  animation: viewer-fade-out .3s;
}

@keyframes viewer-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes viewer-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
