@import "mixins/mixins";
@import "common/variables";

.el-input,
.el-textarea,
.el-range-input,
.base-date-range,
.el-form-item,
.el-form,
.el-select,
.el-select-dropdown,
.el-date-editor,
.el-autocomplete-suggestion,
input,
textarea {
  --input-font-color: var(--color-text-med);
  --input-label-color: var(--color-text-lg-low);
  --input-width: #{$--input-width};
  --input-height: #{$--input-height};
  --input-border-color: var(--border-color-base);
  --input-border-radius: #{$--input-border-radius};
  --input-background-color: var(--color-text-high-inverted);

  --input-placeholder-color: var(--color-text-sm-low);
  --input-max-width: #{$--input-max-width};

  --input-hover-border: var(--border-color-hover);

  --input-focus-border: var(--bg-offset100);
  --input-focus-fill: var(--bg-base);

  --input-medium-height: #{$--input-medium-height};

  --input-small-height: #{$--input-small-height};

  --input-mini-height: #{$--input-mini-height};

  --input-disabled-fill: var(--bg-offset5);
  --input-disabled-border: var(--border-color-base);
  --input-disabled-color: var(--color-text-disabled1);
  --input-disabled-placeholder-color: var(--color-text-disabled1);
  --input-icon-color: var(--color-text-sm-low);
  --input-clear-hover-color: var(--fg-offset60);

  --input-padding-x: #{$--input-padding-x};

  --input-shadow-default-border-width: 1px;
  --input-shadow-focus-border-width: 2px;

  --input-shadow-default-border-color: var(--border-color-base);
  --input-shadow-hover-border-color: var(--border-color-hover);
  --input-shadow-focus-border-color: var(--bg-offset100);

  --input-shadow: inset 0 0 0 var(--input-shadow-default-border-width) var(--input-shadow-default-border-color);
}

@include b(textarea) {
  @extend .text-label-sm;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;

  @include e(inner) {
    display: block;
    resize: vertical;
    line-height: 1.5;

    &,
    .is-filled & {
      &:hover {
        --input-shadow-default-border-color: var(--input-shadow-hover-border-color);
      }

      &:focus {
        outline: none;
        --input-shadow-default-border-width: var(--input-shadow-focus-border-width);
        --input-shadow-default-border-color: var(--input-shadow-focus-border-color);
      }
    }
  }

  & .el-input__count {
    @extend .text-size-xxs;
    color: var(--color-text-sm-low);
    background: var(--bg-base);
    position: absolute;
    bottom: 5px;
    right: 10px;
  }

  @include when(disabled) {
    .el-textarea__inner {
      background-color: var(--input-disabled-fill);
      color: var(--input-disabled-color);
      cursor: not-allowed;

      &:hover,
      &:focus,
      &:focus:hover {
        --input-shadow-default-border-width: 1px;
        --input-shadow-default-border-color: var(--border-color-base);
      }

      &::placeholder {
        color: var(--input-disabled-placeholder-color);
      }
    }
  }

  @include when(exceed) {
    .el-textarea__inner {
      border-color: var(--input-focus-border);
    }

    .el-input__count {
      color: var(--color-danger);
    }
  }
}

@include b(input) {
  @extend .text-size-sm;
  position: relative;
  display: inline-block;
  width: 100%;
  @include scroll-bar;

  & .el-input__clear {
    @extend .text-size-xs;
    color: var(--input-icon-color);
    cursor: pointer;

    &:hover {
      color: var(--input-clear-hover-color);
    }
  }

  & .el-input__count {
    @extend .text-size-xxs;
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: var(--color-text-sm-low);

    .el-input__count-inner {
      background: var(--bg-base);
      line-height: initial;
      display: inline-block;
      padding: 0 5px;
    }
  }

  @include e(inner) {
    -webkit-appearance: none;
    display: inline-block;
    height: var(--input-height);
    line-height: var(--input-height);
    outline: none;
  }

  @include e(suffix) {
    position: absolute;
    height: 100%;
    right: 5px;
    text-align: center;
    color: var(--input-icon-color);
  }

  @include e(prefix) {
    position: absolute;
    height: 95%;
    left: 13px;
    top: 0;
    text-align: center;
    color: var(--input-icon-color);
    display: flex;
    align-items: center;
  }

  @include e(icon) {
    height: 100%;
    width: 25px;
    text-align: center;
    line-height: var(--input-height);

    &:after {
      content: '';
      height: 100%;
      width: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  @include e(validateIcon) {
    pointer-events: none;
  }

  @include when(active) {
    .el-input__inner {
      outline: none;
      border-color: var(--input-focus-border);
    }
  }

  @include when(disabled) {
    .el-input__inner {
      background-color: var(--input-disabled-fill);
      color: var(--input-disabled-color);
      cursor: not-allowed;

      &:hover,
      &:focus,
      &:focus:hover {
        --input-shadow-default-border-width: 1px;
        --input-shadow-default-border-color: var(--border-color-base);
      }

      &::placeholder {
        color: var(--input-disabled-placeholder-color);
      }
    }

    .el-input__icon {
      cursor: not-allowed;
    }
  }

  @include when(exceed) {
    .el-input__inner {
      border-color: var(--input-focus-border);
    }

    .el-input__suffix {
      .el-input__count {
        color: var(--color-danger);
      }
    }
  }

  @include m(suffix) {
    .el-input__inner {
      padding-right: 30px;
    }
  }

  @include m(prefix) {
    .el-input__inner {
      padding-left: 36px;
    }
  }

  @include m(medium) {
    @extend .text-size-sm;

    @include e(inner) {
      height: var(--input-medium-height);
      line-height: var(--input-medium-height);
    }

    .el-input__icon {
      line-height: var(--input-medium-height);
    }
  }
  @include m(small) {
    @extend .text-size-xs;

    @include e(inner) {
      height: var(--input-small-height);
      line-height: var(--input-small-height);
    }

    .el-input__icon {
      line-height: var(--input-small-height);
    }
  }
  @include m(mini) {
    @extend .text-size-xxs;

    @include e(inner) {
      height: var(--input-mini-height);
      line-height: var(--input-mini-height);
    }

    .el-input__icon {
      line-height: var(--input-mini-height);
    }
  }
}

@include b(input-group) {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  border-spacing:0;

  > .el-input__inner {
    vertical-align: middle;
    display: table-cell;
  }

  @include e((append, prepend)) {
    background-color: var(--background-color-base);
    color: var(--color-text-sm-low);
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: #{--border-base};
    border-radius: var(--input-border-radius);
    padding: 0 20px;
    width: 1px;
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    .el-select,
    .el-button {
      display: inline-block;
      margin: -10px -20px;
    }

    button.el-button,
    div.el-select .el-input__inner,
    div.el-select:hover .el-input__inner {
      border-color: transparent;
      background-color: transparent;
      color: inherit;
      border-top: 0;
      border-bottom: 0;
    }

    .el-button,
    .el-input {
      font-size: inherit;
    }
  }

  @include e(prepend) {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @include e(append) {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0;
    min-width: var(--input-height);

    button.el-button {
      @extend .text-label-sm;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      min-width: var(--input-height);
      height: var(--input-height);
      background-color: var(--bg-offset100);
      color: var(--color-text-high-inverted);
      margin: -4px 0;
      border-radius: 0 var(--button-small-border-radius) var(--button-small-border-radius) 0;

      &:hover,
      &:focus,
      &:active {
        color: var(--button-default-hover-color);
        border-color: var(--button-default-hover-border-color);
        background-color: var(--button-default-hover-background-color);
      }

      &.is-disabled {
        &,
        &:hover,
        &:focus,
        &:active {
          color: var(--button-default-disabled-color);
          border-color: var(--button-default-disabled-border-color);
          background-color: var(--button-default-disabled-background-color);
        }
      }

      [class^=el-icon-],
      [class*=" el-icon-"] {
        vertical-align: inherit;
      }
    }
  }

  @include m(prepend) {
    .el-input__inner {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .el-select .el-input.is-focus .el-input__inner {
      border-color: transparent;
    }
  }

  @include m(append) {
    .el-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .el-select .el-input.is-focus .el-input__inner {
      border-color: transparent;
    }
  }
}

/** disalbe default clear on IE */
.el-input__inner::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.el-input__inner,
.el-textarea__inner,
.el-range-input {
  @extend .text-size-xs;
  width: 100%;
  font-family: inherit;
  box-sizing: border-box;
  font-weight: var(--font-weight-regular);
  padding: 0 var(--input-padding-x);
  background-color: var(--input-background-color);
  background-image: none;
  border-radius: var(--input-border-radius);
  border: 0;
  box-shadow: inset 0 0 0 var(--input-shadow-default-border-width) var(--input-shadow-default-border-color);
  color: var(--input-font-color);

  &::placeholder {
    font-weight: var(--font-weight-regular);
    font-family: Graphik, Arial, sans-serif;
    color: var(--input-placeholder-color);
  }

  &:hover {
    --input-shadow-default-border-color: var(--input-shadow-hover-border-color);
  }

  &:focus,
  &.is-onfocus {
    --input-shadow-default-border-width: var(--input-shadow-focus-border-width);
    --input-shadow-default-border-color: var(--input-shadow-focus-border-color);
  }

  &:-webkit-autofill {
    -webkit-box-shadow: var(--input-shadow), inset 0 0 0 var(--input-height) var(--fg-offset100);
  }

  .icon-btn {
    padding: 12px 13px;
    border: 0;

    &:hover {
      opacity: .7;
    }
  }

  &.is-disabled .el-input__inner {
    &:hover,
    &:focus,
    &.is-onfocus {
      border-color: var(--input-disabled-border) !important;
    }
  }
}

.el-textarea__inner {
  padding-top: var(--input-padding-x);
  padding-bottom: var(--input-padding-x);
}
