@import "mixins/mixins";
@import "mixins/utils";
@import "common/variables";
@import "common/transition";

@mixin menu-item {
  --menu-item-color: var(--color-text-sm-low);
  --menu-item-color-hover: var(--color-text-med);
  --menu-item-fill: var(--bg-base);
  --menu-item-hover-fill: var(--color-text-sm-low);
  --menu-background-color: var(--bg-base);

  @extend .text-size-sm;
  height: 56px;
  color: var(--menu-item-color);
  padding: 0 20px;
  list-style: none;
  cursor: pointer;
  position: relative;
  transition: border-color .3s, background-color .3s, color .3s;
  box-sizing: border-box;
  white-space: nowrap;
  text-transform: uppercase;

  &.has-dropdown {
    padding-right: 0;
  }

  * {
    vertical-align: middle;
  }

  i {
    color: var(--color-text-med);
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: var(--menu-item-hover-fill);
  }

  @include when(disabled) {
    opacity: .25;
    cursor: not-allowed;
    background: none !important;
  }
}

@include b(menu) {
  border-right: solid 1px var(--fg-offset80);
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: var(--menu-background-color);
  @include utils-clearfix;

  &.el-menu--horizontal {
    border-bottom: solid 1px var(--fg-offset95);
  }

  @include m(horizontal) {
    border-right: none;
    & > .el-menu-item {
      float: left;
      height: 60px;
      line-height: 60px;
      margin: 0;
      border-bottom: 2px solid transparent;
      color: var(--menu-item-color);

      a,
      a:hover {
        color: inherit;
      }

      &:not(.is-disabled):hover,
      &:not(.is-disabled):focus {
        background-color: var(--bg-base);
      }
    }
    & > .el-submenu {
      float: left;

      &:focus,
      &:hover {
        outline: none;

        .el-submenu__title {
          color: var(--color-text-med);
        }
      }

      &.is-active {
        .el-submenu__title {
          border-bottom: 2px solid var(--color-text-med);
          color: var(--color-text-med);
        }
      }

      & .el-submenu__title {
        height: 60px;
        line-height: 60px;
        border-bottom: 2px solid transparent;
        color: var(--color-text-med);

        &:hover {
          background-color: var(--bg-base);
        }
      }

      & .el-submenu__icon-arrow {
        position: static;
        vertical-align: middle;
        margin-left: 8px;
        margin-top: -3px;
      }
    }
    & .el-menu {
      & .el-menu-item,
      & .el-submenu__title {
        background-color: var(--bg-base);
        float: none;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        color: var(--color-text-med);
      }

      & .el-menu-item.is-active,
      & .el-submenu.is-active > .el-submenu__title {
        color: var(--color-text-med);
      }
    }

    & .el-menu-item:not(.is-disabled):hover,
    & .el-menu-item:not(.is-disabled):focus {
      outline: none;
      color: var(--color-text-med);
    }

    & > .el-menu-item.is-active {
      border-bottom: 2px solid var(--color-text-med);
      color: var(--color-text-med);
    }

    .el-menu {
      &-item {
        display: flex;
        height: var(--main-header-height);
        //line-height: var(--main-header-height);
        border-bottom-width: 4px;

        &:hover {
          border-bottom-color: var(--color-text-med);
        }

        &.is-active {
          border-bottom-width: 4px;
        }

        a {
          @extend .text-label-xs-semibold-caps;
          font-size: 14px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  @include m(collapse) {
    width: 64px;

    > .el-menu-item,
    > .el-submenu > .el-submenu__title {
      [class^="el-icon-"] {
        margin: 0;
        vertical-align: middle;
        width: 24px;
        text-align: center;
      }

      .el-submenu__icon-arrow {
        display: none;
      }

      span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
      }
    }

    > .el-menu-item.is-active i {
      color: inherit;
    }

    .el-menu .el-submenu {
      min-width: 200px;
    }

    .el-submenu {
      position: relative;

      & .el-menu {
        position: absolute;
        margin-left: 5px;
        top: 0;
        left: 100%;
        z-index: 10;
        border: 1px solid var(--border-color-base);
        border-radius: var(--border-radius-small);
        box-shadow: var(--box-shadow-light);
      }

      &.is-opened {
        > .el-submenu__title .el-submenu__icon-arrow {
          transform: none;
        }
      }
    }
  }

  @include m(popup) {
    z-index: 100;
    min-width: 200px;
    border: none;
    padding: 5px 0;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-light);

    &-bottom-start {
      margin-top: 5px;
    }
    &-right-start {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

@include b(menu-item) {
  @include menu-item;

  & [class^="el-icon-"] {
    @extend .text-body-sm;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    vertical-align: middle;
  }

  @include when(active) {
    color: var(--color-text-med);

    i {
      color: inherit;
    }
  }
}

@include b(submenu) {
  list-style: none;
  margin: 0;
  padding-left: 0;

  @include e(title) {
    @include menu-item;

    &:hover {
      background-color: var(--menu-item-hover-fill);
    }
  }
  & .el-menu {
    border: none;
  }
  & .el-menu-item {
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    min-width: 200px;
  }
  @include e(icon-arrow) {
    @extend .text-size-xxs;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -7px;
    transition: transform .3s;
  }
  @include when(active) {
    .el-submenu__title {
      border-bottom-color: var(--color-text-med);
    }
  }
  @include when(opened) {
    > .el-submenu__title .el-submenu__icon-arrow {
      transform: rotateZ(180deg);
    }
  }
  @include when(disabled) {
    .el-submenu__title,
    .el-menu-item {
      opacity: .25;
      cursor: not-allowed;
      background: none !important;
    }
  }
  [class^="el-icon-"] {
    @extend .text-body-sm;
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
  }
}

@include b(menu-item-group) {
  > ul {
    padding: 0;
  }
  @include e(title) {
    @extend .text-size-xxs;
    padding: 7px 0 7px 20px;
    color: var(--color-text-med);
  }
}

.horizontal-collapse-transition .el-submenu__title .el-submenu__icon-arrow {
  transition: .2s;
  opacity: 0;
}
