@import "mixins/mixins";
@import "common/variables";

@include b(message) {
  --message-shadow: var(--box-shadow-base);
  --message-min-width: #{$--message-min-width};
  --message-background-color: var(--fg-offset95);
  --message-padding: #{$--message-padding};
  --message-close-icon-color: var(--color-text-sm-low);
  --message-close-size: #{$--message-close-size};
  --message-close-hover-color: var(--fg-offset60);

  min-width: var(--message-min-width);
  box-sizing: border-box;
  border-radius: var(--border-radius-base);
  border-width: var(--border-width-base);
  border-style: var(--border-style-base);
  border-color: var(--border-color-base);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: var(--message-background-color);
  transition: opacity 0.3s, transform .4s, top 0.4s;
  overflow: hidden;
  padding: var(--message-padding);
  display: flex;
  align-items: center;

  @include when(center) {
    justify-content: center;
  }

  @include when(closable) {
    .el-message__content {
      padding-right: 16px;
    }
  }

  p {
    margin: 0;
  }

  @include m(info) {
    .el-message__content {
      color: var(--message-info-font-color);
    }
  }

  @include m(success) {
    --base-hue: var(--hue-success);
    --base-sat: var(--sat-high);

    background-color: var(--fg-offset85);
    border-color: var(--fg-offset90);
    //background-color: var(--color-success-light-8);//UNUSED
    //border-color: var(--color-success-light-7);//UNUSED

    .el-message__content {
      //color: var(--message-success-font-color);//UNUSED
      color: var(--color-text-high);
    }
  }

  @include m(warning) {
    --base-hue: var(--hue-warning);
    --base-sat: var(--sat-high);

    background-color: var(--fg-offset85);
    border-color: var(--fg-offset90);
    //background-color: var(--color-warning-light-8);//UNUSED
    //border-color: var(--color-warning-light-7);//UNUSED

    .el-message__content {
      //color: var(--message-warning-font-color);//UNUSED
      color: var(--color-text-high);
    }
  }

  @include m(error) {
    --base-hue: var(--hue-warning);
    --base-sat: var(--sat-high);

    background-color: var(--fg-offset85);
    border-color: var(--fg-offset90);
    //background-color: var(--color-danger-light-8);//UNUSED
    //border-color: var(--color-danger-light-7);//UNUSED

    .el-message__content {
      //color: var(--message-danger-font-color);//UNUSED
      color: var(--color-text-high);
    }
  }

  @include e(icon) {
    margin-right: 10px;
  }

  @include e(content) {
    @extend .text-size-xs;
    padding: 0;
    &:focus {
      outline-width: 0;
    }
  }

  @include e(closeBtn) {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--message-close-icon-color);
    font-size: var(--message-close-size);

    &:focus {
      outline-width: 0;
    }

    &:hover {
      color: var(--message-close-hover-color);
    }
  }

  & .el-icon-success {
    //color: var(--message-success-font-color);
  }

  & .el-icon-error {
    //color: var(--message-danger-font-color);
  }

  & .el-icon-info {
    //color: var(--message-info-font-color);
  }

  & .el-icon-warning {
    //color: var(--message-warning-font-color);
  }
}

.el-message-fade-enter,
.el-message-fade-leave-active {
  opacity: 0;
  transform: translate(-50%, -100%);
}

/* Custom styles
--------------------------*/
.message {
  padding: 16px 24px 16px 80px;
  position: relative;
  border: 1px solid var(--fg-offset50);
  background-color: var(--bg-base);

  + .message {
    margin-top: 16px;
  }

  &__icon {
    position: absolute;
    top: 11px;
    left: 24px;

    .icon {
      width: 35px;
      height: 35px;
    }
  }

  &__body {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
  }

  &__controls {
    display: flex;
    align-items: flex-start;

    .el-button {
      &:last-of-type {
        margin-left: 12px;
      }
    }
  }

  &__descr {
    @extend .text-body-sm;
    color: var(--color-text-high);
    margin: 0;
    word-break: break-word;

    b {
      font-weight: var(--font-weight-semibold);
    }

    p.message-intro {
      @extend .text-size-sm;
    }

    p,
    ul {
      margin-bottom: 16px;
    }

    .el-button {
      display: block;
      margin-left: auto;
    }

  }

  &--warning,
  &--danger,
  &--success {
    --base-sat: var(--sat-high);
    background-color: var(--bg-offset10);
  }

  &--warning {
    --base-hue: var(--hue-warning);
  }

  &--danger {
    --base-hue: var(--hue-danger);
  }

  &--success {
    --base-hue: var(--hue-success);
  }

  &--time {
    background: var(--bg-offset20);
    display: flex;
    align-items: center;
    padding-left: 24px;

    .message {
      &__icon {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        margin-right: 24px;
        flex-shrink: 0;
        background: var(--border-color-gray);

        .svg {
          width: 34px;
          height: 34px;
        }
      }

      &__descr {
        @extend .text-body-sm;
        text-align: left;
      }
    }
  }

  &.is-full-screen {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 21px 24px 16px 60px;

    .title {
      @extend .text-label-xs-semibold-caps;
      flex: 0 0 100%;
      margin-bottom: 15px;
    }

    .message__icon {
      top: 21px;
      left: 19px;

      .icon:not(.icon-alert-triangle) {
        width: 24px;
        height: 24px;
      }
    }

    .message__descr {
      @extend .text-size-sm;
      max-width: 100%;
    }

    .el-button {
      margin-left: 35px;
    }

    &.half-width {
      .message__descr {
        max-width: 655px;
      }
    }
  }
}

.message-retry {
  display: flex;
  margin-top: 50px;

  .title {
    font-weight: var(--font-weight-medium);
  }

  p {
    margin-bottom: 0;
    color: inherit;
  }

  &__content {
    flex-grow: 1;
  }

  &__controls {
    margin-left: 10%;
  }
}
