@import "mixins/mixins";
@import "common/variables";
@import "common/popup";
@import "button";

@include b(message-box) {
  --messagebox-title-color: var(--color-text-med);
  --msgbox-width: #{$--msgbox-width};
  --msgbox-border-radius: #{$--msgbox-border-radius};
  --messagebox-content-color: var(--color-text-med);
  --msgbox-padding-primary: #{$--msgbox-padding-primary};

  @extend .text-size-sm;
  display: inline-block;
  width: var(--msgbox-width);
  padding-bottom: 10px;
  vertical-align: middle;
  background-color: var(--bg-base);
  border-radius: var(--msgbox-border-radius);
  border: 1px solid var(--border-color-base);
  box-shadow: var(--box-shadow-light);
  text-align: left;
  overflow: hidden;
  backface-visibility: hidden;

  @include e(wrapper) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle;
    }
  }

  @include e(header) {
    position: relative;
    padding: var(--msgbox-padding-primary);
    padding-bottom: 10px;
  }

  @include e(title) {
    @extend .text-size-sm;
    padding-left: 0;
    margin-bottom: 0;
    color: var(--messagebox-title-color);
  }

  @include e(headerbtn) {
    position: absolute;
    top: var(--msgbox-padding-primary);
    right: var(--msgbox-padding-primary);
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: var(--message-close-size);
    cursor: pointer;

    .el-message-box__close {
      color: var(--color-text-sm-low);
    }

    &:focus, &:hover {
      .el-message-box__close {
        color: var(--color-text-med);
      }
    }

  }

  @include e(content) {
    @extend .text-size-sm;
    padding: 10px var(--msgbox-padding-primary);
    color: var(--messagebox-content-color);
  }

  @include e(container) {
    position: relative;
  }

  @include e(input) {
    padding-top: 15px;

    & input.invalid {
      border-color: var(--color-danger);
      &:focus {
        border-color: var(--color-danger);
      }
    }
  }

  @include e(status) {
    @extend .text-size-md;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--fg-offset50);

    &::before {
      padding-left: 1px;
    }

    + .el-message-box__message {
      padding-left: 36px;
      padding-right: 12px;
    }

    &.el-icon-success {
      --base-hue: var(--hue-success);
    }

    &.el-icon-info {
      --base-hue: var(--hue-gray);
    }

    &.el-icon-warning {
      --base-hue: var(--hue-warning);
    }

    &.el-icon-error {
      --base-hue: var(--hue-danger);
    }
  }

  @include e(message) {
    margin: 0;

    & p {
      margin: 0;
      line-height: 24px;
    }
  }

  @include e(errormsg) {
    @extend .text-size-xxs;
    color: var(--color-danger);
    min-height: 18px;
    margin-top: 2px;
  }

  @include e(btns) {
    padding: 5px 15px 0;
    text-align: right;

    & button:nth-child(2) {
      margin-left: 10px;
    }
  }

  @include e(btns-reverse) {
    flex-direction: row-reverse;
  }

  @include m(center) {
    padding-bottom: 30px;

    @include e(header) {
      padding-top: 30px;
    }

    @include e(title) {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include e(status) {
      position: relative;
      top: auto;
      padding-right: 5px;
      text-align: center;
      transform: translateY(-1px);
    }

    @include e(message) {
      margin-left: 0;
    }

    @include e((btns, content)) {
      text-align: center;
    }

    @include e(content) {
      --padding-horizontal: calc(var(--msgbox-padding-primary) + 12px);

      padding-left: var(--padding-horizontal);
      padding-right: var(--padding-horizontal);
    }
  }
}

.msgbox-fade-enter-active {
  animation: msgbox-fade-in .3s;
}

.msgbox-fade-leave-active {
  animation: msgbox-fade-out .3s;
}

@keyframes msgbox-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes msgbox-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
