@import "mixins/mixins";
@import "common/variables";

@include b(select-dropdown) {
  @include e(item) {
    @extend .text-size-sm;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--select-option-color);
    height: var(--select-option-height);
    line-height: var(--select-option-height);
    box-sizing: border-box;
    cursor: pointer;

    @include when(disabled) {
      color: var(--select-option-disabled-color);
      cursor: not-allowed;

      &:hover {
        background-color: var(--bg-base);
      }
    }

    &.hover, &:hover {
      background-color: var(--select-option-hover-background);
    }

    &.selected {
      color: var(--select-option-selected-font-color);
      font-weight: bold;
    }
  }
}
