@import "mixins/mixins";
@import "mixins/utils";
@import "common/variables";
@import "select";

@include b(pagination) {
  --pagination-fill: var(--bg-base);
  --pagination-border-radius: #{$--pagination-border-radius};
  --pagination-button-color: var(--color-text-med);
  --pagination-button-width: #{$--pagination-button-width};
  --pagination-button-height: #{$--pagination-button-height};
  --pagination-button-disabled-color: var(--color-text-disabled1);
  --pagination-button-disabled-fill: var(--bg-base);
  --pagination-hover-fill: var(--color-text-med);
  --pagination-hover-color: var(--color-text-med);
  --pagination-background-color: var(--bg-base);
  --pagination-font-color: var(--color-text-med);
  --pagination-button-disabled-background-color: var(--bg-base);

  white-space: nowrap;
  color: var(--pagination-font-color);
  font-weight: bold;
  display: flex;
  margin-top: 30px;
  padding: 0;
  @include utils-clearfix;

  span:not([class*=suffix]),
  button {
    @extend .text-size-xs;
    display: inline-block;
    min-width: var(--pagination-button-width);
    height: var(--pagination-button-height);
    vertical-align: middle;
    box-sizing: border-box;
  }

  .el-input__inner {
    text-align: center;
    -moz-appearance: textfield;
    line-height: normal;
  }

  .el-input__suffix {
    right: 0;
    transform: scale(.8);
  }

  .el-select .el-input {
    width: 100px;
    margin: 0 5px;

    .el-input__inner {
      padding-right: 25px;
      border-radius: var(--pagination-border-radius);
    }
  }

  button {
    border: none;
    padding: 0 6px;
    background: transparent;

    &:focus {
      outline: none;
    }

    &:hover {
      color: var(--pagination-hover-color);
    }

    &:disabled {
      color: var(--pagination-button-disabled-color);
      background-color: var(--pagination-button-disabled-background-color);
      cursor: not-allowed;
    }
  }

  .btn-prev,
  .btn-next {
    background: center center no-repeat;
    background-size: 16px;
    background-color: var(--pagination-background-color);
    cursor: pointer;
    margin: 0;
    color: var(--pagination-button-color);

    .el-icon {
      @extend .text-label-xxs-semibold-caps;
      display: block;
    }
  }

  .btn-prev {
    padding-right: 12px;
  }

  .btn-next {
    padding-left: 12px;
  }

  .el-pager li.disabled {
    color: var(--color-text-placeholder);
    cursor: not-allowed;
  }

  @include m(small) {
    .btn-prev,
    .btn-next,
    .el-pager li,
    .el-pager li.btn-quicknext,
    .el-pager li.btn-quickprev,
    .el-pager li:last-child {
      @extend .text-body-xxs;
      border-color: transparent;
      height: 22px;
      min-width: 22px;
    }

    .arrow.disabled {
      visibility: hidden;
    }

    .more::before,
    li.more::before {
      line-height: 24px;
    }

    span:not([class*=suffix]),
    button {
      height: 22px;
      line-height: 22px;
    }

    @include e(editor) {
      height: 22px;
      &.el-input .el-input__inner {
        height: 22px;
      }
    }
  }

  @include e(sizes) {
    margin: 0 10px 0 0;
    font-weight: normal;
    color: var(--color-text-high);

    .el-input .el-input__inner {
      @extend .text-size-xs;
      padding-left: 8px;

      &:hover {
        border-color: var(--pagination-hover-color);
      }
    }
  }

  @include e(total) {
    margin-right: auto;
    font-weight: normal;
    color: var(--color-text-high);
  }

  @include e(jump) {
    margin-left: 24px;
    font-weight: normal;
    color: var(--color-text-high);

    .el-input__inner {
      padding: 0 3px;
    }
  }

  @include e(rightwrapper) {
    float: right;
  }

  @include e(editor) {
    line-height: 18px;
    padding: 0 2px;
    height: var(--pagination-button-height);

    text-align: center;
    margin: 0 2px;
    box-sizing: border-box;
    border-radius: var(--pagination-border-radius);

    &.el-input {
      width: 50px;
    }

    &.el-input .el-input__inner {
      height: var(--pagination-button-height);
    }

    .el-input__inner::-webkit-inner-spin-button,
    .el-input__inner::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  @include when(background) {
    .btn-prev,
    .btn-next,
    .el-pager li {
      @extend .text-label-xs;
      color: var(--color-text-high);
      background-color: var(--bg-base);
      font-weight: var(--font-weight-medium);
      border-radius: 50%;
      width: 24px;
      height: 24px;
      min-width: 24px;
      line-height: 26px;
      padding: 0;
      text-align: center;
      margin: 0 4px;

      &:not(.disabled):hover {
        color: var(--color-text-high);
      }

      &.active:hover {
        color: var(--color-text-high-inverted);
      }

      &.disabled {
        color: var(--color-text-placeholder);
      }
    }

    .btn-prev,
    .btn-next {
      padding: 0;
      width: auto;
      background: none;
      font-weight: var(--font-weight-medium);
      margin-right: 14px;
      border-radius: 0;

      &:disabled {
        color: var(--color-text-placeholder);
      }
    }

    .btn-next {
      margin-left: 14px;
      margin-right: 5px;
    }

    .el-pager li:not(.disabled) {
      &:hover {
        color: var(--pagination-hover-color);
      }

      &.active {
        background-color: var(--bg-offset100);
        color: var(--color-text-high-inverted);
      }
    }

    &.el-pagination--small {
      .btn-prev,
      .btn-next,
      .el-pager li {
        margin: 0 3px;
        min-width: 22px;
      }
    }
  }
}

@include b(pager) {
  user-select: none;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  padding: 0;
  margin: 0;

  .more::before {
    line-height: 30px;
  }

  li {
    @extend .text-size-xs;
    padding: 0 4px;
    background: var(--pagination-background-color);
    vertical-align: top;
    display: inline-block;
    min-width: var(--pagination-button-width);
    height: var(--pagination-button-height);
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    margin: 0;

    &.btn-quicknext,
    &.btn-quickprev {
      line-height: 28px;
      color: var(--pagination-button-color);

      &.disabled {
        color: var(--color-text-placeholder);
      }
    }

    &.btn-quickprev:hover {
      cursor: pointer;
    }

    &.btn-quicknext:hover {
      cursor: pointer;
    }

    &.active + li {
      border-left: 0;
    }

    &:hover {
      color: var(--pagination-hover-color);
    }

    &.active {
      color: var(--pagination-hover-color);
      cursor: default;
    }
  }
}
