@import "mixins/mixins";
@import "common/variables";
@import "./popper";

@include b(popover) {
  --popover-fill: var(--bg-base);
  --popover-border-color: var(--fg-offset100);
  --popover-padding: #{$--popover-padding};
  --popover-title-color: var(--color-text-med);
  --popover-background-color: var(--bg-base);
  --popover-arrow-size: #{$--popover-arrow-size};
  --popover-padding-large: #{$--popover-padding-large};
  --popover-title-font-color: var(--color-text-med);

  @extend .text-body-sm;
  position: absolute;
  background: var(--popover-background-color);
  min-width: 150px;
  border-radius: 4px;
  border: 1px solid var(--popover-border-color);
  padding: var(--popover-padding);
  z-index: var(--index-popper);
  color: var(--color-text-high);
  box-shadow: var(--box-shadow-light);
  padding-bottom: 70px;
  word-break: break-word;
  text-align: inherit;

  @include m(plain) {
    padding: var(--popover-padding-large);
  }

  @include e(title) {
    @extend .text-label-xs-semibold-caps;
    color: var(--popover-title-font-color);
    margin-bottom: 26px;
  }

  @include e(reference) {
    &:focus:not(.focusing), &:focus:hover {
      outline-width: 0;
    }
  }

  &[role="tooltip"] {
    padding-bottom: 18px;
  }

  &:focus:active, &:focus {
    outline-width: 0;
  }
}

.el-popover,
.el-popper {
  &.tip-popover {
    z-index: 1 !important;
  }

  &.z-index-null {
    z-index: 0 !important;
  }
}

.budget-tooltip {
  --popover-padding: #{$--popover-padding};

  &__popover {
    padding: var(--popover-padding);

    &.is-right {
      left: auto;
      right: 0;
    }

    p {
      margin-bottom: 5px;
    }
  }
}
