@import "mixins/mixins";
@import "common/variables";

@include b(popper) {
  --popover-fill: var(--bg-base);
  --popover-border-color: var(--fg-offset100);
  --popover-padding: #{$--popover-padding};
  --popover-title-color: var(--color-text-med);
  --popover-background-color: var(--bg-base);
  --popover-arrow-size: #{$--popover-arrow-size};
  --popover-padding-large: #{$--popover-padding-large};
  --popover-title-font-color: var(--color-text-med);

  &:not(.el-dropdown-menu, .el-date-picker) {
    .popper__arrow,
    .popper__arrow::after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
  }

  .popper__arrow {
    border-width: $--popover-arrow-size;

    &::after {
      content: " ";
      border-width: $--popover-arrow-size;
    }
  }

  &[x-placement^="top"] {
    margin-bottom: $--popover-arrow-size + 6px;
  }

  &[x-placement^="top"] .popper__arrow {
    bottom: -$--popover-arrow-size;
    left: 50%;
    margin-right: $--tooltip-arrow-size / 2;
    border-top-color: var(--popover-border-color);
    border-bottom-width: 0;

    &::after {
      bottom: 1px;
      margin-left: -$--popover-arrow-size;
      border-top-color: var(--popover-background-color);
      border-bottom-width: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: $--popover-arrow-size + 6px;
  }

  &[x-placement^="bottom"] .popper__arrow {
    top: -$--popover-arrow-size;
    left: 50%;
    margin-right: $--tooltip-arrow-size / 2;
    border-top-width: 0;
    border-bottom-color: var(--popover-border-color);

    &::after {
      top: 1px;
      margin-left: -$--popover-arrow-size;
      border-top-width: 0;
      border-bottom-color: var(--popover-background-color);
    }
  }

  &[x-placement^="right"] {
    margin-left: $--popover-arrow-size + 6px;
  }

  &[x-placement^="right"] .popper__arrow {
    top: 50%;
    left: -$--popover-arrow-size;
    margin-bottom: $--tooltip-arrow-size / 2;
    border-right-color: var(--popover-border-color);
    border-left-width: 0;

    &::after {
      bottom: -$--popover-arrow-size;
      left: 1px;
      border-right-color: var(--popover-background-color);
      border-left-width: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: $--popover-arrow-size + 6px;
  }

  &[x-placement^="left"] .popper__arrow {
    top: 50%;
    right: -$--popover-arrow-size;
    margin-bottom: $--tooltip-arrow-size / 2;
    border-right-width: 0;
    border-left-color: var(--popover-border-color);;

    &::after {
      right: 1px;
      bottom: -$--popover-arrow-size;
      margin-left: -$--popover-arrow-size;
      border-right-width: 0;
      border-left-color: var(--popover-background-color);
    }
  }
}
