@import "mixins/mixins";
@import "mixins/utils";
@import "common/variables";

@include b(progress) {
  position: relative;
  line-height: 1;

  @include e(text) {
    @extend .text-size-xs;
    color: var(--color-text-high);
    vertical-align: middle;
    display: block;
    margin: 10px 0 0;

    i {
      vertical-align: middle;
      display: block;
    }
  }

  @include m((circle,dashboard)) {
    display: inline-block;

    .el-progress__text {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      margin: 0;
      transform: translate(0, -50%);

      i {
        vertical-align: middle;
        display: inline-block;
      }
    }
  }


  @include m(without-text) {
    .el-progress__text {
      display: none;
    }

    .el-progress-bar {
      padding-right: 0;
      margin-right: 0;
      display: block;
    }
  }

  @include m(text-inside) {
    .el-progress-bar {
      padding-right: 0;
      margin-right: 0;
    }
  }

  @include when(success) {
    .el-progress-bar__inner {
      background-color: var(--color-success);
    }

    .el-progress__text {
      color: var(--color-success);
    }
  }

  @include when(warning) {
    .el-progress-bar__inner {
      background-color: var(--color-warning);
    }

    .el-progress__text {
      color: var(--color-warning);
    }
  }

  @include when(exception) {
    .el-progress-bar__inner {
      background-color: var(--color-danger);
    }

    .el-progress__text {
      color: var(--color-danger);
    }
  }
}

@include b(progress-bar) {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  @include e(outer) {
    height: 6px;
    background-color: var(--border-color-base);
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    border-radius: 0;
  }
  @include e(inner) {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--fg-base);
    text-align: right;
    line-height: 1;
    white-space: nowrap;
    border-radius: 0;
    background: var(--color-success);
    transition: width 0.2s ease;

    @include utils-vertical-center;

    &.notransition {
      transition: none !important;
    }
  }

  @include e(innerText) {
    @extend .text-size-xxs;
    display: inline-block;
    vertical-align: middle;
    color: var(--color-text-high-inverted);
    margin: 0 5px;
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 32px 0;
  }
}
