@import "mixins/mixins";
@import "mixins/_button";
@import "common/variables";

@include b(radio-button) {
  position: relative;
  display: inline-block;
  outline: none;

  @include e(inner) {
    @extend .text-label-xs;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    background: var(--fg-base);
    border: var(--border-base);
    border-left: 0;
    color: var(--button-default-font-color);
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: $--all-transition;
    padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    border-radius: 0;

    &.is-round {
      padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    }

    &:hover {
      color: var(--color-text-high);
    }

    & [class*="el-icon-"] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  &:first-child {
    .el-radio-button__inner {
      border-left: var(--border-base);
      border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
      box-shadow: none !important;
    }
  }

  @include e(orig-radio) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;

    &:checked {
      & + .el-radio-button__inner {
        color: var(--radio-button-checked-font-color);
        background-color: var(--radio-button-checked-background-color);
        border-color: var(--radio-button-checked-border-color);
        box-shadow: -1px 0 0 0 var(--radio-button-checked-border-color);
      }
    }

    &:disabled {
      & + .el-radio-button__inner {
        color: var(--button-disabled-font-color);
        cursor: not-allowed;
        background-image: none;
        background-color: var(--button-disabled-background-color);
        border-color: var(--button-disabled-border-color);
        box-shadow: none;
      }
      &:checked + .el-radio-button__inner {
        background-color: var(--radio-button-disabled-checked-fill);
      }
    }
  }

  &:last-child {
    .el-radio-button__inner {
      border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
    }
  }

  &:first-child:last-child {
    .el-radio-button__inner {
      border-radius: var(--border-radius-base);
    }
  }

  @include m(medium) {
    & .el-radio-button__inner {
      @extend .text-size-xs;
      padding: var(--button-medium-padding-vertical) var(--button-medium-padding-horizontal);
      border-radius: 0;

      &.is-round {
        padding: var(--button-medium-padding-vertical) var(--button-medium-padding-horizontal);
      }
    }
  }
  @include m(small) {
    & .el-radio-button__inner {
      @extend .text-size-xxs;
      padding: var(--button-small-padding-vertical) var(--button-small-padding-horizontal);
      border-radius: 0;

      &.is-round {
        padding: var(--button-small-padding-vertical) var(--button-small-padding-horizontal);
      }
    }
  }
  @include m(mini) {
    & .el-radio-button__inner {
      @extend .text-size-xxs;
      padding: var(--button-mini-padding-vertical) var(--button-mini-padding-horizontal);
      border-radius: 0;

      &.is-round {
        padding: var(--button-small-padding-vertical) var(--button-mini-padding-horizontal);
      }
    }
  }

  &:focus:not(.is-focus):not(:active):not(.is-disabled){
    box-shadow: 0 0 2px 2px var(--radio-button-checked-border-color);
  }
}
