@import "mixins/mixins";
@import "mixins/utils";
@import 'mixins/button';
@import "common/variables";

@include b(radio) {
  /* Radio
  -------------------------- */
  --radio-font-weight: #{$--radio-font-weight};
  --radio-font-color: var(--color-text-med);
  --radio-input-height: #{$--radio-input-height};
  --radio-input-width: #{$--radio-input-width};
  --radio-input-border-radius: #{$--radio-input-border-radius};
  --radio-input-background-color: var(--bg-base);
  --radio-input-border: 1px solid var(--fg-offset40);
  --radio-input-border-color: var(--fg-offset40);
  --radio-icon-color: var(--fg-base);

  --radio-disabled-input-border-color: var(--fg-offset70);
  --radio-disabled-input-fill: var(--bg-base);
  --radio-disabled-icon-color: var(--fg-base);

  --radio-disabled-checked-input-border-color: var(--bg-offset15);
  --radio-disabled-checked-input-fill: var(--bg-offset100);
  --radio-disabled-checked-icon-color: var(--color-text-sm-low);

  --radio-checked-font-color: var(--fg-base);
  --radio-checked-input-border-color: var(--fg-base);
  --radio-checked-input-background-color: var(--bg-offset100);
  --radio-checked-icon-color: var(--fg-base);
  --radio-input-border-color-hover: var(--fg-base);

  --radio-bordered-height: 40px;
  --radio-bordered-padding: 12px 20px 0 10px;
  --radio-bordered-medium-padding: 10px 20px 0 10px;
  --radio-bordered-small-padding: 8px 15px 0 10px;
  --radio-bordered-mini-padding: 6px 15px 0 10px;
  --radio-bordered-medium-input-height: 14px;
  --radio-bordered-medium-input-width: 14px;
  --radio-bordered-medium-height: 36px;
  --radio-bordered-small-input-height: 12px;
  --radio-bordered-small-input-width: 12px;
  --radio-bordered-small-height: 32px;
  --radio-bordered-mini-input-height: 12px;
  --radio-bordered-mini-input-width: 12px;
  --radio-bordered-mini-height: 28px;
  --radio-button-checked-background-color: var(--fg-base);
  --radio-button-checked-font-color: var(--color-text-high-inverted);
  --radio-button-checked-border-color: var(--bg-offset100);
  --radio-button-disabled-checked-fill: var(--border-color-base);

  @extend .text-label-sm;
  color: var(--radio-font-color);
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  margin-right: 30px;
  @include utils-user-select(none);

  @include when(bordered) {
    padding: var(--radio-bordered-padding);
    border-radius: var(--border-radius-base);
    border: var(--border-base);
    box-sizing: border-box;
    height: var(--radio-bordered-height);

    &.is-checked {
      border-color: var(--fg-base);
    }

    &.is-disabled {
      cursor: not-allowed;
      border-color: var(--border-color-base);
    }

    & + .el-radio.is-bordered {
      margin-left: 10px;
    }
  }

  @include m(medium) {
    &.is-bordered {
      padding: var(--radio-bordered-medium-padding);
      border-radius: var(--button-medium-border-radius);
      height: var(--radio-bordered-medium-height);

      .el-radio__label {
        @extend .text-size-xs;
      }

      .el-radio__inner {
        height: var(--radio-bordered-medium-input-height);
        width: var(--radio-bordered-medium-input-width);
      }
    }
  }

  @include m(small) {
    &.is-bordered {
      padding: var(--radio-bordered-small-padding);
      border-radius: var(--button-small-border-radius);
      height: var(--radio-bordered-small-height);

      .el-radio__label {
        @extend .text-size-xxs;
      }

      .el-radio__inner {
        height: var(--radio-bordered-small-input-height);
        width: var(--radio-bordered-small-input-width);
      }
    }
  }

  @include m(mini) {
    &.is-bordered {
      padding: var(--radio-bordered-mini-padding);
      border-radius: var(--button-mini-border-radius);
      height: var(--radio-bordered-mini-height);

      .el-radio__label {
        @extend .text-size-xxs;
      }

      .el-radio__inner {
        height: var(--radio-bordered-mini-input-height);
        width: var(--radio-bordered-mini-input-width);
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &.radio-success {
    .el-radio__input.is-checked {
      .el-radio__inner {
        border-color: var(--color-success);
        background: var(--color-success);

        &:after {
          background: var(--color-success);
        }
      }
    }
  }

  &.radio-danger {
    .el-radio__input.is-checked {
      .el-radio__inner {
        border-color: var(--color-danger);
        background: var(--color-danger);

        &:after {
          background: var(--color-danger);
        }
      }
    }
  }

  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    @include when(disabled) {
      .el-radio__inner {
        background-color: var(--radio-disabled-input-fill);
        border-color: var(--radio-disabled-input-border-color);
        cursor: not-allowed;

        &::after {
          cursor: not-allowed;
          background-color: var(--radio-disabled-icon-color);
        }

        & + .el-radio__label {
          cursor: not-allowed;
        }
      }

      &.is-checked {
        .el-radio__inner {
          border-color: var(--radio-disabled-checked-input-border-color);

          &,
          &:after {
            background-color: var(--bg-offset15);
          }
        }
      }
      & + span.el-radio__label {
        color: var(--color-text-placeholder);
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .el-radio__inner {
        border-color: var(--radio-checked-input-border-color);
        background: var(--radio-checked-icon-color);

        &::after {
          transform: translate(-50%, -50%) scale(1);
        }
      }

      & + .el-radio__label {
        color: var(--radio-checked-font-color);
      }
    }

    @include when(focus) {
      .el-radio__inner {
        border-color: var(--radio-input-border-color-hover);
      }
    }
  }

  @include e(inner) {
    border: var(--radio-input-border);
    border-radius: var(--radio-input-border-radius);
    width: var(--radio-input-width);
    height: var(--radio-input-height);
    background-color: var(--radio-input-background-color);
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;

    &:hover {
      border-color: var(--radio-input-border-color-hover);
    }

    &::after {
      width: 4px;
      height: 4px;
      border-radius: var(--radio-input-border-radius);
      background-color: var(--fg-base);
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform .15s ease-in;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 3px solid var(--fg-offset100);
      z-index: 1;
      border-radius: 50%;
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  &:focus:not(.is-focus):not(:active):not(.is-disabled) {
    .el-radio__inner {
      box-shadow: 0 0 2px 2px var(--radio-input-border-color-hover);
    }
  }

  @include e(label) {
    @extend .text-size-sm;
    padding-left: 10px;
  }
}
