@import "mixins/mixins";
@import "common/variables";
@import "./popper";

@include b(select-dropdown) {
  position: absolute;
  z-index: $--index-top + 1;
  border: var(--select-dropdown-border);
  border-radius: var(--border-radius-base);
  background-color: var(--select-dropdown-background);
  box-shadow: var(--select-dropdown-shadow);
  box-sizing: border-box;
  margin: 5px 0;

  @include when(multiple) {
    & .el-select-dropdown__item.selected {
      color: var(--select-option-selected-font-color);
      background-color: var(--select-dropdown-background);

      &.hover {
        background-color: var(--select-option-hover-background);
      }

      &::after {
        @extend .text-label-xxs;
        position: absolute;
        right: 20px;
        font-family: 'element-icons';
        content: "\e6da";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }

  .el-scrollbar.is-empty .el-select-dropdown__list{
    padding: 0;
  }
}

@include b(select-dropdown__empty) {
  @extend .text-size-sm;
  padding: var(--select-dropdown-empty-padding);
  margin: 0;
  text-align: center;
  color: var(--select-dropdown-empty-color);
}

@include b(select-dropdown__wrap) {
  max-height: var(--select-dropdown-max-height);
}

@include b(select-dropdown__list) {
  list-style: none;
  padding: var(--select-dropdown-padding);
  margin: 0;
  box-sizing: border-box;
}
