.status-badge {
  --base-sat: var(--sat-high);

  @extend .text-label-xxxs-semibold-caps;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 0 12px;
  height: 20px;
  border-radius: var(--border-radius-large);
  background: var(--bg-offset5);
  border: 1px solid var(--bg-offset20);
  color: var(--color-text-med);

  &.is-interactive {
    &:hover,
    &:focus {
      background: var(--bg-offset3);
      border-color: var(--bg-offset10);
      cursor: default;
    }
  }

  @each $type in (default, success, warning, info, danger) {
    @include m($type) {
      @if $type == success {
        --base-hue: var(--hue-success);

      } @else if $type == default {
        --base-hue: var(--hue-gray);
        --base-sat: var(--sat-low);

      } @else if $type == warning {
        --base-hue: var(--hue-warning);

      } @else if $type == info {
        --base-hue: var(--hue-info);

      } @else if $type == danger {
        --base-hue: var(--hue-danger);
      }
    }
  }
}
