@import "mixins/mixins";

@include b(steps) {
  --steps-bg-color-line: var(--bg-offset5);
  --steps-border-radius: #{$--steps-border-radius};
  --steps-padding: #{$--steps-padding};

  display: flex;

  @include m(simple) {
    padding: 13px 8%;
    border-radius: 4px;
    background: var(--background-color-base);
  }

  @include m(horizontal) {
    white-space: nowrap;
  }

  @include m(vertical) {
    height: 100%;
    flex-flow: column;
  }
}
