@import "mixins/mixins";
@import "common/variables";

@include b(switch) {
  --switch-on-color: var(--color-text-med);
  --switch-off-color: var(--color-text-disabled2);
  --switch-core-border-radius: #{$--switch-core-border-radius};
  --switch-width: #{$--switch-width};
  --switch-height: #{$--switch-height};
  --switch-button-size: #{$--switch-button-size};

  @extend .text-body-sm;
  display: inline-flex;
  align-items: center;
  position: relative;
  line-height: var(--switch-height);
  height: var(--switch-height);
  vertical-align: middle;
  @include when(disabled) {
    & .el-switch__core,
    & .el-switch__label {
      cursor: not-allowed;
    }
  }

  @include e(label) {
    @extend .text-label-sm;
    transition: .2s;
    height: var(--switch-height);
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    color: var(--color-text-high);

    @include when(active) {
      color: var(--color-text-high);
    }

    @include m(left) {
      margin-right: 10px;
    }
    @include m(right) {
      margin-left: 10px;
    }
    & * {
      @extend .text-size-sm;
      display: inline-block;
    }
  }

  @include e(input) {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
  }

  @include e(core) {
    margin: 0;
    display: inline-block;
    position: relative;
    width: var(--switch-width);
    height: var(--switch-height);
    border: 1px solid var(--switch-off-color);
    outline: none;
    border-radius: var(--switch-core-border-radius);
    box-sizing: border-box;
    background: var(--switch-off-color);
    cursor: pointer;
    transition: border-color .3s, background-color .3s;
    vertical-align: middle;

    &:after {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: var(--border-radius-circle);
      transition: all .3s;
      width: var(--switch-button-size);
      height: var(--switch-button-size);
      background-color: var(--bg-base);
    }
  }

  @include when(checked) {
    .el-switch__core {
      border-color: var(--switch-on-color);
      background-color: var(--switch-on-color);
      &::after {
        left: 100%;
        margin-left: calc(-1 * var(--switch-button-size) - 1px);
      }
    }
  }

  @include when(disabled) {
    opacity: 0.6;
  }

  @include m(wide) {
    .el-switch__label {
      &.el-switch__label--left {
        span {
          left: 10px;
        }
      }
      &.el-switch__label--right {
        span {
          right: 10px;
        }
      }
    }
  }

  & .label-fade-enter,
  & .label-fade-leave-active {
    opacity: 0;
  }
}
