@import "mixins/mixins";
@import "tag";
@import "common/variables";

@include b(table-column) {
  @include m(selection) {
    .cell {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}

@include b(table-filter) {
  border: solid 1px var(--border-color-base);
  border-radius: 2px;
  background-color: var(--bg-base);
  box-shadow: var(--dropdown-menu-box-shadow);
  box-sizing: border-box;
  margin: 2px 0;

  /** used for dropdown mode */
  @include e(list) {
    padding: 5px 0;
    margin: 0;
    list-style: none;
    min-width: 100px;
  }

  @include e(list-item) {
    @extend .text-body-sm;
    padding: 0 10px;
    cursor: pointer;

    &:hover {
      background-color: var(--dropdown-menuItem-hover-fill);
      color: var(--dropdown-menuItem-hover-color);
    }

    @include when(active) {
      background-color: var(--bg-offset100);
      color: var(--color-text-high-inverted);
    }
  }

  @include e(content) {
    min-width: 100px;
  }

  @include e(bottom) {
    border-top: 1px solid var(--border-color-base);
    padding: 8px;

    button {
      @extend .text-size-xs;
      background: transparent;
      border: none;
      color: var(--color-text-high);
      cursor: pointer;
      padding: 0 3px;

      &:hover {
        color: var(--color-text-high);
      }

      &:focus {
        outline: none;
      }

      &.is-disabled {
        color: var(--disabled-color-base);
        cursor: not-allowed;
      }
    }
  }

  @include e(wrap) {
    max-height: 280px;
  }

  @include e(checkbox-group) {
    padding: 10px;

    label.el-checkbox {
      display: block;
      margin-right: 5px;
      margin-bottom: 8px;
      margin-left: 5px;
    }

    .el-checkbox:last-child {
      margin-bottom: 0;
    }
  }
}
