@import "mixins/mixins";
@import "tag";
@import "tooltip";
@import "common/variables";

.el-table,
.video-item,
.el-table *:before {
  --table-border-color: var(--fg-offset95);
  --table-border: 1px solid var(--table-border-color);
  --table-font-color: var(--color-text-med);
  --table-header-color: var(--color-text-med);
  --table-header-row-box-shadow: inset 0 1px 0 var(--color-divider-mid);
  --table-row-box-shadow: inset 0 1px 0 var(--color-divider-low);
  --table-row-hover-background-color: var(--bg-offset3);
  --table-row-hover-focus-background-color: var(--bg-offset10);
  --table-row-focus-background-color: var(--bg-offset3);
  --table-current-row-background-color: var(--bg-offset5);
  --table-header-background-color: var(--bg-base);
  --table-fixed-box-shadow: 0 0 10px #{getDarkHSLA(.12)};
}

@include b(table) {
  @extend .text-size-xs;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  max-width: 100%;
  background-color: var(--bg-base);
  color: var(--table-font-color);
  line-height: .67;

  .inactive-row,
  a[role=button] .icon {
    pointer-events: none;
  }

  a {
    &:active,
    &:focus:active,
    &.index-negative:focus {
      outline: none !important;
    }
  }

  @include e(empty-block) {
    min-height: 60px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include e(empty-text) {
    // min-height doesn't work in IE10 and IE11 https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items
    // set empty text line height up to container min-height as workaround.
    line-height: initial;
    width: auto;
    color: var(--color-text-med);
  }

  @include e(expand-column) {
    .cell {
      padding: 0;
      text-align: center;
    }
  }

  @include e(expand-icon) {
    @extend .text-size-xxs;
    position: relative;
    cursor: pointer;
    color: var(--color-text-sm-low);
    transition: transform 0.2s ease-in-out;
    height: 20px;

    @include m(expanded) {
      transform: rotate(90deg);
    }

    > .el-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -5px;
      margin-top: -5px;
    }
  }

  @include e(expanded-cell) {
    background-color: var(--bg-base);

    &[class*=cell] {
      padding: 20px 50px;
    }

    &:hover {
      background-color: transparent !important;
    }
  }

  @include e(placeholder) {
    display: inline-block;
    width: 20px;
  }

  @include e(append-wrapper) {
    overflow: hidden;
  }

  @include m(fit) {
    border-right: 0;
    border-bottom: 0;

    th.gutter, td.gutter {
      border-right-width: 1px;
    }
  }

  @include m(scrollable-x) {
    .el-table__body-wrapper {
      overflow-x: auto;
    }
  }

  @include m(scrollable-y) {
    .el-table__body-wrapper {
      overflow-y: auto;
    }
  }

  thead {
    color: var(--table-header-font-color);
    font-weight: 500;

    &.is-group {
      th {
        background: var(--background-color-base);
      }
    }
  }

  th,
  td {
    padding: 12px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;

    @include when(center) {
      text-align: center;
    }

    @include when(right) {
      text-align: right;
    }

    &.gutter {
      width: 15px;
      border-right-width: 0;
      border-bottom-width: 0;
      padding: 0;
    }

    &.is-hidden {
      > * {
        visibility: hidden;
      }
    }
  }

  @include m(medium) {
    th, td {
      padding: 10px 0;
    }
  }

  @include m(small) {
    @extend .text-size-xxs;
    th, td {
      padding: 8px 0;
    }
  }

  @include m(mini) {
    @extend .text-size-xxs;
    th, td {
      padding: 6px 0;
    }
  }

  tr {
    position: relative;
    background-color: var(--bg-base);
    box-shadow: var(--table-row-box-shadow);

    &.no-border {
      box-shadow: none;

      td {
        box-shadow: none;
      }
    }

    input[type="checkbox"] {
      margin: 0;
    }

    &:first-of-type {
      box-shadow: var(--table-header-row-box-shadow);
    }
  }

  th.is-sortable {
    cursor: pointer;
  }

  th {
    overflow: hidden;
    user-select: none;
    background-color: var(--table-header-background-color);
    padding-bottom: 18px;

    > .cell {
      box-sizing: border-box;
      position: relative;
      vertical-align: middle;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      color: var(--color-text-med);
      display: flex;
      justify-content: flex-start;

      &,
      span {
        @extend .text-label-xs;
      }

      &.highlight {
        color: var(--color-text-med);
      }

      .overflow-text {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .caret-wrapper {
        display: inline-block;
      }
    }

    &.required > div::before {
      display: inline-block;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #ff4d51;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  td {
    border-color: var(--table-border-color);

    div {
      box-sizing: border-box;
    }

    &.gutter {
      width: 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: var(--table-row-hover-background-color);
      z-index: 0;
      pointer-events: none;
      opacity: 0;
    }

    &:first-of-type {
      &:before {
        left: 0;
        border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
      }
    }

    &:last-of-type {
      &:before {
        right: 0;
        border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
      }
    }
  }

  th,
  td {
    padding: 16px 0;
  }

  .cell {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 23px;
    padding-left: 10px;
    padding-right: 10px;
    word-break: break-word;

    .campaigns-admin & {
      word-break: normal;
      white-space: nowrap;
    }

    &.el-tooltip {
      white-space: nowrap;
      min-width: 50px;
    }
  }

  @include m((group, border)) {
    border: var(--table-border);

    @include share-rule(border-pseudo) {
      content: '';
      position: absolute;
      background-color: var(--table-border-color);
      z-index: 1;
    }

    &::after {
      @include extend-rule(border-pseudo);
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
    }
  }

  &::before {
    display: none;
  }

  // table--border
  @include m(border) {
    border-right: none;
    border-bottom: none;

    &.el-loading-parent--relative {
      border-color: transparent;
    }

    th, td {
      border-right: var(--table-border);

      &:first-child .cell {
        padding-left: 10px;
      }
    }

    th.gutter:last-of-type {
      border-bottom: var(--table-border);
      border-bottom-width: 1px;
    }

    & th {
      border-bottom: var(--table-border);
    }
  }

  @include m(hidden) {
    visibility: hidden;
  }

  @include e((fixed, fixed-right)) {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: var(--table-fixed-box-shadow);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--bg-offset5);
      z-index: 4;
    }
  }

  @include e(fixed-right-patch) {
    position: absolute;
    top: -1px;
    right: 0;
    background-color: var(--bg-base);
    border-bottom: var(--table-border);
  }

  @include e(fixed-right) {
    top: 0;
    left: auto;
    right: 0;

    .el-table__fixed-header-wrapper,
    .el-table__fixed-body-wrapper,
    .el-table__fixed-footer-wrapper {
      left: auto;
      right: 0;
    }
  }

  @include e(fixed-header-wrapper) {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
  }

  @include e(fixed-footer-wrapper) {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;

    & tbody td {
      border-top: var(--table-border);
      background-color: var(--table-row-hover-background-color);
      color: var(--table-font-color);
    }
  }

  @include e(fixed-body-wrapper) {
    position: absolute;
    left: 0;
    top: 37px;
    overflow: hidden;
    z-index: 3;
  }

  @include e((header-wrapper, body-wrapper, footer-wrapper)) {
    width: 100%;
  }

  @include e(footer-wrapper) {
    margin-top: -1px;
    td {
      border-top: var(--table-border);
    }
  }

  @include e((header, body, footer)) {
    table-layout: fixed;
    border-collapse: separate;
  }

  @include e((header-wrapper, footer-wrapper)) {
    overflow: hidden;

    & tbody td {
      background-color: var(--table-row-hover-background-color);
      color: var(--table-font-color);
    }
  }

  @include e(body-wrapper) {
    overflow: hidden;
    position: relative;

    @include when(scrolling-none) {
      ~ .el-table__fixed,
      ~ .el-table__fixed-right {
        box-shadow: none;
      }
    }

    @include when(scrolling-left) {
      ~ .el-table__fixed {
        box-shadow: none;
      }
    }

    @include when(scrolling-right) {
      ~ .el-table__fixed-right {
        box-shadow: none;
      }
    }

    .el-table--border {
      @include when(scrolling-right) {
        ~ .el-table__fixed-right {
          border-left: var(--table-border);
        }
      }

      @include when(scrolling-left) {
        ~ .el-table__fixed {
          border-right: var(--table-border);
        }
      }
    }
  }

  .caret-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;
    height: 16px;
    width: 16px;
    margin: 0 0 0 10px;
    background-color: var(--bg-offset20);
    -webkit-mask: url('./../../images/top-arrow.svg') no-repeat 50% 50%;
    mask: url('./../../images/top-arrow.svg') no-repeat 50% 50%;
  }

  .sort-caret {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    position: absolute;
    left: 7px;

    &.ascending {
      border-bottom-color: var(--color-text-placeholder);
      top: 5px;
    }

    &.descending {
      border-top-color: var(--color-text-placeholder);
      bottom: 7px;
    }
  }

  .ascending .sort-caret.ascending {
    border-bottom-color: var(--color-text-med);
  }

  .descending {
    .sort-caret.descending {
      border-top-color: var(--color-text-med);
    }

    .caret-wrapper {
      transform: rotate(180deg);
    }
  }

  .descending,
  .ascending {
    &.sort-caret {
      display: none;
    }

    .caret-wrapper {
      background-color: var(--bg-offset100);
    }
  }

  .hidden-columns {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  @include m(striped) {
    & .el-table__body {
      & tr.el-table__row--striped {
        td {
          background: var(--color-gray-98);
        }

        &:focus {
          td {
            background-color: var(--table-row-focus-background-color);
          }

          &:hover {
            td {
              background-color: transparent;
            }
          }
        }

        &.current-row td {
          background-color: transparent;
        }
      }
    }
  }

  @include e(body) {
    tr.hover-row {
      &, &.el-table__row--striped {
        &, &:focus {
          > td {
            background-color: var(--table-row-hover-background-color);
          }
        }
      }
    }

    tr:focus {
      > td {
        border-color: transparent;
        background-color: transparent;

        &:before {
          color: var(--fgcolor-blue);
          border-top: var(--table-row-border-radius) solid currentColor;
          border-bottom: var(--table-row-border-radius) solid currentColor;
          opacity: 1;
        }

        &:first-of-type {
          &:before {
            border-left: var(--table-row-border-radius) solid currentColor;
          }
        }

        &:last-of-type {
          &:before {
            border-right: var(--table-row-border-radius) solid currentColor;
          }
        }
      }
    }

    tr.current-row,
    tr:focus:hover {
      > td {
        &:before {
          --base-hue: var(--hue-blue);
          --base-sat: var(--sat-high);

          background-color: var(--table-current-row-background-color);
          border-color: transparent !important;
        }
      }

      &:hover {
        > td {
          &:before {
            background-color: var(--table-row-hover-focus-background-color);
          }
        }
      }
    }
  }

  @include e(column-resize-proxy) {
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    width: 0;
    border-left: var(--table-border);
    z-index: 10;
  }

  @include e(column-filter-trigger) {
    display: inline-block;
    line-height: 34px;
    cursor: pointer;

    & i {
      @extend .text-size-xxs;
      color: var(--color-text-sm-low);
      transform: scale(.75);
    }
  }

  @include m(enable-row-transition) {
    .el-table__body td {
      transition: background-color .25s ease;
    }
  }

  @include m(enable-row-hover) {
    .el-table__body tr:hover > td {
      background-color: transparent;
    }

    tr {
      &:focus {
        outline: none;

        &,
        & + tr {
          box-shadow: none;
        }
      }

      &:hover {
        &,
        & + tr {
          box-shadow: none;
        }

        &,
        td {
          background-color: transparent;
          border-bottom-color: transparent;

          &:before {
            opacity: 1;
          }
        }
      }

      &:first-of-type {
        &:hover {
          &,
          td {
            &:before {
              top: 0;
            }
          }
        }
      }
    }
  }

  @include m(fluid-height) {
    .el-table__fixed,
    .el-table__fixed-right {
      bottom: 0;
      overflow: hidden;
    }
  }

  [class*=el-table__row--level] {
    .el-table__expand-icon {
      display: inline-block;
      width: 20px;
      line-height: 20px;
      height: 20px;
      text-align: center;
      margin-right: 3px;
    }
  }
}
