@import "common/variables";
@import "./date-picker/picker.scss";
@import "./date-picker/date-picker.scss";
@import "./scrollbar.scss";
@import "./popper";

.time-select {
  margin: 5px 0;
  min-width: 0;
}

.time-select .el-picker-panel__content {
  max-height: 200px;
  margin: 0;
}

.time-select-item {
  @extend .text-body-xs;
  padding: 8px 10px;
}

.time-select-item.selected:not(.disabled) {
  color: var(--color-text-med);
  font-weight: bold;
}

.time-select-item.disabled {
  color: var(--datepicker-border-color);
  cursor: not-allowed;
}

.time-select-item:hover {
  background-color: var(--background-color-base);
  font-weight: bold;
  cursor: pointer;
}
