@import "mixins/mixins";
@import "common/variables";

@include b(upload) {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  outline: none;
  @include e(input) {
    display: none;
  }

  @include e(tip) {
    @extend .text-size-xxs;
    color: var(--color-text-med);
    margin-top: 7px;
  }

  iframe {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  @include m(picture-card) {
    background-color: var(--gray95);
    border: 1px dashed var(--gray80);
    border-radius: 6px;
    box-sizing: border-box;
    width: 148px;
    height: 148px;
    cursor: pointer;
    line-height: 146px;
    vertical-align: top;

    i {
      @extend .text-size-md;
      color: var(--color-gray-40);
    }

    &:hover {
      border-color: var(--color-text-med);
      color: var(--color-text-med);
    }
  }
  &:focus {
    border-color: var(--color-text-med);
    color: var(--color-text-med);

    .el-upload-dragger {
      border-color: var(--color-text-med);
    }
  }
}

@include b(upload-dragger) {
  background-color: var(--bg-base);
  border: 1px dashed var(--gray90);
  border-radius: 6px;
  box-sizing: border-box;
  width: 360px;
  height: 180px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  .el-icon-upload {
    @extend .text-size-xl;
    color: var(--color-text-placeholder);
    margin: 40px 0 16px;
  }

  + .el-upload__tip {
    text-align: center;
  }

  ~ .el-upload__files {
    border-top: var(--border-base);
    margin-top: 7px;
    padding-top: 5px;
  }

  .el-upload__text {
    @extend .text-size-xs;
    color: var(--color-text-med);
    text-align: center;

    em {
      color: var(--color-text-med);
      font-style: normal;
    }
  }

  &:hover {
    border-color: var(--color-text-med);
  }

  @include when(dragover) {
    background-color: getDarkHSLA(.06);
    border: 2px dashed var(--color-text-med);
  }
}

@include b(upload-list) {
  margin: 0;
  padding: 0;
  list-style: none;

  @include e(item) {
    @extend .text-size-xs;
    transition: all .5s cubic-bezier(.55,0,.1,1);
    color: var(--color-text-med);
    margin-top: 5px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;

    .el-progress {
      position: absolute;
      top: 20px;
      width: 100%;
    }

    .el-progress__text {
      position: absolute;
      right: 0;
      top: -13px;
    }

    .el-progress-bar {
      margin-right: 0;
      padding-right: 0;
    }

    &:first-child {
      margin-top: 10px;
    }

    & .el-icon-upload-success {
      color: var(--color-success);
    }

    .el-icon-close {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      opacity: .75;
      color: var(--color-text-med);

      &:hover {
        opacity: 1;
      }
    }

    & .el-icon-close-tip {
      @extend .text-size-xxs;
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      opacity: 1;
      color: var(--color-text-med);
    }

    &:hover {
      background-color: var(--background-color-base);

      .el-icon-close {
        display: inline-block;
      }

      .el-progress__text {
        display: none;
      }
    }

    @include when(success) {
      .el-upload-list__item-status-label {
        display: block;
      }

      .el-upload-list__item-name:hover, .el-upload-list__item-name:focus {
        --hue-base: var(--hue-blue);
        cursor: pointer;
      }

      &:focus:not(:hover) {
        .el-icon-close-tip {
          display: inline-block;
        }
      }

      &:not(.focusing):focus, &:active {
        outline-width: 0;
        .el-icon-close-tip {
          display: none;
        }
      }

      &:hover, &:focus {
        .el-upload-list__item-status-label {
          display: none;
        }
      }
    }
  }

  @include when(disabled) {
    .el-upload-list__item:hover .el-upload-list__item-status-label {
      display: block;
    }
  }

  @include e(item-name) {
    color: var(--color-text-med);
    display: block;
    margin-right: 40px;
    overflow: hidden;
    padding-left: 4px;
    text-overflow: ellipsis;
    transition: color .3s;
    white-space: nowrap;

    [class^="el-icon"] {
      height: 100%;
      margin-right: 7px;
      color: var(--color-text-secondary);
      line-height: inherit;
    }
  }

  @include e(item-status-label) {
    position: absolute;
    right: 5px;
    top: 0;
    line-height: inherit;
    display: none;
  }

  @include e(item-delete) {
    @extend .text-size-xxs;
    position: absolute;
    right: 10px;
    top: 0;
    color: var(--color-text-med);
    display: none;

    &:hover {
      color: var(--color-text-med);
    }
  }

  @include m(picture-card) {
    margin: 0;
    display: inline;
    vertical-align: top;

    .el-upload-list__item {
      overflow: hidden;
      background-color: var(--bg-base);
      border: 1px solid var(--color-gray-40);
      border-radius: 6px;
      box-sizing: border-box;
      width: 148px;
      height: 148px;
      margin: 0 8px 8px 0;
      display: inline-block;

      .el-icon-check,
      .el-icon-circle-check {
        color: var(--color-text-high-inverted);
      }

      .el-icon-close {
        display: none;
      }
      &:hover {
        .el-upload-list__item-status-label {
          display: none;
        }

        .el-progress__text {
          display: block;
        }
      }
    }

    .el-upload-list__item-name {
      display: none;
    }

    .el-upload-list__item-thumbnail {
      width: 100%;
      height: 100%;
    }

    .el-upload-list__item-status-label {
      position: absolute;
      right: -15px;
      top: -6px;
      width: 40px;
      height: 24px;
      background: var(--color-success);
      text-align: center;
      transform: rotate(45deg);
      box-shadow: 0 0 1pc 1px getDarkHSLA(.2);

      i {
        @extend .text-size-xxs;
        margin-top: 11px;
        transform: rotate(-45deg);
      }
    }

    .el-upload-list__item-actions {
      @extend .text-size-sm;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: default;
      text-align: center;
      color: var(--color-text-high-inverted);
      opacity: 0;
      background-color: getDarkHSLA(.5);
      transition: opacity .3s;

      &::after {
        display: inline-block;
        content: "";
        height: 100%;
        vertical-align: middle
      }

      span {
        display: none;
        cursor: pointer;
      }

      span + span {
        margin-left: 15px;
      }

      .el-upload-list__item-delete {
        position: static;
        font-size: inherit;
        color: inherit;
      }

      &:hover {
        opacity: 1;
        span {
          display: inline-block;
        }
      }
    }

    .el-progress {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: auto;
      width: 126px;

      .el-progress__text {
        top: 50%;
      }
    }
  }

  @include m(picture) {
    .el-upload-list__item {
      overflow: hidden;
      z-index: 0;
      background-color: var(--bg-base);
      border: 1px solid var(--color-gray-40);
      border-radius: 6px;
      box-sizing: border-box;
      margin-top: 10px;
      padding: 10px 10px 10px 90px;
      height: 92px;

      .el-icon-check,
      .el-icon-circle-check {
        color: var(--color-text-high-inverted);
      }

      &:hover {
        .el-upload-list__item-status-label {
          background: transparent;
          box-shadow: none;
          top: -2px;
          right: -12px;
        }

        .el-progress__text {
          display: block;
        }
      }

      &.is-success {
        .el-upload-list__item-name {
          line-height: 70px;
          margin-top: 0;
          i {
            display: none;
          }
        }
      }
    }

    .el-upload-list__item-thumbnail {
      vertical-align: middle;
      display: inline-block;
      width: 70px;
      height: 70px;
      float: left;
      position: relative;
      z-index: 1;
      margin-left: -80px;
      background-color: var(--color-whit);
    }

    .el-upload-list__item-name {
      display: block;
      margin-top: 20px;

      i {
        @extend .text-size-xxl;
        position: absolute;
        left: 9px;
        top: 10px;
      }
    }

    .el-upload-list__item-status-label {
      position: absolute;
      right: -17px;
      top: -7px;
      width: 46px;
      height: 26px;
      background: var(--color-success);
      text-align: center;
      transform: rotate(45deg);
      box-shadow: 0 1px 1px var(--color-gray-40);

      i {
        @extend .text-size-xxs;
        margin-top: 12px;
        transform: rotate(-45deg);
      }
    }

    .el-progress {
      position: relative;
      top: -7px;
    }
  }
}

@include b(upload-cover) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  cursor: default;
  @include utils-vertical-center;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include e(label) {
    position: absolute;
    right: -15px;
    top: -6px;
    width: 40px;
    height: 24px;
    background: var(--color-success);
    text-align: center;
    transform: rotate(45deg);
    box-shadow: 0 0 1pc 1px getDarkHSLA(.2);

    i {
      @extend .text-size-xxs;
      margin-top: 11px;
      transform: rotate(-45deg);
      color: var(--color-text-high-inverted);
    }
  }

  @include e(progress) {
    display: inline-block;
    vertical-align: middle;
    position: static;
    width: 243px;

    + .el-upload__inner {
      opacity: 0;
    }
  }

  @include e(content) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include e(interact) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: getDarkHSLA(.72);
    text-align: center;

    .btn {
      @extend .text-size-xs;
      display: inline-block;
      color: var(--color-text-high-inverted);
      cursor: pointer;
      vertical-align: middle;
      transition: $--md-fade-transition;
      margin-top: 60px;

      i {
        margin-top: 0;
      }

      span {
        opacity: 0;
        transition: opacity .15s linear;
      }

      &:not(:first-child) {
        margin-left: 35px;
      }

      &:hover {
        transform: translateY(-13px);

        span {
          opacity: 1;
        }
      }

      i {
        @extend .text-size-md;
        color: var(--color-text-high-inverted);
        display: block;
        margin: 0 auto 5px;
      }
    }
  }

  @include e(title) {
    @extend .text-body-xs;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--bg-base);
    height: 36px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    text-align: left;
    padding: 0 10px;
    margin: 0;
    color: var(--color-text-med);
  }

  + .el-upload__inner {
    opacity: 0;
    position: relative;
    z-index: 1;
  }
}
