<template>
  <span
    class="status-badge"
    :class="`status-badge--${type}`"
  >
    {{ value }}
  </span>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'StatusBadge',

    /**
     * Component props
     */
    props: {
      /**
       * Component content value
       */
      value: {
        type: String,
        default: ''
      },

      /**
       * Component types (success, warning etc)
       */
      type: {
        type: String,
        default: 'default'
      }
    }
  };
</script>
