<template>
  <layout-main menu="creatives">
    <div class="page">
      <div class="page__header">
        <h1>{{ $trans('creative::content.creative_gallery') }}</h1>
      </div>
      <div class="page__holder level-negative-1">
        <div class="creatives">
          <div class="creatives__holder level-default">
            <module-creative
              table-name="creatives-gallery"
              :show-table-sub-title="true"
              :use-routing="true"
            />
          </div>
        </div>
      </div>
    </div>
  </layout-main>
</template>

<script>
  import LayoutMain from 'Foundation/layouts/LayoutMain';
  import ModuleCreative from '../components/ModuleCreative';

  export default {
    /**
     * Name
     */
    name: 'TheCreativesIndex',

    /**
     * Components
     */
    components: {
      LayoutMain,
      ModuleCreative
    }
  };
</script>
