<template>
  <status-badge
    :value="cellText"
    :type="type"
  />
</template>

<script>
  import CellMixin from 'Foundation/mixins/CellMixin';

  export default {
    /**
     * Component name
     */
    name: 'StatusCell',

    /**
     * Mixins.
     */
    mixins: [CellMixin],

    /**
     * Component data.
     */
    data () {
      return {
        typeStatusMapping: {
          'default': ['create_in_progress'],
          'success' : ['approved', 'active'],
          'info': ['ready'],
          'warning': ['incomplete', 'pending_manual_review'],
          'danger': ['inactive_unpaid'],
        }
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Cell text
       */
      cellText () {
        return this.$trans(`user::labels.statuses.${this.formattedCellValue}`);
      }
    },
  };
</script>
