<template>
  <div class="campaigns campaigns-admin">
    <div class="campaigns__holder level-default">
      <data-table
        ref="dataTable"
        :title="$trans('campaign::labels.campaigns')"
        :search-placeholder="$trans('campaign::labels.search_campaign_placeholder')"
        :additional-columns="additionalColumns"
        :show-sub-title="false"
        name="admin-campaigns"
        order-by="live_status"
        order-dir="descending"
        @row-click="handleRowClick"
      >
        <template slot="banner">
          <campaigns-banner />
        </template>
        <template
          slot="filters"
          slot-scope="props"
        >
          <status-filter
            :disabled="props.disabled"
            placeholder="Campaign Status"
            @change="props.change"
          />
        </template>

        <!-- CAMPAIGN ID -->
        <data-table-column
          prop="id"
          width="65"
          :label="$trans('campaign::labels.campaign_id')"
          :searchable="true"
        >
          <url-cell
            slot-scope="scope"
            :cell-url="$getRoute('campaigns.show', { campaign: scope.row.id })"
            :cell-value="scope.row.id"
            @click="showCampaignDetails(scope.row.id, scope.row.name)"
          />
        </data-table-column>

        <!-- ORDER ID -->
        <data-table-column
          prop="order_id"
          width="125"
          :label="$trans('campaign::labels.order_id')"
          :searchable="true"
        />

        <!-- CAMPAIGN NAME -->
        <data-table-column
          prop="name"
          :label="$trans('labels.name')"
        />

        <!-- ADVERTISER BUSINESS NAME -->
        <data-table-column
          prop="company_name"
          :label="$trans('labels.advertiser')"
        >
          <url-cell
            slot-scope="scope"
            tabindex="0"
            :cell-url="$getRoute('advertisers.show', {advertiser: scope.row.company_id})"
            :cell-value="scope.row.company_name"
            :reflect-disabled-to-row="false"
            @click="$redirect"
          />
        </data-table-column>

        <!-- ORDER DATE -->
        <data-table-column
          prop="order_date"
          width="150"
          :label="$trans('labels.submit_date')"
          :searchable="false"
        >
          <date-cell
            slot-scope="scope"
            :extra-class="scope.row.campaign_status === 'draft' ? 'text-muted' : ''"
            :cell-value="scope.row.order_date"
            :client-timezone="true"
          />
        </data-table-column>

        <!-- BUDGET -->
        <data-table-column
          prop="budget"
          width="110"
          :label="$trans('campaign::labels.budget')"
          :searchable="false"
        >
          <money-cell
            slot-scope="scope"
            :cell-value="scope.row.budget"
          />
        </data-table-column>

        <!-- START DATE -->
        <data-table-column
          prop="date_start"
          width="140"
          :label="$trans('campaign::labels.start_date')"
          :searchable="false"
        >
          <date-cell
            slot-scope="scope"
            :cell-value="scope.row.date_start"
          />
        </data-table-column>

        <!-- END DATE -->
        <data-table-column
          prop="date_end"
          width="130"
          :label="$trans('campaign::labels.end_date')"
          :searchable="false"
        >
          <date-cell
            slot-scope="scope"
            :cell-value="scope.row.date_end"
          />
        </data-table-column>

        <!-- CAMPAIGN STATUS -->
        <data-table-column
          :label="$trans('campaign::labels.status')"
          prop="campaign_status"
          width="210"
          :searchable="false"
        >
          <status-cell
            slot-scope="scope"
            :cell-value="scope.row.campaign_status"
          />
        </data-table-column>
      </data-table>
    </div>
  </div>
</template>

<script>
  import CampaignTable from '../../index/CampaignTable';
  import CampaignsBanner from './AdminCampaignsBanner';

  export default {
    /**
     * Name of the component.
     */
    name: 'AdminCampaignTable',

    /**
     * Child components.
     */
    components: {
      CampaignsBanner,
    },

    /**
     * Extend the component.
     */
    extends: CampaignTable,

    /**
     * Data attributes
     */
    data () {
      return {
        /**
         * Additional columns
         */
        additionalColumns: [
          {
            prop: 'live_status',
            data: 'live_status',
            orderable: true,
            searchable: false,
          },
        ],
      };
    },
  };
</script>
