<template>
  <campaigns-banner
    :display-button="false"
    :title="$trans('campaign::messages.there_are_no_campaigns')"
  />
</template>

<script>
  import CampaignsBanner from '../../index/banner/CampaignsBanner';

  export default {
    /**
     * Component name
     */
    name: 'AdminCampaignsBanner',

    /**
     * Child components.
     */
    components: {
      CampaignsBanner,
    },
  };
</script>
