<template>
  <div>
    <el-button
      @click="faqQuestion = true"
    >
      FAQ Question popup
    </el-button>
    <div class="faq-section-form">
      <modal
        title="FAQ Question popup"
        :visible.sync="faqQuestion"
        :custom-class="'popup-faq el-dialog--actions-column-reverse'"
        width="688px"
      >
        <p class="text-label-xs-semibold-caps text-right">
          <a
            v-if="id"
            href="#"
            @click.prevent="deleteVisible = true"
          >
            {{ $trans('faq.labels.remove_question') }}
          </a>
        </p>
        <select-field
          ref="section"
          v-model="section"
          :label="$trans('faq.labels.form.section')"
          :placeholder="$trans('faq.labels.placeholders.select_section')"
          :options="formattedSectionOptions"
          :validation="validationRules.faq.item.section_id"
          name="section"
          size="medium"
          scope="item"
        />
        <number-field
          ref="itemOrder"
          v-model="position"
          :label="$trans('faq.labels.form.item_placement_order')"
          :placeholder="$trans('faq.labels.placeholders.enter_item_placement_order')"
          :validation="validationRules.faq.item.position"
          name="position"
          size="medium"
          scope="item"
        />
        <text-field
          ref="question"
          v-model="question"
          :label="$trans('faq.labels.form.question')"
          :placeholder="$trans('faq.labels.placeholders.enter_question')"
          :validation="validationRules.faq.item.question"
          name="question"
          size="medium"
          scope="item"
          @input="onFormChange"
        />
        <editor
          ref="answer"
          v-model="answer"
          name="answer"
          :label="$trans('faq.labels.form.answer')"
          scope="item"
          :placeholder="$trans('faq.labels.placeholders.enter_question')"
          :validation="validationRules.faq.item.answer"
        />
      </modal>
      <delete-dialog
        :visible="deleteVisible"
        :title="$trans('faq.labels.remove.title')"
        :message="$trans('faq.labels.remove.message')"
        :description="$trans('faq.labels.remove.description')"
        @close="deleteVisible = false"
        @submit="onDeleteItem()"
      />
    </div>
  </div>
</template>

<script>
  import Modal from 'Foundation/components/layout/modal/Modal';
  import TextField from 'Foundation/components/form/TextField';
  import SelectField from 'Foundation/components/form/SelectField';
  import Editor from 'Foundation/components/wysiwyg/Editor';
  import DeleteDialog from "Foundation/components/form/dialogs/DeleteDialog";
  import NumberField from 'Foundation/components/form/NumberField';

  export default {
    name: 'FaqQuestion',
    components: {
      NumberField,
      DeleteDialog,
      Editor,
      SelectField,
      TextField,
      Modal
    },
    data() {
      return {
        faqQuestion: false
      };
    }
  };
</script>
