<template>
  <div>
    <el-button
      @click="faqSection = true"
    >
      FAQ Section popup
    </el-button>
    <div class="faq-section-form">
      <modal
        title="FAQ Section popup"
        :visible.sync="faqSection"
        :custom-class="'popup-faq el-dialog--actions-column-reverse fff'"
        width="688px"
      >
        <div>
          <text-field
            label="Section title"
            placeholder="Enter section title"
            name="title"
            size="medium"
            scope="section"
          />
          <number-field
            ref="sectionOrder"
            v-model="position"
            label="Section order"
            placeholder="Enter section order"
            name="position"
            size="medium"
            scope="section"
          />
          <text-area-field
            ref="description"
            label="Description"
            placeholder="Enter description here"
            name="description"
            size="medium"
            scope="section"
          />
          <text-field
            ref="cta"
            label="CTA button"
            placeholder="Enter button label"
            name="cta"
            size="medium"
            scope="section"
          />
          <image-upload
            ref="image"
            :image-path="imagePath"
            scope="section"
            label="Image"
            name="image"
          />
        </div>
      </modal>
      <delete-dialog
        :visible="deleteVisible"
        :title="$trans('faq.labels.remove.title')"
        :message="$trans('faq.labels.remove.message')"
        :description="$trans('faq.labels.remove.description')"
        @close="deleteVisible = false"
        @submit="onDeleteSection()"
      />
    </div>
  </div>
</template>

<script>
  import Modal from 'Foundation/components/layout/modal/Modal';
  import TextField from 'Foundation/components/form/TextField';
  import TextAreaField from 'Foundation/components/form/TextAreaField';
  import ImageUpload from 'Foundation/components/form/ImageUpload';
  import DeleteDialog from "Foundation/components/form/dialogs/DeleteDialog";
  import NumberField from 'Foundation/components/form/NumberField';

  export default {
    name: 'FaqSection',
    components: {
      NumberField,
      DeleteDialog,
      TextField,
      Modal,
      ImageUpload,
      TextAreaField
    },
    data() {
      return {
        faqSection: false,
        activeName: 'first',
        activeSection: 'second',
        uploadSection: 'third'
      };
    }
  };
</script>
