<template>
  <div>
    <el-button
      @click="orderPopup = true"
    >
      Order Popup
    </el-button>
    <el-dialog
      width="1024px"
      :visible.sync="orderPopup"
      custom-class="popup-fullscreen order-popup not-pdf"
    >
      <template slot="title">
        <h2 class="text-subtitle-lg-semibold campaign-details__title">
          Order Confirmation #12344567
        </h2>
      </template>
      <div>
        <div
          class="popup-fullscreen__holder"
        >
          <div
            class="popup-fullscreen__panel"
          >
            <div
              class="popup-fullscreen__container order-popup__container"
            >
              <button
                type="button"
                class="order-popup__download-btn"
              >
                <svg
                  class="icon icon-download"
                >
                  <use xlink:href="../../../../../images/icons/symbol-defs.svg#icon-download" />
                </svg>
              </button>
            </div>
          </div>
          <div class="order-popup__main">
            <div class="popup-fullscreen__container order-popup__container">
              <div
                class="details"
              >
                <div class="order-popup__section order-popup__caption">
                  <el-row
                    :gutter="20"
                    class="order-popup__logo"
                  >
                    <el-col :span="24">
                      <img
                        src="../../../../../images/Logo.png"
                        alt="hulu Advertising"
                      >
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col :span="24">
                      <div class="message message--danger">
                        <div class="message__icon">
                          <svg
                            class="icon icon-alert-circle icon-danger"
                          >
                            <use xlink:href="../../../../../images/icons/symbol-defs.svg#icon-alert-circle" />
                          </svg>
                        </div>
                        <p class="message__descr">
                          Something's not right. Please review and update your credit information and try again. <br>
                          <a href="#">Update credit card.</a>
                        </p>
                      </div>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col :span="16">
                      <span class="text-label-xs-semibold-caps">Campaign details</span>
                    </el-col>
                    <el-col
                      :span="8"
                      class="text-right"
                    >
                      <span class="campaign-status tile-badge is-pending_approval">pending</span>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col :span="4">
                      Order ID:
                    </el-col>
                    <el-col :span="8">
                      <span class="text-body-sm">12344567</span>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col :span="4">
                      Order Date:
                    </el-col>
                    <el-col :span="8">
                      <span class="text-body-sm">Feb 11, 2019</span>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col :span="4">
                      Advertiser:
                    </el-col>
                    <el-col :span="8">
                      <span class="text-body-sm">Jeff’s Computer Repair</span>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col :span="4">
                      Campaign:
                    </el-col>
                    <el-col :span="8">
                      <span class="text-body-sm">Comcast NED 1Q 2019 | 221044</span>
                    </el-col>
                  </el-row>
                </div>
                <div class="order-popup__section">
                  <el-row :gutter="20">
                    <el-col :span="19">
                      <span class="text-label-xs-semibold-caps">Video Commercial</span>
                    </el-col>
                    <el-col
                      :span="5"
                      class="text-right"
                    >
                      <span class="text-label-xs-semibold-caps">Total budget</span>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col :span="4">
                      Date Range:
                    </el-col>
                    <el-col :span="8">
                      <span class="text-body-sm">12/31/2018 - 03/31/2019</span>
                    </el-col>
                    <el-col
                      :span="12"
                      class="text-right"
                    >
                      <span class="text-body-sm">$10,000.00</span>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col :span="4">
                      Impressions:
                    </el-col>
                    <el-col :span="8">
                      <span class="text-body-sm">1,000,000</span>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col :span="4">
                      Unit Cost:
                    </el-col>
                    <el-col :span="8">
                      <span class="text-body-sm">$10.00</span>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col :span="4">
                      Cost Method:
                    </el-col>
                    <el-col :span="8">
                      <span class="text-body-sm">CPM</span>
                    </el-col>
                  </el-row>
                </div>
                <div class="order-popup__section">
                  <el-row :gutter="20">
                    <el-col :span="19">
                      <span class="text-label-xs-semibold-caps">Transaction history</span>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col
                      :span="6"
                      class="order-popup__th"
                    >
                      Billing period
                    </el-col>
                    <el-col
                      :span="5"
                      class="order-popup__th"
                    >
                      Transaction ID
                    </el-col>
                    <el-col
                      :span="5"
                      class="order-popup__th"
                    >
                      Transaction Date
                    </el-col>
                    <el-col
                      :span="4"
                      class="order-popup__th"
                    >
                      Status
                    </el-col>
                    <el-col
                      :span="4"
                      class="order-popup__th"
                    >
                      Payment Amount
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col
                      :span="24"
                      class="order-popup__no-activity"
                    >
                      No activity yet
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col
                      :span="6"
                    >
                      03/01/2019 - 03/14/2019
                    </el-col>
                    <el-col
                      :span="5"
                    >
                      12341235
                    </el-col>
                    <el-col
                      :span="5"
                    >
                      03/14/2019
                    </el-col>
                    <el-col
                      :span="4"
                    >
                      Success
                    </el-col>
                    <el-col
                      :span="4"
                      class="text-right"
                    >
                      $4,000.00
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col
                      :span="6"
                    >
                      03/01/2019 - 03/14/2019
                    </el-col>
                    <el-col
                      :span="5"
                    >
                      12341235
                    </el-col>
                    <el-col
                      :span="5"
                    >
                      03/14/2019
                    </el-col>
                    <el-col
                      :span="4"
                    >
                      Success
                    </el-col>
                    <el-col
                      :span="4"
                      class="text-right"
                    >
                      $4,000.00
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col
                      :span="6"
                    >
                      03/01/2019 - 03/14/2019
                    </el-col>
                    <el-col
                      :span="5"
                    >
                      12341235
                    </el-col>
                    <el-col
                      :span="5"
                    >
                      03/14/2019
                    </el-col>
                    <el-col
                      :span="4"
                      class="text-danger"
                    >
                      Failed
                    </el-col>
                    <el-col
                      :span="4"
                      class="text-right text-danger"
                    >
                      $4,000.00
                    </el-col>
                  </el-row>
                </div>
                <div class="order-popup__section order-popup__footer">
                  <el-row :gutter="20">
                    <el-col
                      :span="5"
                      :offset="14"
                      class="text-right"
                    >
                      Paid Amount:
                    </el-col>
                    <el-col
                      :span="5"
                      class="text-right"
                    >
                      <span class="text-body-md">
                        $6,000.00
                      </span>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col :span="14">
                      Credit card will be charged on <span class="text-body-sm">01/06/2019</span>
                    </el-col>
                    <el-col
                      :span="5"
                      class="text-right"
                    >
                      Amount Due:
                    </el-col>
                    <el-col
                      :span="5"
                      class="text-right text-danger"
                    >
                      <span class="text-body-md">
                        $2,000.00
                      </span>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col :span="12">
                      <div class="payment-method__item">
                        <div class="payment-method__image">
                          <img
                            src="https://fr.tenstickers.lu/stickers/img/preview/sticker-silhouette-carte-visa-6645.png"
                            alt="Visa"
                          >
                        </div>
                        <span class="payment-method__name">
                          Visa ending in 2813
                        </span>
                        <span class="payment-method__exp">
                          02/20
                        </span>
                      </div>
                    </el-col>
                  </el-row>
                  <el-row :gutter="20">
                    <el-col
                      :span="12"
                      class="payment-method__text"
                    >
                      Total amount to be charged will be determined by the amount of billable impressions delivered through the end of the given bill cycle.
                    </el-col>
                  </el-row>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>

    export default {
        name: 'OrderPopup',

        data() {
            return {
              orderPopup: false,
            }
        }
    }

</script>
