<template>
  <div>
    <el-button
      @click="videoItemPopup = true"
    >
      Video Item Popup
    </el-button>

    <el-dialog
      :visible.sync="videoItemPopup"
      top="9vh"
      width="992px"
      custom-class="video-popup"
    >
      <div class="video-popup__frame video-popup__frame_empty">
        <div class="video-popup__icon">
          <svg
            class="icon icon-video-off"
          >
            <use xlink:href="../../../../../images/icons/symbol-defs.svg#icon-video-off" />
          </svg>
          <span>No video preview available</span>
        </div>
      </div>
      <div class="video-popup__status">
        <span class="campaign-status tile-badge is-ready">
          Ready
        </span>
      </div>
      <div class="video-popup__info">
        <div class="video-info">
          <span class="video-info__name">
            Creative Title
          </span>
          <ul class="video-info__list">
            <li class="video-info__list-item">
              .mp4
            </li>
            <li class="video-info__list-item">
              1.25 GB
            </li>
            <li class="video-info__list-item">
              00:00:17:800
            </li>
          </ul>
        </div>
      </div>
      <div class="video-popup__messages">
        <div class="message message--danger">
          <div class="message__icon">
            <svg
              class="icon icon-alert-circle icon-danger"
            >
              <use xlink:href="../../../../../images/icons/symbol-defs.svg#icon-alert-circle" />
            </svg>
          </div>
          <p class="message__descr">
            Warning, we’ve found some issues with your video creative. Please review the list below for how to
            fix the problems.
            <a href="#">Learn more.</a>
          </p>
        </div>
      </div>
      <div class="video-popup__descr">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, sint?
      </div>
    </el-dialog>
  </div>
</template>

<script>
    export default {
        name: 'VideoPopup',

        data() {
            return {
                videoItemPopup: false,
            }
        }
    }
</script>
