<template>
  <div
    class="el-form-item"
    :class="{ 'is-error' : hasError }"
  >
    <label
      :for="fieldId"
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <div class="el-form-item__content">
      <div
        class="el-input"
        :class="{'is-disabled' : value}"
      >
        <section
          v-if="!value"
          :id="fieldId"
          ref="field-wrapper"
          class="el-input__inner"
        />
        <el-input
          v-else
          :value="value"
          :disabled="true"
        />
      </div>
      <div
        v-if="hasError"
        class="el-form-item__error"
      >
        {{ validationMessage }}
      </div>
    </div>
  </div>
</template>

<script>

export default {
  /**
   * Name.
   */
  name: 'WorldPayField',

    /**
   * Props
   */
  props: {
    /**
     * Field id prop
     */
    fieldId: {
      type: String,
      default: null,
    },

    /**
     * Field label
     */
    label: {
      type: String,
      default: '',
    },

    /**
     * Field Validation message
     */
    validationMessage: {
      type: String,
      default: '',
    },

    /**
     * Field value
     */
    value: {
      type: String,
      default: null,
    }
  },

  /**
   * Component data
   */
  data () {
    return {
      hasError: false,
    }
  },

  /**
   * Mounted
   */
  mounted () {

    if (this.value) {
      return;
    }

    this.observer = new MutationObserver(mutations => {
      for (const m of mutations) {
        const newValue = m.target.getAttribute(m.attributeName);
        this.onClassChange(newValue);
      }
    });

    this.observer.observe(this.$refs['field-wrapper'], {
      attributes: true,
      attributeOldValue: true,
      attributeFilter: ['class'],
    });
  },

  /**
   * Before destroy hook
   */
  beforeDestroy () {
    if (!this.value) {
      this.observer.disconnect();
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * On field class change listener.
     */
    onClassChange (classAttrValue) {
        this.hasError = classAttrValue.split(' ').includes('is-invalid');
    },
  }
}
</script>
