<template>
  <modal
    :visible="visibleModal"
    :title="$trans('advertiser::labels.enable_special_ads_category')"
    :submit-label="$trans('actions.yes')"
    :cancel-label="$trans('actions.no')"
    :custom-class="'change-status'"
    :loading="changeAccountTypePending"
    :width="'488px'"
    @cancel="rollback"
    @close="rollback"
    @submit="updateAccountType(value)"
  >
    <div class="change-status__content">
      <p class="change-status__descr text-body-sm">
        {{ $trans('advertiser::messages.change_special_category_content') }}
      </p>
    </div>
  </modal>
</template>

<script>
import Modal from 'Foundation/components/layout/modal/Modal';
import {mapState} from "vuex";
import UpdateAccountType from "Modules/advertiser/components/show/mixins/UpdateAccountType";

export default {
  /**
   * Name.
   */
  name: 'ConfirmChangeAccountTypeModal',

  /**
   * Components.
   */
  components: {
    Modal,
  },

  /**
   * Mixins.
   */
  mixins: [
    UpdateAccountType
  ],

  /**
   * Props.
   */
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },

  /**
   * Reactive properties.
   * @returns {{}}
   */
  data () {
    return {
      /**
       * Is dialog visible
       */
      visibleModal: true,
    };
  },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Vuex (state).
     */
    ...mapState('show', [
      'advertiser',
      'changeAccountTypePending'
    ]),
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Rollback change account type.
     */
    rollback() {
      this.$emit('rollback');
    },
  }
}
</script>

