<template>
  <el-header
    class="header header--signup"
    height="var(--main-header-height)"
  >
    <div class="header__holder">
      <div @click="landing">
        <logo />
      </div>
      <el-menu
        class="el-menu navigation"
        mode="horizontal"
        :class="{ 'menu-opened': menuOpened }"
      >
        <el-menu-item
          v-for="(item, key) in navigation"
          :key="key"
          :class="item.children ? 'has-dropdown' : ''"
          :index="key.toString()"
        >
          <div
            v-if="item.children"
            class="dropdown-dark"
          >
            <a :href="item.href">
              {{ item.label }}
              <i class="el-icon-arrow-down el-icon--right" />
            </a>
            <ul class="dropdown-dark__submenu">
              <li
                v-for="(subItem, subKey) in item.children"
                :key="key + '_' + subKey"
              >
                <a :href="subItem.href">
                  {{ subItem.label }}
                </a>
              </li>
            </ul>
          </div>
          <a
            v-else
            :href="item.href"
          >
            {{ item.label }}
          </a>
        </el-menu-item>
      </el-menu>
      <div
        class="header__auth"
      >
        <el-button
          v-show="showSignUpButton"
          @click="register"
        >
          {{ $trans('actions.sign_up_today') }}
        </el-button>
        <el-button
          v-show="showLoginButton"
          type="text"
          @click="login"
        >
          {{ $trans('actions.log_in') }}
        </el-button>

        <!--Toggle mobile button-->
        <el-button
          type="text"
          class="toggle-mobile"
          :class="{ 'menu-opened': menuOpened }"
          @click="openMenu"
        >
          <span class="line" />
          <span class="line" />
          <span class="line" />
        </el-button>
      </div>
    </div>
  </el-header>
</template>

<script>
  import Logo from 'Foundation/components/layout/logos/Logo';
  import GuestLayoutLinks from "Foundation/components/layout/header/mixins/GuestLayoutLinks";

  export default {
    name: 'HeaderGuest',

    components: {
      Logo,
    },

    mixins: [
      GuestLayoutLinks
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Verify if the Sign-Up Button should be shown.
       */
      showSignUpButton: {
        type: Boolean,
        default: true,
      },

      /**
       * Verify if the Login Button should be shown.
       */
      showLoginButton: {
        type: Boolean,
        default: true,
      },
    },

    data () {
      return {
        menuOpened: false
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      navigation () {
        return [
          {
            href: this.howItWorksLink,
            label: this.$trans('creative::content.how_it_works'),
          },
          {
            href: this.successStoriesLink,
            label: this.$trans('creative::content.success_stories'),
          },
          {
            href: this.resourcesLink,
            label: this.$trans('creative::content.resources'),
            children: [
              {
                href: this.insightsLink,
                label: this.$trans('creative::content.insights'),
              },
              {
                href: this.creativeHubLink,
                label: this.$trans('creative::content.creative_hub'),
              }
            ]
          },
          {
            href: this.faqLink,
            label: this.$trans('faq.labels.faq'),
          },
        ];
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Register link.
       */
      register () {
        this.$redirectToRoute('register.form');
      },

      /**
       * Login link.
       */
      login () {
        this.$redirectToRoute('login.form');
      },

      /**
       * Landing link.
       */
      landing () {
        this.$redirectToRoute('landing');
      },


      openMenu() {
        this.menuOpened = !this.menuOpened;
      },
    },

  };
</script>
