<template>
  <div class="notifications">
    <div class="budget-tooltip">
      <span
        class="budget-code profile-status"
      >
        <status-badge
          :value="$trans('labels.account_pending')"
          type="warning"
          class="is-interactive"
        />
        <div class="budget-tooltip__popover status-info">
          <p
            class="text-body-xs"
            v-html="$trans('user::messages.profile.pending_info')"
          />
        </div>
      </span>
    </div>
  </div>
</template>

<script>
  import CellMixin from "Foundation/mixins/CellMixin";

  export default {
    /**
     * Component name
     */
    name: 'ProfileStatus',

    /**
     * Mixins.
     */
    mixins: [CellMixin],
  };
</script>
