<template>
  <el-footer
    class="footer"
    height="88px"
  >
    <div class="footer__holder">
      <a
        href="https://secure.hulu.com/terms"
        class="footer__terms"
        target="_blank"
      >
        <small>Terms & Conditions</small>
      </a>
      <a
        href="https://secure.hulu.com/privacy"
        class="footer__privacy"
        target="_blank"
      >
        <small>Privacy Policy</small>
      </a>
      <a
        href="#"
        class="footer__copyright"
      >
        <small>©2019 Hulu</small>
      </a>
    </div>
  </el-footer>
</template>

<script>
  export default {
    name: 'Footer',
  };
</script>
