<script>
  import DataTableFilter from '../../../../../foundation/components/dataTable/DataTableFilter';

  export default {
    /**
     * Component name
     */
    name: 'StatusFilter',

    /**
     * Extends DataTableFilter
     */
    extends: DataTableFilter,

    /**
     * Computed properties
     */
    computed: {
      /**
       * Custom options
       * @override
       * @returns {string}
       */
      customField () {
        return 'campaign_status';
      },

      /**
       * Custom remote filter
       * @returns {string}
       */
      customRemote () {
        return 'campaign-status';
      }
    }
  };
</script>

<style scoped>

</style>
