<template>
  <div
    v-loading="loading"
    class="chart-container"
  >
    <div class="chart-header">
      <div class="chart-header__title">
        <h3>{{ title }}</h3>
        <small
          v-if="subtitle"
        >
          {{ subtitle }}
        </small>
      </div>
      <div
        v-if="showOptions"
        class="chart-header__actions"
      >
        <div class="chart-header__control">
          <!-- TODO: Add translation for the label. -->
          <span>Data Source</span>
          <el-select
            v-model="value"
            placeholder="All flights"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </div>
      </div>
    </div>
    <div class="chart-body">
      <slot v-if="hasData" />
      <message v-if="showNoDataMessage">
        {{ noDataMessageText }}
      </message>
    </div>
  </div>
</template>

<script>
  import { Message } from 'Foundation/components/notice';

  export default {
    name: 'ChartContainer',

    /**
     * Components.
     */
    components: {
      Message,
    },

    /**
     * Component properties
     */
    props: {
      title: {
        type: String,
        required: true,
      },

      subtitle: {
        type: String,
        required: false,
        default: '',
      },

      showOptions: {
        type: Boolean,
        default: true,
      },

      loading: {
        type: Boolean,
        default: false,
      },

      hasData: {
        type: Boolean,
        default: false,
        required: true,
      },

      noDataMessage: {
        type: String,
        default: '',
      }
    },

    data() {
      return {
        options: [
          {
            value: 'Option1',
            label: 'Option1'
          },
          {
            value: 'Option2',
            label: 'Option2'
          },
          {
            value: 'Option3',
            label: 'Option3'
          },
          {
            value: 'Option4',
            label: 'Option4'
          },
          {
            value: 'Option5',
            label: 'Option5'
          }
        ],
        value: ''
      }
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * @returns {boolean}
       */
      showNoDataMessage () {
        return !this.hasData && !this.loading;
      },

      /**
       * @returns {string}
       */
      noDataMessageText () {
        return this.noDataMessage ? this.noDataMessage : this.$trans('campaign::messages.charts.no_available_data');
      },
    },
  }
</script>
