<template>
  <div class="chart-container">
    <div class="chart-header">
      <div class="chart-header__title">
        <h3>{{ title }}</h3>
        <small
          v-if="subtitle"
        >
          {{ subtitle }}
        </small>
      </div>
      <div
        v-if="showControls"
        class="chart-header__actions"
      >
        <div class="chart-header__control">
          <!--TODO: trans for label-->
          <span>Data Source</span>
          <el-select
            v-model="value"
            placeholder="All flights"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </div>
      </div>
    </div>
    <div class="chart-body">
      <slot name="chart" />
    </div>
  </div>
</template>

<script>
  export default {
    name: "ChartContainer",

    /**
     * Component properties
     */
    props: {
      /**
       * Chart data
       */
      title: {
        type: String,
        required: true,
      },

      subtitle: {
        type: String,
        required: false,
        default: ''
      },

      showControls: {
        type: Boolean,
        default: () => {
            return false
        }
      }
    },

    data() {
      return {
        options: [
          {
            value: 'Option1',
            label: 'Option1'
          },
          {
            value: 'Option2',
            label: 'Option2'
          },
          {
            value: 'Option3',
            label: 'Option3'
          },
          {
            value: 'Option4',
            label: 'Option4'
          },
          {
            value: 'Option5',
            label: 'Option5'
          }
        ],
        value: ''
      }
    }
  }
</script>
