<template>
  <onboarding-view
    :visible="true"
    @close="close"
  />
</template>

<script>
  import OnboardingView from '../components/onboarding/OnboardingView';

  export default {
    /**
     * Name of the component.
     */
    name: "TheOnboarding",

    /**
     * Child components.
     */
    components: {
      OnboardingView,
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Close.
       */
      close () {
        this.$redirectToRoute('campaigns.index');
      },
    },
  };
</script>
