<template>
  <layout-main :open-contact="openContact">
    <div class="page">
      <div class="page__header">
        <h1>{{ $trans('labels.profile') }}</h1>
      </div>
      <div class="page__holder border-0 level-negative-1">
        <div class="level-default">
          <el-tabs v-model="active">
            <!-- TABS -->
            <el-tab-pane
              v-for="tab in tabs"
              :key="tab.route"
              :label="tab.label"
              :name="tab.route"
            />

            <!-- TAB CONTENT -->
            <router-view />
          </el-tabs>
        </div>
      </div>
    </div>
  </layout-main>
</template>

<script>
  import LayoutMain from 'Foundation/layouts/LayoutMain';

  export default {
    /**
     * Component name.
     */
    name: 'TheProfile',

    /**
     * Child components.
     */
    components: {
      LayoutMain,
    },

    /**
     * Reactive data.
     *
     * @returns {{active: null}}
     */
    data () {
      return {
        active: null,
        firstInit: true,
        openContact: false
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Available tabs.
       *
       * @returns {*[]}
       */
      tabs () {
        return [
          {
            route: 'profile.transactionHistory',
            label: this.$trans('labels.transactions'),
          },
          {
            route: 'profile.settings',
            label: this.$trans('labels.settings'),
          }
        ];
      },
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Active tab.
       *
       * @param name
       */
      active (name) {
        if (!this.firstInit) {
          this.$pushRoute({name});
          document.body.scrollTop = document.documentElement.scrollTop = 0;
        }

        this.firstInit = false;
      },

      /**
       * Route.
       *
       * @param to
       */
      $route(to) {
        if (this.isTabRoute(to.name)) {
          this.active = to.name;
        }

        if (to.name === 'profile.settings.contact') {
          this.openContact = true;
        }
      }
    },

    /**
     * Created hook.
     */
    created () {
      if (this.$route.fullPath === '/users/profile') {
        return this.$pushRoute({ name: 'profile.settings' });
      }

      this.active = this.getCurrentTabRouteName();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Get name of the active tab route.
       *
       * @returns {string}
       */
      getCurrentTabRouteName () {
        const parentRoute = this.$router.currentRoute.matched.find((route) => {
          return !route.parent;
        });

        return parentRoute ? parentRoute.name : 'profile.settings';
      },

      /**
       * Detect if it`s a tab route
       *
       * @returns {*[]}
       */
      isTabRoute (findRoute) {
        return this.tabs.map((tab) => {
          return tab.route
        }).find((route) => {
          return route === findRoute
        })
      }
    },
  };
</script>
