.chart-container {
  --chart-color-first: var(--color-success);
  --chart-color-second: var(--color-warning);
  --chart-color-third: var(--color-info);
  --chart-color-fourth: var(--color-danger);
  --chart-color-others: var(--fg-offset85);


  margin-bottom: 150px;
}

.chart-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 36px;

  &__title {
    flex-grow: 1;

    h3 {
      margin-bottom: 4px;
    }

    small {
      @extend .text-size-sm;
      color: var(--color-text-sm-low);
      display: block;
      width: 90%;
      word-break: break-word;
    }
  }

  &__actions {
    flex: none;
  }

  &__control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.line-scale {
  &__bar {
    margin-bottom: 18px;

    &--inner {
      display: flex;
      height: 20px;
      border-radius: calc(var(--border-radius-base) * 3);
      overflow: hidden;

      span {
        $i: 1;

        //We are not able to replace $--scale-chart-colors with a CSS variable
        @each $color in $--scale-chart-colors {
          &:nth-of-type(#{$i}) {
            background-color: var(--chart-color-#{$color});
          }

          $i: $i + 1;
        }
      }
    }
  }

  &__row {
    padding: 32px 40px 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color-base);

    $i: 1;

    //We are not able to replace $--scale-chart-colors with a CSS variable
    @each $color in $--scale-chart-colors {
      &:nth-of-type(#{$i}) {
        .line-scale__title {
          span {
            background-color: var(--chart-color-#{$color});
          }
        }
      }

      $i: $i + 1;
    }
  }

  &__title {
    @extend .text-size-sm;
    display: flex;
    align-items: center;
    line-height: 12px;
    letter-spacing: 1.14px;
    color: var(--color-text-sm-low);

    span {
      width: 20px;
      height: 20px;
      border-radius: var(--border-radius-middle);
      margin-right: 24px;
    }
  }
}

/*
 * Inventory delivery indicator
 */
.speedometer-indicator {
  width: 111px;
  height: auto;
  position: relative;
  padding-top: 5px;
  margin: 0 auto;

  > svg {
    width: 100%;
    height: auto;
    display: block;
  }

  &__text {
    @extend .text-body-xxxs;
    position: absolute;
    width: 100%;
    top: calc(100% + 2px);
    color: var(--color-text-sm-low);

    span {
      position: absolute;
      top: 0;

      &:nth-of-type(1) {
        left: 0;
        transform: translateX(-50%);
      }

      &:nth-of-type(2) {
        right: 0;
        transform: translateX(50%);
      }
    }
  }

  .needle {
    position: absolute;
    transform: translateX(-50%) rotate(calc(-100deg + (195deg * var(--delivery-percentage)) / 100));
    transition: transform .5s cubic-bezier(.3, 1, .4, 1.1);
    bottom: -28px;
    left: 50%;
    z-index: 1;
    width: 23px;
    height: 83px;
  }

  &.is-set {
    .needle {
      svg {
        path {
          --needle-background: var(--bg-offset80);
        }
      }
    }
  }

  &.is-pending {
    svg {
      defs {
        linearGradient {
          stop {
            stop-color: var(--fg-offset80) !important;
          }
        }
      }
    }

    .needle {
      svg {
        path {
          --needle-background: var(--bg-offset60);
        }
      }
    }
  }

  &.is-loading {
    .needle {
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        width: 17px;
        height: 17px;
        border-left: 1px solid var(--fg-offset20);
        border-top: 1px solid var(--fg-offset20);
        border-radius: 100%;
        animation: deliveryLoading 1s linear infinite;
      }

      &__circle {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(0deg);
          width: 65%;
          height: 65%;
          border-left: 1px solid var(--fg-offset20);
          border-top: 1px solid var(--fg-offset20);
          border-radius: 100%;
          animation: deliveryLoading 1s linear infinite;
        }
      }

      svg {
        path {
          --needle-background: var(--bg-offset30);
        }
      }
    }
  }
}

@keyframes deliveryLoading {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
