.default-accordion {
  &.el-collapse {
    border: 0;
  }

  .el-collapse-item {
    margin-bottom: 16px;

    &__header {
      padding: 20px 24px;
      height: 64px;
      line-height: 64px;

      .creative-status {
        margin-right: 14px;
      }
    }

    &__wrap {
      padding: 16px 56px 40px 72px;
      border: 0;
    }

    &__content {
      padding-bottom: 0;
      color: var(--color-text-med);
      word-break: break-word;
    }

    &:last-child {
      .el-collapse-item__wrap {
        border-bottom: 0;
      }
    }
  }

  &__icon {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: $--all-transition;
  }
}

.el-collapse-item {
  .creative-status__item--success {
    .icon-approved {
      fill: var(--fg-offset10);
    }
  }
}

.faq-accordion {
  margin-bottom: 90px;

  &.el-collapse {
    border: 0;
  }

  .el-collapse-item {
    word-break: break-all;
    margin-bottom: 31px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--border-color-gray);

    &__header {
      border: 0;
      height: auto;
      line-height: 1.35;
      padding: 20px 60px 20px 0;

      .icon-chevron-up {
        fill: var(--bg-offset40);
      }

      .faq-accordion__icon {
        -webkit-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
      }

      &.is-active {
        .faq-accordion__icon {
          -webkit-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
        }
      }
    }

    &__wrap {
      padding: 0;
      border: 0;

      p {
        color: var(--color-text-sm-low);
        word-break: break-word;
      }
    }

    &__content {
      padding: 0 56px 40px 0;
      color: var(--color-text-med);
    }

    &:last-child {
      .el-collapse-item__wrap {
        border-bottom: 0;
      }
    }
  }

  &__icon {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: $--all-transition;
  }
}

.dropdown-checkbox {
  border: 0;

  .el-checkbox {
    display: flex;
    align-items: center;

    &__inner {
      width: 16px;
      height: 16px;

      &:after {
        border-width: 1px;
        height: 8px;
        left: 5px;
        top: 1px;
        width: 3px;
      }
    }

    &__label {
      padding-left: 15px;
      max-width: 470px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__title,
  &__subtitle {
    @extend .text-label-xs-semibold-caps;
  }

  &__subtitle {
    color: var(--color-text-med);
    margin-right: 40px;
  }

  .icon-chevron-up {
    fill: var(--color-text-med);
  }

  .el-collapse {
    border: 0;
    margin-bottom: 0;
  }

  .el-collapse-item__wrap,
  .el-collapse-item__content {
    padding: 0;
    border: 0;
  }

  .el-collapse-item__header {
    margin-bottom: 15px;
    border: 1px solid var(--fg-offset85);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.is-active .default-accordion__icon {
      transform: translateY(-47%) rotate(0);
    }

    .default-accordion__icon {
      top: 47%;
      transform: translateY(-40%) rotate(180deg);
    }
  }

  .el-collapse-item:first-child .el-collapse-item {
    border: 0;
  }

  &--inner:not(.is-disabled) {
    .el-collapse-item__header {
      padding-top: 0;
      padding-bottom: 0;
    }

    .dropdown-checkbox__control {
      height: 100%;
      flex: 1;
    }

    &:first-of-type {
      .el-collapse-item:not(.is-active) > div > {
        .el-collapse-item__header {
          margin-bottom: 15px;
        }
      }
    }

    &:last-of-type {
      .el-collapse-item {
        &:not(.is-active) {
          > div > .el-collapse-item__header {
            margin-bottom: 2px;
          }
        }

        &.is-active {
          .dropdown-checkbox__child {
            .el-collapse-item__header {
              margin-bottom: 15px;
            }

            &:last-of-type .el-collapse-item__header {
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }

  &__child {
    padding-left: 60px;

    .el-checkbox {
      &__label {
        max-width: 440px;
      }
    }
  }

  .is-disabled {
    > .el-collapse-item {
      .el-collapse-item__header {
        cursor: default;

        .dropdown-checkbox__control {
          display: none;
        }
      }
    }
  }
}

//separate item for audience accordion
.separate-item {
  padding: 12px 24px;
  border: 1px solid var(--border-color-base);
  line-height: 1;
  margin-bottom: 15px;

  .el-checkbox {
    display: flex;
    align-items: center;
  }

  .el-checkbox__inner {
    width: 16px;
    height: 16px;

    &:after {
      border-width: 1px;
      height: 8px;
      left: 5px;
      top: 1px;
      width: 3px;
    }
  }

  .el-checkbox__label {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dropdown-popup {
  border: 0;

  .checkbox-in-column {
    .el-checkbox {
      margin-bottom: 16px;
    }
  }

  .el-checkbox {
    display: flex;
    align-items: center;

    &:last-of-type {
      margin-bottom: 0;
    }

    &__label {
      padding-left: 15px;
      max-width: 320px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__title {
    &,
    .annotated-text,
    .el-tooltip {
      @extend .text-label-sm;
    }
  }

  .icon-chevron-up {
    fill: var(--color-text-med);
  }

  .el-collapse {
    border: 0;
    margin-bottom: 0;
  }

  .el-collapse-item {
    position: relative;
    z-index: 0;

    &.is-active {
      z-index: 1;
      margin-top: -1px;

      .dropdown-popup__title {
        font-weight: var(--font-weight-regular);
      }

      .el-collapse-item__wrap {
        opacity: 1;
        visibility: visible;
      }
    }

    &__wrap,
    &__content {
      padding: 0;
      border: 0;
    }

    &__wrap {
      position: absolute;
      width: 100%;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      height: auto !important;
      transition: none !important;
      overflow: visible !important;
      margin-bottom: 30px;

      &:before {
        content: '';
        position: absolute;
        border-radius: calc(var(--border-radius-base) * 2);
        background-color: var(--bg-base);
        box-shadow: var(--box-shadow-light);
        left: -6px;
        right: -6px;
        bottom: 0;
        top: -86px;
        z-index: -1;
        transition: none;
      }
    }

    &__header {
      margin-bottom: 0;
      padding: 29px 24px;
      height: auto;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--bg-offset15);
      }

      &.is-active {
        &:after {
          background-color: var(--bg-offset10);
          left: -6px;
          right: -6px;
        }

        .default-accordion__icon {
          transform: translateY(-47%) rotate(0);
        }
      }

      .default-accordion__icon {
        top: 47%;
        transform: translateY(-40%) rotate(180deg);
      }
    }
  }

  .el-tabs {
    &__header {
      margin-bottom: 8px;
    }

    &__item {
      @extend .text-label-xs-semibold-caps;
      display: inline-flex;
      align-items: center;
      padding: 0 16px;
      height: 63px;
      color: var(--color-text-med);
      min-width: 50px;
      text-align: center;

      .el-tooltip {
        display: block;
        margin-left: 3px;
        margin-top: -2px;
      }
    }

    &__active-bar {
      background-color: var(--color-success);
    }

    &__nav-wrap {
      padding: 0 26px;
      display: flex;
      align-items: center;
      overflow: visible;

      &::after {
        left: -6px;
        right: -6px;
        bottom: 0;
        width: auto;
        height: 1px;
        background-color: var(--bg-offset10);
      }
    }

    &__nav-next,
    &__nav-prev {
      @extend .text-size-sm;
      color: var(--color-text-med);
      top: 0;
      background: var(--bg-base);
      position: relative;

      &.is-disabled {
        display: none;
      }
    }

    &__nav-next {
      order: 3;
      margin-left: 16px;
    }

    &__nav-prev {
      order: 0;
      margin-right: 16px;
    }

    &__content {
      padding: 24px 26px;
      max-height: var(--dropdown-popup-inner-height);
      margin-bottom: 8px;
      overflow: auto;
      @extend %custom-scrollbar;

      &.el-loading-parent--relative {
        overflow: hidden;
      }
    }
  }

  &--inner:not(.is-disabled) {
    .el-collapse-item__header {
      padding-top: 0;
      padding-bottom: 0;
    }

    .dropdown-checkbox__control {
      height: 100%;
      flex: 1;
    }

    &:first-of-type {
      .el-collapse-item:not(.is-active) > div > {
        .el-collapse-item__header {
          margin-bottom: 15px;
        }
      }
    }

    &:last-of-type {
      .el-collapse-item {
        &:not(.is-active) {
          > div > .el-collapse-item__header {
            margin-bottom: 2px;
          }
        }

        &.is-active {
          .dropdown-checkbox__child {
            .el-collapse-item__header {
              margin-bottom: 15px;
            }

            &:last-of-type .el-collapse-item__header {
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }

  .is-disabled {
    > .el-collapse-item {
      .el-collapse-item__header {
        cursor: default;

        .dropdown-checkbox__control {
          display: none;
        }
      }
    }
  }

  &__subtitle {
    @extend .text-label-xxs-semibold-caps;
    color: var(--color-text-med);
    margin-right: 32px;
    text-align: right;

    span {
      @extend .text-label-xxs;
      display: block;
      line-height: 1;

      &:nth-of-type(2) {
        @extend .text-body-xxxs;
        margin-top: 8px;
      }
    }
  }

  &__content {
    min-height: calc(var(--dropdown-popup-inner-height) - 200);

    &.is-scrollable {
      @extend .el-tabs__content;
      min-height: var(--dropdown-popup-inner-height);

      .el-tabs {
        &__content {
          padding: 24px 0 0 0;
          max-height: none;
        }
      }
    }

    .search-creation {
      margin-bottom: 0;
    }

    .inner-header {
      padding: 24px;
      position: relative;
      margin-bottom: 8px;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -6px;
        right: -6px;
        height: 1px;
        background-color: var(--bg-offset10);
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 24px 26px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -6px;
      right: -6px;
      height: 1px;
      background-color: var(--bg-offset10);
    }

    .el-button {
      font-weight: var(--font-weight-medium);
    }

    .el-button--text {
      padding-left: 0;
      margin-right: auto;
    }
  }
}
