.counter {
  margin-bottom: var(--main-margin-bottom);

  .card-counter {
    &__name {
      margin-bottom: 34px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > div {
        position: relative;
      }
    }

    &__popover {
      position: absolute;
      right: -25px;
      top: -10px;
    }

    &__value {
      margin-bottom: 0;
    }
  }

  &--bordered {
    .card-counter {
      box-shadow: none;
      border: 1px solid var(--border-color-gray);

      .el-card {
        &__body {
          padding: 29px 23px;
        }
      }

      &__name {
        margin-bottom: 16px;
      }
    }
  }
}
