// Status dropdown
.dropdown-status {
  display: flex;
  border-radius: var(--border-radius-base);
  background: var(--bg-offset40);
  color: var(--color-text-high);

  .el-icon-arrow-down {
    @extend .text-label-sm;
  }

  .el-dropdown {
    &-link {
      display: flex;
      min-width: 114px;
      padding: 13px 16px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border-radius: var(--border-radius-base);
      white-space: nowrap;

      .el-icon--right {
        margin-left: 10px;
      }
    }
  }

  &__menu {
    min-width: 128px;
    margin: 0 !important;
    padding: 0 0 5px;

    .el-dropdown-menu__item {
      a {
        @extend .text-label-xxs-semibold-caps;
        display: block;
        padding: 16px;
        cursor: pointer;
        color: var(--color-text-high);

        &:hover {
          background: var(--bg-offset5);
        }
      }

      &.is-disabled {
        a {
          //color: rgba($--disabled-color-base, .4);
          //color: rgba(var(--color-info-RGB), .4);
          color: getDarkHSLA(.2);
        }
      }
    }
  }

  &.is-ready, .is-create_in_progress {
    --base-hue: var(--hue-info);
    --base-sat: var(--sat-high);
  }

  &.is-active {
    --base-hue: var(--hue-success);
    --base-sat: var(--sat-high);
    color: var(--color-text-high);
  }

  &.is-cancel, &.is-inactive {
    color: var(--color-text-high-inverted);
    --base-hue: var(--hue-danger);
    --base-sat: var(--sat-high);
  }

  &.is-pause {
    --base-hue: var(--hue-warning);
    --base-sat: var(--sat-high);
  }

  &.is-pending_manual_review {
    --base-hue: var(--hue-warning);
    --base-sat: var(--sat-high);
  }
}

.dropdown-pages {
  .el-select-dropdown {
    &__item {
      @extend .text-body-xs;
    }
  }
}

.dropdown-dark {
  position: relative;
  display: flex;

  > a {
    i {
      color: currentColor;
      margin: -2px 0 0;
    }
  }

  @media all and (min-width: ($--md + 1)) {
    &:hover {
      .dropdown-dark__submenu {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
    }
  }

  &__submenu {
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    box-shadow: 0 4px 4px var(--color-text-disabled2);
    //background-color: rgba(var(--color-black-RGB), .9);
    background-color: getDarkHSLA(.9);
    color: var(--color-text-high-inverted);
    padding: 8px 0;
    min-width: 200px;
    transition: all .3s ease-in-out;
    z-index: 1;

    li {
      a {
        padding: 8px 30px;

        &,
        .el-menu-item & {
          line-height: 1;

          &:focus,
          &:hover {
            color: var(--color-success);
          }
        }
      }
    }
  }
}
