.select-table {
  margin: 0 40px 0 0;
  background: var(--border-color-gray);
  min-height: 40px;
  border-radius: 45px;
  min-width: 165px;
  max-width: 100%;
  font-family: $--font-family-base;

  .el-select__tags {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    transform: none;
    min-height: 40px !important;
    background: var(--bg-offset10);
    border-radius: 45px;
    font-weight: var(--font-weight-semibold);
    height: 40px;
    min-width: 165px !important;
    padding: 0 35px 0 15px;
    max-width: 100% !important;

    &-text {
      @extend .text-label-xxxs-semibold-caps;
      color: var(--color-text-high);
    }

    & > span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .el-tag {
      &:last-child {
        letter-spacing: -1px;
      }
    }
  }

  &.el-select {
    .el-input__inner {
      @extend .text-label-xxxs-semibold-caps;
      min-height: initial !important;
      padding: 0;
      height: auto;
      background: none;
      font-family: $--font-family-base;
      text-align: center;
      box-shadow: none;

      @include placeholder() {
        opacity: 1;
        color: var(--color-text-high);
        font-weight: var(--font-weight-semibold);
      }
    }
  }

  .el-input {
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    padding: 0 30px 0 15px;
    min-width: 165px;

    &__inner {
      @include placeholder() {
        opacity: 1;
        color: var(--color-text-high);
        font-weight: var(--font-weight-extra-bold);
        text-transform: uppercase;
      }
    }

    &__suffix {
      right: 13px;
      top: 4px;
      height: 15px;
      width: 15px;
    }

    &__icon {
      width: 15px;
      position: relative;
      line-height: 100%;

      &:before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--suffix {
      &.is-focus {
        .el-input__suffix {
          top: 3px;
        }
      }
    }
  }

  .el-tag {
    background: none;
    margin: 0 0 0 3px;
    border: none;
    padding: 0;

    &__close {
      display: none;
    }
  }

  &.is-checked {
    &,
    .el-select__tags {
      --base-hue: var(--hue-success);
      --base-sat: var(--sat-high);

      background: var(--fg-offset50);
    }
  }
}

.table-dropdown-menu {
  .el-select-dropdown {
    &__item {
      padding: 0 50px 0 20px;
    }
  }
}

//styles for WYSIWYG
.editor {
  &:before {
    content: '';
    display: table;
    clear: both;
  }

  .menubar {
    margin-bottom: 16px;
  }

  .ProseMirror {
    background-color: var(--bg-offset5);
    overflow: auto;
    padding: 15px;

    &:hover {
      border-color: var(--fg-base);
    }

    &:focus {
      outline: none;
      border: 1px solid var(--fg-base);
    }

    p {
      margin: 0;
    }

    .h3 {
      margin-bottom: 0;
    }
  }

  ol {
    margin: 0;
  }

  ul {
    padding-left: 40px;
    list-style: disc;
  }
}

//fixing bug with safari line-height
@media not all and (min-resolution: .001dpcm) {
  .el-range-editor {
    .el-range-input {
      line-height: 1.18;
    }
  }
}

.actions-wrapper {
  display: flex;
  justify-content: flex-end;
}

.card-modal {
  .el-input {
    &__inner {
      font-family: Arial, sans-serif;

      @include placeholder() {
        opacity: 1;
        font-weight: var(--font-weight-regular);
        font-family: Arial, sans-serif;
      }
    }
  }

  .card-holder-wrapper {
    .el-form-item {
      margin-bottom: 32px;
    }
  }

  .card-number-wrapper {
    margin-bottom: 32px;

    .el-form-item {
      margin-bottom: 0;
    }
  }

  .el-form-item {
    &__label {
      margin-bottom: 16px;
    }
  }

  .buttons-in-row {
    padding-top: 10px;

    .el-button:first-child {
      margin-bottom: 16px;
    }

    .el-button:last-child {
      margin-bottom: 0;
    }
  }

  .el-dialog__body {
    padding: 44px 56px 80px;
  }

  .el-form-item__content .card-number {
    line-height: 10px;
  }

  .form-stripe__item .el-form-item__error {
    margin-top: 0;
  }
}

.select-header {
  padding: 15px;
  border-bottom: solid 2px var(--border-color-base);
}

.select-body {
  padding: 15px 0px;

  .el-select-dropdown__list {
    .el-checkbox {
      width: 100%;
    }
  }
}

.el-select-checkbox-panel__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: transparent;
  border: 0;
  border-top: solid 2px var(--border-color-base);

  .el-button--mini {
    border-radius: 0;
    padding: 7px 28px;

    &.el-button--text {
      @extend .text-body-xs;
      color: var(--fgcolor-blue);
      padding-left: 0;

      &.is-disabled {
        color: var(--color-text-disabled1);
      }
    }
  }

  + .popper__arrow {
    display: none;
  }
}

.custom-label {
  @extend .text-label-xxs-semibold-caps;
  color: var(--color-text-sm-low);
  margin-bottom: 10px;
}

.ages-form {
  .checkbox-in-column {
    .el-checkbox {
      margin-bottom: 10px;
    }
  }
}

.error-message {
  color: var(--color-danger);
  margin-left: 10px;
}

//Input search For Wizard Steps (audiences, locations, etc)
.search-creation {
  margin-bottom: 16px;

  .el-input {
    &__suffix {
      right: 10px;
    }

    .el-input__clear {
      @extend .text-size-sm;
      color: var(--color-text-high);
    }
  }

  .el-select__tags {
    + .el-input {
      .el-input__inner {
        cursor: text;
      }

      .el-input__suffix,
      .el-input__suffix-inner {
        cursor: default;
        pointer-events: none;
      }
    }
  }

  .el-icon-circle-close {
    @extend .el-icon-close;
  }
}

.audiences_step {
  .el-tabs__nav-prev,
  .el-tabs__nav-next {
    @extend .text-size-xs;
    color: var(--fgcolor-blue);
    display: inline-flex;
    align-items: center;
    margin: 0 16px 0 0;

    span {
      text-decoration: underline;
    }
  }

  .el-tabs__nav-next {
    position: absolute;
    padding-right: 20px;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);

    span {
      margin-right: 10px;
    }
  }

  .el-tabs__nav-prev {
    span {
      margin-left: 10px;
    }
  }
}
