.modal-visible {
  overflow: hidden;
}

.invitation-popup {
  .el-tabs__nav {
    display: flex;

    .el-tabs__item {
      padding-left: 10px !important;
      padding-right: 10px !important;;
      word-break: break-word;
      white-space: normal;
      text-align: center;
      line-height: 1.5;
    }
  }
}

.bulk-invite {
  .labels {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .default-accordion,
  .el-textarea {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .default-accordion {
    .el-collapse-item__wrap {
      padding: 14px 56px 0 72px;
    }
  }
}

.order-popup__section {
  .transaction-body {
    .el-row {
      padding-top: 6px;

      .card-label {
        width: 45px;
        margin-top: -6px;
      }

      .card-number {
        padding-left: 10px;
      }

      .payment-method {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.broadcast-popup {
  .el-select,
  .el-date-editor {
    width: 100%;
  }

  .el-date-editor {
    border: 0;

    .el-input__inner {
      padding-left: var(--input-padding-x);
    }
  }

  .title {
    display: flex;
    justify-content: space-between;

    .icon {
      margin-right: 12px;
      margin-bottom: 2px;
    }
  }

  .exta-actions {
    display: flex;
    flex-grow: 1;

    .el-button:nth-child(2) {
      margin-left: 10px;
    }
  }
}

.option-img {
  float: right;

  .el-image__inner {
    height: 35px;
    width: 35px;
  }
}

.float-left {
  float: left;
}
