#payment-form {
  #card-expiry {
    padding-right: 0;
  }
}

.pay-method {
  &__item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-color-gray);

    &:last-child:not(:first-child) {
      border: none;
      padding: 0;
    }
  }

  &__header {
    position: relative;
    margin-bottom: 20px;
    padding-right: 215px;

    .text-label-xs-semibold-caps {
      display: block;
      margin-bottom: 16px;
    }

    .el-button {
      @extend .text-label-xxs-semibold-caps;
      width: 188px;
      position: absolute;
      right: 0;
      top: 0;
      border-width: 1px;
      padding: 18px 0;
    }
  }

  &__descr {
    line-height: 16px;
    margin-bottom: 0;
  }
}

.payment-method {
  &__item {
    padding: 25px 40px 25px;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color-gray);
    margin-bottom: 16px;

    .profile-card & {
      cursor: pointer;

      &:hover {
        border-color: var(--fg-base);
      }
    }

    &.is-danger {
      &,
      &:hover {
        --base-hue: var(--hue-danger);

        background-color: var(--fg-offset95);
        border: 2px solid var(--fg-offset80);

        //border: 2px solid var(--color-danger);
        //background-color: rgba(var(--color-danger-RGB), .1);
      }
    }
  }

  &__image {
    margin-right: 16px;
    width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__exp {
    margin-left: auto;
    white-space: nowrap;
  }

  &__edit {
    @extend .text-label-xxs-semibold-caps;
    margin-left: auto;
  }

  &__actions {
    margin-left: 20px;
  }

  &__name {
    margin-right: 16px;
  }
}
