// #start Styles for defaull full-screen popup
.popup-fullscreen {
  --dialog-panel-background: var(--bg-offset5);

  .el-dialog {
    &__header {
      position: relative;
      padding: var(--main-padding-middle-y) var(--main-padding-x);
      text-align: center;
      background: var(--bg-offset5);
      border-bottom: 1px solid var(--border-color-gray);

    }

    &__headerbtn {
      top: 50%;
      transform: translateY(-50%);
    }

    &__body {
      padding: 0;
    }
  }

  &__holder {
    background-color: var(--bg-base);
  }

  &__panel {
    padding: 16px 0 40px;
    background: var(--dialog-panel-background);
  }

  &__container {
    max-width: 942px;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__main {
    padding-top: 12px;
    overflow: hidden;

    .el-tabs {
      &__nav-wrap {
        padding: 0;
        overflow: visible;

        &:after {
          width: 100vw;
          position: absolute;
          left: 50%;
          right: 50%;
          margin-left: -50vw;
          margin-right: -50vw;
          background: var(--border-color-gray);
        }
      }

      &__content {
        padding: var(--main-padding-middle-y) 0;
      }
    }
  }
}

// #end Styles for defaull full-screen popup

// Popup primary
.popup-primary {
  &__square-button {
    margin-bottom: 40px;
  }

  .el-form-item__content {
    line-height: 10px;
  }
}

// Secondary styles for popup
.popup-secondary {
  .el-dialog {
    &__header {
      position: relative;
      padding: var(--main-padding-middle-y) var(--main-padding-x);
      text-align: center;
      background: var(--bg-offset5);
      border-bottom: 1px solid var(--border-color-gray);

    }

    &__headerbtn {
      top: 50%;
      transform: translateY(-50%);
    }

    &__body {
      padding: var(--main-padding-middle-y) var(--main-padding-middle-x);
    }

    &__title {
      @extend .text-subtitle-lg-semibold;
    }
  }
}

// Video item popup
.video-popup {
  @extend .text-size-sm;
  width: 490px;

  .plyr {
    &--full-ui input[type="range"] {
      min-width: 0;
    }

    &__poster {
      background-color: transparent;
    }

    &__progress__container {
      flex: 1;
    }
  }

  &__frame {
    margin-bottom: 24px;

    &_empty {
      align-items: center;
      background-color: var(--border-color-gray);
      display: flex;
      font-weight: var(--font-weight-semibold);
      height: 400px;
      justify-content: center;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 58px;
        left: 24px;
        right: 24px;
        height: 2px;
        background-color: getDarkHSLA(.5);
      }
    }
  }

  &__status {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .el-button {
      padding: 5px 0;
      margin-top: -10px;
    }
  }

  &__info {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__messages {
    margin-bottom: 38px;
  }

  &__icon {
    text-align: center;
    margin-top: -50px;

    svg {
      margin-bottom: 10px;
    }

    span {
      @extend .text-label-xs-semibold-caps;
      display: block;
    }
  }

  .video-info {
    &__list-item {
      @extend .text-body-sm;
    }
  }

  .default-actions {
    text-align: center;
    margin-top: 50px
  }
}

.change-status {
  .el-dialog {
    &__title {
      color: var(--color-text-high);
    }

    &__headerbtn {
      right: 45px;
    }
  }

  .default-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .el-button {
      width: 100%;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &__note {
    margin-bottom: 56px;
  }

  &__content {
    margin-bottom: 56px;
  }
}

//FAQ popup
.popup-faq {
  .el-select {
    width: 100%;

    .el-input__inner {
      @extend .text-body-sm;
    }
  }

  textarea {
    @extend .text-body-sm;
    height: 184px;
    resize: none;
  }
}

//Contact popup
.popup-contact {
  &__caption {
    @extend .text-body-sm;
    margin-bottom: $--caption-margin;
    color: var(--color-text-sm-low);
  }

  .el-dialog__body {
    padding-top: 24px;
  }

  .el-select {
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 184px;
    resize: none;
  }
}

//Upload file popup
.popup-upload {
  .el-dialog__header {
    .wizard & {
      padding: 88px 56px 0;
    }
  }

  .el-dialog__body {
    @extend .text-size-sm;

    .wizard & {
      padding: 12px 56px 40px;
    }
  }

  .default-actions {
    padding-top: 40px;
  }

  &.el-dialog--actions-column-reverse {
    .default-actions {
      flex-direction: column;
    }
  }
}

.duplicate-modal {
  .default-actions {
    text-align: right;
  }
}

//Uploading progress bar
.upload-progress {
  @extend .text-size-sm;
  margin-top: 46px;

  &__bar {
    height: 16px;
    margin-bottom: 8px;
    background-color: var(--bg-offset5);
    position: relative;
  }

  &__success {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--color-success);
  }

  &__content {
    margin-top: 30px;

    .el-button {
      &--text {
        color: var(--fgcolor-blue);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    p {
      &:last-of-type {
        padding-bottom: 15px;
      }
    }

    ul {
      width: 80%;
      padding-left: 25px;
      list-style: disc;

      li {
        list-style: disc;
        margin-bottom: 12px;
        padding-left: 7px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

//Order popup
.order-popup {
  &.is-pdf {
    .popup-fullscreen__panel,
    .el-dialog__header {
      display: none;
    }
  }

  .text-danger {
    font-weight: var(--font-weight-semibold);
  }

  .el-dialog__body {
    @extend .text-size-sm;
    color: var(--color-text-high);

    .el-loading-parent--relative {
      min-height: 80vh;
    }
  }

  .text-body-sm {
    letter-spacing: normal;
    text-transform: none;
  }

  &__main {
  }

  &__container {
    position: relative;

    .campaign-status {
      margin-left: auto;
    }

    .message {
      margin-bottom: 20px;
    }
  }

  &__section {
    padding: 35px 0;
    border-bottom: 1px solid var(--border-color-gray);
    position: relative;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border: 0;
    }

    .el-row:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }

  &__th {
    color: var(--color-text-sm-low);
  }

  &__download-btn {
    @extend .text-label-xs-semibold-caps;
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: -12px;
    right: 20px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--color-text-high);

    svg {
      vertical-align: sub;
      margin-right: 5px;
      stroke: currentColor;
    }

    &:hover {
      color: var(--color-text-high);
    }
  }

  &__logo.el-row {
    display: none;
    margin: 118px 0 40px 0;

    .is-pdf & {
      display: block;
    }
  }

  &__no-activity {
    @extend .text-size-md;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  &__footer {
    @extend .text-body-sm;
    padding-top: 25px;

    .el-row {
      margin-bottom: 17px;

      &:first-of-type {
        margin-bottom: 35px;
      }
    }

    .text-danger {
      font-weight: var(--font-weight-medium);
    }

    .payment-method__item {
      @extend .text-size-sm;
      margin-bottom: 40px;
    }

    .payment-method__text {
      @extend .text-size-sm;
      color: var(--color-text-sm-low);
    }
  }

  .popup-fullscreen__panel {
    padding: 45px 0 40px;
  }
}

.transaction-body {
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -8px;
  padding-right: 8px;
  @extend %custom-scrollbar;

  &.is-scroll {
    margin-right: -32px;
    padding-right: 16px;
  }
}

//promo code popup
.promo-popup {
  &__date-range {
    width: 100%;

    .el-date-editor--daterange.el-input__inner {
      width: 100%;
      background-color: var(--input-background-color);
      box-shadow: var(--input-shadow);
    }

    &.is-error {
      .el-date-editor--daterange.el-input__inner {
        border-color: var(--color-danger);

        &:hover,
        &:focus {
          border-color: var(--color-text-high);
        }
      }
    }

    .base-date-range.el-date-editor {
      padding: 3px 50px 3px 10px;
      background-color: var(--input-background-color);
      border: 0;
      justify-content: flex-start;

      &:before {
        content: "\e78e";
        font-family: "element-icons" !important;
        display: block;
        width: 14px;
        height: 14px;
        color: var(--fg-offset85);
        margin: -7px 3px 0 0;
      }

      &:not(.is-disabled) {
        &:hover {
          --input-shadow-default-border-color: var(--input-shadow-hover-border-color);
        }

        &:focus,
        &.is-active,
        &.is-onfocus {
          --input-shadow-default-border-width: var(--input-shadow-focus-border-width);
          --input-shadow-default-border-color: var(--input-shadow-focus-border-color);
        }
      }

      .el-range-input {
        text-align: left;
        padding: 0 0 0 14px;
        background-color: transparent;
        border: 0;
        box-shadow: none;

        &:hover {
          border: 0;
        }
      }
    }

    .base-date-range {
      &__field {
        width: 20%;
        margin-left: 0;
      }
    }
  }
}

//reports popup
.reports-popup {
  .el-select {
    width: 100%;
  }

  .el-select.is-disabled * {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .el-form-item.is-error {
    .el-select .el-input.is-focus .el-input__inner {
      border-color: var(--color-danger);

      &:hover,
      &:focus {
        border-color: var(--color-text-high);
      }
    }
  }

  .el-date-editor .el-range-input {
    width: 100%;
  }

  .el-date-editor .el-range__close-icon {
    position: absolute;
    right: 10px;
  }

  #tab-3 {
    width: 32%;
  }
}

.video-creatives-dialog {
  .el-dialog {
    max-width: 1136px;
    min-width: 1136px;
    padding-bottom: 12px;

    &__header {
      text-align: center;
      padding: 48px 56px 0;
    }

    &__headerbtn {
      top: 24px;
      right: 24px;
    }

    &__body {
      overflow: auto;
      height: calc(100vh - 240px);
      margin-right: 12px;
      padding-bottom: 0;
      @extend %custom-scrollbar;
    }
  }

  .el-card {
    &.is-always-shadow {
      box-shadow: none;
    }
  }

  .table {
    &__actions {
      margin-bottom: 30px;

      &-search {
        .el-input {
          min-width: 280px;
        }
      }
    }

    &__actions-select-page,
    &__actions-search {
      margin-right: 20px;
    }

    .select-table {
      margin-right: 20px;
    }
  }
}
