.promocode {
  margin: 16px 0 20px 0;

  .el-form-item {
    margin: 0;
    flex: 1;

    &__label {
      @extend .text-label-xxs;
      margin-bottom: 8px;
    }

    &__error {
      position: relative;
      word-break: break-word;
      line-height: 1.1;
    }
  }

  &__input {
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  &__support {
    img {
      margin-right: 8px;
    }
  }

  &__success {
    --base-hue: var(--hue-success);
    --base-sat: var(--sat-high);

    margin-top: 20px;
    padding: 16px;
    background-color: var(--bg-offset10);
    border: 1px solid var(--fg-offset50);
    color: var(--color-text-med);

    span {
      font-weight: var(--font-weight-medium);
    }
  }

  .el-input {
    border-radius: 0 $--button-border-radius $--button-border-radius 0;
    overflow: hidden;

    &__inner {
      border-right-width: 0;
    }
  }
}

.el-input-group__append {
  button.promocode__btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    svg {
      transform: rotate(90deg);
    }

    .el-loading-mask {
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      border-radius: 0 $--button-border-radius $--button-border-radius 0;
    }

    &.is-success {
      background: var(--bg-offset100);

      svg {
        fill: var(--fg-offset100);
      }
    }

    .icon {
      position: relative;
      bottom: 0;
      right: 0;
    }
  }
}

.promocode-tag {
  display: inline-block;
  min-width: 132px;

  .el-tag {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    padding: 0 45px 0 20px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    position: relative;
    background-color: var(--bg-offset5);

    .el-icon-close {
      @extend .text-size-md;
      position: absolute;
      height: 24px;
      width: 24px;
      top: 6px;
      right: 15px;
    }
  }
}
