// Steps(Progress) Bar for Sign-up form
.sign-up-status-bar {
  position: absolute;
  left: 0;
  width: 100%;
  top: var(--main-header-height);

  &.el-steps--horizontal {
    .el-step__line {
      height: 4px;
      top: 0;
    }
  }

  .el-step {
    &__icon {
      display: none;
    }

    .el-step {
      &.is-horizontal {
        .el-step__line {
          height: 4px;
        }
      }
    }

    &__line {
      top: 0;
    }

    &__head.is-process {
      .el-step__line {
        --base-hue: var(--hue-success);
        --base-sat: var(--sat-high);

        background: var(--fg-offset50);
      }
    }

    &__head.is-success {
      .el-step__line {
        --base-hue: var(--hue-success);
        --base-sat: var(--sat-high);

        background: var(--fg-offset50);
      }

      .el-step__line-inner {
        border-width: 2px !important;
      }
    }
  }
}

// Steps for onboarding popup
.welcome-pagination {
  margin-right: auto;
  padding: 0;

  .el-step.is-simple {
    .el-step {
      &__icon {
        width: 32px;
        height: 4px;
        border-radius: 0;
      }

      &__main {
        display: none;
      }

      &__head.is-finish,
      &__head.is-wait {
        color: var(--steps-bg-color-line);
        border-color: var(--steps-bg-color-line);

        .el-step__icon {
          background: var(--steps-bg-color-line);
        }
      }

      &__head.is-process {
        color: var(--color-text-high);
        border-color: var(--color-text-high);

        .el-step__icon {
          background: var(--color-text-high);
        }
      }
    }

  }
}

// Steps for create campaign wizard
.creation-steps {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 900px;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;

  .el-step {
    &.is-horizontal {
      .el-step__line {
        top: 9px;
        height: 1px;
      }
    }

    &__main {
      &:hover .creation-steps__inner,
      .creation-steps__inner.focused {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
      }
    }

    &__icon {
      display: none;
    }

    &__line {
      background: var(--border-color-base);

      &-inner {
        display: none;
      }
    }

    &__title {
      line-height: normal;
      position: relative;

      &.is-success,
      &.is-finish {
        color: var(--color-text-high-inverted);

        span {
          border-color: var(--color-success);
          background-color: var(--color-success);
          position: relative;

          &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 5px;
            transform: rotate(45deg);
            border-right: 2px solid var(--color-text-high);
            border-bottom: 2px solid var(--color-text-high);
            width: 3px;
            height: 6px;
          }
        }
      }

      &.is-wait {
        color: var(--color-text-high-inverted);
      }

      &.is-process {
        color: var(--color-text-high-inverted);

        & > div {
          &:after {
            opacity: 1;
          }
        }

        span {
          border-color: currentColor;
        }
      }

      & > div {
        @extend .text-label-xs;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        padding: 0 12px;
        position: relative;
        text-transform: uppercase;
        white-space: nowrap;
        z-index: 1;
        background-color: var(--fg-offset20);

        &:after {
          content: '';
          height: 6px;
          background-color: var(--color-success);
          width: calc(100% - 8px);
          opacity: 0;
          transition: opacity .2s;
          position: absolute;
          bottom: -31px;
          left: 50%;
          transform: translateX(-50%);
        }

        span {
          width: 17px;
          height: 17px;
          border: 1px solid var(--border-color-base);
          border-radius: 100%;
          flex: none;
          margin: 0 8px 3px;
          box-sizing: border-box;
        }
      }

      &:hover {
        + .el-step__description {
          background-color: red;
        }
      }
    }

    &__head {
      &.is-finish,
      &.is-success,
      &.is-process {
        .el-step__line {
          background-color: var(--bg-base);
        }
      }
    }
  }

  &__inner {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    padding: 24px var(--main-padding-middle-y-mobile) var(--main-padding-middle-y-mobile);
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease-in-out;
    z-index: 2;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      bottom: 0;
      width: 100%;
      background-color: var(--bg-base);
      box-shadow: 0 2px 4px 0 var(--color-text-disabled2);
      z-index: -1;
    }

    &-list {
      min-width: 200px;
    }

    &-link {
      @extend .text-label-xs-semibold-caps;
      display: inline-block;
      padding: 16px 0;
      color: var(--color-text-sm-low);
      position: relative;
      pointer-events: none;
      cursor: default;
      user-select: none;

      &:hover,
      &:focus {
        color: var(--fgcolor-blue);
      }
    }

    &-item {
      display: block;

      &.is-process {
        .creation-steps__inner-link {
          color: var(--color-text-high);
          pointer-events: auto;
          cursor: pointer;

          &:before {
            content: "";
            position: absolute;
            top: 21px;
            left: -14px;
            width: 8px;
            height: 8px;
            background-color: var(--color-success);
            border-radius: 100%;
          }

          &:hover,
          &:focus {
            color: var(--fgcolor-blue);
          }
        }
      }

      &.is-done {
        .creation-steps__inner-link {
          color: var(--color-text-high);
          pointer-events: auto;
          cursor: pointer;

          &:hover,
          &:focus {
            color: var(--fgcolor-blue);
          }
        }
      }
    }
  }

  .el-step__head {
    &.is-finish {
      border-color: var(--color-text-high);
    }
  }
}
