.creative-status {
  display: flex;
  align-items: center;
  word-break: break-word;
  @extend .text-label-xxxs-semibold-caps;

  &__item {
    --base-sat: var(--sat-high);

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-high);
    background: var(--bg-offset30);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 11px;
    vertical-align: middle;
    letter-spacing: .5px;
    flex-shrink: 0;

    &.is-approved {
      --base-sat: var(--sat-low);
      background: var(--bg-offset10);
    }

    &--warning {
      --base-hue: var(--hue-warning);
    }

    &--danger {
      --base-hue: var(--hue-danger);
    }

    &--success {
      --base-hue: var(--hue-success);
    }

    &--default {
      --base-sat: var(--sat-low);
      background: var(--fg-offset90);
    }
  }

  &.is-rejected {
    --base-hue: var(--hue-danger);
    background: var(--fg-offset90);
  }
}

.report {
  &__actions-cell {
    > * {
      margin: 0 8px;
    }

    a[disabled] {
      .icon {
        opacity: .1;
      }
    }

    & > div {
      display: inline;
    }

    .el-loading-mask {
      height: var(--font-line-height-primary);
      width: 22px;
      background: transparent;

      .el-loading-spinner svg {
        width: var(--font-line-height-primary);
      }
    }
  }
}

.invitation {
  &__actions-cell {
    > * {
      margin: 0 8px;
    }

    a[disabled] {
      .icon {
        opacity: .1;
      }
    }

    & > div {
      display: inline;
    }

    .el-loading-mask {
      height: var(--font-line-height-primary);
      background: transparent;

      .el-loading-spinner svg {
        width: var(--font-line-height-primary);
      }
    }
  }
}

.table {
  &__empty-frame {
    margin-bottom: 32px;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-bottom: 48px;

    &-select-page {
      margin-right: 40px;
      flex-shrink: 0;

      .el-select {
        width: 88px;

        .el-input {
          &__inner {
            min-height: var(--select-option-height) !important;
            line-height: var(--select-option-height);
            height: var(--select-option-height);
          }

          .el-input__icon {
            line-height: var(--select-option-height);
          }

          &.is-focus {
            span {
              top: 0;
            }
          }
        }
      }

      span {
        @extend .text-body-xs;
        margin: 0 3px;
        top: 2px;
      }
    }

    &-search {
      flex-shrink: 0;
      margin-right: 40px;

      .el-input {
        min-width: 320px;
      }
    }

    &-filter {
      display: flex;
      align-items: center;
      flex-flow: row;
    }

    .read-all-link {
      position: absolute;
      top: 35px;
      right: 32px;
    }
  }

  &__holder {
    &.is-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
      padding: 157px 0;
    }
  }

  .el-form-item,
  .el-form-item.is-error {
    margin: 0;
  }

  .el-select .el-input.is-disabled .el-input__inner {
    background: inherit !important;
  }
}

.data-table-round-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  border-radius: 100%;
  background-color: var(--bg-base);
  border: 1px solid var(--border-color-gray);
  left: 5px;
  position: relative;
}

.data-table-cell-radio {
  .el-radio__label {
    display: none;
  }
}

.pagination-total {
  margin-top: 30px;
  font-weight: 500 !important;
  color: var(--color-text-high);
}

.data-table-pager {
  .el-pagination {
    float: right;
  }
}

//Notification table (no table tag)
.notification-table {
  .el-table__header-wrapper {
    display: none;
  }

  .el-card__body {
    position: relative;
  }

  .cell.el-tooltip {
    padding-right: 30%;
  }

  .truncated-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .el-table--enable-row-hover .el-table__body {
    tr {
      cursor: pointer;

      &:hover {
        background-color: var(--bg-offset10);

        td {
          background-color: var(--bg-offset10);
        }
      }

      &.is-unread {
        td {
          background-color: var(--bg-offset10);
        }

        .notification-status {
          span {
            opacity: 1;
            visibility: visible;
          }
        }

        &:hover {
          background-color: var(--bg-offset10);

          td {
            background-color: var(--bg-offset10);
          }
        }
      }

      td {
        &:nth-of-type(2) {
          @extend .text-label-xs-semibold-caps;
        }
      }
    }
  }

  &__user {
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 41px;
      height: 41px;
      border-radius: 100%;
      background-color: var(--bg-base);
      border: 1px solid var(--border-color-gray);
      text-align: center;
      text-transform: uppercase;
    }
  }

  ~ div {
    .popup-upload {
      .el-dialog__body {
        ul {
          padding-left: 40px;
          list-style: disc;
        }

      }
    }
  }
}

.notification-status {
  span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--color-success);
    opacity: 0;
    visibility: hidden;
  }
}
