.menubar {
  button.is-active {
    background: var(--gray90);
    border: none;
  }

  button {
    padding: 7px 10px;
    margin-left: 2px;
    border: none;
    line-height: 1;
    height: auto;

    .icon {
      position: inherit;
    }
  }

  .link-button {
    font-weight: bold;
  }
}

#editor {
  .menubar {
    button {
      margin-left: 2px;

      svg {
        position: initial;
      }
    }
  }
}

.is-error {
  .ProseMirror {
    border-color: var(--color-danger);
  }
}

.ProseMirror {
  height: 200px;
}

.menububble {
  position: absolute;
  display: flex;
  z-index: 20;
  background: var(--bg-offset100);
  border-radius: 5px;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  &__button {
    display: inline-flex;
    background: transparent;
    border: 0;
    color: var(--color-text-high-inverted);
    padding: 0.2rem 0.5rem;
    margin-right: 0.2rem;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: var(--gray90);
    }

    &.is-active {
      background-color: var(--gray90);
    }
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__input {
    font: inherit;
    border: none;
    background: transparent;
    color: var(--color-text-high-inverted);
    padding: 0 5px;

    &::placeholder {
      color: var(--color-text-high-inverted);
      opacity: 1;
    }
  }
}
