<template>
  <common-select
    :id="name"
    ref="base-select"
    v-model="innerValue"
    :label="label"
    :name="name"
    :loading="loading"
    :remote-method="searchAdvertisers"
    :multiple="multiple"
    show-tags
    :disabled="disabled"
    reserve-keyword
    default-first-option
    filterable
    :placeholder="placeholder"
    remote
    size="medium"
    value-key="value"
    @visible-change="clearQuery"
  >
    <el-option
      v-for="item in advertisersOptions"
      :key="item.value"
      :label="item.label"
      :value="item"
    />
  </common-select>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  import CommonSelect from "Foundation/components/form/extend/CommonSelect";
  import { unionBy, findIndex } from 'lodash';
  import Input from "Foundation/components/form/mixins/Input";

  export default {
    /**
     * Component name.
     */
    name: "AdvertisersSelect",

    /**
     * Components.
     */
    components: {
      CommonSelect,
    },

    /**
     * Mixins.
     */
    mixins: [
      Input,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Allow multiple select
       */
      multiple: {
        type: Boolean,
        default: false,
      },

      /**
       * v-model value. Must have the same format as select object
       */
      value: {
        type: [Object, Array],
        default: null,
      },

      /**
       * Label
       */
      label: {
        type: String,
        default: 'Advertisers',
      },

      /**
       * Field name
       */
      name: {
        type: String,
        default: 'advertiser',
      },

      /**
       * Field placeholder
       */
      placeholder: {
        type: String,
        default: 'Select or enter advertiser',
      },

      /**
       * Default select option
       */
      defaultOption: {
        type: Object,
        default: () => {
          return {
            label: 'All advertisers',
            value: null,
          };
        },
      },

      /**
       * Disable select
       */
      disabled: {
        type: Boolean,
        default: false
      }
    },

    /**
     * Data.
     */
    data () {
      return {
        loaded: false,
        advertisersDefaultOptions: [this.defaultOption]
      }
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * Map storage fields
       */
      ...mapState('search', { advertisersRawOptions: 'options', loading: 'searchAdvertisersPending' }),

      /**
       * Form advertisers options
       */
      advertisersOptions () {
        if (this.multiple) {
          return this.advertisersRawOptions;
        }

        let advertisersOptions = this.advertisersRawOptions;
        if (this.innerValue) {
          const checkedOptionIndex = findIndex(
            this.advertisersRawOptions,
            (item) => { return item.value === this.innerValue.value}
          );
          if (checkedOptionIndex < 0) {
            advertisersOptions.unshift(this.innerValue);
          }
        }

        return unionBy(this.advertisersDefaultOptions, advertisersOptions, 'value')
      }
    },

    /**
     * Created hook.
     */
    async created () {
      await this.searchAdvertisers();
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Clear query
       */
      clearQuery (dropDownVisible) {
        if (!dropDownVisible) {
          this.searchAdvertisers();
        }
      },

      /**
       * Map actions
       */
      ...mapActions('search', ['searchAdvertisers']),
    },
  }
</script>
