<template>
  <div>
    <div class="stylemap-buttons__row">
      <h3>Full width</h3>
      <div>
        <div style="display: flex; align-items: flex-start; width: 500px">
          <el-button
            class="full-width"
          >
            Default
          </el-button>
          <el-button
            class="full-width"
            disabled
          >
            Disabled
          </el-button>
        </div>
        <br>
        <div style="display: flex; align-items: flex-start; width: 500px">
          <el-button
            type="primary"
            class="full-width"
          >
            Primary
          </el-button>
          <el-button
            type="primary"
            class="full-width"
            disabled
          >
            Disabled
          </el-button>
        </div>
      </div>
      <h3>Fixed min width</h3>
      <div>
        <div style="display: flex; align-items: flex-start; width: 500px">
          <el-button
            class="fixed-width"
          >
            Default
          </el-button>
          <el-button
            class="full-width"
            disabled
          >
            Disabled
          </el-button>
        </div>
        <br>
        <div style="display: flex; align-items: flex-start; width: 500px">
          <el-button
            type="primary"
            class="fixed-width"
          >
            Primary
          </el-button>
          <el-button
            type="primary"
            class="fixed-width"
            disabled
          >
            Disabled
          </el-button>
        </div>
      </div>
      <h3>Large size</h3>
      <div>
        <el-button>
          Default
        </el-button>
        <el-button
          disabled
        >
          Disabled
        </el-button>
        <el-button
          class="has-icon"
        >
          <svg
            class="icon icon-chat-bubble"
          >
            <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
          </svg>
          Default
        </el-button>
        <el-button
          class="has-icon"
          disabled
        >
          <svg
            class="icon icon-chat-bubble"
          >
            <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
          </svg>
          Disabled
        </el-button>
        <br> <br>
        <el-button
          type="primary"
        >
          Primary
        </el-button>
        <el-button
          type="primary"
          disabled
        >
          Disabled
        </el-button>
        <el-button
          type="primary"
          class="has-icon"
        >
          <svg
            class="icon icon-chat-bubble"
          >
            <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
          </svg>
          Primary
        </el-button>
        <el-button
          type="primary"
          class="has-icon"
          disabled
        >
          <svg
            class="icon icon-chat-bubble"
          >
            <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
          </svg>
          Disabled
        </el-button>
      </div>
      <h3>Medium size</h3>
      <div>
        <el-button
          size="medium"
        >
          Default
        </el-button>
        <el-button
          size="medium"
          disabled
        >
          Disabled
        </el-button>
        <el-button
          class="has-icon"
          size="medium"
        >
          <svg
            class="icon icon-chat-bubble"
          >
            <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
          </svg>
          Default
        </el-button>
        <el-button
          size="medium"
          class="has-icon"
          disabled
        >
          <svg
            class="icon icon-chat-bubble"
          >
            <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
          </svg>
          Disabled
        </el-button>
        <br> <br>
        <el-button
          type="primary"
          size="medium"
        >
          Primary
        </el-button>
        <el-button
          type="primary"
          size="medium"
          disabled
        >
          Disabled
        </el-button>
        <el-button
          type="primary"
          class="has-icon"
          size="medium"
        >
          <svg
            class="icon icon-chat-bubble"
          >
            <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
          </svg>
          Primary
        </el-button>
        <el-button
          type="primary"
          size="medium"
          class="has-icon"
          disabled
        >
          <svg
            class="icon icon-chat-bubble"
          >
            <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
          </svg>
          Disabled
        </el-button>
      </div>
      <h3>Small size</h3>
      <div>
        <el-button
          size="small"
        >
          Default
        </el-button>
        <el-button
          size="small"
          disabled
        >
          Disabled
        </el-button>
        <el-button
          size="small"
          class="has-icon"
        >
          <svg
            class="icon icon-chat-bubble"
          >
            <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
          </svg>
          Default
        </el-button>
        <el-button
          size="small"
          class="has-icon"
          disabled
        >
          <svg
            class="icon icon-chat-bubble"
          >
            <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
          </svg>
          Disabled
        </el-button>
        <br> <br>
        <el-button
          type="primary"
          size="small"
        >
          Primary
        </el-button>
        <el-button
          type="primary"
          size="small"
          disabled
        >
          Disabled
        </el-button>
        <el-button
          type="primary"
          size="small"
          class="has-icon"
        >
          <svg
            class="icon icon-chat-bubble"
          >
            <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
          </svg>
          Primary
        </el-button>
        <el-button
          type="primary"
          size="small"
          class="has-icon"
          disabled
        >
          <svg
            class="icon icon-chat-bubble"
          >
            <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
          </svg>
          Disabled
        </el-button>
      </div>
      <br> <br>
      <el-button
        type="danger"
      >
        Danger
      </el-button>
      <el-button
        type="danger"
        disabled
      >
        Disabled
      </el-button>
      <br><br>
      <el-button
        type="success"
      >
        Success
      </el-button>
      <el-button
        type="success"
        disabled
      >
        Disabled
      </el-button>
    </div>
    <div class="stylemap-buttons__row">
      <h3>Rounded</h3>
      <el-button
        class="button-rounded"
      >
        Default
      </el-button>
      <el-button
        disabled
        class="button-rounded"
      >
        Disabled
      </el-button>
      <br> <br>
      <el-button
        type="primary"
        class="button-rounded"
      >
        Primary
      </el-button>
      <el-button
        type="primary"
        disabled
        class="button-rounded"
      >
        Disabled
      </el-button>
    </div>
    <div class="stylemap-buttons__row">
      <h3>Rounded with icon</h3>
      <el-button
        class="button-rounded"
        size="medium"
      >
        <svg
          class="icon icon-chat-bubble"
        >
          <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
        </svg>
        Default
      </el-button>
      <el-button
        disabled
        class="button-rounded"
        size="medium"
      >
        <svg
          class="icon icon-chat-bubble"
        >
          <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
        </svg>
        Disabled
      </el-button>
      <br> <br>
      <el-button
        type="primary"
        class="button-rounded"
        size="medium"
      >
        <svg
          class="icon icon-chat-bubble"
        >
          <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
        </svg>
        Primary
      </el-button>
      <el-button
        type="primary"
        disabled
        class="button-rounded"
        size="medium"
      >
        <svg
          class="icon icon-chat-bubble"
        >
          <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-chat-bubble" />
        </svg>
        Disabled
      </el-button>
    </div>
    <div class="stylemap-buttons__row">
      <h3>Text</h3>
      <el-button
        type="text"
      >
        Text Button
      </el-button>
    </div>
    <div class="stylemap-buttons__row">
      <h3>Button with icon</h3>
      <el-button
        class="button-empty-icon"
      >
        <svg
          class="icon icon-bell"
        >
          <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-bell" />
        </svg>
      </el-button>
    </div>
    <div class="stylemap-buttons__row">
      <h3>Square Button</h3>
      <div class="d-flex">
        <el-button
          class="button-square"
          type="primary"
          :class="{ active: true }"
        >
          <div class="button-square__inner">
            {{ $trans('payment::actions.credit_card') }}
          </div>
        </el-button>
        <el-button
          class="button-square button-square--action"
          type="primary"
        >
          <div class="button-square__icon">
            <svg
              class="icon icon-plus-circle"
            >
              <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-plus-circle" />
            </svg>
          </div>
          <div class="button-square__inner">
            {{ $trans('payment::actions.add_new') }}
          </div>
        </el-button>
      </div>
    </div>
    <div class="stylemap-buttons__row">
      <h3>Button Profile</h3>
      <el-dropdown
        :tabindex="1"
      >
        <span class="el-dropdown-link button-profile">
          <span class="button-profile__avatar">
            U
          </span>
          <strong class="button-profile__name">
            User Name
          </strong>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <a href="#">
              Item
            </a>
          </el-dropdown-item>
          <el-dropdown-item>
            <a href="#">
              Item
            </a>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
    export default {
        name: "Buttons"
    }
</script>

<style scoped>

</style>
