<template>
  <div>
    <h2 class="stylemap__title text-subtitle-lg-semibold">
      #Color System
    </h2>
    <div class="stylemap__row">
      <div class="color-system">
        <div class="color-system__col">
          <div class="title">
            --bg-{#}
          </div>
          <div
            class="box"
            title="var(--bg-offset100)"
            style="background-color: var(--bg-offset100);"
          />
          <div
            class="box"
            title="var(--bg-offset97)"
            style="background-color: var(--bg-offset97);"
          />
          <div
            class="box"
            title="var(--bg-offset90)"
            style="background-color: var(--bg-offset90);"
          />
          <div
            class="box"
            title="var(--bg-offset85)"
            style="background-color: var(--bg-offset85);"
          />
          <div
            class="box"
            title="var(--bg-offset80)"
            style="background-color: var(--bg-offset80);"
          />
          <div
            class="box"
            title="var(--bg-offset70)"
            style="background-color: var(--bg-offset70);"
          />
          <div
            class="box"
            title="var(--bg-offset60)"
            style="background-color: var(--bg-offset60);"
          />
          <div
            class="box"
            title="var(--bg-offset50)"
            style="background-color: var(--bg-offset50);"
          />
          <div
            class="box"
            title="var(--bg-offset40)"
            style="background-color: var(--bg-offset40);"
          />
          <div
            class="box"
            title="var(--bg-offset30)"
            style="background-color: var(--bg-offset30);"
          />
          <div
            class="box"
            title="var(--bg-offset20)"
            style="background-color: var(--bg-offset20);"
          />
          <div
            class="box"
            title="var(--bg-offset15)"
            style="background-color: var(--bg-offset15);"
          />
          <div
            class="box"
            title="var(--bg-offset10)"
            style="background-color: var(--bg-offset10);"
          />
          <div
            class="box"
            title="var(--bg-offset5)"
            style="background-color: var(--bg-offset5);"
          />
          <div
            class="box"
            title="var(--bg-offset3)"
            style="background-color: var(--bg-offset3);"
          />
          <div
            class="box"
            title="var(--bg-base)"
            style="background-color: var(--bg-base);"
          />
        </div>
        <div class="color-system__col">
          <div class="title">
            --fg-{#}
          </div>
          <div
            class="box"
            title="var(--fg-base)"
            style="background-color: var(--fg-base);"
          />
          <div
            class="box"
            title="var(--fg-offset3)"
            style="background-color: var(--fg-offset3);"
          />
          <div
            class="box"
            title="var(--fg-offset5)"
            style="background-color: var(--fg-offset5);"
          />
          <div
            class="box"
            title="var(--fg-offset10)"
            style="background-color: var(--fg-offset10);"
          />
          <div
            class="box"
            title="var(--fg-offset15)"
            style="background-color: var(--fg-offset15);"
          />
          <div
            class="box"
            title="var(--fg-offset20)"
            style="background-color: var(--fg-offset20);"
          />
          <div
            class="box"
            title="var(--fg-offset30)"
            style="background-color: var(--fg-offset30);"
          />
          <div
            class="box"
            title="var(--fg-offset40)"
            style="background-color: var(--fg-offset40);"
          />
          <div
            class="box"
            title="var(--fg-offset50)"
            style="background-color: var(--fg-offset50);"
          />
          <div
            class="box"
            title="var(--fg-offset60)"
            style="background-color: var(--fg-offset60);"
          />
          <div
            class="box"
            title="var(--fg-offset70)"
            style="background-color: var(--fg-offset70);"
          />
          <div
            class="box"
            title="var(--fg-offset80)"
            style="background-color: var(--fg-offset80);"
          />
          <div
            class="box"
            title="var(--fg-offset85)"
            style="background-color: var(--fg-offset85);"
          />
          <div
            class="box"
            title="var(--fg-offset90)"
            style="background-color: var(--fg-offset90);"
          />
          <div
            class="box"
            title="var(--fg-offset97)"
            style="background-color: var(--fg-offset97);"
          />
          <div
            class="box"
            title="var(--fg-offset100)"
            style="background-color: var(--fg-offset100);"
          />
        </div>
        <div class="color-system__col">
          <div class="title">
            --color-text-{#}
          </div>
          <div
            class="box"
            title="var(--color-text-high)"
            style="background-color: var(--color-text-high);"
          />
          <div
            class="box"
            title="var(--color-text-mid)"
            style="background-color: var(--color-text-mid);"
          />
          <div
            class="box"
            title="var(--color-text-sm-low)"
            style="background-color: var(--color-text-sm-low);"
          />
          <div
            class="box"
            title="var(--color-text-lg-low)"
            style="background-color: var(--color-text-lg-low);"
          />
          <div
            class="box"
            title="var(--color-text-disabled1)"
            style="background-color: var(--color-text-disabled1);"
          />
          <div
            class="box"
            title="var(--color-text-disabled2)"
            style="background-color: var(--color-text-disabled2);"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "ColorSystem"
  }
</script>
