<template>
  <div class="messages">
    <strong>Default</strong>
    <br>
    <div class="message">
      <p class="message__descr">
        Warning, we’ve found some issues with your video creative. Please review the list below for how to fix the problems.
        <a href="#">Learn more.</a>
      </p>
    </div>
    <strong>Danger</strong>
    <br>
    <div class="message message--danger">
      <div class="message__icon">
        <svg
          class="icon icon-alert-circle icon-danger"
        >
          <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-alert-circle" />
        </svg>
      </div>
      <p class="message__descr">
        Warning, we’ve found some issues with your video creative. Please review the list below for how to fix the problems.
        <a href="#">Learn more.</a>
      </p>
    </div>
    <strong>Warning</strong>
    <br>
    <div class="message message--warning">
      <div class="message__icon">
        <svg
          class="icon icon-alert-circle icon-warning"
        >
          <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-alert-circle" />
        </svg>
      </div>
      <p class="message__descr">
        Warning, we’ve found some issues with your video creative. Please review the list below for how to fix the problems.
        <a href="#">Learn more.</a>
      </p>
    </div>
    <strong>Success</strong>
    <br>
    <div class="message message--success">
      <div class="message__icon">
        <svg
          class="icon icon-alert-circle icon-success"
        >
          <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-alert-circle" />
        </svg>
      </div>
      <p class="message__descr">
        Warning, we’ve found some issues with your video creative. Please review the list below for how to fix the problems.
        <a href="#">Learn more.</a>
      </p>
    </div>
    <strong>Time</strong>
    <br>
    <div class="message message--time">
      <div class="message__icon">
        <svg
          class="icon icon-clock"
        >
          <use xlink:href="../../../../images/icons/symbol-defs.svg#icon-clock" />
        </svg>
      </div>
      <p class="message__descr">
        This may take between 1-5 days depending on your bank and an additional 2 days for your creative.
      </p>
    </div>
  </div>
</template>

<script>
    export default {
        name: "Message",

        data () {
          return {
          }
        }
    }
</script>

<style scoped>

</style>
