<template>
  <div>
    <div class="stylemap-buttons__row">
      <h3>Removable tag</h3>
      <div class="promocode-tag">
        <el-tag
          closable
          :disable-transitions="false"
        >
          Hulu30Hulu30Hulu30Hulu30Hulu30Hulu30
        </el-tag>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "Tags"
    }
</script>

<style scoped>

</style>
