<template>
  <div>
    <div class="budget-tooltip">
      <p>
        $1,941.00
      </p>
      <span
        class="budget-code"
      >
        Code Applied
        <div class="budget-tooltip__popover">
          <p class="text-label-xs-semibold-caps">
            Hulu123
          </p>
          <p>$8,000.00</p>
          <p>-$500.00</p>
          <p class="total text-label-xs-semibold-caps">$7,500.00</p>
        </div>
      </span>
    </div>
  </div>
</template>

<script>
    export default {
        name: "Tooltips"
    }
</script>

<style scoped>

</style>
