<template>
  <div class="upload-creative">
    <el-upload
      class="upload-creative__input"
      drag
      :show-file-list="false"
      action="https://jsonplaceholder.typicode.com/posts/"
      multiple
    >
      <div class="el-upload__text">
        <span class="text-label-xs-semibold-caps">Drag & Drop files anywhere to upload or</span>
      </div>
      <el-button
        class="upload-creative__button"
      >
        Select Files
      </el-button>
      <div class="upload-creative__tip">
        <small class="upload-creative__tip-item">
          Format: .mp4 or .mov
        </small>
        <small class="upload-creative__tip-item">
          Max File Size: 1 GB
        </small>
        <small class="upload-creative__tip-item">
          Duration: 15-30 Seconds
        </small>
      </div>
    </el-upload>
  </div>
</template>

<script>
    export default {
        name: "UploadCreative"
    }
</script>

<style scoped>

</style>
