<template>
  <span :class="extraClass">
    <template v-if="hasDate">
      <date-formatter
        :value="dateStart"
        :use-timezone="useTimezone"
        :client-timezone="clientTimezone"
      />
      -
      <date-formatter
        :value="dateEnd"
        :use-timezone="useTimezone"
        :client-timezone="clientTimezone"
      />
      <span v-if="hasTimeZone">({{ timezone }})</span>
    </template>
    <template v-else>-</template>
  </span>
</template>

<script>
  import DateFormatter from './Date';

  export default {
    /**
     * Component name
     */
    name: 'DateRange',

    /**
     * Components
     */
    components: {
      DateFormatter
    },

    /**
     * Props
     */
    props: {
      /**
       * Date start
       */
      dateStart: {
        type: [String, Number, Date],
        default: '',
      },

      /**
       * Date end
       */
      dateEnd: {
        type: [String, Number, Date],
        default: '',
      },

      /**
       * If formatTimezone must be used
       * Set "useTimezone = true" to format date with timezone offset ('2020-03-30T23:59:59.000-0500') without shifting
       */
      useTimezone: {
        type: Boolean,
        default: false,
      },

      /**
       * Timezone
       */
      timezone: {
        type: [String, Number],
        default: '',
      },

      /**
       * If client timezone shifting allowed
       * Set "clientTimezone = true" to format date with client(browser) timezone offset.
       */
      clientTimezone: {
        type: Boolean,
        default: false,
      },

      /**
       * Class
       */
      extraClass: {
        type: String,
        default: '',
      },
    },

    /**
     * Computed props
     */
    computed: {
      /**
       * Has date
       * @returns {default.props.dateEnd|{default, type}|default.props.dateStart}
       */
      hasDate () {
        return this.dateEnd && this.dateStart;
      },

      /**
       * Has timezone
       * @returns {default.props.timezone|{default, type}}
       */
      hasTimeZone () {
        return this.timezone;
      },
    },
  };
</script>
