<template>
  <div class="dynamic-number">
    <template
      v-if="increment"
    >
      {{ number }}
    </template>
    <template
      v-else
    >
      <div
        v-for="(item, index) in numberArray"
        :key="index"
      >
        {{ item }}
        <div v-if="isShowComma(index, numberArray)">
          ,
        </div>
      </div>
      <div v-if="decimalArray.length">
        .
        <div
          v-for="(item, index) in decimalArray"
          :key="index"
        >
          {{ item }}
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  import Vue from 'vue';
  import debounce from 'lodash/debounce';

  export default {
    /**
     * Component name
     */
    name: 'DynamicNumber',

    /**
     * Props
     */
    props: {
      /**
       * Old value
       */
      oldValue: {
        type: [String, Number],
        default: '',
      },

      /**
       * New value
       */
      newValue: {
        type: [String, Number],
        default: '',
      },

      /**
       * Type single increment
       */
      increment: {
        type: Boolean,
        default: false
      },

      /**
       * Duration value
       */
      duration: {
        type: Number,
        default: 200
      },

      /**
       * Isset separator
       */
      separator: {
        type: Boolean,
        default: true
      }
    },

    /**
     * Data properties
     */
    data() {
      return {
        number: 0,
        numberArray: [0],
        decimalArray: [],
        decimalOld: 0,
        decimalNew: 0,
      }
    },

    /**
     * Watch
     */
    watch: {
      newValue: debounce(function () {
        this.setNumber();

        this.numberArray.forEach((item, i) => {
          this.animateValueChank(item, String(this.newValue).charAt(i), this.numberArray, i);
        });

        this.decimalArray.forEach((item, i) => {
          this.animateValueChank(item, String(this.decimalNew).charAt(i), this.decimalArray, i);
        });
      }, 500),
    },

    /**
     * Mounted
     */
    mounted() {
      if (this.increment) {
        this.animateValue(this.oldValue, this.newValue);
      } else {
        this.setNumber();

        let newValue = this.newValue.toString();
        if (this.separator) {
          newValue = newValue.replace(',', '');
        }

        this.numberArray.forEach((item, i) => {
          this.animateValueChank(item, String(newValue).charAt(i), this.numberArray, i);
        });

        this.decimalArray.forEach((item, i) => {
          this.animateValueChank(item, String(this.decimalNew).charAt(i), this.decimalArray, i);
        });
      }
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Check number is float
       * @param number
       */
      isFloat(number) {
        return number.toString().indexOf('.') !== -1;
      },

      /**
       * Set number array
       */
      setNumber () {
        let oldValue = this.oldValue.toString();
        let newValue = this.newValue.toString();

        if (this.separator) {
          oldValue = oldValue.replace(',', '');
          newValue = newValue.replace(',', '');
        }
        if (this.isFloat(this.newValue)) {
          oldValue = parseInt(this.oldValue);
          newValue = parseInt(this.newValue);
          const decimalOld = this.oldValue.toString().split(".")[1];
          this.decimalNew = this.newValue.toString().split(".")[1];

          this.decimalArray = this.getInitialArray(decimalOld, this.decimalNew);
        }

        this.numberArray = this.getInitialArray(oldValue, newValue);
      },

      /**
       * Get initial number
       * @param oldValue
       * @param newValue
       */
      getInitialArray (oldValue, newValue) {
        let result = '';
        if (String(oldValue).length < String(newValue).length) {
          result = String(oldValue) + '0'.repeat(String(newValue).length - String(oldValue).length);
        }
        if (String(oldValue).length === String(newValue).length) {
          result = String(oldValue);
        }
        if (String(oldValue).length > String(newValue).length) {
          result = String(oldValue).slice(0, String(newValue).length);
        }
        return result.split('');
      },

      /**
       * Animate single increment
       * @param start
       * @param end
       */
      animateValue(start, end) {
        let startTimestamp = null;
        const step = (timestamp) => {
          if (!startTimestamp) startTimestamp = timestamp;
          const progress = Math.min((timestamp - startTimestamp) / this.duration, 1);
          this.number = Math.floor(progress * (end - start) + start);
          if (progress < 1) {
            window.requestAnimationFrame(step);
          }
        };
        window.requestAnimationFrame(step);
      },

      /**
       * Animate each number
       * @param start
       * @param end
       * @param property
       * @param iteration
       */
      animateValueChank(start, end, property, iteration) {
        if (start === end) return;

        var current = parseInt(start);
        var increment = parseInt(end) > parseInt(start) ? 1 : -1;
        var timer = setInterval(() => {
          current += increment;
          if (current < 0) {
            current = 0;
          }
          Vue.set(property,  iteration ,current);
          if (current === parseInt(end)) {
            clearInterval(timer);
          }
        }, this.duration);
      },

      /**
       * Check need the comma
       * @param index
       * @param arrayValues
       */
      isShowComma (index, arrayValues) {
        return (index + 1) % 3 === 0 && index + 1 !== arrayValues.length
      }
    }
  }
</script>
