<template>
  <span>{{ number }}</span>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'Number',

    /**
     * Props
     */
    props: {
      value: {
        type: [String, Number],
        default: '',
      },
    },

    /**
     * Computed props
     */
    computed: {
      number () {
        if (!this.value) {
          return '-';
        }
        return this.$formatInt(this.value);
      },
    },
  };
</script>
