<template>
  <data-table-banner
    :display-button="displayButton"
    :title="title || defaultTitle"
  >
    <!-- ICON -->
    <icon
      slot="icon"
      value="video-off"
      :width="120"
      :height="120"
      transparent="fill"
      lightness="mute"
    />
    <create-campaign-button
      v-if="displayButton"
      slot="button"
    />
  </data-table-banner>
</template>

<script>
  import DataTableBanner from 'Foundation/components/dataTable/DataTableBanner';
  import CreateCampaignButton from "Modules/campaign/components/common/buttons/CreateCampaignButton";
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Component name
     */
    name: 'CreativesBanner',

    /**
     * Child components.
     */
    components: {
      DataTableBanner,
      Icon,
      CreateCampaignButton,
    },

    /**
     * Extend the component.
     */
    extends: DataTableBanner,

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Default title.
       *
       * @returns {*}
       */
      defaultTitle () {
        return this.$trans('creative::messages.create_campaign_to_upload_ad');
      },
    },
  };
</script>
