<template>
  <layout-main menu="invitations">
    <div class="page">
      <div class="page__header">
        <h1>{{ $trans('invitation::labels.invitations') }}</h1>
        <el-button
          v-if="$hasPermission('create_invitation') && $config.invitation.enabled"
          slot="button"
          type="default"
          @click="invitationModalVisible = true"
        >
          {{ $trans('invitation::labels.create_invite') }}
        </el-button>
      </div>
      <div class="page__holder level-negative-1">
        <invitation-table
          ref="table"
          @create="invitationModalVisible = true"
        />
      </div>
    </div>
    <invitation-modal
      v-if="invitationModalVisible"
      ref="modal"
      @close="close"
      @created="refreshDataTable"
    />
  </layout-main>
</template>

<script>
  import LayoutMain from 'Foundation/layouts/LayoutMain';
  import InvitationTable from "Modules/invitation/components/index/InvitationTable";
  import InvitationModal from "Modules/invitation/components/modals/InvitationModal";

  export default {
    /**
     * Name
     */
    name: 'TheAdminInvitationIndex',

    /**
     /**
     * Components
     */
    components: {
      LayoutMain,
      InvitationTable,
      InvitationModal
    },

    /**
     * Component data
     */
    data () {
      return {
        invitationModalVisible: false,
      }
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Component methods
       */
      refreshDataTable () {
        this.$refs['table'].refresh()
      },

      /**
       * On modal close
       */
      close () {
        this.invitationModalVisible = false;
      },
    }
  };
</script>
