<template>
  <div class="login">
    <div class="login__holder">
      <div>
        <route-wizard
          :active.sync="active"
          :is-last-step.sync="isLastStep"
          :loading="loading"
          :routes="routes"
          :success-route="successRoute"
          :success="!!success"
          custom-class="sign-up"
          form-class="sign-up__forms"
          :form-step-class="formStepClass"
          @close="close"
          @finish="submit"
        >
          <!-- PROGRESS BAR -->
          <template slot="progress-bar">
            <wizard-progress
              v-if="!success"
              :active="active"
              :steps="routes.length"
            />
          </template>

          <!-- FOOTER | TERMS AND CONDITIONS -->
          <template slot="footer">
            <register-terms-of-use />
          </template>

          <!-- DUPLICATED TERMS AND CONDITIONS -->
          <template
            v-if="isLastStep"
            slot="footer-buttons-before"
          >
            <register-policy-agreement />
          </template>
        </route-wizard>

        <re-captcha
          ref="recaptcha"
          action="register"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import RegisterPolicyAgreement from './RegisterPolicyAgreement';
  import RegisterTermsOfUse from './RegisterTermsOfUse';
  import Visible from 'Foundation/mixins/Visible';
  import { mapActions, mapState } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import { ReCaptcha } from 'Foundation/components/form';
  import { RouteWizard, WizardProgress } from 'Foundation/components/navigation/wizard';

  export default {
    /**
     * Component name.
     */
    name: 'RegisterForm',

    /**
     * Child components.
     */
    components: {
      ReCaptcha,
      RegisterPolicyAgreement,
      RegisterTermsOfUse,
      RouteWizard,
      WizardProgress,
    },

    /**
     * Mixins.
     */
    mixins: [
      Visible
    ],

    /**
     * Reactive data.
     */
    data () {
      return {
        active: 0,
        isLastStep: false,
        loading: false,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('register', [
        'success',
        'user',
      ]),

      /**
       * Vuex (fields).
       */
      ...mapFields('register', {
        recaptcha: 'user.recaptcha',
      }),

      /**
       * List of routes used for the wizard.
       */
      routes () {
        return [
          'register',
          'register.email',
          'register.companyName',
          'register.phone',
          'register.address',
        ];
      },

      /**
       * This route should be displayed after success.
       */
      successRoute () {
        return 'register.success';
      },

      /**
       * Get form step class.
       */
      formStepClass: function () {
        return this.success ? 'sign-up__thanks' : 'sign-up__forms-step';
      }
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Form should be returned to the default state after reopening.
       */
      visible (visible) {
        if (!visible) {
          this.reset();
        }
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex.
       */
      ...mapActions('register', [
        'reset',
        'storeUser',
      ]),

      /**
       * Submit the form.
       *
       * @returns {Promise<void>}
       */
      async submit () {
        if (this.loading) {
          return;
        }
        try {
          this.loading = true;
          this.recaptcha = await this.$refs.recaptcha.verify();

          const validated = await this.$validateScope();

          if (!validated) {
            return;
          }

          await this.$call(this.storeUser());

          this.$trackAction('signup_complete', {
            first_name: this.user.firstName,
            last_name: this.user.lastName,
            email: this.user.email,
            currency_code: this.$config.currency.code,
            company_name: this.user.companyName,
          });

          this.loading = false;
        } catch (error) {
          this.loading = false;
        }
      },
    },
  };
</script>
