<template>
  <div class="sign-up__actions-terms">
    <p v-html="content" />
  </div>
</template>

<script>
  export default {
    /**
     * Component name.
     */
    name: 'RegisterPolicyAgreement',

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Component content (contains html).
       * @returns {string}
       */
      content () {
        return this.$trans('labels.terms_of_use_agree', {
          terms_link: this.$config.general.links.terms_of_use,
          policy_link: this.$config.general.links.privacy_policy,
        });
      },
    },
  };
</script>
