<template>
  <div v-loading="loading">
    <register-validate-invite-result />

    <div v-if="!inviteCodeError">
      <h3>{{ $trans('auth::register.whats_your_name') }}</h3>
      <text-field
        ref="firstName"
        v-model="firstName"
        tabindex="1"
        :label="$trans('labels.first_name')"
        :placeholder="placeholders.firstName"
        :validation="validation.user.first_name"
        validate-on="none"
        name="first_name"
        @enter="submit"
      />
      <text-field
        v-model="lastName"
        tabindex="2"
        :label="$trans('labels.last_name')"
        :placeholder="placeholders.lastName"
        :validation="validation.user.last_name"
        validate-on="none"
        name="last_name"
        @enter="submit"
      />
    </div>
  </div>
</template>

<script>
  import RegisterFormStep from './mixins/RegisterFormStep';
  import RegisterValidateInviteResult from "Modules/auth/components/register/RegisterValidateInviteResult";
  import { mapFields } from 'vuex-map-fields';
  import { mapState } from 'vuex';

  export default {
    /**
     * Component name.
     */
    name: 'RegisterName',

    /**
     * Child components.
     */
    components: {
      RegisterValidateInviteResult,
    },
    /**
     * Mixins.
     */
    mixins: [
      RegisterFormStep,
    ],

    /**
     * Data.
     */
    data() {
      return {
        loading: true,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Fields mapping.
       */
      ...mapFields('register', {
        firstName: 'user.firstName',
        lastName: 'user.lastName',
      }),

      /**
       * Fields mapping.
       */
      ...mapState('register', ['inviteCodeError']),

      /**
       * Ref for focused element.
       *
       * @returns {string}
       */
      focused () {
        return 'firstName';
      },
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Set invite error.
       */
      inviteCodeError (value) {
        this.$emit('invite-error', value);
      },
    },

    methods: {
      /**
       * Before wizard's "next" event hook.
       * @returns {boolean}
       */
      beforeNext () {
        return !this.inviteCodeError;
      },

      /**
       * Before wizard's "setActive" event hook.
       */
      beforeSetActive () {
        this.$trackAction('suf_name');
      }
    }
  };
</script>
