<template>
  <div>
    <el-button
      v-if="visible"
      type="success"
      @click="onClick"
    >
      {{ $trans('actions.create_campaign') }}
    </el-button>
  </div>
</template>

<script>

  export default {
    /**
     * Name of the component.
     */
    name: 'CreateCampaignButton',

    /**
     * Computed properties.
     */
    computed: {
      /**
       * True if button should be visible.
       * @returns {*}
       */
      visible () {
        return this.$hasPermission('create_campaign');
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * On click event handler.
       */
      onClick () {
        this.$redirectToRoute('campaigns.create');
      },
    },
  };
</script>
