<template>
  <transition name="el-zoom-in-top">
    <el-button
      type="default"
      size="small"
      :disabled="deleteReminderPending"
      @click="ctaClick"
    >
      {{ cta.title }}
    </el-button>
  </transition>
</template>

<script>
  import ReminderButton from './mixins/ReminderButton';
  import { mapActions, mapState } from 'vuex';

  export default {
    /**
     * Name of the component.
     */
    name: 'DropReminderButton',

    /**
     * Mixins.
     */
    mixins: [ReminderButton],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('notifications', ['deleteReminderPending']),
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Map actions.
       */
      ...mapActions('notifications', ['deleteReminder']),

      /**
       * Delete reminder handler.
       */
      ctaClick () {
        this.$call(this.deleteReminder(this.reminder.id), {
          muteException: true,
        });
      },
    },
  };
</script>
