<template>
  <modal
    custom-class="el-dialog--actions-column-reverse reports-popup"
    width="770px"
    :visible="true"
    :title="label"
    :submit-label="label"
    @submit="onSubmit(isPendingState)"
    @close="close"
    @cancel="close"
  >
    <div v-loading="isPendingState">
      <div class="custom-label">
        {{ $trans('report::labels.type_report') }}
      </div>
      <tabs
        ref="tabs"
        v-model="activeTab"
        class="reports-tabs el-tabs-large"
        @tab-click="setInitialData"
      >
        <el-tab-pane
          v-if="!disabled('scheduled')"
          :label="$trans(`report::labels.scheduled`)"
          name="scheduled"
        >
          <div
            class="reports-tabs__description"
            :style="tabStyle"
          >
            <div v-html="$trans('report::messages.emailed_reports')" />
          </div>
          <schedule-form
            ref="scheduled"
            :current-id="currentId"
            @close="$emit('close')"
            @created="$emit('created')"
            @submit="onSubmit(isPendingState)"
          />
        </el-tab-pane>
        <el-tab-pane
          v-if="!disabled('download')"
          :label="$trans(`report::labels.one_time`)"
          name="download"
        >
          <div
            class="reports-tabs__description"
            :style="tabStyle"
          >
            <div v-html="$trans('report::messages.downloadable_reports')" />
          </div>
          <download-form
            ref="download"
            :current-id="currentId"
            @close="$emit('close')"
            @created="$emit('created')"
            @submit="onSubmit(isPendingState)"
          />
        </el-tab-pane>
        <el-tab-pane
          v-if="!disabled('advertisers') && advertisersAllowed"
          :label="$trans(`report::labels.advertisers`)"
          name="advertisers"
        >
          <div
            class="reports-tabs__description"
            :style="tabStyle"
          >
            <div v-html="$trans('report::messages.advertisers_reports')" />
          </div>
          <advertisers-form
            ref="advertisers"
            :current-id="currentId"
            @close="$emit('close')"
            @created="$emit('created')"
            @submit="onSubmit(isPendingState)"
          />
        </el-tab-pane>
        <el-tab-pane
          v-if="!disabled('pending_campaigns') && pendingCampaignsAllowed"
          :label="$trans(`report::labels.pending_campaigns`)"
          name="pending_campaigns"
        >
          <div
            class="reports-tabs__description"
            :style="tabStyle"
          >
            <div v-html="$trans('report::messages.campaigns_reports')" />
          </div>
          <pending-campaigns-form
            ref="pending_campaigns"
            :current-id="currentId"
            @close="$emit('close')"
            @created="$emit('created')"
            @submit="onSubmit(isPendingState)"
          />
        </el-tab-pane>
        <el-tab-pane
          v-if="!disabled('missing_ads') && missingAdsAllowed"
          :label="$trans(`report::labels.missing_ads`)"
          name="missing_ads"
        >
          <div
            class="reports-tabs__description"
            :style="tabStyle"
          >
            <div v-html="$trans('report::messages.missing_ads_reports')" />
          </div>
          <missing-ads-form
            ref="missing_ads"
            :current-id="currentId"
            @close="$emit('close')"
            @created="$emit('created')"
            @submit="onSubmit(isPendingState)"
          />
        </el-tab-pane>
      </tabs>
    </div>
  </modal>
</template>

<script>
  import Modal from 'Foundation/components/layout/modal/Modal';
  import Visible from "Foundation/mixins/Visible";
  import DownloadForm from "Modules/report/components/forms/DownloadForm";
  import ScheduleForm from "Modules/report/components/forms/ScheduleForm";
  import AdvertisersForm from "Modules/report/components/forms/AdvertisersForm";
  import { mapGetters } from 'vuex';
  import Tabs from "Foundation/components/tabs/Tabs";
  import PendingCampaignsForm from "Modules/report/components/forms/PendingCampaignsForm";
  import MissingAdsForm from "Modules/report/components/forms/MissingAdsForm";
  import Form from 'Foundation/mixins/Form';

  export default {
    /**
     * Name.
     */
    name: 'ReportModal',

    /**
     * Components.
     */
    components: {
      PendingCampaignsForm,
      Modal,
      DownloadForm,
      ScheduleForm,
      AdvertisersForm,
      Tabs,
      MissingAdsForm,
    },

    /**
     * Mixins.
     */
    mixins: [Visible, Form],

    /**
     * Props.
     */
    props: {
      /**
       * Active Tab.
       */
      activeTabProp: {
        type: String,
        default: 'scheduled'
      },

      /**
       * Current id.
       */
      currentId: {
        type: Number,
        default: null,
      },
    },

    /**
     * Data.
     */
    data () {
      return {
        activeTab: this.activeTabProp,
        tab: false,
        tabStyle: {
          width: '0%',
          opacity: 0
        },
        action: null,
      }
    },

    /**
     * Computed properties
     */
    computed: {
      ...mapGetters('report', ['isPendingState']),

      /**
       * Modal label
       */
      label () {
        return this.currentId ?
          this.$trans('report::labels.update_report') :
          this.$trans('report::labels.create_report');
      },

      advertisersAllowed() {
        return this.$user.states.advertisers_report_allowed;
      },

      pendingCampaignsAllowed() {
        return this.$user.states.pending_campaigns_report_allowed;
      },

      missingAdsAllowed() {
        return this.$user.states.missing_ads_report_allowed;
      },
    },

    /**
     * Mounted
     */
    mounted() {
      this.setInitialData();
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Disable tab
       */
      disabled (type) {
        return this.currentId && this.activeTab !== type;
      },

      /**
       * Set default description width.
       */
      setDescriptionWidth () {
        this.$nextTick(() => {
          setTimeout(() => {
            if (this.$refs['tabs']) {
              const navButtonWidth = this.$refs['tabs'].$refs['nav'].scrollable.next || this.$refs['tabs'].$refs['nav'].scrollable.prev ? 55 : 0;
              const allWidth = this.$refs['tabs'].$el.clientWidth;
              this.tabStyle.width = 100 - ((this.$refs['tabs'].$refs['nav'].$refs['navScroll'].clientWidth + navButtonWidth) * 100 / allWidth);
              this.tabStyle.width = this.tabStyle.width + '%';
              this.tabStyle.opacity = 1;
            }
          }, 0)
        });
      },

      /**
       * Set initial data.
       */
      setInitialData () {
        this.$nextTick(() => {
          this.action = this.$refs[this.activeTab].submit;
        });

        this.setDescriptionWidth();
      }
    },
  }
</script>
