.advertisers {
  &__holder {
    padding: var(--main-padding-y) var(--main-padding-x);
  }

  &__impressions-cell {
    text-align: right;
    padding-right: 25px;
  }
}

.advertiser-details {
  .el-switch {
    .el-switch__label {
      color: var(--color-text-sm-low);
      background-color: inherit;

      &.is-active {
        color: var(--color-text-high);
      }
    }
  }
}

.advertiser-info-transition-group {
  width: 100%;

  .info-header {
    display: flex;
    justify-content: space-between;
  }
}

.download-report__ * {
  float: right;
}
