.browser-lock {
  padding: 126px 126px;
  max-width: 520px;
  display: flex;
  align-items: flex-start;

  h3 {
    @extend .text-size-lg;
    margin-bottom: 42px;
  }

  .el-button {
    padding-left: 36px;
    padding-right: 36px;
  }

  ul {
    display: flex;

    li {
      background-color: var(--border-color-base);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 148px;
      max-width: 148px;
      padding: 24px 14px;

      &:not(:last-of-type) {
        margin-right: 24px;
      }

      img {
        margin-bottom: 12px;
      }

      a,
      span {
        @extend .text-label-xs-semibold-caps;
        margin-top: 12px;
      }

      span {
        color: var(--color-text-sm-low);
      }
    }
  }

  p {
    @extend .text-size-sm;
  }

  ul,
  p {
    margin-bottom: 20px;
  }

  .caption {
    width: 80%;
  }

  &__content {
    width: 45%;
    min-width: 700px;
  }

  > img {
    transform: translate(-20%, -75px);
    width: 450px;
  }
}

.maintenance {
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    display: block;
    margin: 0 auto 24px auto;
    width: 85px;
  }

  .caption {
    @extend .text-label-xs;
    width: auto;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: var(--color-text-high);
  }

  h3 {
    color: var(--color-text-high);
    margin-bottom: 36px;
  }

  .text {
    p {
      color: var(--color-text-high);
    }
  }
}
