.creatives {
  &__holder {
    padding: var(--main-padding-y) var(--main-padding-x);
  }

  &__errors {
    padding: var(--main-padding-y) 0 0;
  }
}

.c-creative {
  width: 100%;

  &__reminder {
    @extend .text-body-sm;
    max-width: 512px;
    margin: 0 auto;
    text-align: center;
  }

  &--disabled {
    position: relative;
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--bg-base);
      opacity: .8;
      left: 0;
      top: 0;
      z-index: 50;
    }
  }

  .el-loading-mask {
    z-index: 1;
  }
}

.table-creatives-gallery {
  .table {
    &__actions-filter {
      margin: initial;
    }
  }

  .el-table {
    border: none;

    &:before {
      display: none;
    }

    &__header {
      display: none;
    }

    tr {
      &.current-row {
        > td {
          background-color: transparent;

          &:before {
            display: none;
          }
        }
      }

      &:first-of-type {
        td:before {
          margin: 0 0;
        }
      }
    }

    td {
      padding: 4px 0;
      border: none;

      &:before {
        margin: 4px 3px 4px 0;
      }

      &:last-of-type {
        &:before {
          border-radius: var(--border-radius-base);
        }
      }
    }

    &.el-table--enable-row-hover {
      tr {
        box-shadow: none;

        &,
        td {
          background-color: transparent;
        }

        &:first-of-type {
          td {
            &:before {
              top: 4px;
              bottom: 4px;
              right: 2px;
            }
          }
        }
      }
    }

    .cell {
      padding: 0;
    }
  }
}
