.faq-section {
  .add-new-button {
    background: var(--fgcolor-blue);
  }

  .page__holder {
    padding-bottom: 56px;
  }
}

.popup-faq {
  .el-form-item {
    &__error {
      position: relative;
    }
  }
}

/**
 * FAQ Search page
 */
.faq-search {
  .search-title {
    @extend .text-size-sm;
    color: var(--color-text-high);
    margin-bottom: 12px;

    &:hover {
      text-decoration: underline;
    }
  }

  .search-item {
    color: var(--color-text-sm-low);
  }

  .search-item-wrapper {
    margin-top: 32px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color-base);
    padding-bottom: 19px;

    &:last-child {
      border-bottom-width: 0;
    }

    a {
      @extend .text-size-sm;
    }
  }

  .search-section {
    margin-top: 12px;

    a {
      @extend .text-size-sm;
    }
  }
}
