.profile-card {
  &__update {
    @extend .text-label-xs-semibold-caps;
  }

  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }
}

.account-info {
  a {
    letter-spacing: 1px;
  }

  &__item {
    border-bottom: 1px solid var(--border-color-gray);
    margin-bottom: 32px;

    .no-border & {
      border: none;
    }
  }

  &__name {
    @extend .text-label-xxs-semibold-caps;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text-high);
  }

  &__value {
    @extend .text-size-sm;
    margin-bottom: 20px;
    word-break: break-word;

    &:last-child {
      margin-bottom: 40px;
    }

    span {
      display: block;
      margin-bottom: var(--main-padding-y-mobile);
    }
  }

  &__change {
    @extend .text-label-xs-semibold-caps;
  }
}
