.contact {
  &__button {
    position: fixed;
    right: 24px;
    padding: 0;
    bottom: 24px;
    text-align: right;
    z-index: 2000;

    .button-rounded {
      @extend .text-label-xxs-semibold-caps;
      padding: 0 14px;

      span {
        top: 1px;
        position: relative;
      }
    }
  }
}
