<template>
  <modal
    :title="$trans('messages.deactivation_notice')"
    :visible="visible"
    :show-buttons="false"
    @close="close"
  >
    <span v-html="message" />
  </modal>
</template>

<script>
  import Visible from 'Foundation/mixins/Visible';
  import { Modal } from 'Foundation/components/layout/modal';

  export default {
    /**
     * Name of the component.
     */
    name: 'ModalDeactivated',

    /**
     * Child components.
     */
    components: {
      Modal,
    },

    /**
     * Mixins.
     */
    mixins: [
      Visible,
    ],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Message content.
       *
       * @returns {*}
       */
      message () {
        return this.$trans('advertiser::messages.deactivate.account_deactivated', {
          email: this.$config.general.company_support_email,
        });
      },
    },
  };
</script>
