<template>
  <el-tooltip
    v-if="hasTooltip"
    class="item"
    effect="dark"
    :content="tooltip"
    placement="top"
  >
    <a
      v-loading="loading"
      :disabled="disabled"
      :href="url"
      class="button-empty-icon"
      role="button"
      :class="{ 'el-loading-parent--relative': loading }"
      @click="onClick"
    >
      <icon
        value="download"
        transparent="fill"
      />
    </a>
  </el-tooltip>
  <a
    v-else
    v-loading="loading"
    :disabled="disabled"
    :href="url"
    role="button"
    class="button-empty-icon"
    @click="onClick"
  >
    <icon
      value="download"
      transparent="fill"
    />
  </a>
</template>

<script>
  import Tooltip from 'Foundation/mixins/Tooltip';
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name
     */
    name: 'DownloadAction',

    /**
     * Components
     */
    components: {
      Icon,
    },

    /**
     * Mixins
     */
    mixins: [Tooltip],

    /**
     * Props
     */
    props: {
      /**
       * Button url
       */
      url: {
        type: String,
        default: '#',
      },

      /**
       * Report update required
       */
      updateRequired: {
        type: Boolean,
        default: false,
      },

      /**
       * Loader trait.
       */
      loading: {
        type: Boolean,
        default: true,
      },
    },

    computed: {
      /**
       * @returns {Boolean}
       */
      disabled() {
        return !this.url && !this.updateRequired;
      },
    },

    /**
     * Methods
     */
    methods: {
      /**
       * On button click
       */
      onClick () {
        if (this.url) {
          this.$emit('click', this.url);
        } else {
          this.$notify({
            message: this.$trans('report::messages.expired'),
            type: 'warning'
          });
        }
      },
    }
  };
</script>
