<template>
  <data-table-banner :title="title || defaultTitle">
    <!-- ICON -->
    <icon
      slot="icon"
      value="file-empty"
      :height="64"
      :width="64"
      lightness="mute"
    />
    <el-button
      slot="button"
      type="default"
      @click="$emit('click')"
    >
      {{ $trans('report::messages.create_report') }}
    </el-button>
  </data-table-banner>
</template>

<script>
  import DataTableBanner from 'Foundation/components/dataTable/DataTableBanner';
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Component name
     */
    name: 'ReportsBanner',

    /**
     * Child components.
     */
    components: {
      DataTableBanner,
      Icon,
    },

    /**
     * Extend the component.
     */
    extends: DataTableBanner,

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Default title.
       *
       * @returns {*}
       */
      defaultTitle () {
        return this.$trans('report::messages.create_first_report');
      },
    },
  };
</script>
