<template>
  <campaign-step
    :title="$trans('campaign::labels.titles.genres')"
    :skippable="!anyOptionsSelected"
  >
    <template slot="description">
      <p
        v-if="isSpecialAds"
        v-html="$trans('campaign::labels.subtitles.special_ads.genres', {
          url: $config.general.links.faq.special_ads
        })"
      />
      <div
        v-else
        v-html="$trans('campaign::labels.subtitles.genres')"
      />
    </template>
    <template slot="content">
      <el-collapse
        v-if="areOptionsEnabled"
        v-model="activeCollapse"
        class="dropdown-popup choose-genres"
        accordion
      >
        <el-collapse-item :name="collapseName">
          <template slot="title">
            <div class="dropdown-popup__title">
              {{ $trans('labels.show_genres') }}
            </div>
            <div class="dropdown-popup__subtitle">
              <span v-if="countIncluded">
                {{ $trans('targeting::labels.included', { amount: countIncluded }) }}
              </span>
              <span
                v-if="countExcluded"
                class="text-muted"
              >
                {{ $trans('campaign::labels.excluded', { amount: countExcluded }) }}
              </span>
            </div>
            <span class="default-accordion__icon">
              <icon-chevron-up />
            </span>
          </template>
          <div class="dropdown-popup__content">
            <div class="inner-header">
              <div class="search-creation">
                <common-select
                  v-model="value"
                  v-bind="selectorParams"
                  name="genres"
                  :placeholder="$trans('targeting::labels.genres.placeholder')"
                  :reserve-keyword="true"
                  :filterable="true"
                  :add-query-to-option="false"
                  :force-show-clear="true"
                  value-key="value"
                  :show-tags="false"
                  class="d-block"
                  popper-class="tip-popover"
                  :hide-menu-on-second-click="false"
                  multiple
                  default-first-option
                  :remote="isRemoteSearch"
                  :show-arrow="false"
                  :allow-delete-prev-tag="false"
                  @visible-change="changeOptionsList"
                >
                  <div v-loading="loading">
                    <el-option
                      v-for="item in genresOptions"
                      :key="item.value.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </div>
                </common-select>
              </div>
            </div>
            <div class="el-tabs__content">
              <targeting-switch-genres
                :value="value"
                type="genre"
                :label="$trans('targeting::labels.genres.table_label')"
              />
              <div
                v-show="!hasItems"
              >
                <div class="el-select-dropdown__empty">
                  {{ $trans('labels.no_data') }}
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-popup__footer">
            <el-button
              size="small"
              type="text"
              class="el-picker-panel__link-btn is-link"
              :disabled="!anyOptionsSelected"
              @click="clear"
            >
              {{ $trans('labels.date_picker.button_clear') }}
            </el-button>
            <el-button
              size="small"
              class="el-picker-panel__link-btn"
              @click="hide"
            >
              {{ $trans('labels.date_picker.button_done') }}
            </el-button>
          </div>
        </el-collapse-item>
      </el-collapse>
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import ChangeHeight from './mixins/ChangeHeight';
  import TargetingStep from '../mixins/TargetingStep';
  import { mapActions, mapMutations } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import { isEmpty, isNull } from 'lodash';
  import CommonSelect from 'Foundation/components/form/extend/CommonSelect';
  import TargetingSwitchGenres from 'Modules/campaign/components/wizard/steps/targeting/targeting-item/targeting-switch/TargetingSwitchGenres';
  import IconChevronUp from 'Foundation/components/icons/IconChevronUp';

  const TYPE_ALL = 1;
  const TYPE_SELECTED = 2;

  const ACTIVE_COLLAPSE = 'select';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignGenres',

    /**
     * Components
     */
    components: {
      CampaignStep,
      CommonSelect,
      TargetingSwitchGenres,
      IconChevronUp
    },

    /**
     * Mixins.
     */
    mixins: [
      TargetingStep,
      ChangeHeight,
    ],

    /**
     * Data property.
     */
    data() {
      return {
        type: TYPE_ALL,
        activeCollapse: null,
        collapseName: ACTIVE_COLLAPSE,
        genresOptions: [],
        isRemoteSearch: false,
        types: {
          all: TYPE_ALL,
          selected: TYPE_SELECTED
        },
        saveDebounceTimeout: 2500,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (fields).
       */
      ...mapFields('wizard/targeting', {
        value: 'targeting.genres',
        options: 'options.genres',
        loading: 'loadGenresOptionsPending',
        savePending: 'updateGenresPending'
      }),

      /**
       * Vuex (fields).
       */
      ...mapFields('wizard', {
        campaignId: 'id',
      }),

      /**
       * Storage key for step.
       *
       * @returns {string}
       */
      key () {
        return 'targeting.genres';
      },

      /**
       * Has items handler.
       */
      hasItems () {
        return !isEmpty(this.genresOptions);
      },

      /**
       * @returns {boolean}
       */
      areOptionsEnabled () {
        return this.$user.states.access_genre_targetings_allowed;
      },

      /**
       * @returns {boolean}
       */
      anyOptionsSelected () {
        return !!this.value.length;
      },

      /**
       * Count excluded genres.
       * @return number
       */
      countExcluded() {
        return this.value.filter(value => {
          return !value.included;
        }).length;
      },

      /**
       * Count excluded genres.
       * @return number
       */
      countIncluded() {
        return this.value.filter(value => {
          return value.included;
        }).length;
      },

      /**
       * Selector props
       * @return Object
       */
      selectorParams () {
        return this.isRemoteSearch ? {'remote-method': this.searchGenres} : {};
      },

      /**
       * Getter for summarized step value.
       * @returns {{}}
       */
      getCombinedStepValue () {
        return this.value.map((value) => {
          return value.value + value.included;
        }).sort();
      }
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Change active collapse.
       */
      activeCollapse (value) {
        this.onCollapseChange(value);
      },

      /**
       * Replace selected object to the equal to 'check' appropriate checkbox
       */
      formattedOptions (options) {
        this.genresOptions = options;
        if (Object.keys(options).length === this.$config.search.limit) {
          this.isRemoteSearch = true
        }
      },
    },

    /**
     * Mounted hook
     */
    mounted () {
      if (this.areOptionsEnabled) {
        this.searchGenres().then(() => {
          this.setStepLastValue(this.getCombinedStepValue);
        });
      }
    },

    /**
     * Created hook
     */
    created () {
      this.initValue();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/targeting', [
        'updateGenres',
        'searchGenres'
      ]),

      /**
       * Vuex (mutations).
       */
      ...mapMutations('wizard/targeting', ['clearGenres']),

      /**
       * Set the initial state of the component's value.
       */
      initValue () {
        this.value = isNull(this.value) ? [] : this.value;
      },

      /**
       * Save current step.
       * @returns {*}
       */
      save () {
        return this.$call(this.updateGenres({
          campaign: this.campaignId,
          values: this.value,
        }), { muteException: true });
      },

      /**
       * Clear checked items.
       */
      clear() {
        this.clearGenres();
      },

      /**
       * Hide active collapse.
       */
      hide() {
        this.activeCollapse = '';
      },

      /**
       * Change option list if input is blur.
       */
      async changeOptionsList (value) {
        if (!value && this.isRemoteSearch) {
          await this.searchGenres();
        }
      },
    },
  };
</script>
