<template>
  <campaign-step
    :title="$trans('campaign::labels.titles.locations')"
    :skippable="isSkippable"
  >
    <template slot="description">
      <template
        v-if="isSpecialAds"
      >
        <annotated-text
          low-zindex
          :text="$trans('campaign::labels.subtitles.special_ads.locations_1')"
          :terms="{
            dma: {
              term: $trans('campaign::labels.annotations.dma.term'),
              description: $trans('campaign::labels.annotations.dma.description'),
            },
          }"
        />
        <p
          v-html="$trans('campaign::labels.subtitles.special_ads.locations_2', {
            url: $config.general.links.faq.special_ads
          })"
        />
      </template>
      <annotated-text
        v-else
        low-zindex
        :text="$trans('campaign::labels.subtitles.locations')"
        :terms="{
          dma: {
            term: $trans('campaign::labels.annotations.dma.term'),
            description: $trans('campaign::labels.annotations.dma.description'),
          },
        }"
      />
    </template>
    <template slot="content">
      <el-collapse
        v-model="locationType"
        class="dropdown-popup"
        accordion
      >
        <el-collapse-item
          v-if="areZipsEnabled"
          :name="typeZip"
        >
          <template slot="title">
            <div class="dropdown-popup__title">
              {{ $trans('targeting::labels.locations.zip_code') }}
            </div>
            <div class="dropdown-popup__subtitle">
              <span v-if="countIncluded(typeZip) > 0">
                {{ $trans('targeting::labels.included', { amount: countIncluded(typeZip) }) }}
              </span>
              <span
                v-if="countExcluded(typeZip) > 0"
                class="text-muted"
              >
                {{ $trans('campaign::labels.excluded', { amount: countExcluded(typeZip) }) }}
              </span>
            </div>
            <span class="default-accordion__icon">
              <icon-chevron-up />
            </span>
          </template>
          <div class="dropdown-popup__content">
            <div class="inner-header">
              <div class="search-creation">
                <el-input
                  v-model="searchForm[typeZip]"
                  name="name"
                  :placeholder="$trans('campaign::labels.selects.placeholders.zip')"
                  label=""
                  @keyup.enter.native="search(typeZip)"
                >
                  <el-button
                    v-if="!showArrowButton(typeZip)"
                    slot="append"
                    icon="el-icon-right"
                    @click="search(typeZip)"
                  />
                </el-input>
              </div>
            </div>
            <div
              v-loading="loadingZip"
              class="el-tabs__content"
            >
              <targeting-switch-locations
                :value="failZips"
                :type="typeZip"
                :label="$trans('labels.location')"
              />
              <targeting-switch-locations
                :value="value[typeZip]"
                :type="typeZip"
                :show-columns="showColumns"
                :label="$trans('labels.location')"
              />
            </div>
          </div>
          <div class="dropdown-popup__footer">
            <el-button
              size="small"
              type="text"
              class="el-picker-panel__link-btn is-link"
              :disabled="!value.zip.length"
              @click="clear(typeZip)"
            >
              {{ $trans('labels.date_picker.button_clear') }}
            </el-button>
            <el-upload
              ref="file"
              class="el-picker-panel__link-btn"
              action=""
              :multiple="false"
              :auto-upload="false"
              :show-file-list="false"
              accept=".csv"
              :on-change="onFileChange"
            >
              <el-button
                size="small"
                type="primary"
              >
                {{ $trans('targeting::labels.locations.upload_csv_button') }}
              </el-button>
            </el-upload>
            <el-button
              size="small"
              class="el-picker-panel__link-btn"
              @click="close"
            >
              {{ $trans('labels.date_picker.button_done') }}
            </el-button>
          </div>
        </el-collapse-item>
        <el-collapse-item
          :name="typeCity"
        >
          <template slot="title">
            <div class="dropdown-popup__title">
              <annotated-text
                popper-class="dropdown-title"
                low-zindex
                :text="$trans('targeting::labels.locations.city_state_annotated')"
                :terms="{
                  dma: {
                    term: $trans('targeting::labels.annotations.dma.term'),
                    description: $trans('targeting::labels.annotations.dma.description'),
                  },
                }"
              />
            </div>
            <div class="dropdown-popup__subtitle">
              <span v-if="countIncluded(typeCity) > 0">
                {{ $trans('targeting::labels.included', { amount: countIncluded(typeCity) }) }}
              </span>
              <span
                v-if="countExcluded(typeCity) > 0"
                class="text-muted"
              >
                {{ $trans('campaign::labels.excluded', { amount: countExcluded(typeCity) }) }}
              </span>
            </div>
            <span class="default-accordion__icon">
              <icon-chevron-up />
            </span>
          </template>
          <div class="dropdown-popup__content">
            <div class="inner-header">
              <div class="search-creation">
                <common-select
                  v-model="value[typeCity]"
                  name="city"
                  :loading="loadingOptions"
                  :remote-method="searchLocations"
                  :reserve-keyword="true"
                  :show-tags="false"
                  :hide-menu-on-second-click="false"
                  class="d-block"
                  popper-class="tip-popover"
                  default-first-option
                  filterable
                  multiple
                  :placeholder="$trans('campaign::labels.selects.placeholders.locations')"
                  remote
                  size="medium"
                  value-key="value"
                  :allow-delete-prev-tag="false"
                  @visible-change="onVisibleChange"
                >
                  <el-option
                    v-for="item in formattedOptions"
                    :key="item.label"
                    :label="item.label"
                    :value="item.value"
                  />
                </common-select>
              </div>
            </div>
            <div class="el-tabs__content">
              <targeting-switch-locations
                v-loading="loadingOptions"
                :value="value[typeCity]"
                :type="typeCity"
                :label="$trans('labels.location')"
              />
            </div>
          </div>
          <div class="dropdown-popup__footer">
            <el-button
              size="small"
              type="text"
              class="el-picker-panel__link-btn is-link"
              :disabled="!value.city.length"
              @click="clear(typeCity)"
            >
              {{ $trans('labels.date_picker.button_clear') }}
            </el-button>
            <el-button
              size="small"
              class="el-picker-panel__link-btn"
              @click="close"
            >
              {{ $trans('labels.date_picker.button_done') }}
            </el-button>
          </div>
        </el-collapse-item>
      </el-collapse>
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import ChangeHeight from "./mixins/ChangeHeight";
  import TargetingStep from '../mixins/TargetingStep';
  import {mapActions, mapGetters, mapMutations, mapState} from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import { filter } from 'lodash';
  import TargetingSwitchLocations from 'Modules/campaign/components/wizard/steps/targeting/targeting-item/targeting-switch/TargetingSwitchLocations';
  import CommonSelect from 'Foundation/components/form/extend/CommonSelect';
  import IconChevronUp from 'Foundation/components/icons/IconChevronUp';
  import AnnotatedText from 'Foundation/components/toolpip/annotations/AnnotatedText';

  const TYPE_ZIP = "zip";
  const TYPE_CITY = "city";

  export default {
    /**
     * Component name.
     */
    name: 'CampaignLocations',

    /**
     * Components
     */
    components: {
      TargetingSwitchLocations,
      CommonSelect,
      CampaignStep,
      IconChevronUp,
      AnnotatedText,
    },

    /**
     * Mixins.
     */
    mixins: [
      TargetingStep,
      ChangeHeight,
    ],

    /**
     * Data properties.
     */
    data(){
      return {
        searchForm: {
          zip: '',
          city: ''
        },
        types: [
          TYPE_ZIP,
          TYPE_CITY,
        ],
        locationType: null,
        shouldTriggerAutoSave: false,
      }
     },

    created() {
      this.oldValue = this.value;
      this.setMinItems(this.oldValue.city.length + this.oldValue.zip.length);
      console.log(this.minCountItems);
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard/targeting', {
        value: 'locations',
        failZips: 'failZipCodes',
      }),

      /**
       * Vuex (fields).
       */
      ...mapFields('wizard', {
        campaignId: 'id',
      }),

      /**
       * Vuex (fields).
       */
      ...mapFields('wizard/targeting', {
        options: 'options.locations',
        loadingOptions: 'loadLocationsOptionsPending',
        loadingZip: 'loadZipOptionsPending',
        savePending: 'updateLocationsPending',
        forceQuitZipSearch: 'forceQuitZipSearch',
      }),

      /**
       * Storage key for step.
       *
       * @returns {string}
       */
      key () {
        return 'targeting.locations';
      },

      /**
       * Zip codes type.
       */
      typeZip () {
        return TYPE_ZIP
      },

      /**
       * City/state/DMA type.
       */
      typeCity () {
        return TYPE_CITY
      },

      /**
       * Show columns title.
       */
      showColumns() {
        return this.failZips.length === 0;
      },

      /**
       * @returns {boolean}
       */
      areZipsEnabled () {
        return this.$user.states.access_zip_targetings_allowed;
      },

      /**
       * @returns {boolean}
       */
      isSkippable () {
        return !this.areCitiesFilled && !this.areZipsFilled;
      },

      /**
       * @returns {boolean}
       */
      areCitiesFilled () {
        return Array.isArray(this.value.city) ? !!this.value.city.length : false;
      },

      /**
       * @returns {boolean}
       */
      areZipsFilled () {
        return Array.isArray(this.value.zip) ? !!this.value.zip.length : false;
      }
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Adjust container's height on collapse events
       */
      locationType (val) {
        this.onCollapseChange(val)
        if (!val) {
          this.saveWithInventory();
        }
      },
    },

    /**
     * We need to init values before mount as render relies on their states.
     */
    beforeMount () {
      this.initValues();
    },

    /**
     * Mounted hook.
     */
    mounted() {
      this.$nextTick(() => {
        this.setStepLastValue(this.getCombinedStepValue);
        this.forceQuitZipSearch = false;
      })
    },

    /**
     * Before destroy hook.
     */
    beforeDestroy() {
      this.forceQuitZipSearch = true;
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/targeting', [
        'updateLocations',
        'searchZip',
        'searchLocations',
        'uploadCsv'
      ]),

      /**
       * Vuex (mutations).
       */
      ...mapMutations('wizard/targeting', [
        'addZip',
        'clearLocations',
        'setMinItems'
      ]),

      /**
       * Save current step.
       * @returns {*}
       */
      save () {
        return this.$call(this.updateLocations({ values: this.value, campaign: this.campaignId }), { muteException: true });
      },

      /**
       * Search zip codes.
       * @param type
       * @returns {*}
       */
      async search (type) {
        await this.parseResult(this.searchForm[type]);
        this.searchForm[type] = '';
      },

      /**
       * Parse and search zip codes.
       * @param data
       */
      async parseResult(data) {
        if (data.trim() === '') {
          return;
        }

        const query = filter(data.split(/[;,\n]/)
          .map(function(sub) {
            return sub.trim();
          }), (item) => {
          return item !== '';
        });

        if (this.validateCount(query)) {
          await this.$call(this.searchZip(query), {muteException: true});
        }
      },

      /**
       * Close collapse.
       */
      close() {
        this.locationType = '';
      },

      /**
       * Clear chosen locations.
       * @param type
       */
      clear(type) {
        if (type === TYPE_ZIP) {
          this.clearLocations('fail');
        }

        this.clearLocations(type);
      },

      /**
       * Show button in the search.
       * @param type
       * @return boolean
       */
      showArrowButton(type) {
        return !this.searchForm[type].length;
      },

      /**
       * Count included locations.
       * @param type
       * @return number
       */
      countIncluded(type) {
        return this.value[type].filter(value => {
          return value.included && !value.error;
        }).length;
      },

      /**
       * Count excluded locations.
       * @param type
       * @return number
       */
      countExcluded(type) {
        return this.value[type].filter(value => {
          return !value.included && !value.error;
        }).length;
      },

      /**
       * On upload CSV
       */
      async onFileChange (file) {
        if (file.size > this.$config.locations.max_filesize) {
          this.$notify.error({
            message: this.$trans('targeting::messages.fail_max_file_size'),
          });
          return;
        }

        let formData = new FormData();
        formData.append('csv', file.raw);

        this.$call(this.uploadCsv(formData), {muteException: true});
      },

      /**
       * This method is called each time the step is changed to next.
       * @returns {*}
       */
      async beforeNext () {
        const validated = await this.validate();

        // Validation failed
        if (!validated) {
          return false;
        }

        if (this.failZips.length > 0) {
          this.$notify.error({
            message: this.$trans('targeting::messages.fail_zip_codes'),
          });

          return false;
        }

        return true;
      },

      /**
       * Validate count zip codes
       */
      validateCount(data) {
        if (data.length > this.$config.locations.max_count_zip_codes) {
          this.$notify.error({
            message: this.$trans('targeting::messages.fail_zip_codes_max_count'),
          });

          return false;
        }

        return true;
      },

      /**
       * Set initial state of locations storage.
       */
      initValues () {
        [TYPE_ZIP, TYPE_CITY].forEach((type) => {
          if (!this.value[type]) {
            this.clear(type);
          }
        });
      },
    },
  };
</script>
