<template>
  <campaign-step
    :title="$trans('campaign::labels.titles.audiences')"
    :skippable="isSkippable"
  >
    <template slot="description">
      <p
        v-if="isSpecialAds"
        v-html="$trans('campaign::labels.subtitles.special_ads.audiences', {
          url: $config.general.links.faq.special_ads
        })"
      />
      <annotated-text
        v-else
        :text="$trans('campaign::labels.subtitles.audiences')"
        low-zindex
        :terms="{
          impressions: {
            term: $trans('campaign::labels.annotations.impressions.term'),
            description: $trans('campaign::labels.annotations.impressions.description'),
          },
          behavior: {
            term: $trans('campaign::labels.annotations.behavior.term'),
            description: $trans('campaign::labels.annotations.behavior.description'),
          },
          demographics: {
            term: $trans('campaign::labels.annotations.demographics.term'),
            description: $trans('campaign::labels.annotations.demographics.description'),
          },
          interest: {
            term: $trans('campaign::labels.annotations.interest.term'),
            description: $trans('campaign::labels.annotations.interest.description'),
          },
          ownership: {
            term: $trans('campaign::labels.annotations.ownership.term'),
            description: $trans('campaign::labels.annotations.ownership.description'),
          },
          targeted_independently: {
            term: $trans('campaign::labels.annotations.targeted_independently.term'),
            description: $trans('campaign::labels.annotations.targeted_independently.description'),
          },
        }"
      />
    </template>
    <template slot="content">
      <div>
        <audience-form
          v-if="areOptionsEnabled"
          @change-height="onChangeHeight"
          @change="saveWithInventory"
        />
      </div>
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import TargetingStep from '../mixins/TargetingStep';
  import {mapActions, mapMutations, mapState} from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import AudienceForm from './targeting-audience/AudienceForm';
  import AnnotatedText from 'Foundation/components/toolpip/annotations/AnnotatedText';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignAudiences',

    /**
     * Components
     */
    components: {
      AudienceForm,
      CampaignStep,
      AnnotatedText,
    },

    /**
     * Mixins.
     */
    mixins: [
      TargetingStep,
    ],

    /**
     * Data properties.
     */
    data(){
      return {
        shouldTriggerAutoSave: false,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (fields).
       */
      ...mapFields('wizard', {
        campaignId: 'id',
      }),

      /**
       * Vuex (fields).
       */
      ...mapFields('wizard/targeting', {
        value: 'targeting.audiences',
        savePending: 'updateAudiencesPending',
      }),

      /**
       * Vuex (fields).
       */
      ...mapState('wizard/targeting', {
        minCountItems: 'minCountItems'
      }),

      /**
       * Storage key for step.
       *
       * @returns {string}
       */
      key () {
        return 'targeting.audiences';
      },

      /**
       * @returns {boolean}
       */
      areOptionsEnabled () {
        return this.$user.states.access_audience_targetings_allowed;
      },

      /**
       * @returns {boolean}
       */
      isSkippable () {
        return Array.isArray(this.value) ? !this.value.length : true;
      },

      /**
       * Getter for summarized step value.
       * @returns {{}}
       */
      getCombinedStepValue () {
        return this.value.map((value) => {
          return value.value;
        }).sort();
      }
    },

    /**
     * Mounted hook.
     */
    mounted () {
      this.initAudiences();
      this.checkFilled(this.value);
      this.setStepLastValue(this.getCombinedStepValue);

      this.oldValue = this.value;
      this.setMinItems(this.oldValue.length);
      console.log(this.minCountItems)
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/targeting', [
        'updateAudiences'
      ]),

      /**
       * Vuex (actions).
       */
      ...mapMutations('wizard/targeting', [
        'setMinItems'
      ]),

      /**
       * Save current step.
       * @returns {*}
       */
      save () {
        return this.$call(this.updateAudiences({
          campaign: this.campaignId,
          values: this.value,
        }), { muteException: true });
      },

      /**
       * Handover "change-height" event to the parent.
       * @param {boolean} val
       */
      onChangeHeight (val) {
        this.$emit('change-height', val);
      },

      /**
       * Set initial state of audiences storage.
       */
      initAudiences () {
        this.value = this.value === null ? [] : this.value;
      }
    },
  };
</script>
