<template>
  <campaign-step
    :title="$trans('campaign::labels.titles.devices')"
  >
    <div
      slot="description"
      v-html="$trans('campaign::labels.subtitles.devices')"
    />
    <template slot="content">
      <div v-loading="loading">
        <div class="custom-label">
          {{ $trans('labels.platforms') }}
          <span
            v-if="noSelectedGroups"
            class="error-message"
          >
            {{ $trans('targeting::messages.empty_device_groups_step') }}
          </span>
        </div>
        <device-form
          v-if="canShowForm"
          :options="deviceOptions"
          :selected="value"
          @selected="setValue"
        />
      </div>
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import { cloneDeep } from 'lodash';
  import {mapState, mapActions, mapMutations} from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import DeviceForm from './targeting-device/DeviceForm';
  import TargetingStep from 'Modules/campaign/components/wizard/steps/mixins/TargetingStep';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignDevices',

    /**
     * Components
     */
    components: {
      DeviceForm,
      CampaignStep,
    },

    /**
     * Mixins.
     */
    mixins: [
      TargetingStep
    ],

    /**
     * Computed.
     */
    computed: {
      /**
       * Storage key for step.
       * @returns {string}
       */
      key () {
        return 'targeting.devices';
      },

      /**
       * Vuex (state).
       */
      ...mapState('wizard', {
        campaignId: 'id',
      }),

      /**
       * Vuex.
       */
      ...mapState('wizard/targeting', {
        loading: 'loadDevicesOptionsPending',
        savePending: 'updateDeviceGroupsPending',
        minCountItems: 'minCountItems'
      }),

      /**
       * Vuex (fields).
       */
      ...mapFields('wizard/targeting', {
        value: 'targeting.deviceGroups',
        deviceOptions: 'options.deviceGroups',
      }),

      /**
       * Check if there are any selected groups.
       * @returns {boolean}
       */
      noSelectedGroups () {
        return Array.isArray(this.value) && this.value.length === 0;
      },

      /**
       * Check if devices form should be shown.
       * @returns {boolean}
       */
      canShowForm () {
        return !!this.deviceOptions.length && Array.isArray(this.value);
      },
    },

    /**
     * On component created.
     */
    created () {
      this.loadDevicesOptions(this.campaignId)
        .then(() => {
          this.setSelectedDevices();
        })
        .then(() => {
          this.setStepLastValue(this.getCombinedStepValue);
        })
        .then(() => {
          this.oldValue = this.value;
          this.setMinItems(this.oldValue.length);
          console.log(this.minCountItems)
        })
        .catch(() => {
          this.$notify.error({
            message: this.$trans('targeting::messages.failed_devices_loading'),
          });
        });
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/targeting', [
        'loadDevicesOptions',
        'updateDeviceGroups',
      ]),

      /**
       * Vuex (actions).
       */
      ...mapMutations('wizard/targeting', [
        'setMinItems'
      ]),



      /**
       * Save current step.
       * @returns {Promise<any>}
       */
      save () {
        return this.$call(this.updateDeviceGroups({
          campaign: this.campaignId,
          values: this.value,
        }), { muteException: true });
      },

      /**
       * Set initial state of selected devices.
       */
      setSelectedDevices () {
        this.value = this.value === null
          ? cloneDeep(this.deviceOptions)
          : this.value;
      },

      /**
       * Validate step.
       * @returns {Promise<VerifyResult>}
       */
      validate () {
        return this.$validator.verify(
          this.value,
          this.validationRules.targeting.device_group.groups
        );
      },

      setValue (value) {
        if (value.length <= this.minCountItems) {
          this.value = value;
        }
      }
    }
  };
</script>
