<template>
  <campaign-step
    :title="$trans('campaign::labels.titles.genders')"
  >
    <template slot="description">
      <p v-html="subtitle" />
    </template>
    <template slot="content">
      <div v-loading="loading">
        <div class="custom-label">
          {{ $trans('campaign::labels.labels.gender') }}
        </div>
        <el-radio-group
          v-model="gender.value"
          size="medium"
          class="create-campaign__top"
          @change="changeGenderEvent"
        >
          <el-radio
            v-for="option in genderOptions"
            :key="option.value"
            :disabled="!isGenderEnabled(option.label)"
            :label="option.value"
          >
            {{ $trans(`targeting::labels.genders.${option.label}`) }}
          </el-radio>
        </el-radio-group>

        <!-- AGES -->
        <el-row
          justify="space-between"
          class="ages-form"
        >
          <div class="custom-label">
            {{ $trans('campaign::labels.labels.age_groups') }}
            <span
              v-if="hasError()"
              class="error-message"
            >
              {{ $trans('targeting::messages.empty_age_groups_step') }}
            </span>
          </div>
          <div>
            <el-checkbox-group
              v-model="checked"
              v-validate="validation.age_group"
              :disabled="!areOptionsEnabled"
              class="checkbox-in-column"
              data-vv-name="checked"
              data-vv-scope="__global__"
              @change="changeAgeEvent"
            >
              <el-checkbox
                v-for="item in ageOptions"
                :key="item.id"
                :label="item.id"
              >
                {{ item.name }}
              </el-checkbox>
            </el-checkbox-group>
          </div>
        </el-row>
      </div>
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import CreateCampaignFormStep from '../mixins/CreateCampaignFormStep';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { find, map, findIndex } from 'lodash';

  const GENDER_LABEL_ALL = 'all';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignAges',

    /**
     * Components
     */
    components: {
      CampaignStep,
    },

    /**
     * Mixins.
     */
    mixins: [CreateCampaignFormStep],

    /**
     * Component data.
     */
    data(){
      return {
        ageOptions: [],
        checked: [],
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard/targeting', {
        genderOptions: 'genderOptions',
      }),

      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard/steps', [
        'steps'
      ]),

      /**
       * Vuex (getters).
       */
      ...mapState('wizard/targeting', {
        loading: 'loadAgesOptionsPending',
        savePending: 'updateAgesPending'
      }),

      /**
       * Vuex (fields).
       */
      ...mapFields('wizard/targeting', {
        gender: 'targeting.gender',
        ages: 'targeting.ages',
      }),

      /**
       * Storage key for step.
       *
       * @returns {string}
       */
      key () {
        return 'targeting.ages';
      },

      /**
       * Validation rules.
       */
      validation () {
        return {
          age_group: this.validationRules.targeting.age_group,
        };
      },

      /**
       * Check if age step options are available for choosing.
       * @returns {boolean}
       */
      areOptionsEnabled () {
        return this.$user.states.access_age_targetings_allowed;
      },

      /**
       * @returns {string}
       */
      subtitle () {
        return this.isSpecialAds ?
          this.$trans(
            'campaign::labels.subtitles.special_ads.genders',
            {
              'url': this.$config.general.links.faq.special_ads
            },
          ) :
          this.$trans('campaign::labels.subtitles.genders');
      },

      /**
       * Combined gender+ages value for comparing purposes
       */
      getCombinedStepValue () {
        return {...this.gender, ...this.ages}
      },
    },

    /**
     * Watchers.
     */
    watch: {
      'gender.value' (val) {
        const option = find(this.genderOptions, (item) => item.value === val);
        this.gender = {
          value: val,
          label: option.label,
        }
      },
    },

    /**
     * On component mounted
     */
    async mounted () {
      await this.loadAges();
      this.setDefaultOptions();
      this.$nextTick(() => {
        this.setStepLastValue(this.getCombinedStepValue);
      })
    },


    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/targeting', [
        'loadAges',
        'updateAges',
      ]),

      /**
       * Save current step.
       * @returns {*}
       */
      save () {
        const payload = {
          gender: this.gender.value,
          ages: map(this.ages, 'value')
        };

        return this.$call(this.updateAges(payload), { muteException: true });
      },

      /**
       * Checked ages.
       */
      setAgeOptions(genderId, checkedAllAges = false) {
        const element = findIndex(this.genderOptions, function(option) {
          return option.value === genderId;
        });
        this.ageOptions = this.genderOptions[element].ages;

        if (checkedAllAges || this.checkMixGender()) {
          this.checkedAllAges()
        } else {
          this.ages.forEach((item) => {
            this.checked.push(item.value);
          })
        }
      },

      /**
       * Handler for change gender option
       */
      changeGenderEvent() {
        this.setAgeOptions(this.gender.value, true);
      },

      /**
       * Checked all ages.
       */
      checkedAllAges() {
        this.checked = [];
        this.ages = [];

        this.ageOptions.forEach((item) => {
          this.ages.push({
            value: item.id,
            label: item.name
          });
          this.checked.push(item.id);
        });
        this.onUpdate(this.checked);
      },

      /**
       * Set default ages
       */
      setDefaultOptions () {
        if (!this.gender.value) {
          this.gender.value = this.genderOptions[0].value;
        }

        const lastStepIndex = findIndex(this.steps, function(step) {
          return step.done === false;
        });

        if (lastStepIndex < 0) {
          this.setAgeOptions(this.gender.value);
          return;
        }

        const lastStepRouteName = this.steps[lastStepIndex].route.name;

        if (lastStepRouteName === 'campaigns.create.targeting.ages' ||
          lastStepRouteName === 'campaigns.edit.targeting.ages') {
          this.setAgeOptions(this.gender.value, true);
          return;
        }

        this.setAgeOptions(this.gender.value);
      },

      /**
       * Check if campaign has a gender mix
       */
      checkMixGender() {
        let mixedGenders = false;
        const allAges = map(this.ageOptions, 'id');
        const checkedAges = map(this.ages, 'value');

        checkedAges.forEach((item) => {
          const index = findIndex(allAges, function(age) {
            return age === item;
          });

          if (index === -1 && !mixedGenders) {
            mixedGenders = true;
          }
        });

        return mixedGenders;
      },

      /**
       * Handler for change ages option
       * @param {Array} checked
       */
      changeAgeEvent(checked) {
        this.ages = [];
        this.checked.forEach((item) => {
          const element = findIndex(this.ageOptions, function(option) {
            return option.id === item;
          });

          this.ages.push({
            value: this.ageOptions[element].id,
            label: this.ageOptions[element].name
          });
        });
        this.onUpdate(checked);
      },

      /**
       * Check has an error message.
       * @returns boolean
       */
      hasError() {
        return this.ages.length === 0;
      },

      /**
       * Check if specified gender is available for choosing.
       * @param {string} label
       * @returns {boolean}
       */
      isGenderEnabled (label) {
        return (label === GENDER_LABEL_ALL) || this.areOptionsEnabled;
      },
    },
  };
</script>
