<template>
  <el-row
    :class="classes"
    type="flex"
    justify="space-between"
  >
    <el-col :span="9">
      <div class="create-campaign__top">
        <div class="create-campaign__headline">
          <h3 class="create-campaign__title icon-text-popover">
            {{ title }}
          </h3>
          <div class="create-campaign__subline text-muted">
            <slot name="description" />
          </div>
        </div>
      </div>
      <slot name="content" />
      <div
        ref="buttons"
        class="wizard-buttons"
      >
        <slot name="buttons">
          <!-- PREVIOUS -->
          <el-button
            v-if="buttonsState.previousAvailable"
            type="text"
            :disabled="buttonsState.disabled"
            @click="previousButtonClick"
          >
            {{ $trans('actions.back') }}
          </el-button>

          <!-- NEXT -->
          <el-button
            v-if="buttonsState.nextAvailable"
            :class="{ loading: buttonsState.disabled }"
            :disabled="buttonsState.disabled || requiredStep"
            @click="nextButtonClick"
          >
            <slot name="step-next">
              {{ nextButtonLabel }}
            </slot>
          </el-button>
        </slot>
      </div>
    </el-col>
  </el-row>
</template>

<script>
  import AdjustButtonsPosition from '../mixins/AdjustButtonsPosition';
  import { mapGetters, mapState } from 'vuex';

export default {
    /**
     * Component name.
     */
    name: 'CampaignStep',

    /**
     * Mixins.
     */
    mixins: [
      AdjustButtonsPosition,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Step's title.
       */
      title: {
        required: true,
        type: String,
      },

      /**
       * Custom classes for the wrapper's row.
       */
      classes: {
        required: false,
        type: [String, Array],
        default: () => [],
      },

      /**
       * Whether step is skippable.
       */
      skippable: {
        type: Boolean,
        default: false,
      },

      /**
       * If step doesn't pass validation.
       */
      hasError: {
        type: Boolean,
        default: false,
      }
    },

    computed: {
      /**
       * Vuex getters.
       */
      ...mapGetters('wizard/steps', [
        'stepHasSidebar',
        'getStepByRoute'
      ]),

      /**
       * Vuex state.
       */
      ...mapState('wizard', [
        'success',
      ]),

      ...mapState('wizard/wizard', [
        'buttonsState',
      ]),

      /**
       * Verify if sidebar should be shown.
       * @returns {boolean}
       */
      showSidebar () {
        return this.stepHasSidebar(this.$route.name) && !this.success;
      },

      /**
       * @returns {string}
       */
      nextButtonLabel () {
        return this.skippable ? this.$trans('campaign::labels.buttons.skip'): this.$trans('actions.next');
      },

      /**
       * @returns {boolean}
       */
      requiredStep () {
        return !this.skippable && (!this.getStepByRoute(this.$route.name).filled || this.hasError);
      }
    },

    methods: {
      /**
       * "Next" button click handler.
       */
      nextButtonClick () {
        this.$emit('next');
      },

      /**
       * "Previous" button click handler.
       */
      previousButtonClick () {
        this.$emit('previous');
      },
    },
  }
</script>
