<template>
  <li
    :class="{'creation-steps__inner-item': true, [itemClass]: true }"
  >
    <a
      class="creation-steps__inner-link"
      href="#"
      :tabindex="tabindex"
      @click.prevent="onClick"
    >
      {{ item.title }}
    </a>
  </li>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: "ProgressBarGroupItem",

    /**
     * Available properties.
     */
    props: {
      /**
       * Group item.
       */
      item: {
        type: Object,
        required: true,
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Class of the item.
       *
       * @returns {string}
       */
      itemClass () {
        if (this.isProcess) {
          return 'is-process';
        }

        if (this.isDone) {
          return 'is-done';
        }

        if (this.isError) {
          return 'is-error';
        }

        return '';
      },

      /**
       * True if the item is active (in process).
       *
       * @returns {boolean}
       */
      isProcess () {
        return this.item.route.name === this.$route.name;
      },

      /**
       * True if the item is already done.
       *
       * @returns {*}
       */
      isDone () {
        return this.item.done;
      },

      /**
       * True if the item has an error (useless for now).
       *
       * @returns {boolean}
       */
      isError () {
        return false;
      },

      /**
       * Verify if the item is focusable or not.
       */
      tabindex () {
        return (this.isDone || this.isProcess) ? 0 : -1;
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * On click event handler.
       */
      onClick () {
        this.$emit('navigate', this.item.route);
      },
    },
  };
</script>
