<template>
  <el-steps
    ref="stepsWrapper"
    :align-center="true"
    space="50%"
    class="creation-steps"
  >
    <el-step
      v-for="(group, key) in groups"
      ref="steps"
      :key="key"
      :status="groupStatus(group)"
    >
      <div
        slot="title"
        @click.prevent="onClick(group)"
      >
        <span />
        <a
          :id="`progressLink-${key}`"
          ref="groupLinks"
          href="#"
        >
          {{ group.title }}
        </a>
      </div>
      <div
        v-if="showGroupSubItems(group)"
        :id="`progressGroup-${key}`"
        ref="groups"
        slot="description"
        v-click-outside-directive="handleOutsideClick"
        class="creation-steps__inner"
      >
        <ul class="creation-steps__inner-list">
          <progress-bar-group-item
            v-for="item in group.items"
            :key="item.route.name"
            :item="item"
            @navigate="navigate"
          />
        </ul>
      </div>
    </el-step>
  </el-steps>
</template>

<script>
  import head from 'lodash/head';
  import keys from 'lodash/keys';
  import ProgressBarGroupItem from './ProgressBarGroupItem';
  import { mapGetters } from 'vuex';
  import ProgressBar from 'Modules/campaign/components/wizard/mixins/ProgressBar';
  import ProgressBarMenuTabbing from 'Modules/campaign/components/wizard/mixins/ProgressBarMenuTabbing';

  export default {
    /**
     * Name of the component.
     */
    name: 'ProgressBar',

    /**
     * Child components.
     */
    components: {
      ProgressBarGroupItem,
    },

    /**
     * Mixins.
     */
    mixins: [
      ProgressBar,
      ProgressBarMenuTabbing,
    ],

    data () {
      return {
        toRouteName: {
          name: null
        }
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard/steps', [
        'groups',
        'getGroupIndexByRoute',
      ]),

      /**
       * Returns index of currently active group.
       *
       * @returns {number}
       */
      activeGroup () {
        return this.getGroupIndexByRoute(this.$route.name);
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * On click event handler.
       * @param group
       */
      onClick (group) {
        const firstItem = group.items[head(keys(group.items))];
        this.navigate(firstItem.route);
      },

      navigate (route) {
        const routeName = route.name;

        if (this.$route.name === routeName || this.toRouteName === routeName) {
          return;
        }

        this.toRouteName = routeName;

        this.$pushRoute(route).catch((error) => {
          if (error) {
            if (!error) {
              return;
            }
            throw error;
          }
        }).finally(() => {
          this.toRouteName = null;
        });
      },

      /**
       * Check if the step section filled.
       * @param group
       * @returns {string}
       */
      groupStatus (group) {
        return this.totalItems(group) === this.totalFilledItems(group) ? 'finish' : 'wait';
      },

      /**
       * Check if group's sub-items should be shown.
       * @param group
       * @returns {boolean}
       */
      showGroupSubItems (group) {
        return Object.keys(group.items).length > 1
      },

      /**
       * Handle click outside step-submenu items.
       */
      handleOutsideClick () {
        this.hideAllMenuGroups();
      },
    },
  };
</script>
