@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Bold.eot');
  src: url($--font-url + 'Graphik-Bold.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Bold.woff2') format('woff2'),
  url($--font-url + 'Graphik-Bold.woff') format('woff'),
  url($--font-url + 'Graphik-Bold.ttf') format('truetype'),
  url($--font-url + 'Graphik-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Extralight.eot');
  src: url($--font-url + 'Graphik-Extralight.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Extralight.woff2') format('woff2'),
  url($--font-url + 'Graphik-Extralight.woff') format('woff'),
  url($--font-url + 'Graphik-Extralight.ttf') format('truetype'),
  url($--font-url + 'Graphik-Extralight.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Light.eot');
  src: url($--font-url + 'Graphik-Light.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Light.woff2') format('woff2'),
  url($--font-url + 'Graphik-Light.woff') format('woff'),
  url($--font-url + 'Graphik-Light.ttf') format('truetype'),
  url($--font-url + 'Graphik-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Medium.eot');
  src: url($--font-url + 'Graphik-Medium.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Medium.woff2') format('woff2'),
  url($--font-url + 'Graphik-Medium.woff') format('woff'),
  url($--font-url + 'Graphik-Medium.ttf') format('truetype'),
  url($--font-url + 'Graphik-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Regular.eot');
  src: url($--font-url + 'Graphik-Regular.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Regular.woff2') format('woff2'),
  url($--font-url + 'Graphik-Regular.woff') format('woff'),
  url($--font-url + 'Graphik-Regular.ttf') format('truetype'),
  url($--font-url + 'Graphik-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Semibold.eot');
  src: url($--font-url + 'Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Semibold.woff2') format('woff2'),
  url($--font-url + 'Graphik-Semibold.woff') format('woff'),
  url($--font-url + 'Graphik-Semibold.ttf') format('truetype'),
  url($--font-url + 'Graphik-Semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url($--font-url + 'Graphik-Thin.eot');
  src: url($--font-url + 'Graphik-Thin.eot?#iefix') format('embedded-opentype'),
  url($--font-url + 'Graphik-Thin.woff2') format('woff2'),
  url($--font-url + 'Graphik-Thin.woff') format('woff'),
  url($--font-url + 'Graphik-Thin.ttf') format('truetype'),
  url($--font-url + 'Graphik-Thin.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
