// Style for icons from Icomon
.icon {
  // Default size 22px/22px, most of icons.
  display: flex;
  align-items: center;
  justify-content: center;

  &__svg {
    --base-sat: var(--sat-high);

    width: 22px;
    height: 22px;
    fill: var(--fg-offset50);
    stroke: var(--fg-offset50);

    &.icon-mute {
      --base-sat: var(--sat-low);
      stroke: var(--fg-offset50);
      fill: var(--fg-offset50);
    }

    &.icon-light {
      stroke: var(--fg-offset100);
      fill: var(--fg-offset100);
    }

    &.icon-transparent-fill {
      fill: none;
    }

    &.icon-transparent-stroke {
      stroke: none;
    }
  }

  &--default {
    svg {
      fill: var(--fg-base);
      stroke: var(--fg-base);
    }
  }

  &--success {
    svg {
      --base-hue: var(--hue-success);
    }
  }

  &--warning {
    svg {
      --base-hue: var(--hue-warning);
    }
  }

  &--danger {
    svg {
      --base-hue: var(--hue-danger);
    }
  }
}


// Custom icons
.icon-equal {
  display: block;
  width: 20px;
  height: 10px;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--bg-offset100);
  }

  &:after {
    top: auto;
    bottom: 0;
  }
}

.icon-cross {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 9px;
    top: 0;
    width: 2px;
    height: 100%;
    background: var(--fg-offset50);
    transform: rotate(45deg);
    transition: $--all-transition;
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    &:before,
    &:after {
      background: var(--bg-offset100);
    }
  }
}

.icon-text-popover {
  position: relative;
  display: inline-block;

  .el-button {
    display: block;
    margin-top: 12px;

    @media screen and (min-width: 1601px) {
      &,
      &.has-icon {
        margin-top: 0;
        position: absolute;
        top: 7px;
        right: calc(100% + 32px);
      }
    }
  }
}

.icon-file-empty {
  transform: rotate(90deg);
}

.icon-complete {
  display: inline-block;
  flex: none;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  box-sizing: border-box;
  background-color: var(--color-success);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 6px;
    transform: rotate(45deg);
    border-right: 2px solid var(--color-text-high);
    border-bottom: 2px solid var(--color-text-high);
    width: 3px;
    height: 6px;
  }
}

.icon-tip {
  fill: none;
  stroke: currentColor;
  width: 12px;
}
