<template>
  <div
    id="creative-module"
    class="c-creative"
  >
    <div
      v-loading="creativeSyncPending"
      class="c-creative__body"
    >
      <transition
        name="el-fade-in-linear"
        mode="out-in"
      >
        <selected-creative
          v-if="selectedCreative"
          :video-data="selectedCreative"
          :is-selected="true"
          :selectable="!manageDisabled && selectable"
          :class="disabledSelected"
          @removed="submitModalVisible = true"
          @deleted="onDeleted"
          @show-preview="showPreview"
        />
        <div
          v-else
          class="c-creative__upload"
        >
          <upload-creative
            v-if="selectable && !onlyApproved"
            ref="upload"
            :campaign-id="campaignId"
            @finish="finishUpload"
          />
          <el-button
            v-if="tableVisible"
            type="primary"
            @click="showGalleryModalEvent"
          >
            {{ $trans('creative::labels.select_ad') }}
          </el-button>
        </div>
      </transition>
    </div>
    <modal
      :visible="showGalleryModal"
      :show-buttons="false"
      :title="$trans('creative::content.creative_gallery')"
      width="90%"
      class="video-creatives-dialog"
      @close="showGalleryModal=false"
    >
      <index
        ref="creativeTable"
        v-loading="creativeSyncPending"
        :additional-classes="additionalClasses"
        :selectable="selectable"
        :show-cards="!selectable"
        :show-sub-title="showTableSubTitle"
        :table-holder-class="tableHolderClass"
        :table-name="tableName"
        :user-id="userId"
        :exclude-from-list="creativeId"
        @selected="onSelected"
        @show-preview="showPreview"
        @loaded="handleLoaded"
      />
    </modal>
    <modal
      custom-class="video-popup change-status"
      width="488px"
      :visible="submitModalVisible"
      :title="$trans('creative::messages.remove_creative')"
      :submit-label="$trans('actions.yes')"
      :cancel-label="$trans('actions.no')"
      :invert-buttons="true"
      @close="submitModalVisible = false"
      @cancel="submitModalVisible = false"
      @submit="replace"
    >
      <p class="text-body-sm">
        {{ $trans('creative::messages.remove_creative_question') }}
      </p>
      <p class="text-body-sm black-text-muted">
        {{ $trans('creative::messages.remove_creative_notice') }}
      </p>
    </modal>
    <preview
      v-if="includePreview"
      ref="preview"
      :visible="previewVisible"
      :creative-id="creativePreviewId"
      :is-preview-mode="true"
      @close="closePreview"
      @deleted="onDeleted"
    />
    <index
      v-show="false"
      @loaded="handleLoaded"
    />
  </div>
</template>

<script>
  import ModuleCreative from 'Modules/creative/components/ModuleCreative';
  import Index from './dataTable/IndexCreatives';
  import Modal from 'Foundation/components/layout/modal/Modal';
  import Preview from 'Modules/creative/components/modals/Preview';
  import UploadCreative from './UploadCreative';
  import SelectedCreative from 'Modules/creative/components/SelectedCreative';

  export default {
    /**
     * Name
     */
    name: 'AttachCreative',

    /**
     * Components
     */
    components: {
      SelectedCreative,
      Index,
      Modal,
      Preview,
      UploadCreative,
    },

    /**
     * Parent component
     */
    extends: ModuleCreative,

    /**
     * Component data
     */
    data () {
      return {
        showGalleryModal: false,
        tableLoadPending: true,
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Pending for the creative sync process
       */
      creativeSyncPending () {
        return this.attachCreativePending ||
          this.replaceCreativePending ||
          this.detachCreativePending ||
          this.tableLoadPending;
      }
    },

    watch: {
      //Fix double scroll for triple modal
      showGalleryModal (visible) {
        if (!visible) {
          document.body.classList.remove('el-popup-parent--hidden');
        }
      }
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Wrapper for parent `selected` method
       */
      onSelected (creative) {
        this.selected(creative);
        this.showGalleryModal = false;
      },

      /**
       * Handle loaded
       * @param data
       */
      handleLoaded (data) {
        this.countData = data.total;
        this.tableLoadPending = false;
      },

      /**
       * Show gallery modal.
       */
      showGalleryModalEvent () {
        this.showGalleryModal = true;
        this.$trackAction('attach_ad');
      }
    }
  };
</script>
