<template>
  <div
    id="creative-module"
    class="c-creative"
  >
    <div
      v-if="displayWarning"
      class="c-creative__messages"
    >
      <message
        type="warning"
        :formatted-message="remindText"
      />
    </div>
    <video-cell
      v-if="selectedCreative"
      :video-data="selectedCreative"
      :is-selected="true"
      :selectable="!manageDisabled && selectable"
      :class="disabledSelected"
      @removed="submitModalVisible = true"
      @show-preview="showPreview"
    />
    <div
      v-if="!manageDisabled"
      class="c-creative__body"
      :class="disabledList"
    >
      <div class="c-creative__upload">
        <upload-creative
          v-if="selectable && !onlyApproved"
          ref="upload"
          :campaign-id="campaignId"
          @finish="finishUpload"
        />
      </div>
      <div
        v-if="selectable"
        class="c-creative__reminder"
        v-html="$trans('creative::messages.review', {
          tech_specifications_link: $config.general.links.technical_specifications,
          advertising_policies: $config.general.links.advertising_policies
        })"
      />
      <index
        v-show="tableVisible"
        ref="creativeTable"
        v-loading="creativeSyncPending"
        :additional-classes="additionalClasses"
        :selectable="selectable"
        :show-cards="!selectable"
        :show-sub-title="showTableSubTitle"
        :table-holder-class="tableHolderClass"
        :table-name="tableName"
        :user-id="userId"
        :exclude-from-list="creativeId"
        @loaded="handleLoaded"
        @selected="selected"
        @show-preview="showPreview"
      >
        <template slot="banner">
          <slot name="banner" />
        </template>
      </index>
      <modal
        v-if="onlyReplace"
        custom-class="video-popup change-status"
        width="488px"
        :visible="submitModalVisible"
        :title="$trans('creative::messages.replace_creative')"
        :submit-label="$trans('actions.remove')"
        :cancel-label="$trans('actions.cancel')"
        :invert-buttons="true"
        @close="submitModalVisible = false"
        @cancel="submitModalVisible = false"
        @submit="replace"
      >
        <p class="text-body-sm">
          {{ $trans('creative::messages.replace_creative_question') }}
        </p>
        <p class="text-body-sm black-text-muted">
          {{ $trans('creative::messages.replace_creative_notice') }}
        </p>
      </modal>
      <modal
        v-else
        custom-class="video-popup change-status"
        width="488px"
        :visible="submitModalVisible"
        :title="$trans('creative::messages.remove_creative')"
        :submit-label="$trans('actions.yes')"
        :cancel-label="$trans('actions.no')"
        :invert-buttons="true"
        @close="submitModalVisible = false"
        @cancel="submitModalVisible = false"
        @submit="replace"
      >
        <p class="text-body-sm">
          {{ $trans('creative::messages.remove_creative_question') }}
        </p>
        <p class="text-body-sm black-text-muted">
          {{ $trans('creative::messages.remove_creative_notice') }}
        </p>
      </modal>
    </div>
    <preview
      v-if="includePreview"
      ref="preview"
      :visible="previewVisible"
      :creative-id="creativePreviewId"
      :is-preview-mode="true"
      @close="closePreview"
      @deleted="onDeleted"
    />
  </div>
</template>

<script>
  import { get } from 'lodash';
  import Index from './dataTable/IndexCreatives';
  import Modal from 'Foundation/components/layout/modal/Modal';
  import Preview from 'Modules/creative/components/modals/Preview';
  import UploadCreative from './UploadCreative';
  import UserId from 'Foundation/mixins/UserId';
  import VideoCell from './dataTable/cells/VideoCell';
  import { mapActions, mapState } from 'vuex';
  import { Message } from 'Foundation/components/notice';
  import CreativePreviewMethods from 'Modules/creative/mixins/CreativePreviewMethods';
  import SetCampaignActivityStep from 'Modules/campaign/components/wizard/steps/mixins/SetCampaignActivityStep';

  export default {
    /**
     * Name
     */
    name: 'ModuleCreative',

    /**
     * Components
     */
    components: {
      Index,
      Message,
      Modal,
      Preview,
      UploadCreative,
      VideoCell,
    },

    /**
     * Mixins.
     */
    mixins: [
      UserId,
      CreativePreviewMethods,
      SetCampaignActivityStep
    ],

    /**
     * Component properties
     */
    props: {
      /**
       * Scroll to class. Used when chose cretive from datatable
       */
      scrollToClass: {
        type: String,
        default: 'vue-app'
      },

      /**
       * Is module selectable
       */
      selectable: {
        type: Boolean,
        default: false
      },

      /**
       * Show table sub title condition
       */
      showTableSubTitle: {
        type: Boolean,
        default: false
      },

      /**
       * Default table holder class
       */
      tableHolderClass: {
        type: String,
        default: 'creative__holder'
      },

      /**
       * Campaign id
       */
      campaignId: {
        type: Number,
        default: null
      },

      /**
       * Attached Creative
       */
      attachedCreative: {
        type: Object,
        default: () => {
          return null;
        }
      },

      /**
       * Remind message text
       */
      remindMessage: {
        type: String,
        default: '',
      },

      /**
       * Ready campaign message text
       */
      readyCampaignMessage: {
        type: String,
        default: '',
      },

      /**
       * Data table name
       */
      tableName: {
        type: String,
        default: 'creatives'
      },

      /**
       * True if creative table should be displayed.
       */
      displayTable: {
        type: Boolean,
        default: true,
      },

      /**
       * If user can not manage creative
       */
      manageDisabled: {
        type: Boolean,
        default: false,
      },

      /**
       * If user can only replace creative
       */
      onlyReplace: {
        type: Boolean,
        default: false,
      },

      /**
       * If user can only replace creative to approved one
       */
      onlyApproved: {
        type: Boolean,
        default: false,
      },

      /**
       * Count uploaded ads
       */
      countUploadedAds: {
        type: Number,
        default: 0
      }
    },

    /**
     * Component data
     */
    data () {
      return {
        submitModalVisible: false,
        selectedCreative: this.attachedCreative,
        replaceMode: false,
        previewCreative: {},
        additionalClasses: [],
        countData: this.countUploadedAds
      };
    },

    /**
     * Computed properties
     */
    computed: {
      ...mapState('creative', [
        'attachCreativePending',
        'detachCreativePending',
        'replaceCreativePending',
      ]),

      /**
       *  Disabled class for selected item
       */
      disabledClass () {
        return this.selectedCreative ? 'c-creative--disabled' : '';
      },

      /**
       *  Add Disabled class for list
       */
      disabledList () {
        return this.selectedCreative && !this.replaceMode ? this.disabledClass : '';
      },

      /**
       *  Add Disabled class for selected element
       */
      disabledSelected () {
        return this.replaceMode ? this.disabledClass : '';
      },

      /**
       * Check if the attached creative is rejected.
       * @returns {boolean}
       */
      isAttachedCreativeRejected () {
        return get(this, 'attachedCreative.creative_status') === 'rejected';
      },

      /**
       * Remind text
       */
      remindText () {
        if (this.onlyReplace) {
          if (this.isAttachedCreativeRejected) {
            return this.$trans('creative::messages.rejected_creative_message', {
              tech_specifications_link: this.$config.general.links.technical_specifications,
              advertising_policies: this.$config.general.links.advertising_policies
            });
          }

          return this.$trans('creative::messages.replace_creative_message');
        }
        if (!this.remindMessage) {
          return this.$trans('creative::messages.remind');
        }
        return this.remindMessage;
      },

      /**
       * True if table should be visible.
       */
      tableVisible () {
        return this.displayTable && (this.countData || !this.selectable);
      },

      /**
       * True if remind message should be shown.
       */
      displayWarning () {
        if (this.onlyReplace) {
          return true;
        }
        return this.selectable && !this.selectedCreative && !this.manageDisabled;
      },

      /**
       * Attached creative id
       */
      creativeId () {
        return this.attachedCreative ? this.attachedCreative.id : null;
      },

      /**
       * Pending for the creative sync process
       */
      creativeSyncPending () {
        return this.attachCreativePending || this.replaceCreativePending || this.detachCreativePending;
      },

      /**
       * Get page pane.
       * @return string
       */
      pageName () {
        if (this.$router.currentRoute.name === 'campaigns.show') {
          return 'campaign.details';
        }

        return 'creative.creative';
      }
    },

    /**
     * Component watcher
     */
    watch: {
      /**
       * Attached creative watcher
       */
      attachedCreative (data) {
        this.selectedCreative = data;
        this.refreshDataTable();
      },

      /**
       * Watch countData value if value below 0
       */
      countData (value) {
        if (value < 0) {
          this.countData = 0;
        }
      }
    },

    /**
     * Mounted
     */
    mounted () {
      if (this.useRouting && this.$router.currentRoute.params.creative) {
        this.showPreview(this.$router.currentRoute.params.creative);
      }
    },

    /**
     * Component methods
     */
    methods: {
      ...mapActions('creative', [
        'attachToCampaign',
        'detachFromCampaign',
        'replaceCreative',
      ]),

      /**
       * Select creative action
       */
      async selected (videoData) {
        let data = {
          campaign: this.campaignId,
          creativeId: videoData.id
        };

        const onSuccess = () => {
          let hiddenElement = document.getElementsByClassName(this.scrollToClass)[0];
          hiddenElement.scrollIntoView();
          this.replaceMode = false;
          this.sendCreativeActivity('creative.attached')
        }

        if (this.replaceMode) {
          this.$call(this.replaceCreative(data)).then(onSuccess);
          return;
        }

        this.$call(this.attachToCampaign(data)).then(onSuccess);
      },

      /**
       * Send creative activity
       */
      sendCreativeActivity (latestActivity) {
        this.setLatestActivity(latestActivity);
        this.sendActivityAction(this.lastActivity, this.pageName, this.campaignId);
      },

      /**
       * Remove selected creative action
       */
      replace () {
        if (this.onlyReplace) {
          this.replaceMode = true;
          this.submitModalVisible = false;
          return;
        }

        this.$call(this.detachFromCampaign(this.campaignId)).then(() => {
          this.submitModalVisible = false;

          this.setLatestActivity('creative.detached');
          this.sendActivityAction(this.lastActivity, this.pageName, this.campaignId);
        });
      },

      /**
       * Handle finish upload event
       */
      finishUpload (videoData) {
        ++this.countData;
        this.selected(videoData);
      },

      /**
       * Update table when creative deleted from table preview
       */
      onDeleted() {
        this.refreshDataTable();
        --this.countData;
        this.$nextTick(this.closePreview);

        this.setLatestActivity('creative.detached');
        this.sendActivityAction(this.lastActivity, this.pageName, this.campaignId);
      },

      /**
       * Refresh data table
       */
      refreshDataTable () {
        if (this.$refs['creativeTable']) {
          this.$refs['creativeTable'].refresh();
          this.$refs['creativeTable'].$refs['dataTable'].$refs['cards'].refresh();
        }
      },

      /**
       * Handle loaded
       * @param data
       */
      handleLoaded (data) {
        this.countData = data.total;
      },
    }
  };
</script>
