<template>
  <icon value="adsd" />
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name of the component.
     */
    name: "IconEyeCrossed",

    /**
     * Components.
     */
    components: {Icon}
  }
</script>
