<template>
  <icon
    value="chevron-up"
    lightness="mute"
    :width="15"
    :height="8"
  />
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name of the component.
     */
    name: "IconChevronUp",

    /**
     * Components.
     */
    components: {Icon}
  };
</script>
