<template>
  <div class="table">
    <div class="table__actions">
      <div class="table__actions-select-page">
        <span>Show</span>
        <el-select
          v-model="value"
          value="Value"
          size="small"
          class="input-secondary"
          placeholder="10"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
        <span>entries</span>
      </div>
    </div>
    <div
      class="table__holder is-empty"
      style="display: none;"
    >
      <div class="table__empty-frame">
        <img
          src="../../../../../images/content/Volume.png"
          alt="Speaker"
          height="64"
        >
      </div>
      <h1 class="offset-bottom-large">
        Create your first campaign!
      </h1>
      <el-button
        type="default"
      >
        Create Campaign
      </el-button>
    </div>
    <div class="table__holder notification-table">
      <el-table
        :data="tableData"
      >
        <!--Toggle class is-unread for <tr> to change status-->
        <el-table-column
          prop="user"
          width="70"
          class="notification-table__user"
        >
          <div class="notification-table__user">
            <span />
          </div>
        </el-table-column>
        <el-table-column
          prop="label"
          width="150"
        />
        <el-table-column
          prop="message"
        />
        <el-table-column
          prop="date"
        />
        <el-table-column
          prop="status"
          width="50"
        >
          <div class="notification-status">
            <span />
          </div>
        </el-table-column>
      </el-table>
    </div>
    <div class="table__footer">
      <el-pagination
        :total="100"
        prev-text="Previous"
        next-text="Next"
        background
        layout="total, prev, pager, next"
      />
    </div>
  </div>
</template>

<script>

    export default {
        name: "TableNotifications",

        components: {},

        data () {
          return {
            form: {
                name: null,
                email: null,
                password: null,
                passwordConfirmation: null,
            },
            tableData: [
              {
                user: '',
                label: 'Label',
                message: 'Notification message goes here…',
                date: '01/31/2019',
                status: '',
              },
              {
                user: '',
                label: 'Label',
                message: 'Notification message goes here…',
                date: '01/31/2019',
                status: '',
              },
              {
                user: '',
                label: 'Label',
                message: 'Notification message goes here…',
                date: '01/31/2019',
                status: '',
              },
              {
                user: '',
                label: 'Label',
                message: 'Notification message goes here…',
                date: '01/31/2019',
                status: '',
              },
              {
                user: '',
                label: 'Label',
                message: 'Notification message goes here…',
                date: '01/31/2019',
                status: '',
              },
              {
                user: '',
                label: 'Label',
                message: 'Notification message goes here…',
                date: '01/31/2019',
                status: '',
              },
              {
                user: '',
                label: 'Label',
                message: 'Notification message goes here…',
                date: '01/31/2019',
                status: '',
              },
            ],
          }
        },
    }
</script>
