<template>
  <el-card
    shadow="always"
    class="counter__item card-counter"
  >
    <div class="card-counter__name">
      <div class="text-label-xs-semibold-caps">
        {{ title }}
      </div>
    </div>
    <h1 class="card-counter__value">
      {{ cardContent }}
    </h1>
  </el-card>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'DataTableCard',

    /**
     * Props
     */
    props: {

      /**
       * Title
       */
      title: {
        type: String,
        default: '',
      },

      /**
       * Content
       */
      content: {
        type: [String, Number],
        default: '',
      },
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Card value
       */
      cardContent () {
        return this.content ? this.content : '0';
      }
    },
  };
</script>

