<template>
  <el-collapse-item :name="collapseItemIndex">
    <template slot="title">
      <div class="dropdown-popup__title">
        {{ category.name }}
        <info-tip
          v-if="category.description"
          low-zindex
          :description="category.description"
        />
      </div>
      <div
        v-if="showCount"
        class="dropdown-checkbox__subtitle"
      >
        {{ $trans('campaign::labels.selected', { amount: checkedAmount() }) }}
      </div>
      <span class="default-accordion__icon">
        <icon-chevron-up />
      </span>
    </template>
    <div class="dropdown-popup__content el-tabs__content ">
      <div class="checkbox-in-column">
        <template v-for="(item, index) of category.children">
          <audience-item
            :key="index"
            :item="item"
          />
        </template>
      </div>
    </div>
    <div class="dropdown-popup__footer">
      <el-button
        size="small"
        type="text"
        class="el-picker-panel__link-btn is-link"
        :disabled="!checkedAmount()"
        @click="clear()"
      >
        {{ $trans('targeting::labels.audiences.clear_button', { category: category.name }) }}
      </el-button>
      <el-button
        size="small"
        class="el-picker-panel__link-btn"
        @click="hide"
      >
        {{ $trans('labels.date_picker.button_done') }}
      </el-button>
    </div>
  </el-collapse-item>
</template>

<script>
  import AudienceCategory from "./AudienceCategory";
  import IconChevronUp from 'Foundation/components/icons/IconChevronUp';
  import InfoTip from 'Foundation/components/toolpip/InfoTip';

  export default {
    /**
     * Component name.
     */
    name: 'AudienceSearchItem',

    /**
     * Components.
     */
    components: {
      IconChevronUp,
      InfoTip,
    },

    /**
     * Parent Component
     */
    extends: AudienceCategory,

    /**
     * Methods.
     */
    methods: {
      /**
       * Get amount of checked children
       */
      checkedAmount() {
        let amount = 0;

        if (!this.category.children || !this.values.length) {
          return amount;
        }

        this.category.children.forEach((item) => {
          if (this.values.some(audience => audience.value === item.value)) {
            amount++;
          }
        });

        return amount;
      },

      /**
       * Uncheck checkboxes in the current tab.
       */
      clear() {
        this.category.children.forEach((item) => {
          this.removeAudience(item);
        });
      }
    },
  };
</script>
