<template>
  <el-collapse-item :name="collapseItemIndex">
    <template slot="title">
      <div class="dropdown-popup__title">
        {{ category.name }}
        <info-tip
          v-if="category.description"
          low-zindex
          :description="category.description"
        />
      </div>
      <div
        v-if="checkedAmount() > 0"
        class="dropdown-checkbox__subtitle"
      >
        {{ $trans('campaign::labels.selected', { amount: checkedAmount() }) }}
      </div>
      <span class="default-accordion__icon">
        <icon-chevron-up />
      </span>
    </template>
    <div class="dropdown-popup__content">
      <tabs
        v-if="showTabs"
        ref="tabs"
        v-model="activeAudienceTab"
      >
        <el-tab-pane
          v-for="(subcategory) of category.children"
          :key="subcategory.name"
          :label="subcategory.name"
          :name="subcategory.name"
        >
          <template slot="label">
            {{ subcategory.name }}
            <info-tip
              v-if="subcategory.description"
              low-zindex
              :description="subcategory.description"
            />
          </template>
          <div
            v-if="activeAudienceTab === subcategory.name"
            class="checkbox-in-column"
          >
            <template v-for="(value, index) of subcategory.children">
              <audience-item
                :key="index"
                :item="value"
              />
            </template>
          </div>
        </el-tab-pane>
      </tabs>
    </div>
    <div class="dropdown-popup__footer">
      <el-button
        size="small"
        type="text"
        class="el-picker-panel__link-btn is-link"
        :disabled="!checkedAmount()"
        @click="clear()"
      >
        {{ $trans('targeting::labels.audiences.clear_button', { category: category.name }) }}
      </el-button>
      <el-button
        size="small"
        class="el-picker-panel__link-btn"
        @click="hide"
      >
        {{ $trans('labels.date_picker.button_done') }}
      </el-button>
    </div>
  </el-collapse-item>
</template>

<script>
  import { isNull } from 'lodash';
  import AudienceItem from "./AudienceItem";
  import {mapGetters, mapMutations} from "vuex";
  import Tabs from "Foundation/components/tabs/Tabs";
  import IconChevronUp from 'Foundation/components/icons/IconChevronUp';
  import InfoTip from 'Foundation/components/toolpip/InfoTip';

  export default {
    /**
     * Component name.
     */
    name: 'AudienceCategory',

    /**
     * Components
     */
    components: {
      AudienceItem,
      Tabs,
      IconChevronUp,
      InfoTip,
    },

    /**
     * Props
     */
    props: {
      /**
       * Audience category.
       */
      category: {
        type: Object,
        required: true,
      },

      /**
       * Audience category.
       */
      activeCollapseIndex: {
        type: [Number, String, Array],
        default: null,
      },

      /**
       * Collapse item index
       */
      collapseItemIndex: {
        type: [Number, String, Array],
        default: 1,
      },

      /**
       * Is search enabled
       */
      isSearch: {
        type: Boolean,
        default: false,
      }
    },

    /**
     * Component data
     */
    data () {
      return {
        activeAudienceTab: '0',
        audienceCheckbox: [],
        showTabs: false
      }
    },

    /**
     * Computed property.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapGetters('wizard/targeting', {
        values: 'audiences',
      }),

      /**
       * Show selected items
       */
      showCount () {
        return this.checkedAmount() > 0;
      }
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Values watcher
       */
      values : {
        handler () {
          this.checkedAmount();
        },
        deep: true,
      },

      /**
       * Mount tab component if collapse is open and component is displayed
       */
      activeCollapseIndex(value) {
        if (value === this.collapseItemIndex && !this.isSearch) {
          this.showTabs = true;
        }
      },

      /**
       * Mount tab component if collapse is open and component is displayed
       */
      isSearch (enabled) {
        if (!enabled && this.activeCollapseIndex === this.collapseItemIndex) {
          this.showTabs = true;
        }
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Map mutations.
       */
      ...mapMutations('wizard/targeting', [
        'addAudience',
        'removeAudience',
      ]),

      /**
       * Close collapse.
       */
      hide() {
        this.$emit('hide')
      },

      /**
       * Get amount of checked children
       */
      checkedAmount() {
        let amount = 0;

        if (!this.category.children || isNull(this.values) || !this.values.length) {
          return amount;
        }

        this.category.children.forEach((item) => {
          item.children.forEach((value) => {
            if (this.values.some(audience => audience.value === value.value)) {
              amount++;
            }
          });
        });

        return amount;
      },

      /**
       * Uncheck checkboxes in the current tab.
       */
      clear() {
        this.category.children.forEach((item) => {
          item.children.forEach((value) => {
            this.removeAudience(value);
          });
        });
      },
    },
  };
</script>
