<template>
  <el-checkbox
    v-model="checked"
    @change="changeValue"
  >
    {{ item.name }}
  </el-checkbox>
</template>

<script>
  import Item from "./mixins/Item";
  import {mapState} from "vuex";

  export default {
    /**
     * Component name.
     */
    name: 'AudienceItem',

    /**
     * Mixins
     */
    mixins: [ Item ],

    /**
     * Component data
     */
    data () {
      return {
        checked: false,
      }
    },

    computed: {

    }
  };
</script>
