<template>
  <div class="data-table-cell">
    <download-action
      v-if="showDownload"
      :url="downloadUrl"
      @click="download"
    />
  </div>
</template>

<script>
  import DownloadAction from "Foundation/components/action-icon/DownloadAction";

  export default {
    /**
     * Component name
     */
    name: 'ActionsCell',

    /**
     * Components
     */
    components: {
      DownloadAction,
    },

    /**
     * Props
     */
    props: {
      /**
       * Show download
       */
      showDownload: {
        type: Boolean,
        default: true,
      },

      /**
       * Download url
       */
      downloadUrl: {
        type: String,
        default: '#',
      },
    },

    /**
     * Component method
     */
    methods: {
      /**
       * Emit @selected event
       */
      download (url) {
        if (url && url !== '#') {
          window.location.href = this.url;
        } else {
          this.$emit('download');
        }
      },
    }
  };
</script>
