<template>
  <span>{{ cellValue }}</span>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'BoldTextCell',

    /**
     * Props
     */
    props: {
      /**
       * Cell value.
       */
      cellValue: {
        type: [String, Number],
        default: '',
      },
    },
  };
</script>
