<template>
  <span>{{ fileSize }}</span>
</template>

<script>
  import filesize from 'filesize';

  export default {
    /**
     * Component name
     */
    name: 'FileSizeCell',

    /**
     * Props
     */
    props: {
      cellValue: {
        type: [String, Number],
        default: ''
      }
    },

    /**
     * Computed props
     */
    computed: {
      /**
       * File size
       * @returns {String}
       */
      fileSize () {
        return filesize(this.cellValue);
      },
    },
  };
</script>
