<template>
  <span>{{ money }}</span>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'MoneyCell',

    /**
     * Props
     */
    props: {
      cellValue: {
        type: [String, Number],
        default: ''
      }
    },

    /**
     * Computed props
     */
    computed: {
      money () {
        const formatter = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'USD',
        });

        const value = formatter.format(this.cellValue);

        return this.cellValue === '-' ? this.cellValue : value;
      },
    },
  };
</script>
