<template>
  <span :class="extraClass">{{ number }}</span>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'NumberCell',

    /**
     * Props
     */
    props: {
      cellValue: {
        type: [String, Number],
        default: ''
      },

      /**
       * Class
       */
      extraClass: {
        type: String,
        default: ''
      },
    },

    /**
     * Computed props
     */
    computed: {
      number () {
        const value = new Intl.NumberFormat('en-US').format(this.cellValue);

        return this.cellValue === '-' ? this.cellValue : value;
      },
    },
  };
</script>
