<template>
  <div class="data-table-cell-radio">
    <el-tooltip
      v-if="!isSelected"
      class="item"
      effect="dark"
      :content="$trans('campaign::actions.add_to_campaign')"
      placement="top"
    >
      <el-button
        class="button-empty-icon"
        :disabled="disabled"
        @click.prevent="selected"
        @keydown.prevent="selected"
      >
        <icon
          value="plus-circle"
          transparent="stroke"
        />
      </el-button>
    </el-tooltip>
    <el-tooltip
      v-else
      class="item"
      effect="dark"
      :content="$trans('campaign::actions.remove_from_campaign')"
      placement="top"
    >
      <el-button
        class="button-empty-icon"
        @click="removed"
        @keydown.prevent="removed"
      >
        <icon
          value="minus-circle"
          transparent="stroke"
        />
      </el-button>
    </el-tooltip>
  </div>
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Component name
     */
    name: 'PlusCell',

    /**
     * Components.
     */
    components: {Icon},

    /**
     * Component properties
     */
    props: {
      /**
       * Is selected
       */
      isSelected: {
        type: Boolean,
        default: false
      },

      /**
       * Is disabled
       */
      disabled: {
        type: Boolean,
        default: false
      }
    },

    /**
     * Component method
     */
    methods: {
      /**
       * Check if event is allowed
       */
      detectSelectEvent (event) {
        return event.type === 'click' || (event.key && event.key === 'Enter');
      },

      /**
       * Emit @selected event
       */
      selected (event) {
        if (this.detectSelectEvent(event)) {
          this.$trackAction('select_creative');
          this.$emit('selected');
        }
      },

      /**
       * Emit @removed event
       */
      removed () {
        if (this.detectSelectEvent(event)) {
          this.$emit('removed');
        }
      }
    }
  };
</script>
