<template>
  <div class="data-table-round-cell">
    <component :is="categoryIconComponent" />
  </div>
</template>

<script>
  import NotificationIconsMixin from "Foundation/mixins/NotificationIconsMixin";

  export default {
    /**
     * Component name
     */
    name: 'RoundCellWithIcon',

    /**
     * Mixins.
     */
    mixins: [NotificationIconsMixin],

    /**
     * Props
     */
    props: {
      /**
       * Category.
       */
      category: {
        type: String,
        default: '',
      },
    },
  };
</script>
