<template>
  <span>{{ value }}</span>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'TranslateCell',

    /**
     * Props
     */
    props: {
      cellValue: {
        type: String,
        default: '',
      },

      /**
       * Trans path.
       */
      transAddress: {
        type: String,
        default: 'labels',
      },
    },

    /**
     * Computed property
     */
    computed: {
      /**
       * Translated value
       */
      value () {
        return this.$trans(`${this.transAddress}.${this.cellValue}`)
      }
    },
  };
</script>
