<template>
  <modal
    :visible="innerVisible"
    :title="title"
    :submit-label="$trans('actions.remove')"
    :cancel-label="$trans('actions.cancel')"
    :custom-class="'change-status'"
    :width="'488px'"
    @close="$emit('close')"
    @cancel="$emit('close')"
    @submit="$emit('submit')"
  >
    <div class="change-status__content">
      <p class="text-body-sm">
        {{ message }}
      </p>
      <p class="text-body-sm black-text-muted">
        {{ description }}
      </p>
    </div>
  </modal>
</template>

<script>
  import { Modal } from 'Foundation/components/layout/modal';

  export default {
    /**
     * Name
     */
    name: 'DeleteDialog',

    /**
     * Components
     */
    components: {
      Modal,
    },

    /**
     * Props
     */
    props: {
      /**
       * Dialog visible
       */
      visible: {
        type: Boolean,
        default: false,
      },

      /**
       * Title
       */
      title: {
        type: String,
        default: '',
      },

      /**
       * Message
       */
      message: {
        type: String,
        default: '',
      },

      /**
       * Description
       */
      description: {
        type: String,
        default: '',
      },
    },

    /**
     * Data
     * @returns {{innerVisible: boolean}}
     */
    data () {
     return {
       innerVisible: false,
     }
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Modal visible
       * @param value
       */
      visible (value) {
        this.innerVisible = value;
      }
    },
  };
</script>
