<template>
  <div class="bulk-invite">
    <message
      v-if="showBlock(formatType) || showBlock(uniqueType)"
      type="danger"
    >
      {{ $trans('invitation::messages.have_error_while_bulk') }}
    </message>
    <el-collapse
      v-model="activeCollapse"
      class="default-accordion creatives__errors"
      accordion
    >
      <el-collapse-item
        v-for="(categoryEmails, index) in categories"
        :key="index"
        :name="index"
      >
        <template slot="title">
          <div class="creative-status">
            <i
              v-if="index !== successType"
              class="creative-status__item creative-status__item--danger"
            >
              <icon
                value="rejected"
                type="danger"
                lightness="light"
                :width="10"
                :height="10"
              />
            </i>
            <i
              v-else
              class="creative-status__item creative-status__item--success"
            >
              <icon
                value="approved"
                type="success"
              />
            </i>
          </div>
          <span class="default-accordion__option">
            {{ categoryTitle(index, categoryEmails) }}
          </span>
          <span class="default-accordion__icon">
            <icon-chevron-up />
          </span>
        </template>
        <div>
          <div class="issues">
            <ul
              class="issues__list"
            >
              <li
                v-for="(item, key) in categoryEmails"
                :key="key"
                class="issues__item"
              >
                <div class="issues__icon">
                  <i
                    v-if="index !== successType"
                    class="creative-status__item creative-status__item--danger"
                  >
                    <icon
                      value="rejected"
                      type="danger"
                      lightness="light"
                      :width="10"
                      :height="10"
                    />
                  </i>
                  <i
                    v-else
                    class="creative-status__item creative-status__item--success"
                  >
                    <icon
                      value="approved"
                      type="success"
                    />
                  </i>
                </div>
                <p
                  class="issues__descr"
                >
                  {{ item }}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
  import {Message} from "Foundation/components/notice";
  import Icon from 'Foundation/components/icons/Icon';
  import IconChevronUp from 'Foundation/components/icons/IconChevronUp';

  const TYPE_SUCCESS = 'success';
  const TYPE_ERROR_UNIQUE = 'unique';
  const TYPE_ERROR_FORMAT = 'format';
  const TYPE_ERROR_ENCODING = 'encoding';

  export default {
    /**
     * Component name.
     */
    name: 'BulkInvitesConfirm',

    /**
     * Components
     */
    components: {
      Message,
      Icon,
      IconChevronUp
    },

    /**
     * Component properties
     */
    props: {
      /**
       * Emails
       */
      emails: {
        type: [Array, Object],
        default () {
          return {};
        }
      },
    },

    /**
     * Data values
     */
    data() {
      return {
        activeCollapse: TYPE_ERROR_UNIQUE,
        successType: TYPE_SUCCESS,
        formatType: TYPE_ERROR_FORMAT,
        encodingType: TYPE_ERROR_ENCODING,
        uniqueType: TYPE_ERROR_UNIQUE,
      }
    },

    /**
     * Computed property
     */
    computed: {
      categories() {
        let result = {};

        for (let email in this.emails) {
          if (this.showBlock(email)) {
            result[email] = this.emails[email];
          }
        }

        return result;
      }
    },

    /**
     * Mounted
     */
    mounted() {
      this.openCollapseByDefault();
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Type collapse by default
       */
      openCollapseByDefault() {
        if (this.categories[TYPE_SUCCESS] && this.categories[TYPE_SUCCESS].length > 0) {
          this.activeCollapse = TYPE_SUCCESS;

          return;
        }

        if (this.categories[TYPE_ERROR_FORMAT] && this.categories[TYPE_ERROR_FORMAT].length > 0 &&
          !this.categories[TYPE_ERROR_UNIQUE]) {
          this.activeCollapse = TYPE_ERROR_FORMAT;
          return;
        }

        if (this.categories[TYPE_ERROR_ENCODING] && this.categories[TYPE_ERROR_ENCODING].length > 0) {
          this.activeCollapse = TYPE_ERROR_ENCODING;
        }
      },

      /**
       * Title category
       *
       * @param index
       * @param emails
       */
      categoryTitle(index, emails) {
        const map = {
          [TYPE_SUCCESS]: this.$trans('invitation::messages.success_emails_while_bulk', {amount: emails.length}),
          [TYPE_ERROR_UNIQUE]: this.$trans('invitation::messages.have_error_while_bulk_unique', {amount: emails.length}),
          [TYPE_ERROR_FORMAT]: this.$trans('invitation::messages.have_error_while_bulk_format', {amount: emails.length}),
          [TYPE_ERROR_ENCODING]: this.$trans('invitation::messages.have_error_while_bulk_encoding'),
        }

        return map[index] || this.$trans('messages.went_wrong');
      },

      /**
       * Show block.
       *
       * @param type
       */
      showBlock(type) {
        return this.emails[type].length > 0;
      },
    }
  }
</script>
