<template>
  <div
    class="speedometer-indicator"
    :class="indicatorClass"
  >
    <svg
      width="111"
      height="68"
      viewBox="0 0 111 68"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M106.467 68C103.883 68 102.009 65.5397 102.413 62.988C102.799 60.5488 103 58.0478 103 55.5C103 29.2665 81.7335 8 55.5 8C29.2665 8 8 29.2665 8 55.5C8 58.0478 8.20059 60.5488 8.58685 62.988C8.99094 65.5397 7.11687 68 4.53334 68C2.70728 68 1.10827 66.7412 0.799816 64.9414C0.273954 61.8729 0 58.7185 0 55.5C0 24.8482 24.8482 0 55.5 0C86.1518 0 111 24.8482 111 55.5C111 58.7185 110.726 61.8729 110.2 64.9414C109.892 66.7412 108.293 68 106.467 68Z"
        fill="url(#paint0_linear)"
      />
      <defs>
        <linearGradient
          id="paint0_linear"
          x1="43.5"
          y1="17.5"
          x2="-2.27632e-07"
          y2="68"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#1AE67F" />
          <stop
            offset="0.110018"
            stop-color="#86DF99"
          />
          <stop
            offset="0.291627"
            stop-color="#DEDE63"
          />
          <stop
            offset="0.39832"
            stop-color="#F6D265"
          />
          <stop
            offset="0.503157"
            stop-color="#FFBB33"
          />
          <stop
            offset="0.59716"
            stop-color="#FEA304"
          />
          <stop
            offset="0.694043"
            stop-color="#F77C19"
          />
          <stop
            offset="0.78344"
            stop-color="#ED4138"
          />
          <stop
            offset="1"
            stop-color="#E61A4D"
          />
        </linearGradient>
      </defs>
    </svg>
    <div class="speedometer-indicator__text">
      <span>{{ $trans('labels.unavailable') }}</span>
      <span>{{ $trans('labels.available') }}</span>
    </div>
    <div
      class="needle"
      :style="`--delivery-percentage: ${calculateDelivery}`"
    >
      <svg
        width="23"
        height="83"
        viewBox="0 0 23 83"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0)">
          <circle
            cx="11.5"
            cy="41.5001"
            r="11.5"
            transform="rotate(90 11.5 41.5001)"
            fill="#C5CAD3"
          />
          <path
            d="M10.6118 0.8232L7.01685 41.0671C6.79106 43.7203 8.86289 46.0001 11.5 46.0001C14.1371 46.0001 16.2089 43.7203 15.9831 41.0671L12.3882 0.823189C12.2948 -0.274323 10.7052 -0.274311 10.6118 0.8232Z"
            fill="var(--needle-background)"
          />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect
              width="83"
              height="23"
              fill="white"
              transform="translate(23) rotate(90)"
            />
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  /**
   * Name of the component.
   */
  name: "InventoryDeliveryIndicator",

  /**
   * Component properties
   */
  props: {
    /**
     * Delivery percentage
     */
    deliveryPercentage: {
      type: Number,
      default: 0,
    },

    /**
     * Extra indicator class
     */
    indicatorClass: {
      type: Object,
      default () {
        return {}
      }
    }
  },

  /**
   * Data properties.
   */
  data () {
    return {
      chartColor : [
        {
          offset: '50%',
          color: '#1AE67F',
        },
        {
          offset: '70%',
          color: '#FFAA00',
        },
        {
          offset: '85%',
          color: '#F5D596',
        },
        {
          offset: '100%',
          color: '#DE1B4B',
        }
      ]
    }
  },

  /**
   * Computed
   */
  computed: {
    /**
     * Map state
     */
    ...mapState('wizard/inventory', ['getInventoryCheckPending']),

    /**
     * Calculate indicator value
     */
    calculateDelivery() {
      let delivery = this.deliveryPercentage;

      if (delivery < 0) delivery = 0;
      if (delivery > 100) delivery = 100;

      return delivery;
    }
  }
}
</script>
