<template>
  <div>
    <selected-creative
      v-if="value"
      :video-data="value"
      :selectable="false"
      :show-footer="false"
    />
    <span v-else>
      -
    </span>
  </div>
</template>
<script>
  import SelectedCreative from 'Modules/creative/components/SelectedCreative';

  export default {
    /**
     * Name of the component.
     */
    name: 'SidebarCreative',

    components: {
      SelectedCreative,
    },

    /**
     * Available properties.
     */
    props: {
      /**
       * Item value.
       */
      value: {
        type: [Object, Boolean],
        default: null,
      },
    },
  };
</script>
