<template>
  <div
    class="collapse-grid__col"
    :class="{'col-6' : item.singleColumn}"
  >
    <div
      class="collapse-grid__title"
      :class="{'is-active' : isActive}"
    >
      <small class="text-label-xxs">
        {{ item.title }}
      </small>
    </div>
    <div class="collapse-grid__content">
      <component
        :is="item.component"
        :value="item.value"
        v-bind="getBinding(item)"
      />
    </div>
  </div>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: 'SidebarItemWrapper',

    /**
     * Available properties.
     */
    props: {
      /**
       * Item value.
       */
      item: {
        required: true,
        type: Object,
      },

      /**
       * Item name.
       */
      name: {
        required: true,
        type: String,
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Check if the current sidebar item relates to the active step.
       */
      isActive () {
        return this.item.route.name === this.$route.name;
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Returns object that is used in attributes binding for the item.
       * @param item
       * @returns {{}}
       */
      getBinding (item) {
        return item.value instanceof Object ? item.value : {};
      },
    },
  };
</script>
