<template>
  <div class="collapse-grid__content-inner">
    <ul>
      <li>
        <date-range
          v-bind="value"
        />
      </li>
    </ul>
  </div>
</template>
<script>
  import DateRange from 'Foundation/components/formatters/DateRange';

  export default {
    /**
     * Name of the component.
     */
    name: 'SidebarDateRangeItem',

    /**
     * Computed properties.
     */
    components: {
      DateRange,
    },

    /**
     * Available properties.
     */
    props: {
      /**
       * Item's value.
       */
      value: {
        required: true,
        validator () {
          return true;
        },
      },
    },
  };
</script>
