<template>
  <div class="collapse-grid__content-inner">
    <ul>
      <li>
        {{ content }}
      </li>
    </ul>
  </div>
</template>
<script>
  export default {
    /**
     * Name of the component.
     */
    name: 'SidebarCost',

    /**
     * Available properties.
     */
    props: {
      /**
       * Item value.
       */
      value: {
        type: [String, Number],
        default: null,
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      content () {
        return this.value
          ? this.$formatCurrency(this.value, this.$user.currency.code)
          : '-';
      }
    },
  };
</script>
