<template>
  <div class="collapse-grid__content-inner">
    <ul>
      <li>{{ content }}</li>
    </ul>
  </div>
</template>
<script>
  export default {
    /**
     * Name of the component.
     */
    name: 'SidebarItem',

    /**
     * Available properties.
     */
    props: {
      /**
       * Item value.
       */
      value: {
        required: true,
        validator () {
          return true;
        },
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      content () {
        return this.value || '-';
      }
    },
  };
</script>
