<template>
  <div class="collapse-grid__content-inner">
    <ul>
      <li v-if="isNaN(content)">
        {{ content }}
      </li>
      <li v-else>
        <number v-model="content" />
      </li>
    </ul>
  </div>
</template>
<script>
  import Number from 'Foundation/components/formatters/Number';

  export default {
    /**
     * Name of the component.
     */
    name: 'SidebarItemNumeric',

    /**
     * Components.
     */
    components: {
      Number,
    },

    /**
     * Available properties.
     */
    props: {
      /**
       * Item value.
       */
      value: {
        required: true,
        validator () {
          return true;
        },
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      content () {
        return this.value || '-';
      }
    },
  };
</script>
