<template>
  <div
    class="wrapper"
    :class="{ 'has-responsive-layout': hasResponsiveLayout }"
  >
    <header-guest
      :show-login-button="showLoginButton"
      :show-sign-up-button="showSignUpButton"
    />
    <el-main>
      <slot />
    </el-main>
    <app-footer v-show="showFooter" />
  </div>
</template>

<script>
  import AppFooter from 'Foundation/components/layout/footer/Footer';
  import HeaderGuest from 'Foundation/components/layout/header/HeaderGuest';

  export default {
    /**
     * Name of the component.
     */
    name: "LayoutGuest",

    /**
     * Child components.
     */
    components: {
      AppFooter,
      HeaderGuest,
    },

    /**
     * Props.
     */
    props: {
      /**
       * Verify if the footer should be shown.
       */
      showFooter: {
        type: Boolean,
        default: true,
      },

      /**
       * Verify if the Sign-Up Button should be shown.
       */
      showSignUpButton: {
        type: Boolean,
        default: true,
      },

      /**
       * Verify if the Login Button should be shown.
       */
      showLoginButton: {
        type: Boolean,
        default: true,
      },

      /**
       * Verify if it has responsive layout (header & footer).
       */
      hasResponsiveLayout: {
        type: Boolean,
        default: false,
      },
    },
  };
</script>
