<template>
  <div :class="`wrapper ${customClass}`">
    <app-header
      :menu="menu"
      @open-notification="openNotification"
    />
    <reminder-box />
    <el-main>
      <slot />
      <contact :open-contact="openContact" />
    </el-main>
    <app-footer />
    <notification-modal
      :notification="notification"
      :visible="!!notification"
      @close="notification=null"
    />
  </div>
</template>

<script>
  import AppFooter from 'Foundation/components/layout/footer/Footer';
  import AppHeader from 'Foundation/components/layout/header/Header';
  import Contact from 'Modules/support/components/contact/Contact';
  import NavigationProperties from '../components/layout/header/mixins/NavigationProperties';
  import ReminderBox from 'Modules/notification/components/reminder/ReminderBox';
  import OpenNotificationMixin from 'Modules/notification/mixins/OpenNotificationMixin';

  export default {
    /**
     * Name of the component.
     */
    name: "LayoutMain",

    /**
     * Child components.
     */
    components: {
      AppFooter,
      AppHeader,
      Contact,
      ReminderBox
    },

    /**
     * Mixins
     */
    mixins: [
      NavigationProperties,
      OpenNotificationMixin
    ],

    /**
     * Available properties.
     */
    props: {
      /**
       * Custom class.
       */
      customClass: {
        type: String,
        default: '',
      },

      /**
       * Custom class.
       */
      openContact: {
        type: Boolean,
        default: false,
      },
    },
  };
</script>
