<template>
  <div
    class="pay-method__item"
  >
    <div class="pay-method__header">
      <span class="text-label-xs-semibold-caps">
        {{ $trans('payment::labels.credit_card') }}
      </span>
      <p class="pay-method__descr">
        {{ $trans('payment::labels.we_accept_credit_cards') }}
      </p>
      <el-button
        type="primary"
        @click="$emit('open')"
      >
        {{ $trans('payment::labels.add_credit_card') }}
      </el-button>
    </div>
    <div class="pay-method__support">
      <img
        src="../../../../../images/cards/Visa.svg"
        :alt="$trans('payment::labels.visa')"
        width="57"
        height="40"
      >
      <img
        src="../../../../../images/cards/Mastercard.svg"
        :alt="$trans('payment::labels.mastercard')"
        width="57"
        height="40"
      >
      <img
        src="../../../../../images/cards/Discover.svg"
        :alt="$trans('payment::labels.discover')"
        width="57"
        height="40"
      >
      <img
        src="../../../../../images/cards/American-Express.svg"
        :alt="$trans('payment::labels.amex')"
        width="57"
        height="40"
      >
    </div>
  </div>
</template>

<script>
export default {
  /**
   * Name.
   */
  name: 'AddCardPlaceholder',
};
</script>
