<template>
  <div class="d-flex">
    <el-button
      size="medium"
      @click="confirmModalVisible = true"
    >
      {{ $trans('actions.delete') }}
    </el-button>
    <modal
      custom-class="change-status"
      :width="'488px'"
      :visible="confirmModalVisible"
      :title="$trans('creative::messages.delete_file')"
      :submit-label="$trans('actions.delete')"
      :cancel-label="$trans('actions.cancel')"
      :body-loading="deleteCreativePending"
      @close="closeConfirmation"
      @cancel="closeConfirmation"
      @submit="remove"
    >
      <div class="change-status__content">
        <p class="text-body-sm">
          {{ $trans('creative::messages.delete_file_warning') }}
        </p>
        <p class="text-body-sm black-text-muted">
          {{ $trans('creative::messages.delete_file_note') }}
        </p>
      </div>
    </modal>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import Modal from 'Foundation/components/layout/modal/Modal';

export default {
  /**
   * Name.
   */
  name: 'Remove',

  /**
   * Components
   */
  components: { Modal },

  /**
   * Props.
   */
  props: {
    creativeId: {
      type: Number,
      default: null,
    }
  },

  /**
   * Component data
   */
  data () {
    return {
      confirmModalVisible: false
    }
  },

  /**
   * Computed.
   */
  computed: {
    /**
     * Vuex (state).
     */
    ...mapState('creative', [
      'deleteCreativePending',
    ]),
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('creative', [
      'delete'
    ]),

    /**
     * Remove Creative
     */
    remove () {
      this.$call(this.delete(this.creativeId)).then((response) => {
        this.$notify.success({
          title: this.$trans('messages.success'),
          message: response.data
        });
        this.confirmModalVisible = false;
        this.$emit('deleted');
      }).catch((error) => {
        this.$notify.error({
          title: this.$trans('labels.error') + '!',
          message: error.data.message
        });
      });
    },

    /**
     * Close delete confirmation
     */
    closeConfirmation () {
      if (this.deleteCreativePending) {
        return;
      }
      this.confirmModalVisible = false;
    }
  }
};
</script>
