.footer {
  width: 100%;
  border-top: 1px solid var(--color-divider-low);
  background: var( --bg-base);

  &__holder {
    display: flex;
    align-items: center;
    height: 100%;

    a {
      color: var(--color-text-med);

      &:hover {
        color: var(--fgcolor-blue);
      }
    }
  }

  &__terms {
    margin-right: 32px;
  }

  &__copyright {
    margin-left: auto;
  }

  .land-footer__copy {
    @extend .text-label-xs;
    margin-left: auto;
    color: var(--color-text-sm-low);
  }
}

