.header {
  width: 100%;
  border-bottom: 1px solid var(--fg-offset95);
  height: var(--main-header-height);
  background-color: var(--bg-base);

  &__holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &--signup {
    //box-shadow: 0 11px 13px rgba(var(--color-black-RGB), .09);
    box-shadow: 0 11px 13px getDarkHSLA(.09);
    border-bottom-color: transparent;
  }

  .el-menu-item {
    a {
      &:focus {
        outline: none;
        color: var(--menu-item-color-hover);
      }
    }
  }
}

.header--signup {
  .el-menu--horizontal {
    border-bottom-color: transparent;

    > .el-menu-item:not(.is-disabled) {
      color: var(--menu-item-color);

      &:hover,
      &:focus {
        color: var(--menu-item-color-hover);
      }
    }
  }
}

.read-all-link {
  @extend .text-size-xs;
  color: var(--color-text-sm-low);
  margin-left: auto;

  &:hover {
    text-decoration: underline;
  }
}

.notifications {
  margin-right: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    position: relative;
    color: var(--color-text-high);

    &:before {
      content: '';
      position: absolute;
      top: -6px;
      right: -4px;
      width: 8px;
      height: 8px;
      background-color: var(--color-danger);
      border-radius: 50%;
      opacity: 0;
    }

    &.is-active {
      &:before {
        opacity: 1;
      }
    }

    .icon-help-circle-header {
      margin-right: 0;
    }
  }

  &__alert {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 625px;
    border: 1px solid var(--border-color-gray);
    box-shadow: var(--box-shadow-sidebar);
    background-color: var(--bg-base);
    z-index: 5;
  }

  &__list {
    min-height: 70px;
  }

  &__title {
    @extend .text-label-sm;
    display: flex;
    align-items: center;
    padding: 24px 24px 13px;

    a {
      @extend .read-all-link;
    }

    span {
      @extend .text-size-sm;
      margin-left: 8px;
      color: var(--color-text-placeholder);
    }
  }

  &__item {
    padding: 21px 24px 18px;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-color: var(--bg-base);
    border-bottom: var(--border-base);
    cursor: pointer;

    &:hover {
      background-color: var(--bg-offset5);
    }

    &.is-unread {
      background-color: var(--bg-offset5);

      .notifications-status {
        opacity: 1;
        visibility: visible;
      }
    }

    &-label {
      @extend .text-label-xxxs-semibold-caps;
      color: var(--color-text-sm-low);
      display: block;
      margin-bottom: 9px;
    }

    &-image {
      width: 49px;
      height: 49px;
      border-radius: 50%;
      border: 1px solid var(--border-color-gray);
      background-color: var(--bg-base);
      margin-right: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    p {
      @extend .text-size-xs;
      color: var(--color-text-high);
      line-height: 20px;//HULU-3032, fonts, ???
      margin: 0 0 5px;
      width: 490px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:last-child {
        margin: 0;
      }
    }

    &.no_content {
      cursor: auto;

      &:hover {
        background-color: inherit;
      }
    }

    .notifications__list,
    .el-dialog__body {
      ul {
        padding-left: 40px;
        list-style: disc;
      }
    }
  }

  &__all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 0;
    color: var(--color-text-high);

    &:focus {
      outline: none;
    }
  }

  &-status {
    width: 8px;
    height: 8px;
    position: absolute;
    right: 24px;
    top: 21px;
    border-radius: 50%;
    background-color: var(--color-success);
    opacity: 0;
    visibility: hidden;
  }

  .el-dialog__body {
    ul {
      padding-left: 40px;
      list-style: disc;
    }
  }
}
