.level-default {
  --base-lit-bg: 100%;
  --shadow-size: 0 2px 12px -8px;
}

.level-negative-1 {
  --base-lit-bg: 95%;
  --shadow-size: 0 4px 20px -8px;
}

.level-negative-2 {
  --base-lit-bg: 90%;
  --shadow-size: 0 4px 24px -4px;
}

.level-negative-3 {
  --base-lit-bg: 80%;
  --shadow-size: 0 4px 40px -4px;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: var(--main-min-width);

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    min-height: 100vh;
  }
}

.center-container {
  max-width: var(--main-forms-container);
  margin: 0 auto;
}

.page {
  display: flex;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  flex-direction: column;
  background-color: var(--bg-offset5);

  &__header {
    padding: 50px var(--main-padding-x) 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: var(--color-text-med);
    }

    &--admin {
      padding-bottom: 62px;
      flex-wrap: wrap;
      word-break: break-word;
      align-items: baseline;
    }
  }

  &__subtitle {
    @extend .text-label-sm;
    margin-bottom: 48px;
  }

  &__holder {
    flex-grow: 1;
    border-top: 1px solid var(--border-color-gray);
    background: var( --bg-base);

    &.border-0 {
      border: 0;
    }

    &--admin {
      border-top: 0;
    }
  }
}

.d-block {
  width: 100%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

// Move inside content to right for el-col
.content-right {
  display: flex;
  justify-content: flex-end;
}

.status-empty {
  display: flex;
  align-items: center;

  &--include {
    svg {
      @extend .icon--success;
    }
  }

  &--exclude {
    svg {
      @extend .icon--danger;
    }
  }

  small {
    margin-left: 9px;
  }
}

//campaigns admin page
.admin-caption {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;

  &__item {
    flex: 0 0 28%;
    max-width: 23%;
    padding-top: 56px;
    width: 28%;

    &:first-child {
      margin-right: 54px;
    }
  }
}

.default-page-holder {
  padding-left: 56px;
  padding-right: 56px;
}

//hide native tooltip for data table column in Safari
.hide-native-tooltip {
  .el-tooltip {
    pointer-events: none;

    a, button {
      &:not(.el-loading-parent--relative) {
        pointer-events: all;
      }
    }

    &.button-empty-icon {
      pointer-events: all;
    }
  }

  .enable-pointer-events {
    pointer-events: all;
  }
}

.grecaptcha-badge {
  z-index: 9999;
  bottom: 20px !important;
  width: 70px !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  left: 50% !important;
  transform: translateX(-50%);
  display: none;

  .register-is-address & {
    display: block;
    visibility: visible !important;
  }

  &:hover {
    width: 256px !important;
  }
}
