$paddingDirections: ('right', 'left', 'top', 'bottom');

@for $i from 1 to 21 {
  $spacing: $i * 5;
  $spacingPx: $spacing + px;
  @each $paddingDirection in $paddingDirections {
    $letter: str-slice($paddingDirection, 0, 1);

    .p#{$letter}-#{$spacing} {
      padding-#{$paddingDirection}: $spacingPx;
    }

    .m#{$letter}-#{$spacing} {
      padding-#{$paddingDirection}: $spacingPx;
    }
  }
  .w-#{$spacing} {
    width: $spacingPx;
  }
  .h-#{$spacing} {
    height: $spacingPx;
  }
}

.w- {
  &full {
    width: 100%;
  }

  &full-vw {
    width: 100vw;
  }
}

.offset-y-large {
  margin-bottom: 36px;
}
