.wizard {
  .el-dialog {
    &__body {
      flex: 1;
      padding: 0;
    }

    &__header {
      padding: 47px var(--main-padding-x);
      position: relative;
    }

    &__footer {
      padding: 0;

      a {
        &:hover {
          color: var(--fgcolor-blue);
        }
      }
    }

    &__headerbtn {
      right: 56px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__content {
    position: relative;
  }

  &__footer {
    border-top: 1px solid var(--border-color-base);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 31px var(--main-padding-x);
    z-index: 1;
  }

  &__actions {
    a {
      &:hover {
        text-decoration: underline;
      }
    }

    &-terms {
      margin-bottom: 20px;
    }

    .sign-up__terms-link {
      color: var(--fgcolor-blue);
    }

    .el-button {
      width: 176px;
      padding-right: 15px;
      padding-left: 15px;

      &:last-child {
        margin-left: 16px;
      }
    }
  }

  .sign-up__terms-link {
    @extend .text-label-xs;
  }

  &__actions {
    p {
      @extend .text-label-xs;
    }
  }

  &__terms {
    @extend .text-label-xs;
  }

  @media screen and (max-width: 768px) {
    &__footer {
      display: flex;
      flex-flow: column-reverse wrap;
      padding: 25px var(--main-padding-x-mobile);
      text-align: center;
      align-items: center;
    }

    &__actions {
      margin-bottom: 15px;

      &-terms {
        margin-bottom: 10px;
      }

      .sign-up__terms-link {
        text-align: center;
        color: var(--fgcolor-blue);
      }
    }

    &__terms {
      text-align: center;
    }
  }
}
