<template>
  <div class="header__notifications notifications">
    <el-tooltip
      class="item"
      effect="dark"
      :content="$trans('notification::labels.view_notifications')"
      placement="bottom"
      popper-class="is-border"
    >
      <el-button
        class="notifications__button button-empty-icon"
        :class="hasUnreadClass"
        @click.stop="toggle"
      >
        <icon
          value="bell"
          transparent="stroke"
        />
      </el-button>
    </el-tooltip>
    <div
      v-show="visible"
      v-click-outside-directive="closeWidget"
      class="notifications__alert"
    >
      <div
        v-if="widget.list"
        class="notifications__title"
      >
        {{ $trans('notification::labels.notifications') }} <span>({{ widget.total }})</span>
        <a
          v-loading="markAllReadPending"
          class="read-all-link"
          @click="onMarkAllReadClick"
        >
          {{ $trans('notification::labels.read_all') }}
        </a>
      </div>

      <notification-list
        :first-loading="firstLoading"
        @notification-clicked="onNotificationClick"
      />
      <a
        :href="getURL"
        class="notifications__all text-label-xs-semibold-caps"
      >
        {{ $trans('notification::labels.view_all') }}
      </a>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import NotificationModalMixin from "Modules/notification/mixins/NotificationModalMixin";
  import NotificationList from "Modules/notification/components/NotificationList";
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name of the component.
     */
    name: "NotificationBox",

    /**
     * Components.
     */
    components: {
      NotificationList,
      Icon
    },

    /**
     * Mixins.
     */
    mixins: [NotificationModalMixin],

    /**
     * Reactive data.
     *
     * @returns {{visible: boolean}}
     */
    data () {
      return {
        visible: false,
        interval: null,
        firstLoading: false,
        countFailAttempts: 0,
        maxCountFailAttempts: 2
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('notifications', {
        widget: 'notificationsWidget',
        markAllReadPending: 'markAllReadPending',
      }),

      /**
       * If some unread messages exists.
       */
      hasUnreadClass() {
        return { 'is-active': !this.widget.notified && !this.firstLoading };
      },

      /**
       * Get URL to notifications page.
       */
      getURL() {
        return this.$getRoute('notifications.index');
      },
    },

    /**
     * On component mounted.
     */
    mounted() {
      this.firstLoading = true;
      this.loadData();
      this.interval = setInterval(this.loadData, this.$config.general.time_widget_interval);
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Map actions.
       */
      ...mapActions('notifications', [
        'loadNotifications',
        'markAllNotificationAsRead',
        'markAsNotified',
      ]),

      /**
       * Toggle notification box.
       */
      toggle() {
        this.visible = !this.visible;
        if (!this.widget.notified) {
          this.markAsNotified();
        }
      },

      /**
       * Load data.
       */
      loadData() {
        this.$call(this.loadNotifications(), { muteException: true })
        .catch(() => {
          if (this.countFailAttempts >= this.maxCountFailAttempts) {
            clearInterval(this.interval);
          }
          if (this.countFailAttempts < this.maxCountFailAttempts) {
            this.countFailAttempts++;
          }
        })
        .finally(() => {
          if (this.firstLoading) {
            this.firstLoading = false;
          }
        });
      },

      /**
       * Close notifications widget.
       */
      closeWidget() {
        this.visible = false;
      },

      /**
       * Handle notification click.
       */
      onNotificationClick(content, id, is_read) {
        this.closeWidget();
        this.setNotificationData(content, id, is_read);
        this.$emit('open-notification', this.notification);
      },

      /**
       * Handle mark all as read click.
       */
      onMarkAllReadClick() {
        this.$call(this.markAllNotificationAsRead());
      },
    },
  };
</script>
