<template>
  <div
    ref="dataTableWrapper"
    :class="additionalClasses.join(' ')"
  >
    <data-table-cards
      ref="cards"
      :name="name"
      :external-cards="externalCards"
      :show-cards="showCards"
      :user-id="userId"
    />
    <div :key="filterKeyComponent">
      <el-card shadow="always">
        <h2
          v-if="showSubTitle"
          class="page__subtitle"
        >
          {{ title }}
        </h2>
        <div
          class="table"
          :class="innerClass"
        >
          <div
            v-if="showActions"
            class="table__actions"
          >
            <div class="table__actions-select-page">
              <span>Show</span>
              <el-select
                v-model="itemsOnPage"
                size="small"
                class="input-secondary"
                placeholder="10"
                popper-class="dropdown-pages"
                :disabled="pending"
              >
                <el-option
                  v-for="item in pageSelector"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
              <span>entries</span>
            </div>
            <div class="table__actions-search">
              <el-input
                v-if="searchable"
                v-model="search"
                size="small"
                name="name"
                :show-label="false"
                :placeholder="searchPlaceholder"
                :label="''"
              >
                <icon
                  slot="prefix"
                  value="search"
                  transparent="stroke"
                  :width="14"
                  :height="14"
                />
              </el-input>
            </div>
            <div
              class="table__actions-filter"
            >
              <slot
                :disabled="pending"
                :change="onSortChange"
                name="sort-dropdowns"
              />
              <slot
                :disabled="pending"
                :change="onFilterChange"
                name="filters"
              />
              <el-button
                class="remove-filters"
                type="text"
                :disabled="pending"
                @click="clearSearch"
              >
                {{ $trans('actions.clear_all') }}
              </el-button>
            </div>
          </div>
          <div class="table__holder">
            <el-table
              ref="dataTable"
              v-loading="pending"
              highlight-current-row
              :data="tableData"
              :default-sort="{ prop: sortColumn, order: sortOrder }"
              :row-class-name="tableRowClassName"
              @sort-change="sort"
              @current-change="onSelectRow"
              @row-click="rowClick"
            >
              <template slot="empty">
                <slot
                  v-if="showEmptyLayout"
                  name="banner"
                />
              </template>
              <slot />
            </el-table>
          </div>
          <div class="table__footer">
            <data-table-pager
              :page.sync="page"
              :items-on-page="itemsOnPage"
              :records-filtered="recordsFiltered"
              :disabled="pending"
            />
          </div>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import findIndex from 'lodash/findIndex';
  import qs from 'qs';
  import UserId from 'Foundation/mixins/UserId';
  import _ from 'lodash';
  import DataTableCards from "Foundation/components/dataTable/DataTableCards";
  import DataTablePager from 'Foundation/components/dataTable/DataTablePager';
  import Icon from 'Foundation/components/icons/Icon';
  import {isSafari} from "Foundation/helpers/browser-detect";
  import moment from "moment"
  import KeyboardInteraction from "./mixins/KeyboardInteraction";

  const DEFAULT_ITEMS_ON_PAGE = 10;

  export default {
    /**
     * Component name
     */
    name: 'DataTable',

    /**
     * Components.
     */
    components: {
      DataTableCards,
      DataTablePager,
      Icon,
    },

    /**
     * Mixins.
     */
    mixins: [
      UserId,
      KeyboardInteraction
    ],

    /**
     * Props
     */
    props: {
      /**
       * Table row class
       */
      tableRowClassName: {
        type: Function,
        default: () => {},
      },

      /**
       * Should show search field
       */
      searchable: {
        type: Boolean,
        default: true,
      },
      /**
       * Should show cards
       */
      showCards: {
        type: Boolean,
        default: false,
      },

      /**
       * Table title
       */
      title: {
        type: String,
        default: ''
      },

      /**
       * Table search field placeholder
       */
      searchPlaceholder: {
        type: String,
        default: 'Search'
      },

      /**
       * Initial order by
       */
      orderBy: {
        type: String,
        default: '',
      },

      /**
       * Default order direction
       */
      orderDir: {
        type: String,
        default: '',
      },

      /**
       * Table name
       * Used for backend api
       */
      name: {
        type: String,
        default: '',
      },

      /**
       * Array of styles that should be applyed to main table wrapper
       */
      additionalClasses: {
        type: Array,
        default: function() {
          return [];
        }
      },

      /**
       * Inner table class
       */
      innerClass: {
        type: String,
        default: ''
      },

      /**
       * Additional columns - used in search/sort logic
       */
      additionalColumns: {
        type: Array,
        default: function() {
          return [];
        }
      },

      /**
       * Show sub title condition
       */
      showSubTitle: {
        type: Boolean,
        default: true
      },

      /**
       * Show actions condition
       */
      showActions: {
        type: Boolean,
        default: true
      },

      /**
       * External Cards Aliases
       */
      externalCards: {
        type: Array,
        default: null,
      },

      /**
       * Exclude given id from list
       */
      excludeFromList: {
        type: Number,
        default: null,
      },

      /**
       * If the click on a row should open the details page
       */
      hasDetails: {
        type: Boolean,
        default: true,
      },

      /**
       * Reset users' localstorage
       */
      resetLocalStorage: {
        type: Boolean,
        default: false
      },
    },

    /**
     * Data
     * @returns {{tableData: *[]}}
     */
    data () {
      return {
        /**
         * If table has been loaded
         */
        isLoaded: false,

        /**
         * Search value
         */
        search: '',

        /**
         * Previous value
         */
        previousSearch: '',

        /**
         * Selected filters values
         */
        selectedFilters: {},

        /**
         * Table data from backend
         */
        tableData: [],

        /**
         * Selected page
         */
        page: 0,

        /**
         * Items per page
         */
        itemsOnPage: DEFAULT_ITEMS_ON_PAGE,

        /**
         * Total records
         */
        recordsTotal: 0,

        /**
         * Total records after filtering
         */
        recordsFiltered: 0,

        /**
         * Pending flag
         */
        pending: false,

        /**
         * Pending cards
         */
        pendingCards: false,

        /**
         * Current sorting column
         */
        sortColumn: '',

        /**
         * Sort order
         */
        sortOrder: '',

        /**
         * Columns data
         */
        columns: {},

        /**
         * Available cards
         */
        cards: [],

        /**
         * Default control-component key
         */
        filterKeyComponent: 0,

        /**
         * Process clear search
         */
        processClearSearch: false
      };
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Show promo text
       */
      showEmptyLayout () {
        return this.isLoaded && this.recordsTotal === 0;
      },

      /**
       * Page selector
       */
      pageSelector () {
        return [
          {
            label: 10,
            value: 10,
          },
          {
            label: 25,
            value: 25,
          },
          {
            label: 50,
            value: 50,
          },
          {
            label: 100,
            value: 100,
          },
        ];
      },
      /**
       * Build data for backend sorting
       */
      sortData () {
        if (!this.sortOrder) {
          return this.prepareOrderData(this.orderBy, this.orderDir);
        }

        return this.prepareOrderData(this.sortColumn, this.sortOrder)
      },

      /**
       * Build data for datatable backend
       */
      requestData () {
        const now = moment().format('YYYY-MM-DD');

        return {
          start: (this.page - 1) * this.itemsOnPage,
          length: this.itemsOnPage,
          page: this.page,
          user_id: this.userId,
          columns: this.getColumnsData(),
          order: this.sortData,
          search: {
            value: this.search,
            regex: false
          },
          timestamp: now
        };
      },
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * On page change
       */
      page (value, oldValue) {
        if (oldValue > 0 && !this.processClearSearch) {
          this.setStorage();
          this.loadData();
        }
      },

      /**
       * On change sort order
       */
      sortOrder () {
        if (!this.processClearSearch) {
          this.page = this.page > 1 ? this.page : 1;
          this.setStorage();
          this.loadData();
        }

      },

      /**
       * On change sort column
       */
      sortColumn () {
        if (!this.processClearSearch) {
          this.page = this.page > 1 ? this.page : 1;
          this.setStorage();
          this.loadData();
        }
      },

      /**
       * Items on page watcher
       */
      itemsOnPage () {
        if (!this.processClearSearch) {
            this.setStorage();
            this.loadData()
        }
      },

      /**
       * On search
       */
      search: _.debounce(function () {
        if (!this.processClearSearch) {
          this.setStorage();
          this.loadData();
        }
      }, 500),
    },

    /**
     * Created hook
     */
    mounted () {
      const resetLocalStorageTimestamp = this.$config.general.new_local_storage_before;

      if ((!localStorage[this.name]) ||
        (localStorage[this.name] &&
          this.checkCompareStorageTimestamp(localStorage[this.name], resetLocalStorageTimestamp))) {
        this.setStorage({force: true});
      } else {
        this.setInitialParam(JSON.parse(localStorage[this.name]));
      }

      this.init();
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Compare localstorage timestamp.
       * @param storage
       * @param resetLocalStorageTimestampConfig
       */
      checkCompareStorageTimestamp (storage, resetLocalStorageTimestampConfig) {
        return this.resetLocalStorage && (!storage.timestamp ||
          storage.timestamp < resetLocalStorageTimestampConfig);
      },

      /**
       * Set default params
       * @param params
       */
      setInitialParam(params) {
        if (params.columns[params.order[0].column] === undefined) {
          this.setStorage({force: true});
          return
        }

        this.search = params.search.value;
        this.sortOrder = params.order[0].dir === 'desc' ? 'descending' : 'ascending';
        this.sortColumn = params.columns[params.order[0].column].data;
        this.itemsOnPage = params.length;
        this.page = params.page;

        params.columns.forEach((item) => {
          if (item.search.value) {
            this.$set(this.selectedFilters, item.name, item.search.value);
          }
        });
      },

      /**
       * Set filers to storage
       * @param params
       */
      setStorage(params = {force: false}) {
        if (params.force || this.isLoaded) {
          localStorage[this.name] = JSON.stringify(this.requestData);
        }
      },

      /**
       * Handle click row.
       */
      rowClick(row, column, event) {
        if (this.hasDetails) {
          this.$refs.dataTable.setCurrentRow(null);
        }

        //mute internal button click which should have own behaviour
        if (event.target.getAttribute('role') === 'button' || event.target.getAttribute('type') === 'button') {
          return;
        }

        this.$emit('row-click', row, event);
      },

      /**
       * On select row
       */
      onSelectRow (value) {
        if(value) {
          this.$emit('selection-change', value);
        }
      },

      /**
       * Get column index by id
       * Need for backend sorting
       */
      getColumnIndexById (id) {
        return findIndex(this.getColumnsData(), (o) => {
          return o.data === id;
        });
      },

      /**
       * Init data table
       */
      init () {
        if (this.orderBy) {
          this.sortColumn = this.sortColumn ? this.sortColumn : this.orderBy;
          this.sortOrder = this.sortOrder ? this.sortOrder : this.orderDir;
          this.page = this.page ? this.page : 0;
        } else {
          this.loadData();
        }
      },

      /**
       * On sort click
       */
      sort ({ prop, order }) {
        this.sortColumn = prop;
        this.sortOrder = order;
      },

      /**
       * Clear table sorting.
       */
      clearSort () {
        this.$refs.dataTable.clearSort();
      },

      /**
       * On filter change
       */
      onFilterChange (payload) {
        let needReload = true;

        if (typeof this.selectedFilters[payload.field] === 'undefined') {
          needReload = false;
        }

        this.$set(this.selectedFilters, payload.field, payload.value);

        if (needReload) {
          this.setStorage();
          this.loadData();
        }
      },

      /**
       * Handle change event on custom sort-dropdown elements
       */
      onSortChange(payload) {
        let prop = payload.field;
        let order = payload.value;
        if (!payload.value || payload.value === '') {
          order = this.orderDir;
        }

        this.sort({
          prop,
          order,
        });

        this.$refs.dataTable.sort(prop, order)
      },

      /**
       * Load table data
       * @returns {AxiosPromise<any>}
       */
      loadData () {
        if (this.pending) {
          return Promise.resolve();
        }

        // Escape sibling slash
        let data = this.requestData;
        if (data.search.value.trim(data.search.value) === "\\") {
          data.search.value = `\\\\\\`;
        } else {
          data.search.value = data.search.value.replace(/\\/g, "\\\\");
        }

        this.previousSearch = this.search;
        this.pending = true;
        return axios.get(
          this.$getRoute('dataTable.index', {
            table: this.name
          }) + '?' + qs.stringify(data)
        ).then((response) => {
          this.tableData = this.excludeFromList ?
            response.data.data.filter(record => record.id !== this.excludeFromList) :
            response.data.data;
          this.recordsTotal = response.data.recordsTotal;
          this.recordsFiltered = response.data.recordsFiltered;
          this.pending = false;
          this.isLoaded = true;
          this.$emit('loaded', {
            status: true,
            total: response.data.recordsTotal
          });

          this.fixHeadersShift();
          this.checkSearchQuery();
          this.applyKeyboardEvents();
        }).catch(() => {
          this.$notify('error');
        });
      },

      /**
       * Filter value from filters-select
       */
      filterValue (prop) {
        let value = '';

        if (typeof this.selectedFilters[prop] !== 'undefined' &&
          this.selectedFilters[prop] !== ''
        ) {
          value = this.selectedFilters[prop];
        }

        return value;
      },

      /**
       * Build columns data for backend
       */
      getColumnsData () {
        this.columns = {};

        if (typeof this.$refs.dataTable === 'undefined') {
          return [];
        }

        let realColumns = this.$refs.dataTable.$children.filter((column) => {
          return typeof column.prop !== 'undefined';
        });

        let result = this.mapColumns(realColumns).concat(this.mapColumns(this.additionalColumns));
        return result;
      },

      /**
       * Map columns
       */
      mapColumns (columns) {
        return columns.map((column) => {
          let value = this.filterValue(column.prop);

          return {
            data: column.prop,
            name: column.prop,
            searchable: column.searchable,
            orderable: true,
            search: {
              value: value,
              regex: false,
            }
          };
        })
      },

      /**
       * Prepare order data for backend sorting
       * @param column
       * @param direction
       * @returns {{column: (*|number), dir: string}[]}
       */
      prepareOrderData (column, direction) {
        return [{
          column: this.getColumnIndexById(column),
          dir: direction === 'ascending' ? 'asc' : 'desc'
        }];
      },

      /**
       * Check current search query if it was changed during data loading.
       */
      checkSearchQuery() {
        if (this.previousSearch !== this.search) {
          this.loadData();
        }
      },

      /**
       * Temporary fix for campaigns headers shifting in Safari.
       */
      fixHeadersShift () {
        if (isSafari) {
          if (!this.$refs.dataTableWrapper) {
            return;
          }
          const tableHeader = this.$refs.dataTableWrapper.querySelector('.el-table__header');
          if (tableHeader) {
            tableHeader.style.tableLayout = 'initial';
            setTimeout(() => tableHeader.style.tableLayout = 'fixed', 10);
          }
        }
      },

      /**
       * Remove filters.
       */
      clearSearch () {
        this.processClearSearch = true;

        localStorage.removeItem(this.name);

        this.search = '';
        this.page = 1;
        this.itemsOnPage = DEFAULT_ITEMS_ON_PAGE;
        this.sortColumn = this.orderBy;
        this.sortOrder = this.orderDir;
        this.selectedFilters = {};
        this.filterKeyComponent++;

        this.$nextTick(() => {
          this.loadData()
          .finally(() => {
            this.processClearSearch = false;
          });
        })
      }
    }
  };
</script>
