<template>
  <span
    class="status-box tile-badge"
    :class="{
      'is-ready': status === 'ready',
      'is-live': status === 'live',
      'is-rejected': status === 'rejected',
      'is-draft': status === 'draft',
      'is-review': status === 'review',
      'is-pending': status === 'pending',
      'is-settled': status === 'settled',
      'is-current': status === 'current',
      'is-failed': status === 'failed',
    }"
  >
    {{ status }}
  </span>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'StatusCell',

    /**
     * Props
     */
    props: {
      status: {
        type: String,
        default: ''
      }
    }
  };
</script>

<style scoped>

</style>
