<template>
  <transition
    name="el-zoom-in-top"
    @after-enter="handleEnter"
    @after-leave="handleLeave"
  >
    <div
      v-show="visible"
      class="el-picker-panel el-date-picker el-popper"
      :class="[{
        'has-sidebar': $slots.sidebar || shortcuts,
        'has-time': showTime
      }, popperClass]"
    >
      <div class="el-picker-panel__body-wrapper">
        <slot
          name="sidebar"
          class="el-picker-panel__sidebar"
        />
        <div
          v-if="shortcuts"
          class="el-picker-panel__sidebar"
        >
          <button
            v-for="(shortcut, key) in shortcuts"
            :key="key"
            type="button"
            class="el-picker-panel__shortcut"
            @click="handleShortcutClick(shortcut)"
          >
            {{ shortcut.text }}
          </button>
        </div>
        <div class="el-picker-panel__body">
          <div
            v-if="showTime"
            class="el-date-picker__time-header"
          >
            <span class="el-date-picker__editor-wrap">
              <el-input
                :placeholder="t('el.datepicker.selectDate')"
                :value="visibleDate"
                size="small"
                @input="val => userInputDate = val"
                @change="handleVisibleDateChange"
              />
            </span>
            <span
              v-clickoutside="handleTimePickClose"
              class="el-date-picker__editor-wrap"
            >
              <el-input
                ref="input"
                :placeholder="t('el.datepicker.selectTime')"
                :value="visibleTime"
                size="small"
                @input="val => userInputTime = val"
                @change="handleVisibleTimeChange"
                @focus="timePickerVisible = true"
              />
              <time-picker
                ref="timepicker"
                :time-arrow-control="arrowControl"
                :visible="timePickerVisible"
                :checked-date="date"
                :disabled-date-time="disabledDateTime"
                @pick="handleTimePick"
                @mounted="proxyTimePickerDataProperties"
              />
            </span>
          </div>
          <div
            v-show="currentView !== 'time'"
            class="el-date-picker__header"
            :class="{ 'el-date-picker__header--bordered': currentView === 'year' || currentView === 'month' }"
          >
            <button
              v-show="currentView === 'date'"
              type="button"
              :aria-label="t(`el.datepicker.prevMonth`)"
              class="el-picker-panel__icon-btn el-date-picker__prev-btn el-icon-arrow-left"
              @click="prevMonth"
            />
            <span
              role="button"
              class="el-date-picker__header-label"
              @click="showYearPicker"
            >
              {{ yearLabel }}
            </span>
            <span
              v-show="currentView === 'date'"
              role="button"
              class="el-date-picker__header-label"
              :class="{ active: currentView === 'month' }"
              @click="showMonthPicker"
            >
              {{ t(`el.datepicker.month${ month + 1 }`) }}
            </span>
            <button
              v-show="currentView === 'date'"
              type="button"
              :aria-label="t(`el.datepicker.nextMonth`)"
              class="el-picker-panel__icon-btn el-date-picker__next-btn el-icon-arrow-right"
              @click="nextMonth"
            />
          </div>

          <div class="el-picker-panel__content">
            <date-table
              v-show="currentView === 'date'"
              :selection-mode="selectionMode"
              :first-day-of-week="firstDayOfWeek"
              :value="value"
              :default-value="defaultValue ? new Date(defaultValue) : null"
              :date="date"
              :cell-class-name="cellClassName"
              :disabled-date="disabledDate"
              @pick="handleDatePick"
            />
            <year-table
              v-show="currentView === 'year'"
              :value="value"
              :default-value="defaultValue ? new Date(defaultValue) : null"
              :date="date"
              :disabled-date="disabledDate"
              @pick="handleYearPick"
            />
            <month-table
              v-show="currentView === 'month'"
              :value="value"
              :default-value="defaultValue ? new Date(defaultValue) : null"
              :date="date"
              :disabled-date="disabledDate"
              @pick="handleMonthPick"
            />
          </div>
        </div>
      </div>
      <div
        v-show="footerVisible && currentView === 'date'"
        class="el-picker-panel__footer"
      >
        <el-button
          v-show="selectionMode !== 'dates'"
          size="small"
          type="text"
          class="el-picker-panel__link-btn"
          @click="changeToNow"
        >
          {{ t('el.datepicker.now') }}
        </el-button>
        <el-button
          size="small"
          class="el-picker-panel__link-btn"
          @click="confirm"
        >
          {{ t('el.datepicker.confirm') }}
        </el-button>
      </div>
    </div>
  </transition>
</template>

<script type="text/babel">
import DatePanel from 'element-ui/packages/date-picker/src/panel/date'
import TimePicker from './TimePicker';
import YearTable from 'element-ui/packages/date-picker/src/basic/year-table';
import MonthTable from 'element-ui/packages/date-picker/src/basic/month-table';
import DateTable from 'element-ui/packages/date-picker/src/basic/date-table';
import ElInput from 'element-ui/packages/input';
import ElButton from 'element-ui/packages/button';
import locale from 'element-ui/lib/locale/lang/en'
import { use } from 'element-ui/src/locale';
import {extractDateFormat, isDate, modifyTime, modifyWithTimeString} from 'element-ui/src/utils/date-util';

export default {
    /**
     * Name.
     */
    name: 'BaseDateTimePanel',

    /**
     * Components.
     */
    components: {
      TimePicker, YearTable, MonthTable, DateTable, ElInput, ElButton
    },

    /**
     * Extend component.
     */
    extends: DatePanel,

    /**
     * Data.
     */
    data() {
      return {
        popperClass: '',
        date: new Date(),
        value: '',
        defaultValue: null, // use getDefaultValue() for time computation
        defaultTime: null,
        showTime: false,
        selectionMode: 'day',
        shortcuts: '',
        visible: false,
        currentView: 'date',
        disabledDate: '',
        cellClassName: '',
        selectableRange: [],
        firstDayOfWeek: 7,
        showWeekNumber: false,
        timePickerVisible: false,
        format: '',
        arrowControl: false,
        userInputDate: null,
        userInputTime: null,
        disabledDateTime: new Date,
        changedManualTime: false
      };
    },

    /**
    * Computed.
    */
    computed: {
      dateFormat() {
        if (this.format) {
          return extractDateFormat(this.format).replace(' (ET)', '');
        } else {
          return 'yyyy-MM-dd';
        }
      }
    },

    /**
     * Created.
     */
    created() {
      use(locale)
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Handler date checked.
       * Set default time if checked day is today
       */
      handleDatePick(value) {
        if (this.selectionMode === 'day') {
          this.date = this.modifyWithTime(value);
          this.emit(this.date, this.showTime);
        } else if (this.selectionMode === 'week') {
          this.emit(value.date);
        } else if (this.selectionMode === 'dates') {
          this.emit(value, true); // set false to keep panel open
        }
      },

      /**
       * Handler time checked.
       * Set default time if checked day is today
       */
      handleTimePick(value, visible, first) {
        if (isDate(value)) {
          this.date = this.value
            ? modifyTime(this.value, value.getHours(), value.getMinutes(), value.getSeconds())
            : this.modifyWithTime(value);
          this.emit(this.date, true);
        } else {
          this.emit(value, true);
        }
        if (!first) {
          this.timePickerVisible = visible;
        }
      },

      /**
       * Modify date to specific time
       */
      modifyWithTime (value) {
        if (this.defaultTime) {
          if (this.isToday(value)) {
            return this.disabledDateTime;
          }

          return modifyTime(value, this.defaultTime.hour, this.defaultTime.minute, this.defaultTime.second);
        }

        return modifyWithTimeString(value, this.defaultTime);
      },

      /**
       * Check if checked date is today
       */
      isToday (someDate)  {
        const today = new Date();
        return someDate.toDateString() === today.toDateString();
      },

      /**
       * Now button handler
       */
      changeToNow() {
        this.date = this.disabledDateTime;
        this.emit(this.date);
      },
    }
  }
</script>
