<template>
  <div
    class="el-time-spinner"
    :class="{ 'has-seconds': showSeconds }"
  >
    <template v-if="!arrowControl">
      <el-scrollbar
        ref="hours"
        class="el-time-spinner__wrapper"
        wrap-style="max-height: inherit;"
        view-class="el-time-spinner__list"
        noresize
        tag="ul"
        @mouseenter.native="emitSelectRange('hours')"
        @mousemove.native="adjustCurrentSpinner('hours')"
      >
        <li
          v-for="(disabled, hour) in hoursList"
          :key="hour"
          class="el-time-spinner__item"
          :class="{ 'active': hour === hours, 'disabled': disabled }"
          @click="handleClick('hours', { value: hour, disabled: disabled })"
        >
          {{ ('0' + (amPmMode ? (hour % 12 || 12) : hour )).slice(-2) }}{{ amPm(hour) }}{{ ' (ET)' }}
        </li>
      </el-scrollbar>
      <el-scrollbar
        v-show="showMinutes"
        ref="minutes"
        class="el-time-spinner__wrapper"
        wrap-style="max-height: inherit;"
        view-class="el-time-spinner__list"
        noresize
        tag="ul"
        @mouseenter.native="emitSelectRange('minutes')"
        @mousemove.native="adjustCurrentSpinner('minutes')"
      >
        <li
          v-for="(enabled, key) in minutesList"
          :key="key"
          class="el-time-spinner__item"
          :class="{ 'active': key === minutes, disabled: !enabled }"
          @click="handleClick('minutes', { value: key, disabled: false })"
        >
          {{ ('0' + key).slice(-2) }}
        </li>
      </el-scrollbar>
      <el-scrollbar
        v-show="showSeconds"
        ref="seconds"
        class="el-time-spinner__wrapper"
        wrap-style="max-height: inherit;"
        view-class="el-time-spinner__list"
        noresize
        tag="ul"
        @mouseenter.native="emitSelectRange('seconds')"
        @mousemove.native="adjustCurrentSpinner('seconds')"
      >
        <li
          v-for="(second, key) in 60"
          :key="key"
          class="el-time-spinner__item"
          :class="{ 'active': key === seconds }"
          @click="handleClick('seconds', { value: key, disabled: false })"
        >
          {{ ('0' + key).slice(-2) }}
        </li>
      </el-scrollbar>
    </template>
    <template v-if="arrowControl">
      <div
        class="el-time-spinner__wrapper is-arrow"
        @mouseenter="emitSelectRange('hours')"
      >
        <i
          v-repeat-click="decrease"
          class="el-time-spinner__arrow el-icon-arrow-up"
        />
        <i
          v-repeat-click="increase"
          class="el-time-spinner__arrow el-icon-arrow-down"
        />
        <ul
          ref="hours"
          class="el-time-spinner__list"
        >
          <li
            v-for="(hour, key) in arrowHourList"
            :key="key"
            class="el-time-spinner__item"
            :class="{ 'active': hour === hours, 'disabled': hoursList[hour] }"
          >
            {{ hour === undefined ? '' : ('0' + (amPmMode ? (hour % 12 || 12) : hour )).slice(-2) + amPm(hour) }}
          </li>
        </ul>
      </div>
      <div
        class="el-time-spinner__wrapper is-arrow"
        @mouseenter="emitSelectRange('minutes')"
      >
        <i
          v-repeat-click="decrease"
          class="el-time-spinner__arrow el-icon-arrow-up"
        />
        <i
          v-repeat-click="increase"
          class="el-time-spinner__arrow el-icon-arrow-down"
        />
        <ul
          ref="minutes"
          class="el-time-spinner__list"
        >
          <li
            v-for="(minute, key) in arrowMinuteList"
            :key="key"
            class="el-time-spinner__item"
            :class="{ 'active': minute === minutes }"
          >
            {{ minute === undefined ? '' : ('0' + minute).slice(-2) }}
          </li>
        </ul>
      </div>
      <div
        v-if="showSeconds"
        class="el-time-spinner__wrapper is-arrow"
        @mouseenter="emitSelectRange('seconds')"
      >
        <i
          v-repeat-click="decrease"
          class="el-time-spinner__arrow el-icon-arrow-up"
        />
        <i
          v-repeat-click="increase"
          class="el-time-spinner__arrow el-icon-arrow-down"
        />
        <ul
          ref="seconds"
          class="el-time-spinner__list"
        >
          <li
            v-for="(second, key) in arrowSecondList"
            :key="key"
            class="el-time-spinner__item"
            :class="{ 'active': second === seconds }"
          >
            {{ second === undefined ? '' : ('0' + second).slice(-2) }}
          </li>
        </ul>
      </div>
    </template>
  </div>
</template>
<script type="text/babel">
  import ElTimeSpinner from 'element-ui/packages/date-picker/src/basic/time-spinner'

  export default {
    /**
     * Name.
     */
    name: 'TimeSpinner',

    /**
     * Extend component.
     */
    extends: ElTimeSpinner,

    /**
     * Props.
     */
    props: {
      /**
       * Show minutes.
       */
      showMinutes: {
        type: Boolean,
        default: true
      },

      /**
       * Checked date.
       */
      checkedDate: {
        type: Date,
        default: null
      },

      /**
       * Disabled datetime.
       */
      disabledDateTime: {
        type: Date,
        default: new Date
      }
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * Hours list.
       */
      hoursList() {
        const hours = [];
        let disabledHours = [];

        if (this.checkedDate.toLocaleDateString("en-US") === this.disabledDateTime.toLocaleDateString("en-US")) {
          for (let i = this.disabledDateTime.getHours(); i < 24; i++) {
            disabledHours.push(i)
          }
        }

        if (disabledHours.length) {
          for (let i = 0; i < 24; i++) {
            hours[i] = disabledHours.indexOf(i) === -1;
          }
        } else {
          for (let i = 0; i < 24; i++) {
            hours[i] = false;
          }
        }

        return hours;
      },
    }
  }
</script>
