<template>
  <transition
    name="el-zoom-in-top"
    @after-leave="$emit('dodestroy')"
  >
    <div
      v-show="visible"
      class="el-time-panel el-popper"
      :class="popperClass"
    >
      <div
        class="el-time-panel__content"
        :class="{ 'has-seconds': showSeconds }"
      >
        <time-spinner
          ref="spinner"
          :arrow-control="useArrow"
          :show-seconds="showSeconds"
          :show-minutes="showMinutes"
          :am-pm-mode="amPmMode"
          :disabled-date-time="disabledDateTime"
          :checked-date="checkedDate"
          :date="date"
          @change="handleChange"
          @select-range="setSelectionRange"
        />
      </div>
      <div class="el-time-panel__footer">
        <button
          type="button"
          class="el-time-panel__btn cancel"
          @click="handleCancel"
        >
          {{ t('el.datepicker.cancel') }}
        </button>
        <button
          type="button"
          class="el-time-panel__btn"
          :class="{confirm: !disabled}"
          @click="handleConfirm()"
        >
          {{ t('el.datepicker.confirm') }}
        </button>
      </div>
    </div>
  </transition>
</template>
<script type="text/babel">
  import ElTimePicker from 'element-ui/packages/date-picker/src/panel/time'
  import TimeSpinner from './TimeSpinner';

  export default {
    /**
     * Name.
     */
    name: 'TimePicker',

    /**
     * Components.
     */
    components: {
      TimeSpinner
    },

    /**
     * Extend component.
     */
    extends: ElTimePicker,

    /**
     * Props.
     */
    props: {
      /**
       * Checked date.
       */
      checkedDate: {
        type: Date,
        default: null
      },

      /**
       * disabled datetime.
       */
      disabledDateTime: {
        type: Date,
        default: new Date
      },

      /**
       * Default time.
       */
      defaultTime: {
        type: Object,
        default () {
          return {};
        }
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      showMinutes() {
        return (this.format || '').indexOf('mm') !== -1;
      },
    }
  }
</script>
