<script>
  import ResetPasswordForm from 'Modules/auth/components/reset-password/ResetPasswordForm';

  export default {
    extends: ResetPasswordForm,

    /**
     * Methods.
     */
    methods: {
      /**
       * Submit the form.
       *
       * @returns {Promise<void>}
       */
      submit () {
        this.success = true;
      },
    },
  };
</script>
