<template>
  <div
    v-if="!indexPaymentPending"
  >
    <div
      v-if="showTitle || !!indexPaymentError"
      class="profile-card__panel"
    >
      <strong class="profile-card__subtitle text-label-sm">
        {{ $trans('payment::labels.payment_method') }}
      </strong>
      <a
        v-if="showUpdatePaymentMethod"
        href="#"
        class="profile-card__update"
        @click="openCardModal"
      >
        {{ $trans('actions.update') }}
      </a>
    </div>
    <div
      class="payment-method"
    >
      <message
        v-if="indexPaymentError"
        type="danger"
      >
        {{ indexPaymentError }}
      </message>
      <div v-else>
        <credit-card-info
          v-for="paymentMethod in paymentMethods"
          :key="paymentMethod.id"
          :payment-method="paymentMethod"
          :use-change="useChange"
          @open="openCardModal"
        />
        <add-card-placeholder
          v-if="!paymentMethods.length"
          @open="addCardModal"
        />
      </div>
      <card-modal
        v-if="modalCardVisible"
        :id="paymentId"
        :force-replace-enable="!!indexPaymentError"
        @close="closeCardModal"
        @deleted="$emit('payments-updated')"
        @updated="$emit('updated')"
      />
      <modal
        :visible="showInvalidUserModal"
        :title="$trans('user::notifications.advertiser.not_valid.title')"
        :show-buttons="false"
        @close="closeInvalidUserModal"
      >
        <p
          class="text-body-sm"
          v-html="$trans('user::notifications.advertiser.not_valid.message_p1')"
        />
        <p
          class="text-body-sm"
          v-html="$trans('user::notifications.advertiser.not_valid.message_p2')"
        />
      </modal>
    </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex';
import AddCardPlaceholder from 'Modules/payment/components/PaymentMethod/AddCardPlaceholder';
import CreditCardInfo from 'Modules/payment/components/CreditCardInfo';
import CardModal from 'Modules/payment/components/PaymentMethod/CardModal';
import {mapState} from 'vuex';
import Modal from 'Foundation/components/layout/modal/Modal'
import Message from 'Foundation/components/notice/Message'

export default {
  /**
   * Name.
   */
  name: 'PaymentMethodsIndex',

  /**
   * Child components.
   */
  components: {
    AddCardPlaceholder,
    CreditCardInfo,
    Modal,
    CardModal,
    Message,
  },

  /**
   * Props
   */
  props: {
    /**
     * Payment methods
     */
    paymentMethods: {
      type: Array,
      default: () => []
    },

    /**
     * Use Change Link
     */
    useChange: {
      type: Boolean,
      default: false
    },

    /**
     * Show title section.
     */
    showTitle: {
      type: Boolean,
      default: false
    },
  },

  /**
   * Reactive properties.
   * @returns {{}}
   */
  data() {
    return {
      modalCardVisible: false,
      paymentId: null,
      showInvalidUserModal: false,
    }
  },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Map state
     */
    ...mapState('payment', [
      'indexPaymentPending',
      'userPermissions',
      'indexPaymentError',
      'indexPaymentApplicationError'
    ]),

    /**
     * Show update payment method button.
     */
    showUpdatePaymentMethod () {
      if (this.indexPaymentApplicationError) {
        return false;
      }

      return this.paymentMethods.length || !!this.indexPaymentError;
    }
  },

  /**
   * Methods.
   */
  methods: {

    ...mapActions('payment', ['index']),

    /**
     * Check whether user can add card and open card modal if can.
     */
    addCardModal() {
      if (this.userPermissions.create_payment) {
        this.paymentId = null;
        this.modalCardVisible = true;
      } else {
        this.showInvalidUserModal = true;
      }
    },

    /**
     * Open modal dialog with edit/show form for user payment method.
     */
    openCardModal (id = null) {
      typeof id === 'number' ?
        this.paymentId = id :
        this.paymentMethods.length ? this.paymentId = this.paymentMethods[0].id : this.paymentId = null;
      this.modalCardVisible = true;
    },

    /**
     * Open Add Card modal.
     */
    openAddCardModal () {
      this.paymentId = null;
      this.modalCardVisible = true;
    },

    /**
     * Close card modal
     */
    closeCardModal () {
      this.modalCardVisible = false;
    },

    /**
     * Close "user is not validated" notification modal.
     */
    closeInvalidUserModal () {
      this.showInvalidUserModal = false;
    },
  },
};
</script>
