<template>
  <div class="campaigns">
    <div class="campaigns__holder">
      <data-table
        ref="dataTable"
        :user-id="userId"
        :show-cards="showCards"
        :searchable="false"
        :title="$trans('payment::labels.transaction_history')"
        :additional-columns="additionalColumns"
        :external-cards="externalCards"
        name="campaign-transactions"
        order-by="last_activity"
        order-dir="descending"
        @row-click="showTransactionDetails"
      >
        <template slot="banner">
          <transaction-history-banner />
        </template>
        <!-- Missing HAAPI functionality -->
        <!--<template
          slot="filters"
          slot-scope="props"
        >
          <payment-status-filter
            :disabled="props.disabled"
            :multiple="false"
            :placeholder="$trans('payment::labels.payment_status')"
            @change="props.change"
          />
        </template>-->
        <data-table-column
          prop="name"
          :label="$trans('campaign::labels.campaign_name')"
          :sortable="false"
        >
          <url-cell
            slot-scope="scope"
            :cell-value="scope.row.name"
            @click="showTransactionDetails(scope.row)"
          />
        </data-table-column>
        <data-table-column
          prop="last_activity"
          :label="$trans('payment::labels.last_activity')"
          :searchable="false"
          :sortable="false"
        >
          <date-cell
            slot-scope="scope"
            :cell-value="scope.row.last_activity"
          />
        </data-table-column>
        <data-table-column
          :label="$trans('payment::labels.transaction_status')"
          prop="payment_status"
          :searchable="false"
          :sortable="false"
        >
          <transaction-status-cell
            slot-scope="scope"
            :cell-value="scope.row.payment_status"
          />
        </data-table-column>
      </data-table>
    </div>

    <transaction-details
      ref="transactionDetails"
      :dialog-visible="dialogVisible"
      :order-id="orderId"
      @close="closeTransactionDetails"
    />
  </div>
</template>

<script>
  import DataTable from 'Foundation/components/dataTable/DataTable';
  import DataTableColumn from 'Foundation/components/dataTable/DataTableColumn';
  import DateCell from 'Foundation/components/dataTable/Cells/DateCell';
  import UrlCell from 'Foundation/components/dataTable/Cells/UrlCell';
  import TransactionHistoryBanner from "Modules/payment/components/TransactionHistoryBanner";
  import TransactionDetails from "Modules/payment/components/TransactionDetails";
  import TransactionStatusCell from "App/modules/campaign/components/index/cells/TransactionStatusCell";

  export default {
    /**
     * Component name
     */
    name: 'TransactionHistoryTable',

    /**
     * Components
     */
    components: {
      TransactionStatusCell,
      TransactionDetails,
      TransactionHistoryBanner,
      DataTable,
      DataTableColumn,
      DateCell,
      UrlCell,
    },

    /**
     * Props
     */
    props: {
      /**
       * Advertiser id
       */
      userId: {
        type: Number,
        required: false,
        default: null,
      },

      /**
       * If FE routing should be used
       */
      useRouting : {
        type: Boolean,
        default: true,
      }
    },

    /**
     * Data attributes
     */
    data () {
      return {
        /**
         * Selected order's id
         */
        orderId: null,

        /**
         * Additional columns
         */
        additionalColumns: [
          {
            prop: 'order_id',
            data: 'order_id',
            searchable: false,
            orderable: false,
          }
        ],
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * True if campaign transactions details is visible.
       */
      dialogVisible () {
        return !!this.orderId;
      },

      /**
       * External cards
       */
      externalCards () {
        if (!this.$user.isAdmin) {
          return [];
        }

        return [
          {
            index: 0,
            name: 'spend-to-date'
          }
        ]
      },

      /**
       * Show cards block
       */
      showCards () {
        return this.$user.isAdmin
      }
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Route change watcher
       */
      $route (to) {
        if (to.params.orderId) {
          this.orderId = to.params.orderId;
        } else {
          this.orderId = null;
        }
      },
    },

    /**
     * Component's methods
     */
    mounted () {
      this.orderId = this.$route.params.orderId;
    },

    /**
     * Component's methods
     */
    methods: {
      /**
       * Show transaction details
       * @param row
       */
      showTransactionDetails (row) {
        this.orderId = row.order_id;

        if (this.useRouting) {
          this.$pushRoute({ name: 'profile.transactionHistory.show', params: { orderId: this.orderId } });
        }
      },

      /**
       * Hide transaction details
       * @param id
       */
      closeTransactionDetails () {
        this.orderId = null;

        if (this.useRouting) {
          this.$pushRoute({ name: 'profile.transactionHistory' });
        }
      },
    },
  };
</script>
