<template>
  <div>
    <!-- NO CONTENT -->
  </div>
</template>

<script>
  import Loading from 'Foundation/mixins/Loading';

  export default {
    /**
     * Component name.
     */
    name: 'BaseWizard',

    /**
     * Mixins.
     */
    mixins: [
      Loading,
    ],

    /**
     * Available properties.
     */
    props: {
      /**
       * Index of component that should be displayed at first.
       */
      defaultIndex: {
        type: Number,
        default: 0,
      },

      /**
       * Custom class.
       */
      customClass: {
        type: String,
        default: '',
      },

      /**
       * Custom class for content section.
       */
      contentClass: {
        type: String,
        default: '',
      },

      /**
       * Custom class for form component.
       */
      formClass: {
        type: String,
        default: '',
      },

      /**
       * Custom class for form step component.
       */
      formStepClass: {
        type: String,
        default: '',
      },

      /**
       * Label for finish button.
       */
      finishLabel: {
        type: String,
        default: '',
      },
    },

    /**
     * Reactive data.
     *
     * @returns {{active: number}}
     */
    data () {
      return {
        active: -1,
        buttonsDisabled: false,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Items.
       */
      items () {
        return [];
      },

      /**
       * Length of all items.
       *
       * @returns {*}
       */
      length () {
        return this.items.length;
      },

      /**
       * True if "Previous" button is available.
       */
      previousAvailable () {
        return this.active > 0;
      },

      /**
       * True if "Next" button is available.
       */
      nextAvailable () {
        return this.active < this.length - 1;
      },

      /**
       * True if "Finish" button is available.
       */
      finishAvailable () {
        return this.isLastStep;
      },

      /**
       * True if current step is the last.
       */
      isLastStep () {
        return this.active === this.length - 1;
      },
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Current item index.
       */
      active (index) {
        this.updateActiveView(index);
        this.$emit('update:active', index);
      },

      /**
       * True if current step is the last.
       */
      isLastStep (value) {
        this.$emit('update:is-last-step', value);
      },
    },

    /**
     * Created hook.
     */
    created () {
      this.setActive(this.defaultIndex);
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Previous button is triggered.
       */
      previous () {
        this.setActive(this.active - 1);
        this.$emit('previous');
      },

      /**
       * Next button is triggered.
       */
      async next () {
        if (this.buttonsDisabled) {
          return;
        }

        if (this.isLastStep) {
          return this.finish();
        }

        if (this.$refs.step && this.$refs.step.beforeNext && this.$refs.step.beforeNext instanceof Function) {
          const next = await this.$refs.step.beforeNext();

          if (!next) {
            this.buttonsDisabled = false;
            return;
          }
        }

        await this.setActive(this.active + 1);
        this.$emit('next');
      },

      /**
       * Finish button is triggered.
       */
      async finish () {
        const validated = await this.validateStep();

        if (!validated) {
          return;
        }

        this.$emit('finish');
      },

      /**
       * Set active item.
       */
      async setActive (active) {
        active = Math.max(active, 0);
        active = Math.min(active, this.length - 1);

        try {
          if (this.active < active && this.active >= 0) {
            const validated = await this.validateStep();

            if (!validated) {
              return this.updateActiveView(this.active);
            }

            if (this.$refs.step && this.$refs.step.beforeSetActive && this.$refs.step.beforeSetActive instanceof Function) {
              this.$refs.step.beforeSetActive();
            }
          }
        } catch (error) {
          return this.updateActiveView(this.active);
        }

        this.active = active;
      },

      /**
       * Validate current step.
       */
      async validateStep () {
        const isValid = await this.$validateScope();
        if (this.$refs.step && this.$refs.step.afterValidate instanceof Function) {
          this.$refs.step.afterValidate(isValid);
        }
        return isValid;
      },

      /**
       * Close wizard.
       */
      close () {
        this.$emit('close');
      },

      /**
       * Update active view.
       */
      updateActiveView () {
        //
      },

      /**
       * This method is called before the step is changing.
       */
      onLeaveStep () {
        this.buttonsDisabled = true;
      },

      /**
       * This method is called after the step is changed.
       */
      onEnterStep () {
        this.buttonsDisabled = false;
      },
    },
  }
</script>
