<template>
  <layout-basic
    class="wrapper--wizard"
  >
    <div
      v-loading="loading"
      class="wizard"
      :class="customClass"
    >
      <!-- HEADER -->
      <div class="wizard-header-wrapper">
        <app-header @open-notification="openNotification" />
        <slot name="header" />
        <slot name="header-below" />
        <!-- SIDEBAR -->
        <slot name="wizard-sidebar" />
        <slot name="progress-bar" />
      </div>

      <!-- CONTENT -->

      <!-- STEPS -->
      <div
        class="wizard__content"
        :style="{ ['padding-bottom']: paddingValue }"
      >
        <div :class="contentClass">
          <el-form
            :class="formClass"
            :hide-required-asterisk="false"
            @submit.prevent.native="next"
          >
            <div :class="formStepClass">
              <transition
                name="el-fade-in-linear"
                mode="out-in"
                @before-leave="onLeaveStep"
                @after-enter="onEnterStep"
              >
                <router-view
                  ref="step"
                  :buttons-disabled.sync="buttonsDisabled"
                  @next="next"
                  @previous="previous"
                  @checkedFilled="$emit"
                  @change-height="setWizardHeight"
                />
              </transition>
            </div>
          </el-form>
        </div>
      </div>
      <!-- END CONTENT -->

      <div class="wizard__links">
        <div class="footer__holder">
          <!-- LINK -->
          <a
            v-for="link in visibleLinks"
            :key="link.label"
            :href="link.href"
            :target="link.target"
            class="footer__terms"
          >
            <small>{{ link.label }}</small>
          </a>
        </div>
      </div>

      <!-- FOOTER -->
      <div
        v-if="showFooter"
        class="wizard__footer"
      >
        <!-- ASIDE -->
        <span class="wizard__terms">
          <slot
            v-if="!success"
            name="footer"
          />
        </span>

        <!-- BUTTONS -->
        <div
          v-if="!success"
          class="wizard__actions"
        >
          <!-- CONTENT ABOVE BUTTONS -->
          <slot name="footer-buttons-before" />

          <div
            class="actions-wrapper"
            @mousedown="onButtonClick"
          >
            <!-- PREVIOUS -->
            <el-button
              v-if="previousAvailable"
              ref="campaign-previous-button"
              type="primary"
              :disabled="buttonsDisabled"
              @click="previous"
            >
              {{ $trans('actions.back') }}
            </el-button>

            <!-- NEXT -->
            <el-button
              v-if="nextAvailable"
              ref="campaign-next-button"
              type="default"
              :disabled="buttonsDisabled"
              @click="next"
            >
              {{ $trans('actions.next') }}
            </el-button>

            <!-- FINISH  -->
            <el-button
              v-if="finishAvailable"
              ref="finish-button"
              class="finish-button"
              type="default"
              :disabled="finishButtonDisabled"
              :autofocus="true"
              @click="finish"
            >
              {{ finishLabel || $trans('actions.submit') }}
            </el-button>
          </div>
        </div>

        <!-- CONTENT ABOVE BUTTONS -->
        <div v-if="success">
          <slot name="footer-buttons-success" />
        </div>
      </div>
    </div>
    <notification-modal
      :notification="notification"
      :visible="!!notification"
      @close="notification=null"
    />
  </layout-basic>
</template>

<script>
  import AppHeader from 'Foundation/components/layout/header/Header';
  import LayoutBasic from 'Foundation/layouts/LayoutBasic';
  import FooterActiveLink from '../mixins/FooterActiveLink';
  import OpenNotificationMixin from 'Modules/notification/mixins/OpenNotificationMixin';

  const PADDING_VALUE_DEFAULT = '35px';
  const PADDING_VALUE_BIGGEST = '650px';

  export default {
    /**
     * Name of the component.
     */
    name: 'StepWizard',

    /**
     * Child  components.
     */
    components: {
      AppHeader,
      LayoutBasic
    },

    /**
     * Mixins.
     */
    mixins: [
      FooterActiveLink,
      OpenNotificationMixin,
    ],

    /**
     * Available properties.
     */
    props: {
      /**
       * Index of component that should be displayed at first.
       */
      defaultIndex: {
        type: Number,
        default: 0,
      },

      /**
       * Custom class.
       */
      customClass: {
        type: String,
        default: '',
      },

      /**
       * Custom class for content section.
       */
      contentClass: {
        type: String,
        default: '',
      },

      /**
       * Custom class for form component.
       */
      formClass: {
        type: String,
        default: '',
      },

      /**
       * Custom class for form step component.
       */
      formStepClass: {
        type: String,
        default: '',
      },

      /**
       * Label for finish button.
       */
      finishLabel: {
        type: String,
        default: '',
      },

      /**
       * List of all steps.
       */
      steps: {
        type: Array,
        required: true,
      },

      /**
       * True if success view should be shown.
       */
      success: {
        type: Boolean,
        default() {
          return false;
        },
      },

      /**
       * Route for displaying success view.
       */
      successRoute: {
        type: Object,
        default () {
          return {};
        },
      },

      /**
       * Submit button should be disabled
       */
      submitDisabledExternal: {
        type: Boolean,
        default: false,
      },

      /**
       * Wizard is loading
       */
      loading: {
        type: Boolean,
        default: false,
      },

      /**
       * Verify if the footer should be shown.
       */
      showFooter: {
        type: Boolean,
        default: true,
      },
    },

    /**
     * Reactive data.
     *
     * @returns {{}}
     */
    data() {
      return {
        forced: false,
        buttonsDisabled: false,
        previousStep: null,
        paddingValue: PADDING_VALUE_DEFAULT
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Get wizards buttons states.
       * @returns {object}
       */
      buttonsState () {
        return {
          disabled: this.buttonsDisabled,
          nextAvailable: this.nextAvailable,
          previousAvailable: this.previousAvailable,
          finishButtonDisabled: this.finishButtonDisabled,
          finishAvailable: this.finishAvailable,
        }
      },

      /**
       * If it is active.
       *
       * @returns {*}
       */
      active() {
        return this.steps.findIndex(step => step.route.name === this.$route.name);
      },

      /**
       * Length of all steps.
       *
       * @returns {*}
       */
      length() {
        return this.steps.length;
      },

      /**
       * True if "Previous" button is available.
       */
      previousAvailable() {
        return this.active > 0;
      },

      /**
       * True if "Next" button is available.
       */
      nextAvailable() {
        return this.active < this.length - 1;
      },

      /**
       * True if "Finish" button is available.
       */
      finishAvailable() {
        return this.isLastStep;
      },

      /**
       * True if current step is the last.
       */
      isLastStep() {
        return this.active === this.length - 1;
      },

      /**
       * True if finish button should be disabled.
       */
      finishButtonDisabled () {
        return this.buttonsDisabled || this.submitDisabledExternal;
      },
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Is finish button is disabled.
       */
      finishButtonDisabled (value) {
        if (!value && this.$refs['finish-button']) {
          this.$nextTick(() => {
            this.$refs['finish-button'].$el.focus();
          })
        }
      },

      /**
       * Route.
       */
      '$route'(to, from) {
        if (to.name === this.successRoute.name) {
          return;
        }

        const fromStep = this.findStepByRoute(from.name);
        const toStep = this.findStepByRoute(to.name);

        if (toStep && (toStep.saved || this.forced)) {
          this.forced = false;
          this.previousStep = fromStep;
          this.$emit('success-navigation', true);
          return;
        }

        if (fromStep) {
          this.navigate(fromStep);
          this.onEnterStep();
        }
      },

      /**
       * Success view.
       */
      success(success) {
        if (success) {
          this.navigate({route: this.successRoute});
        }
      },

      /**
       * Watcher for wizards buttons states.
       */
      buttonsState: {
        deep: true,
        handler () {
          this.emitButtonsChanged();
        }
      }

    },

    /**
     * Created hook.
     */
    created() {
      this.setActive(this.defaultIndex);
    },

    /**
     * Mounted hook.
     */
    mounted () {
      this.emitButtonsChanged();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Resize wizard content.
       */
      setWizardHeight(value) {
        if (value) {
          this.paddingValue = PADDING_VALUE_BIGGEST;
        } else {
          this.paddingValue = PADDING_VALUE_DEFAULT;
        }
      },

      /**
       * Previous button is triggered.
       */
      previous() {
        this.setActive(this.active - 1);
        this.$nextTick(() => {
          if(this.$refs['campaign-previous-button']) {
            this.$refs['campaign-previous-button'].$el.blur();
          }
        });
        this.$emit('previous');
      },

      /**
       * Next button is triggered.
       */
      async next() {
        if (this.buttonsDisabled) {
          return;
        }

        this.buttonsDisabled = true;

        let next = await this.beforeNext();
        // Check if "next" is the result of validator.verify function.
        next = next.valid !== undefined ? next.valid : next;

        if (!next) {
          this.buttonsDisabled = false;
          return;
        }

        if (this.isLastStep) {
          this.buttonsDisabled = false;
          return this.finish();
        }

        this.$nextTick(() => {
          if (this.$refs['campaign-next-button']) {
            this.$refs['campaign-next-button'].$el.blur();
          }
        });

        await this.setActive(this.active + 1, true);
        this.$emit('next');
      },
      /**
       * Finish button is triggered.
       */
      finish() {
        this.$refs.step.beforeFinish()
          .then(successStatus => {
            if (successStatus) {
              this.$emit('finish');
            }
          }).catch(() => {
          this.buttonsDisabled = false;
        });
      },

      /**
       * Set active item.
       */
      async setActive(active, forced = false) {
        active = Math.max(active, 0);
        active = Math.min(active, this.length - 1);

        const step = this.steps[active];

        if (step) {
          this.forced = forced;
          this.navigate(step);
        }
      },

      /**
       * Close wizard.
       */
      close() {
        this.$emit('close');
      },

      /**
       * This method is called before the step is changing.
       */
      onLeaveStep() {
        this.buttonsDisabled = true;
        this.paddingValue = PADDING_VALUE_DEFAULT;
      },

      /**
       * This method is called after the step is changed.
       */
      onEnterStep() {
        this.buttonsDisabled = false;
      },

      /**
       * Navigate to step.
       *
       * @param step
       */
      navigate(step) {
        this.$pushRoute(step.route);
      },

      /**
       * Returns step with the specified route.
       *
       * @param name
       * @returns {*}
       */
      findStepByRoute(name) {
        return this.steps.find(step => step.route.name === name);
      },

      /**
       * Save current step.
       *
       * @returns {*}
       */
      save() {
        return this.$refs.step.save();
      },

      /**
       * This method is called before next step.
       *
       * @returns {*}
       */
      beforeNext() {
        return this.$refs.step.beforeNext();
      },

      /**
       * We need to have possibility to intercept some events before click
       * for example blur
       */
      async onButtonClick() {
        try {
          if (this.$refs.step.onButtonClick instanceof Function) {
            await this.$refs.step.onButtonClick();
          }
        } catch (error) {
          // handling case when function cannot call `onButtonClick` method
        }
      },

      /**
       * Fire buttons states change event.
       */
      emitButtonsChanged () {
        this.$emit('buttons-state-changed', this.buttonsState);
      },
    },
  };
</script>
