<template>
  <el-steps
    :active="active"
    finish-status="success"
    class="sign-up-status-bar"
  >
    <el-step
      v-for="step in steps + 1"
      :key="step"
    />
  </el-steps>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: "WizardProgress",

    /**
     * Available properties.
     */
    props: {
      /**
       * Active step index.
       */
      active: {
        type: Number,
        required: true,
      },

      /**
       * Amount of all steps.
       */
      steps: {
        type: Number,
        required: true,
      },
    },
  };
</script>
