<template>
  <div v-loading="isLoading">
    <form
      id="payment-form"
      ref="payment-form"
    >
      <el-row>
        <el-col :span="24">
          <text-field
            v-model="name"
            name="name"
            :disabled="showMode"
            :label="$trans('payment::labels.cardholder_name')"
            :placeholder="$trans('payment::labels.cardholder_name_placeholder')"
            :validation="validationRules.user.first_name"
            autocomplete="off"
          />
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <world-pay-form
            :use-card-number="true"
            :show-mode="showMode"
          />
        </el-col>
      </el-row>
      <el-row
        :gutter="20"
        type="flex"
        align="top"
      >
        <el-col :span="12">
          <world-pay-form
            :use-expiry="true"
            :show-mode="showMode"
          />
        </el-col>
        <el-col :span="12">
          <world-pay-form
            :use-cvv="true"
            :show-mode="showMode"
          />
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <text-field
            v-model="address"
            name="address"
            :disabled="showMode"
            :label="$trans('payment::labels.address')"
            :placeholder="$trans('payment::labels.address_placeholder')"
            :validation="validationRules.user.address.line1"
            :validation-messages="validationMessages.address"
            autocomplete="off"
          />
        </el-col>
      </el-row>
      <el-row
        :gutter="20"
        type="flex"
        align="top"
      >
        <el-col :span="12">
          <text-field
            v-model="city"
            name="city"
            :disabled="showMode"
            :label="$trans('payment::labels.city')"
            :placeholder="$trans('payment::labels.city_placeholder')"
            :validation="validationRules.user.address.city"
            autocomplete="off"
          />
        </el-col>
        <el-col :span="12">
          <text-field
            v-model="zip"
            name="zip"
            :disabled="showMode"
            :label="$trans('payment::labels.zip_code')"
            :placeholder="$trans('payment::labels.zip_code_placeholder')"
            :validation="validationRules.user.address.zip"
            :validation-messages="validationMessages.zip"
            autocomplete="off"
          />
        </el-col>
      </el-row>
      <div slot="buttons">
        <div class="buttons-in-row">
          <delete
            v-if="showMode"
            @delete="beforeDelete"
          />
          <replace
            v-if="showMode"
            @replace="replaceForm"
          />
          <world-pay-form
            v-if="!showMode"
            ref="wp-fields"
            :use-submit="true"
            :disabled="!submitEnabled"
            @ready="wpReady = true"
            @valid="wpValid"
            @created="onSubmit(isActionProcessing)"
          />
          <cancel
            @close="close"
          />
        </div>
      </div>
    </form>
    <action-confirmation
      :visible.sync="showConfirmationModal"
      :title="$trans('payment::messages.delete_card')"
      :submit-label="$trans('actions.delete')"
      :cancel-label="$trans('actions.cancel')"
      :warning-message="$trans('payment::messages.delete_card_warning')"
      :notice-message="$trans('payment::messages.delete_card_notice')"
      @submit="deletePayment"
      @cancel="closeConfirmation"
    />
    <modal
      :visible="showCannotDeleteModal"
      :title="$trans('payment::notifications.advertiser.card_cannot_be_deleted')"
      :show-buttons="false"
      @close="showCannotDeleteModal = false"
    >
      <p class="text-body-sm">
        {{ $trans('payment::notifications.advertiser.card_cannot_be_deleted_due_to_active_campaigns') }}
      </p>
    </modal>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { TextField } from 'Foundation/components/form';
import { mapFields } from 'vuex-map-fields';
import Cancel from './actions/Cancel';
import Delete from './actions/Delete';
import ActionConfirmation from "Foundation/components/modals/ActionConfirmation";
import Modal from "Foundation/components/layout/modal/Modal";
import WorldPayForm from "Modules/payment/components/PaymentMethod/form/worldpay/WorldPayForm";
import Replace from "Modules/payment/components/PaymentMethod/form/actions/Replace";
import Form from 'Foundation/mixins/Form';

export default {
  /**
   * Name.
   */
  name: 'EditCardForm',

  /**
   * Components.
   */
  components: {Replace, TextField, Delete, Cancel, ActionConfirmation, WorldPayForm, Modal },

  /**
   * Mixins.
   */
  mixins: [Form],

  /**
   * Props
   */
  props: {
    /**
     * Payment method id
     */
    id: {
      type: Number,
      default: null
    },

    /**
     * Loading
     */
    loading: {
      type: Boolean,
      default: false
    },

    /**
     * Is replace mode is enabled
     */
    replaceEnabled: {
      type: Boolean,
      default: false
    },
  },

  /**
   * Reactive properties.
   * @returns {{}}
   */
  data () {
    return {
      wpReady: false,
      wpFieldsRendered: false,
      completeWp: false,
      completeZip: false,
      completeName: false,
      completeAddress: false,
      completeCity: false,
      showConfirmationModal: false,
      showCannotDeleteModal: false,
      action: this.onWpSaved
    };
  },

  /**
   * Computed properties
   */
  computed: {
    /**
     * Map payment fields
     */
    ...mapFields('payment', {
      name: 'payment.name',
      zip: 'payment.zip',
      address: 'payment.address',
      city: 'payment.city',
      userPermissions: 'payment.permissions',
      userHasActiveCampaigns: 'userPermissions.delete_payment.has_ongoing_campaigns',
    }),

    /**
     * Map state
     */
    ...mapState('payment', ['storePaymentPending', 'replacePaymentPending']),

    /**
     * Is action processing
     */
    isActionProcessing () {
      return this.storePaymentPending || this.replacePaymentPending
    },

    /**
     * If user can delete payment method
     */
    canDelete () {
      return this.userPermissions && this.userPermissions.delete_payment;
    },

    /**
     * If form is ready
     */
    isLoading () {
      return this.loading || (!this.showMode && !this.wpReady);
    },

    /**
     * If modal in 'show' mode
     */
    showMode () {
      return !!this.id && !this.replaceEnabled;
    },

    /**
     * Is submit button enabled.
     */
    submitEnabled () {
      return this.completeName &&
        this.completeAddress &&
        this.completeCity &&
        this.completeZip &&
        this.completeWp;
    },

    /**
     * Custom validation messages.
     */
    validationMessages () {
      return {
        address: {
          required: this.$trans('payment::messages.validation.address.required'),
        },
        zip: {
          required: this.$trans('payment::messages.validation.zip.required'),
          max: this.$trans('payment::messages.validation.zip.max'),
          regex: this.$trans('payment::messages.validation.zip.regex'),
        },
      };
    },
  },

  /**
   * Watchers.
   */
  watch: {
    /**
     * Name watcher.
     */
    name (data) {
      this.$validator.verify(data, this.validationRules.user.first_name).then(({valid}) => {
        this.completeName = valid;
      })
    },

    /**
     * Address watcher.
     */
    address (data) {
      this.$validator.verify(data, this.validationRules.user.address.line1).then(({valid}) => {
        this.completeAddress = valid;
      })
    },

    /**
     * City watcher.
     */
    city (data) {
      this.$validator.verify(data, this.validationRules.user.address.city).then(({valid}) => {
        this.completeCity = valid;
      })
    },

    /**
     * Zip watcher.
     */
    zip (data) {
      this.$validator.verify(data, this.validationRules.user.address.zip).then(({valid}) => {
        this.completeZip = valid;
      })
    },
  },

  /**
   * Created hook.
   */
  mounted () {
    this.initForm();
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Map actions
     */
    ...mapActions('payment', ['store', 'replace', 'show', 'delete', 'clearPayment']),

    /**
     * Init form.
     */
    initForm () {
      if (this.showMode) {
        this.$call(this.show(this.id));
      } else {
        this.initWpForm();
      }
    },

    /**
     * Init WorldPay fields.
     */
    initWpForm () {
      this.$refs['wp-fields'].init(this.$refs['payment-form']);
    },

    /**
     * Show notification before delete
     */
    wpValid (valid) {
      this.completeWp = valid;
    },

    /**
     * WP-saved event handler.
     */
    async onWpSaved () {
      try {
        if (this.replaceEnabled) {
          await this.replaceCard();
        } else {
          await this.saveCard();
        }
      } catch (e) {
        //error handled in $call helper;
        return e;
      }
      this.$emit('updated');
      this.close();
    },

    /**
     * Save payment method.
     */
    saveCard () {
      return this.$call(this.store());
    },

    /**
     * Replace payment method.
     */
    replaceCard () {
      return this.$call(this.replace());
    },

    /**
     * Show notification before delete.
     */
    beforeDelete() {
      if (this.userHasActiveCampaigns) {
        this.showCannotDeleteModal = true;
      } else {
        this.showConfirmationModal = true;
      }
    },

    /**
     * Replace form handler.
     */
    replaceForm () {
      this.clearPayment();
      this.$emit('replace');
    },

    /**
     * Close confirmation
     */
    closeConfirmation() {
      this.showConfirmationModal = false;
    },

    /**
     * Delete payment
     */
    async deletePayment () {
      await this.$call(this.delete(this.id));
      this.close();
      this.$emit('deleted');
    },

    /**
     * Clear form values
     */
    close () {
      this.$emit('close');
    },
  },
};
</script>
