<template>
  <el-button
    type="primary"
    @click="close"
  >
    {{ $trans('payment::actions.cancel') }}
  </el-button>
</template>

<script>

export default {
  /**
   * Name.
   */
  name: 'Close',

  /**
   * Methods.
   */
  methods: {
    /**
     * Close event.
     */
    close () {
      this.$emit('close');
    },
  },
};
</script>
