<template>
  <div class="logo">
    <a
      :href="$getRoute('landing')"
      class="logo__link"
    >
      <img
        :alt="$trans('labels.common_image_alt')"
        src="/images/Logo-black-beta-dark.svg"
        width="175"
      >
    </a>
  </div>
</template>

<script>
  export default {
    /**
     * Component name.
     */
    name: 'Logo',
  };
</script>
