<template>
  <div>
    <step-wizard
      v-if="visible"
      ref="wizard"
      :active.sync="active"
      :default-index="defaultIndex"
      :finish-label="$trans('actions.place_order')"
      :loading="orderCampaignPending"
      :steps="steps"
      :success-route="successRoute"
      :success="!!success"
      :submit-disabled-external="isPaymentStep && !selectedPayment"
      :show-footer="false"
      :custom-class="wizardCustomClasses"
      content-class="create-campaign__content"
      form-class="create-campaign__form"
      @success-navigation="handleSuccessNavigation"
      @finish="submit"
      @buttons-state-changed="updateButtonsState"
    >
      <!-- HEADER -->
      <div
        v-if="!success"
        ref="wizard-header"
        slot="header"
        class="wizard__header"
      >
        <!-- PROGRESS BAR -->
        <progress-bar />
      </div>

      <wizard-sidebar
        v-if="showSidebar"
        slot="wizard-sidebar"
      >
        <!-- STATUS BAR -->
        <wizard-status-bar
          slot="status"
        />
      </wizard-sidebar>

      <div slot="progress-bar" />

      <!-- DONE BUTTON ON SUCCESS PAGE -->
      <el-button
        v-if="success"
        slot="footer-buttons-success"
        type="default"
        @click="done"
      >
        {{ $trans('actions.done') }}
      </el-button>
    </step-wizard>
    <contact :open-contact="true" />
  </div>
</template>

<script>
  import { isNull } from 'lodash';
  import ProgressBar from './progress-bar/ProgressBar';
  import Visible from 'Foundation/mixins/Visible';
  import WizardStatusBar from './status-bar/WizardStatusBar';
  import WizardSidebar from './sidebar/WizardSidebar';
  import { mapActions, mapMutations, mapGetters, mapState } from 'vuex';
  import { StepWizard } from 'Foundation/components/navigation/wizard';
  import CampaignMapper from 'Modules/campaign/api/mappers/CampaignMapper'
  import Contact from 'Modules/support/components/contact/Contact';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignForm',

    /**
     * Child components.
     */
    components: {
      ProgressBar,
      StepWizard,
      WizardStatusBar,
      WizardSidebar,
      Contact
    },

    /**
     * Mixins.
     */
    mixins: [
      Visible,
    ],

    /**
     * Available properties.
     */
    props: {
      /**
       * Step that should be displayed at first.
       */
      defaultStep: {
        type: Object,
        default () {
          return {
            name: null,
            params: {},
          };
        },
      },
    },

    /**
     * Data.
     */
    data () {
      return {
        active: 0,
        fixedWizardHeader: false,
        wizardControlsOffset: 522,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('wizard', {
        orderCampaignPending: 'orderCampaignPending',
        id: 'id',
        success: 'success',
        buttonsState: 'wizard/buttonsState',
        edit: 'edit',
      }),

      /**
       * Map payment state.
       */
      ...mapState('payment', ['selectedPayment']),

      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard/steps', [
        'routes',
        'steps',
        'getStepByRoute',
        'stepHasSidebar',
      ]),
      ...mapGetters('payment', [
        'getPayment',
      ]),

      /**
       * This route should be displayed after success.
       */
      successRoute () {
        return {
          name: 'campaigns.create.success',
        };
      },

      /**
       * Index of default step.
       */
      defaultIndex () {
        if (this.defaultStep) {
          return this.routes.indexOf(this.defaultStep);
        }

        return 0;
      },

      /**
       * Returns true if current step is payment.
       */
      isPaymentStep () {
        return this.$route.name && !!~this.$route.name.indexOf('reviewAndPayment.payment');
      },

      /**
       * Custom classes of the wizard's wrapper.
       * @returns {string}
       */
      wizardCustomClasses () {
        const classes = ['create-campaign'];
        if (this.fixedWizardHeader) {
          classes.push('fixed')
        }
        return classes.join(' ');
      },

      /**
       * Verify if sidebar should be shown.
       * @returns {boolean}
       */
      showSidebar () {
        return this.stepHasSidebar(this.$route.name) && !this.success;
      }
    },

    /**
     * Common wizard watcher.
     */
    watch: {
      id (value, oldValue) {
        if (value !== oldValue && !this.edit) {
          this.$call(this.getCpm(value));
        }
      }
    },

    /**
     * Component created hook.
     */
    created () {
      window.addEventListener('scroll', this.handleScroll);
    },

    /**
     * Mounted hook.
     */
    mounted () {
      this.updateButtonsState(this.$refs.wizard.buttonsState);
    },

    /**
     * Before destroy component hook.
     */
    beforeDestroy () {
      window.removeEventListener('scroll', this.handleScroll);
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard', {
        orderCampaign: 'orderCampaign',
        getCpm: 'budget/getCpm'
      }),

      /**
       * Vuex (mutations).
       */
      ...mapMutations('wizard/wizard', [
        'setButtonsState',
      ]),

      /**
       * Check step by route name.
       */
      checkStep (step, routeName) {
        if (step) {
          return step.route.name === routeName;
        }

        return false;
      },

      /**
       * Trigger when route transition allowed
       */
      handleSuccessNavigation () {
        this.fixedWizardHeader = false;
      },

      /**
       * Submit the form.
       *
       * @returns {Promise<void>}
       */
      async submit () {
        const validated = await this.$validateScope();

        if (!validated) {
          return;
        }

        this.$call(this.orderCampaign({
          campaignId: this.id,
          paymentId: this.selectedPayment
        })).then((response) => {
          const campaign = CampaignMapper.mapApiToObject(response.data);
          this.trackSuccessOrder(campaign);
        });
      },

      /**
       * Done button handler (success step).
       */
      done () {
        this.$redirectToRoute('campaigns.index');
      },

      /**
       * Close form.
       *
       * @returns {*}
       */
      close () {
        if (!this.id && !this.name) {
          return this.emitClose();
        }

        this.$refs.wizard.save().then(() => {
          this.emitClose();
        });
      },

      /**
       * Previous button click handler.
       */
      previous () {
        this.$refs['wizard'].previous();
      },

      /**
       * Handler of the buttons states change.
       */
      updateButtonsState (state) {
        this.setButtonsState({
          disabled: state.disabled,
          nextAvailable: state.nextAvailable && this.showSidebar,
          previousAvailable: state.previousAvailable && this.showSidebar,
        });
      },

      /**
       * Define window scroll offset
       */
      handleScroll() {

        const header = this.$refs['wizard-header'];

        if (header === undefined || !header) {
          return;
        }

        let wizardCreate = header.getBoundingClientRect().top;

        if (wizardCreate <= 0) {
          this.fixedWizardHeader = true;
        }

        if (wizardCreate > 0) {
          this.fixedWizardHeader = false;
        }
      },

      /**
       * Track success order action.
       * @param campaign
       */
      trackSuccessOrder (campaign) {
        const discountedCost = isNull(campaign.discounted_cost) ? campaign.budget : campaign.discounted_cost;
        this.$trackAction('campaign_creation_success', {
          campaign_id: campaign.id,
          total_budget: campaign.budget,
          discounted_cost: discountedCost,
          payment_method: this.getPaymentMethodToTrack(campaign),
        });
      },

      /**
       * Calculate the payment method for tracking.
       * @param campaign
       * @returns {string}
       */
      getPaymentMethodToTrack (campaign) {
        // The whole order was paid with promo-code.
        if (campaign.discounted_cost === 0) {
          return 'promo_code';
        }

        // No promo-code was applied.
        if (campaign.discounted_cost === null) {
          const paymentMethod = this.getPayment(campaign.payment_method_id);
          return paymentMethod ? paymentMethod.brand : null;
        }

        // Order was paid partially with promo-code.
        return 'blend';
      },
    },
  };
</script>
