<template>
  <campaign-form
    v-if="!isLoading"
    ref="campaignForm"
    :default-step="defaultStep"
    :visible="visible"
    @close="close"
  />
</template>

<script>
  import CampaignForm from './CampaignForm';
  import Loading from 'Foundation/mixins/Loading';
  import Visible from 'Foundation/mixins/Visible';
  import { mapActions, mapGetters, mapState } from 'vuex';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignEditForm',

    /**
     * Child components.
     */
    components: {
      CampaignForm,
    },

    /**
     * Mixins.
     */
    mixins: [
      Loading,
      Visible,
    ],

    /**
     * Properties.
     */
    props: {
      /**
       * Campaign id.
       */
      id: {
        type: Number,
        required: true,
      },

      /**
       * Force step name.
       */
      forceNavigateStep: {
        type: String,
        default() {
          return null;
        },
      },
    },

    /**
     * Reactive data.
     */
    data () {
      return {
        defaultStep: '',
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard/steps', [
        'getStep',
      ]),

      ...mapState('wizard', {
        editCampaignPending: 'editCampaignPending',
        message: 'details/message',
        step: 'details/step',
      }),

      /**
       * True if loading.
       */
      isLoading () {
        return this.editCampaignPending || !this.defaultStep;
      },
    },

    /**
     * Created hook.
     */
    created () {
      this.$nextTick(this.load);
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard', {
        editCampaign: 'editCampaign',
        getCpm: 'budget/getCpm',
        getDynamicInventoryCheck: 'inventory/getDynamicInventoryCheck'
      }),

      /**
       * Load campaign.
       */
      load () {
        this.$call(
          this.editCampaign(this.id),
          { notify: false }
        )
        .then(({ data: { data } }) => {
          for (const index in data.messages) {
            if (!Object.prototype.hasOwnProperty.call(data.messages, index)) {
              continue;
            }

            /**
             * SetTimeout is for delay to recalculate top notification position
             */
            setTimeout(() => {
              this.$notify.success({
                title: this.$trans('messages.success'),
                message: data.messages[index],
                dangerouslyUseHTMLString: true,
              });
            }, 100);
          }

          if (!data.cpm) {
            this.$call(this.getCpm(data.id));
          }

          if (data.cost && data.cpm) {
            this.$call(this.getDynamicInventoryCheck(this.id), {muteException: true, notify: false})
          }

          this.navigate(data)
        });
      },
      /**
       * Navigate user to the correct step.
       *
       * @param data
       */
      navigate (data) {
        const step = this.forceNavigateStep ? this.getStep(this.forceNavigateStep) : this.getStep(data.step);

        this.defaultStep = step ? step.route : '';
      },
    },
  };
</script>
