<template>
  <el-dialog
    :title="$trans('campaign::labels.modal_progress.checking_inventory')"
    :visible="visible"
    :custom-class="'popup-upload el-dialog--actions-column-reverse'"
    width="688px"
    :show-close="false"
  >
    <div class="upload-progress">
      <div class="upload-progress__bar">
        <div
          class="upload-progress__success"
          :style="progressBarStyle"
        />
      </div>
      <div class="upload-progress__value">
        {{ statusMessage }}
      </div>
    </div>
    <div class="upload-progress__content">
      <div class="default-actions">
        <el-button
          v-if="cancelButton"
          type="primary"
          @click.prevent="cancel"
        >
          {{ $trans('campaign::actions.cancel_inventory_check') }}
        </el-button>
      </div>
    </div>
  </el-dialog>
</template>

<script>
  import { mapActions } from 'vuex';
  import { forEach } from 'lodash';

  const INTERVALS_TIMEOUT = 60000 * 3; // 3 minutes
  const INTERVALS_TIMEOUT_AFTER_REQUEST_FINISH = 2000;
  const PROGRESS_STATUSES = [
    {value: 10, translateKey: 'campaign::labels.modal_progress.reviewing_campaign',},
    {value: 20, translateKey: 'campaign::labels.modal_progress.checking_date_range',},
    {value: 45, translateKey: 'campaign::labels.modal_progress.checking_parameters',},
    {value: 80, translateKey: 'campaign::labels.modal_progress.checking_inventory_demand',},
    {value: 100, translateKey: 'campaign::labels.modal_progress.optimizing',},
  ];

  export default {
    /**
     * Component name.
     */
    name: "ModalProgress",

    /**
     * Available properties.
     */
    props: {
      /**
       * Status if modal should be shown.
       */
      status: {
        type: Boolean,
        required: true,
        default: () => false,
      },

      /**
       * Resolve function is called when modal is closed not by close button click.
       */
      resolveCloseModal: {
        type: Function,
        default: () => null,
      },

      /**
       * If cancel button should be shown.
       */
      cancelButton: {
        type: Boolean,
        default: false,
      },

      /**
       * If it needs to close modal instantly without finishing progress.
       */
      instantClose: {
        type: Boolean,
        default: false,
      },
    },

    /**
     * Data.
     */
    data() {
      return {
        /**
         * Progress bar's value
         */
        progressBarValue: 0,

        /**
         * Modal's visibility status
         */
        visible: false,

        /**
         * Modal's update interval
         */
        updateInterval: null,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Returns styles for progress bar
       *
       * @returns {*}
       */
      progressBarStyle() {
        return {width: `${this.progressBarValue}%`};
      },

      /**
       * Returns translated status message.
       *
       * @returns String
       */
      statusMessage() {
        let message;
        forEach(PROGRESS_STATUSES, progressStatus => {
          if (this.progressBarValue <= progressStatus.value) {
            message = progressStatus.translateKey;
            return false;
          }
        });
        return this.$trans(message);
      }
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Start/Finish progress bar depending on modal open/close status
       *
       */
      status(currentStatus, oldStatus) {
        if (currentStatus === oldStatus) {
          return;
        }

        if (this.instantClose) {
          return this.processCloseModal();
        }

        if (currentStatus) {
          return this.startProgressBar();
        }

        this.finishProgressBar(this.resolveCloseModal);
      }
    },

    /**
     * Component methods.
     */
    methods: {
      ...mapActions('details', [
        'cancelInventoryCheckRequest',
      ]),

      /**
       * Process close modal.
       */
      processCloseModal() {
        if (this.updateInterval) {
          clearInterval(this.updateInterval);
        }

        this.visible = false;
      },

      /**
       * Handles click by cancel button
       *
       */
      cancel() {
        this.visible = false;
        this.$emit('close');

        if (this.updateInterval) {
          clearInterval(this.updateInterval);
        }
        this.cancelInventoryCheckRequest();
      },

      /**
       * Creates an interval which updates progress bar's value
       *
       */
      createInterval(timeInterval, progress) {
        this.updateInterval = setInterval(() => {
          this.progressBarValue += progress;
        }, timeInterval);
      },

      /**
       * Method shows modal and starts progress bar
       *
       */
      startProgressBar() {
        this.progressBarValue = 0;
        this.visible = true;

        // do update of progress bar every 500ms with progressPart value
        const countOfSeconds = (INTERVALS_TIMEOUT / 1000);
        const progressPart = 100 / countOfSeconds;

        this.createInterval(1000, progressPart);

        if (this.updateInterval) {
          setTimeout(() => clearInterval(this.updateInterval), INTERVALS_TIMEOUT);
        }
      },

      /**
       * Method finishes progress bar and closes modal
       *
       */
      finishProgressBar(resolveCloseModal) {
        // before close modal
        if (this.updateInterval) {
          clearInterval(this.updateInterval);
        }

        // divide result for 20 parts to add each part to progress bar every 100ms
        const progressPart = (100 - this.progressBarValue) / 20;

        this.createInterval(100, progressPart);

        if (this.updateInterval) {
          setTimeout(() => {
            clearInterval(this.updateInterval);

            // Close modal
            this.visible = false;

            if (typeof resolveCloseModal === 'function') {
              resolveCloseModal();
            }
          }, INTERVALS_TIMEOUT_AFTER_REQUEST_FINISH);
        }
      }
    },
  }
</script>
