<template>
  <div>
    <!-- PERSONAL INFO -->
    <card-section-title>
      {{ $trans('labels.personal_info') }}
    </card-section-title>

    <!-- NAME -->
    <card-section-item>
      <template slot="title">
        {{ $trans('labels.name') }}
        <card-section-action @click="openPersonalModal">
          {{ $trans('actions.update') }}
        </card-section-action>
      </template>
      <template slot="content">
        <span>{{ firstName }}</span>
        <span>{{ lastName }}</span>
      </template>
    </card-section-item>

    <!-- EMAIL -->
    <card-section-item>
      <template slot="title">
        {{ $trans('labels.email') }}
      </template>
      <template slot="content">
        {{ email }}
      </template>
    </card-section-item>

    <!-- PASSWORD -->
    <card-section-item>
      <template slot="title">
        {{ $trans('labels.password') }}
        <card-section-action @click="openPasswordModal">
          {{ $trans('actions.change') }}
        </card-section-action>
      </template>

      <template slot="content">
        {{ password }}
      </template>
    </card-section-item>

    <!-- NAME FORM -->
    <personal-info-modal :visible.sync="modalPersonalVisible" />
    <!-- PASSWORD FORM -->
    <password-modal
      v-if="modalPasswordVisible"
      @close="modalPasswordVisible = false"
    />
  </div>
</template>

<script>
  import PersonalInfoModal from './modals/PersonalInfoModal';
  import PasswordModal from "./modals/PasswordModal";
  import { CardSectionAction, CardSectionItem, CardSectionTitle } from 'Foundation/components/layout/card';
  import { mapFields } from 'vuex-map-fields';

  export default {
    /**
     * Name of the component.
     */
    name: "PersonalInfo",

    /**
     * Child components.
     */
    components: {
      CardSectionAction,
      CardSectionItem,
      CardSectionTitle,
      PersonalInfoModal,
      PasswordModal,
    },

    /**
     * Reactive data.
     *
     * @returns {{modalPersonalVisible: boolean}}
     */
    data () {
      return {
        modalPersonalVisible: false,
        modalPasswordVisible: false,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map fields.
       */
      ...mapFields('profile', {
        firstName: 'user.firstName',
        lastName: 'user.lastName',
        email: 'user.email',
      }),

      /**
       * Password data.
       */
      password () {
        return '••••••••••';
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Open modal dialog with edit form for user name.
       */
      openPersonalModal () {
        this.modalPersonalVisible = true;
      },

      /**
       * Open password modal dialog
       */
      openPasswordModal () {
        this.modalPasswordVisible = true;
      },
    },
  };
</script>
