<template>
  <div
    v-loading="storeInvitationPending"
    class="bulk-invite"
  >
    <div class="el-form-item">
      <checkbox
        v-model="formData.account_type_category"
        name="account_type_category"
        size="medium"
      >
        {{ $trans('invitation::labels.special_ads_category') }}
      </checkbox>
    </div>
    <div class="labels">
      <label class="el-form-item__label">
        {{ $trans('invitation::labels.emails') }}
      </label>
      <el-upload
        ref="file"
        v-loading="validateCsvPending"
        class="el-picker-panel__link-btn"
        action=""
        :multiple="false"
        :auto-upload="false"
        :show-file-list="false"
        accept=".csv"
        :on-change="onFileChange"
      >
        <el-button
          size="medium"
          type="text"
        >
          {{ $trans('targeting::labels.locations.upload_csv_button') }}
        </el-button>
      </el-upload>
    </div>
    <text-area-field
      ref="emails"
      v-model="formData.emails"
      :validation="validationRules.invitation.emails"
      name="emails"
      :show-label="false"
      :placeholder="$trans('invitation::labels.emails_placeholder')"
      :rows="6"
    />
  </div>
</template>

<script>
  import { mapActions } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import InviteForm from 'Modules/invitation/components/index/forms/mixins/InviteForm';
  import TextAreaField from 'Foundation/components/form/TextAreaField';
  import Checkbox from 'Foundation/components/form/Checkbox';

  export default {
    /**
     * Name.
     */
    name: 'BulkInvitationForm',

    components: {
      TextAreaField,
      Checkbox
    },
    /**
     * Mixins.
     */
    mixins: [
      InviteForm,
    ],

    /**
     * Data.
     */
    data () {
      return {
        scope: '__invitation_bulk__',
      }
    },

    /**
     * Computed properties
     */
    computed: {
      ...mapFields('invitation', {
        formData: 'bulkInvite',
        storeInvitationPending: 'storeInvitationPending',
        validateCsvPending: 'validateCsvPending',
      }),
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('invitation', {
        store: 'validateBulkInvitation',
        validateCsv: 'validateCsv',
      }),

      /**
       * Submit form.
       */
      async submit () {
        const validated = await this.validate();

        if (!validated) {
          return;
        }

        this.$emit('loading-buttons', true);

        try {
          await this.$call(
            this.save(),
            { notify: false }
          ).then(({ data }) => {
              this.$emit('confirm-modal', data.data);
          });
        } catch (e) {
          this.$emit('loading-buttons', false);
          return;
        }

        this.$emit('loading-buttons', false);

        this.$emit('close');
        this.$emit('created');

      },

      /**
       * On upload CSV
       */
      async onFileChange (file) {
        this.$emit('loading-buttons', true);

        if (file.size > this.$config.locations.max_filesize) {
          this.$notify.error({
            message: this.$trans('targeting::messages.fail_max_file_size'),
          });
          return;
        }

        let formData = new FormData();
        formData.append('csv', file.raw);

        this.$call(this.validateCsv(formData))
          .then((data) => {
            this.$emit('confirm-modal', data.data.data);
          })
          .catch(() => {this.$emit('loading-buttons', false)})
      },
    },
  }
</script>
