<template>
  <div>
    <div class="el-form-item">
      <checkbox
        v-model="formData.account_type_category"
        name="account_type_category"
        size="medium"
      >
        {{ $trans('invitation::labels.special_ads_category') }}
      </checkbox>
    </div>
    <text-field
      ref="email"
      v-model="formData.email"
      :label="$trans('invitation::labels.email')"
      :placeholder="$trans('invitation::labels.email')"
      :validation="validationRules.invitation.email"
      name="email"
      size="medium"
      @keyup.enter.native="onSubmit(storeIndividualInvitationPending)"
    />
    <text-field
      ref="code"
      v-model="formData.code"
      :label="$trans('invitation::labels.code')"
      :placeholder="$trans('invitation::labels.code')"
      :validation="validationRules.invitation.code"
      name="code"
      size="medium"
      @keyup.enter.native="onSubmit(storeIndividualInvitationPending)"
    />
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  import { TextField } from 'Foundation/components/form';
  import { mapFields } from 'vuex-map-fields';
  import InviteForm from 'Modules/invitation/components/index/forms/mixins/InviteForm';
  import Checkbox from 'Foundation/components/form/Checkbox';
  import Form from 'Foundation/mixins/Form';

  export default {
    /**
     * Name.
     */
    name: 'IndividualInvitationForm',

    /**
     * Components.
     */
    components: {
      Checkbox,
      TextField,
    },

    /**
     * Mixins.
     */
    mixins: [
      InviteForm,
      Form
    ],

    /**
     * Data.
     */
    data () {
      return {
        scope: '__invitation_individual__',
        action: this.submit
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Map fields
       */
      ...mapFields('invitation', { formData: 'invitationData' }),

      /**
       * Map state
       */
      ...mapState('invitation', ['storeIndividualInvitationPending']),
    },

    /**
     * Created
     */
    created: function () {
      this.generateCode();
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('invitation', { store: 'storeIndividualInvitation' }),

      /**
       * Submit form.
       */
      async submit () {
        const validated = await this.validate();

        if (!validated) {
          return;
        }
        this.$emit('loading-buttons', true);

        try {
          await this.$call(
            this.save(),
            { notify: false }
          );
        } catch (e) {
          this.$emit('loading-buttons', false);
          return;
        }
        this.$emit('loading-buttons', false);

        this.$emit('close');
        this.$emit('created');

        this.generateCode();
      },

      /**
       * Generate invite code
       */
      generateCode () {
        let arrayRandom = new Uint32Array(5);
        window.crypto.getRandomValues(arrayRandom);

        this.formData.code = Array.from(arrayRandom, this.generateSymbolInsteadInt).join('');
      },

      /**
       * Generate symbols instead int
       */
      generateSymbolInsteadInt (value) {
        return ('0' + value.toString(16)).substr(-2)
      }
    },
  }
</script>
