<template>
  <div>
    <text-field
      ref="code"
      v-model="formData.name"
      :label="$trans('report::labels.report_name')"
      :placeholder="$trans('report::labels.report_name')"
      :validation="validationRules.report.name"
      :scope="scope"
      name="name"
      size="medium"
      @enter="$emit('submit')"
    />
  </div>
</template>

<script>
  import { TextField } from 'Foundation/components/form';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions, mapMutations } from 'vuex';
  import ReportForm from "Modules/report/components/forms/mixins/ReportForm";

  export default {
    /**
     * Name.
     */
    name: "AdvertisersForm",

    /**
     * Components.
     */
    components: {
      TextField,
    },

    /**
     * Mixins.
     */
    mixins: [
      ReportForm
    ],

    /**
     * Data.
     */
    data () {
      return {
        scope: '__advertisers__',
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Map frequency list
       */
      ...mapFields('report', { formData: 'advertisersReport', defaultAdvertiser: 'defaultAdvertiser' }),
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('report', { store: 'storeAdvertisers', show: 'showAdvertisers', update: 'updateAdvertisers' }),

      /**
       * Map mutations
       */
      ...mapMutations('report', { clear: 'clearAdvertisers' }),

      /**
       * Validate form.
       *
       * @returns {*}
       */
      validate () {
        return this.$validateScope(this.scope);
      },
    },
  }
</script>
