<template>
  <div>
    <text-field
      ref="code"
      v-model="formData.name"
      :label="$trans('report::labels.report_name')"
      :placeholder="$trans('report::labels.report_name')"
      :validation="validationRules.report.name"
      :scope="scope"
      name="name"
      size="medium"
      @enter="$emit('submit')"
    />
    <advertisers-select
      v-if="$hasPermission('list_advertiser')"
      v-model="formData.advertiser"
      name="advertisers-download"
      :label="$trans('report::labels.advertiser')"
      :default-option="defaultAdvertiser"
      :placeholder="$trans('report::labels.advertiser_placeholder')"
    />
    <div
      class="el-form-item"
    >
      <label
        class="el-form-item__label"
      >
        {{ $trans('report::labels.date_range') }}
      </label>
      <div class="el-form-item__content">
        <date-range-field
          v-model="formData.dateRange"
          class="promo-popup__date-range"
          name="date"
          :use-native-picker="false"
          :range-separator="$trans('labels.to')"
          :picker-options="pickerOptions"
          :validation="validation"
          :validation-messages="validationMessages.date"
          :scope="scope"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import { TextField, DateRangeField } from 'Foundation/components/form';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions, mapMutations } from 'vuex';
  import ReportForm from "Modules/report/components/forms/mixins/ReportForm";
  import AdvertisersSelect from "Modules/advertiser/components/common/form/AdvertisersSelect";

  export default {
    /**
     * Name.
     */
    name: "DownloadForm",

    /**
     * Components.
     */
    components: {
      TextField,
      DateRangeField,
      AdvertisersSelect,
    },

    /**
     * Mixins.
     */
    mixins: [
      ReportForm
    ],

    /**
     * Data.
     */
    data () {
      return {
        scope: '__download__',
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Map frequency list
       */
      ...mapFields('report', { formData: 'downloadReport', defaultAdvertiser: 'defaultAdvertiser' }),

      /**
       * @returns {Array}
       */
      validationMessages () {
        return {
          date: {
            complete_date_range: this.$trans('validation.custom.report.date.required'),
            required: this.$trans('validation.custom.report.date.required'),
          }
        }
      },
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('report', { store: 'storeDownload', show: 'showDownload', update: 'updateDownload' }),

      /**
       * Map mutations
       */
      ...mapMutations('report', { clear: 'clearDownload' }),

      /**
       * Validate form.
       *
       * @returns {*}
       */
      validate () {
        return this.$validateScope(this.scope);
      },
    },
  }
</script>
