<template>
  <div>
    <div class="el-form-item">
      <checkbox
        v-model="formData.isScheduled"
        name="is_scheduled"
        size="medium"
      >
        {{ $trans('report::labels.missing_ads_scheduled') }}
      </checkbox>
    </div>
    <text-field
      v-model="formData.name"
      :label="$trans('report::labels.report_name')"
      :placeholder="$trans('report::labels.report_name')"
      :validation="validationRules.report.name"
      :scope="scope"
      name="name"
      size="medium"
      @enter="$emit('submit')"
    />
    <div
      v-if="!formData.isScheduled"
      class="el-form-item"
    >
      <label
        class="el-form-item__label"
      >
        {{ $trans('report::labels.campaign_start_date') }}
      </label>
      <div class="el-form-item__content">
        <date-range-field
          v-model="formData.dateRange"
          class="promo-popup__date-range"
          name="date"
          :use-native-picker="false"
          :range-separator="$trans('labels.to')"
          :picker-options="pickerOptions"
          :validation="validation"
          :validation-messages="validationMessages.date"
          :scope="scope"
        />
      </div>
    </div>
    <div v-if="formData.isScheduled">
      <select-field
        v-model="formData.frequency"
        :label="$trans('report::labels.delivery_frequency')"
        :placeholder="$trans('report::labels.delivery_frequency_placeholder')"
        :options="frequencyOptions"
        :validation="validationRules.report.missing_ads_delivery_frequency"
        :validation-messages="validationMessages.delivery_frequency"
        :scope="scope"
        name="frequency"
        size="large"
      />
      <select-field
        v-if="showDays"
        v-model="formData.day"
        :label="$trans('report::labels.delivery_day')"
        :options="dayOptions"
        :validation="validationRules.report.execution_day"
        :scope="scope"
        name="frequency"
        size="large"
      />
      <tag-field
        ref="tagField"
        v-model="formData.emails"
        :label="$trans('report::labels.email_destination')"
        :placeholder="$trans('report::labels.email_destination_placeholder')"
        :validation="validationRules.report.email"
        :validation-messages="validationMessages.emails"
        :max="validationRules.report.emails.max"
        :event-keys="emailEventKeys"
        split-reg-exp="[\s,;]+"
        :scope="scope"
        name="emails"
      />
    </div>
  </div>
</template>

<script>
  import { mapActions, mapMutations } from 'vuex';
  import { TextField, SelectField, TagField, DateRangeField } from 'Foundation/components/form';
  import { mapFields } from 'vuex-map-fields';
  import ReportForm from 'Modules/report/components/forms/mixins/ReportForm';
  import Checkbox from 'Foundation/components/form/Checkbox';
  import moment from 'moment';

  export default {
    /**
     * Name.
     */
    name: 'MissingAdsForm',

    /**
     * Components.
     */
    components: {
      TextField,
      SelectField,
      TagField,
      Checkbox,
      DateRangeField
    },

    /**
     * Mixins.
     */
    mixins: [
      ReportForm,
    ],

    /**
     * Data.
     */
    data () {
      return {
        scope: '__missing_ads__',
        validationMessages: {
          emails: {
            email: this.$trans('report::messages.valid_emails'),
            required: this.$trans('validation.required_emails', {attribute: 'emails'}),
          },
          delivery_frequency: {
            required: this.$trans('validation.custom.report.frequency.required'),
          },
        },
        emailEventKeys: ['Space', 'Enter', 'Comma', 'Semicolon'],
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Map frequency list
       */
      ...mapFields('deliveryFrequency', ['frequencyList', 'weeklyReportDays']),

      /**
       * Map form fields.
       */
      ...mapFields('report', { formData: 'missingAdsReport' }),

      /**
       * Map frequency list
       */
      frequencyOptions () {
        return this.frequencyList
          .filter(frequency => this.$config.report.missing_ads_frequency_ids.includes(frequency.id))
          .map(frequency => ({
            value: frequency.id,
            key: frequency.id,
            label: frequency.name
          }));
      },

      /**
       * Map days list
       */
      dayOptions () {
        return this.weeklyReportDays.map(day => ({
          value: day.id,
          key: day.id,
          label: day.name
        }));
      },

      /**
       * Show days select
       */
      showDays () {
        return this.formData.frequency === this.$config.report.show_days_frequency_id;
      }
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Show days watcher
       */
      showDays (value) {
        if (!value) {
          this.formData.day = null;
          return;
        }

        if (!this.formData.day) {
          this.formData.day = this.dayOptions[0].key;
        }

        this.formData.day = Number(this.formData.day);
      },

      /**
       * Watch isScheduled field
       */
      'formData.isScheduled' (value) {
        if (!value) {
          this.formData.dateRange = {
            start: moment(this.$config.general.launch_date, 'YYYY-MM-DD').endOf('day').format(),
            end: moment().add(this.$config.report.count_days_fom_missing_ads_report, 'days').endOf('day').format()
          }
        }
      }
    },

    /**
     * Created hook
     */
    created () {
      this.getFrequencyList();
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('deliveryFrequency', { getFrequencyList: 'list' }),

      /**
       * Map actions
       */
      ...mapActions('report', {
        store: 'storeMissingAds',
        show: 'showMissingAds',
        update: 'updateMissingAds'
      }),

      /**
       * Map mutations
       */
      ...mapMutations('report', { clear: 'clearMissingAds' }),

      /**
       * Validate form.
       *
       * @returns {*}
       */
      async validate () {
        const validMain = await this.$validateScope(this.scope);
        const validTag = this.formData.isScheduled
          ? await this.$refs['tagField'].validate()
          : true;

        return validMain && validTag;
      },

      /**
       * Returns true if date should be available to select in datepicker.
       * @param date
       * @returns {boolean}
       */
      checkDateIsDisabled (date) {
        const momentDate = moment(date);
        return momentDate.isAfter(moment().add(this.$config.report.count_days_fom_missing_ads_report, 'days'));
      },
    },
  }
</script>
