<template>
  <div>
    <text-field
      v-model="formData.name"
      :label="$trans('report::labels.report_name')"
      :placeholder="$trans('report::labels.report_name')"
      :validation="validationRules.report.name"
      :scope="scope"
      name="name"
      size="medium"
      @enter="$emit('submit')"
    />
    <advertisers-select
      v-if="$hasPermission('list_advertiser')"
      v-model="formData.advertiser"
      name="advertisers-schedule"
      :label="$trans('report::labels.advertiser')"
      :default-option="defaultAdvertiser"
      :placeholder="$trans('report::labels.advertiser_placeholder')"
    />
    <select-field
      v-model="formData.frequency"
      :label="$trans('report::labels.delivery_frequency')"
      :placeholder="$trans('report::labels.delivery_frequency_placeholder')"
      :options="frequencyOptions"
      :validation="validationRules.report.delivery_frequency"
      :validation-messages="validationMessages.delivery_frequency"
      :scope="scope"
      name="frequency"
      size="large"
    />
    <select-field
      v-if="showDays"
      v-model="formData.day"
      :label="$trans('report::labels.delivery_day')"
      :options="dayOptions"
      :validation="validationRules.report.execution_day"
      :scope="scope"
      name="frequency"
      size="large"
    />
    <tag-field
      ref="tagField"
      v-model="formData.emails"
      :label="$trans('report::labels.email_destination')"
      :placeholder="$trans('report::labels.email_destination_placeholder')"
      :validation="validationRules.report.email"
      :validation-messages="validationMessages.emails"
      :max="validationRules.report.emails.max"
      :event-keys="emailEventKeys"
      split-reg-exp="[\s,;]+"
      :scope="scope"
      :disabled="!$user.isAdmin"
      name="emails"
    />
  </div>
</template>

<script>
  import { mapActions, mapMutations } from 'vuex';
  import { TextField, SelectField, TagField } from 'Foundation/components/form';
  import { mapFields } from 'vuex-map-fields';
  import ReportForm from "Modules/report/components/forms/mixins/ReportForm";
  import AdvertisersSelect from "Modules/advertiser/components/common/form/AdvertisersSelect";

  export default {
    /**
     * Name.
     */
    name: 'ScheduleForm',

    /**
     * Components.
     */
    components: {
      TextField,
      SelectField,
      TagField,
      AdvertisersSelect,
    },

    /**
     * Mixins.
     */
    mixins: [
      ReportForm,
    ],

    /**
     * Data.
     */
    data () {
      return {
        scope: '__schedule__',
        validationMessages: {
          emails: {
            email: this.$trans('report::messages.valid_emails'),
            required: this.$trans('validation.required_emails', {attribute: 'emails'}),
          },
          delivery_frequency: {
            required: this.$trans('validation.custom.report.frequency.required'),
          },
        },
        emailEventKeys: ['Space', 'Enter', 'Comma', 'Semicolon'],
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Map frequency list
       */
      ...mapFields('deliveryFrequency', ['frequencyList', 'weeklyReportDays']),

      /**
       * Map store
       */
      ...mapFields('report', { formData: 'scheduleReport', defaultAdvertiser: 'defaultAdvertiser' }),

      /**
       * Map frequency list
       */
      frequencyOptions () {
        return this.frequencyList.map(frequency => ({ value: frequency.id, key: frequency.id, label: frequency.name }));
      },

      /**
       * Map days list
       */
      dayOptions () {
        return this.weeklyReportDays.map(day => ({ value: day.id, key: day.id, label: day.name }));
      },

      /**
       * Show days select
       */
      showDays () {
        return this.formData.frequency === this.$config.report.show_days_frequency_id;
      }
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Show days watcher
       */
      showDays (value) {
        if (!value) {
          this.formData.day = null;
          return;
        }

        if (!this.formData.day) {
           this.formData.day = this.dayOptions[0].key;
        }

        this.formData.day = Number(this.formData.day);
      }
    },

    /**
     * Created hook
     */
    created () {
      this.getFrequencyList();
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('deliveryFrequency', { getFrequencyList: 'list' }),

      /**
       * Map actions
       */
      ...mapActions('report', { store: 'storeSchedule', show: 'showSchedule', update: 'updateSchedule' }),

      /**
       * Map mutations
       */
      ...mapMutations('report', { clear: 'clearSchedule' }),

      /**
       * Validate form.
       *
       * @returns {*}
       */
      async validate () {
        const validMain = await this.$validateScope(this.scope);
        const validTag = await this.$refs['tagField'].validate();

        return validMain && validTag;
      },
    },
  }
</script>
