<template>
  <el-collapse-transition>
    <div
      v-if="!empty"
      class="pick-locations"
    >
      <div class="pick-locations__name">
        <span class="pick-locations__name-item item-location">{{ label }}</span>
      </div>
      <div class="pick-locations__content">
        <ul class="pick-locations__list">
          <transition-group name="el-zoom-in-top">
            <targeting-simple-item
              v-for="(item, index) in sortedValues"
              :key="item.value"
              :value="item"
              @input="newValue => { onInput(index, newValue) }"
              @remove="onRemove(index)"
            />
          </transition-group>
        </ul>
      </div>
    </div>
  </el-collapse-transition>
</template>

<script>
  import TargetingSimpleItem from './TargetingSimpleItem';
  import TargetingBase from '../TargetingBase';

  export default {
    /**
     * Name of the component.
     */
    name: "TargetingSimple",

    /**
     * Child components.
     */
    components: {
      TargetingSimpleItem,
    },

    /**
     * Extend component.
     */
    extends: TargetingBase
  };
</script>
