<template>
  <div class="payment-details">
    <div
      v-loading="getBillingDatePending"
      class="confirm-order"
    >
      <strong class="confirm-order__title text-label-xs-semibold-caps">
        {{ $trans('campaign::labels.campaign_summary') }}:
      </strong>
      <div class="confirm-order__list">
        <dl class="confirm-order__list--first">
          <!-- SUMMARY -->
          <dt>{{ $trans('campaign::labels.first_billing_date') }}</dt>
          <dd>
            <date
              :value="billingDate"
            />
          </dd>
        </dl>
        <p class="confirm-order__list-name">
          {{ $trans('labels.video_ad') }}
        </p>
        <dl>
          <!-- SUMMARY -->
          <dt>{{ name }}</dt>
          <dd />

          <dt>{{ $trans('labels.budget') }}</dt>
          <dd>
            <money v-model="cost" />
          </dd>

          <!-- DATES -->
          <dt>{{ $trans('labels.dates') }}</dt>
          <dd>
            <date-range
              :date-start="date.start"
              :date-end="date.end"
              :timezone="timezone"
            />
          </dd>

          <!-- IMPRESSIONS -->
          <dt>{{ $trans('labels.targeted_impressions') }}</dt>
          <dd><number v-model="impressions" /></dd>

          <!-- CPM -->
          <dt>{{ $trans('labels.cpm') }}</dt>
          <dd>
            <money v-model="cpm" />
          </dd>
        </dl>
      </div>
      <transition
        name="el-fade-in-linear"
        mode="out-in"
      >
        <div
          v-if="applied"
          class="confirm-order__list"
        >
          <p class="confirm-order__list-name">
            {{ $trans('labels.promocode') }}
          </p>
          <dl>
            <dt>
              <div class="promocode-tag">
                <el-tag
                  :closable="true"
                  :disable-transitions="false"
                  @close="removePromocode()"
                >
                  {{ promocode.code }}
                </el-tag>
              </div>
            </dt>
            <dd>
              <span
                v-if="promocode.type === 'PERCENTAGE'"
                class="text-danger"
              >
                - {{ promocode.discount }}%
              </span>
              <money
                v-else
                span-class="text-danger"
                :value="-promocode.discount_money"
              />
            </dd>
          </dl>
        </div>
      </transition>
      <div class="confirm-order__total">
        <ul class="confirm-order__total-list">
          <!-- TOTAL -->
          <li class="confirm-order__total-item">
            <span class="confirm-order__total-name">{{ $trans('labels.max_total') }}</span>
            <span class="confirm-order__total-cost">({{ $trans('labels.estimated_cost') }}):</span>
            <span class="confirm-order__total-value">
              <money
                v-model="total"
                :use-zero="true"
              />
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import DateRange from 'Foundation/components/formatters/DateRange';
import Date from "Foundation/components/formatters/Date";
import { mapState, mapActions } from 'vuex';
import { Money, Number } from 'Foundation/components/formatters';
import { mapFields } from "vuex-map-fields";

export default {
  /**
   * Name.
   */
  name: 'PaymentDetails',

  /**
   * Components.
   */
  components: { DateRange, Number, Money, Date },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Vuex (state).
     */
    ...mapState('wizard/budget', [
      'cost',
      'cpm',
      'impressions',
      'billingDate',
      'getBillingDatePending',
    ]),

    /**
     * Vuex (fields).
     */
    ...mapState('wizard/details', [
      'date',
      'name',
      'timezone',
    ]),

    /**
     * Vuex (fields).
     */
    ...mapState('wizard/promocode', [
      'applied',
      'promocode',
    ]),

    /**
     * Vuex (fields).
     */
    ...mapFields('wizard', { campaignId: 'id' }),

    /**
     * Total price.
     * @return Number
     */
    total () {
      const total = this.cost - this.promocode.discount_money;
      return total > 0 ? total : 0;
    },
  },

  /**
   * On mounted event
   */
  mounted() {
    this.$call(this.getBillingDate());
  },

  /**
   * Vuex (actions).
   */
  methods: {
    /**
     * Map actions.
     */
    ...mapActions('wizard/budget', [
      'getBillingDate',
    ]),
    ...mapActions('wizard/promocode', [
      'deletePromocode',
    ]),

    /**
     * Delete promocode.
     */
    async removePromocode () {
      await this.$call(this.deletePromocode(this.campaignId));
    }
  },
};
</script>
