<template>
  <div
    class="collapse-grid__col"
    :class="{'col-6' : isSingleColumn}"
  >
    <div class="collapse-grid__title">
      <small class="text-label-xxs">
        {{ item.title }}
      </small>
    </div>
    <div class="collapse-grid__content">
      <component
        :is="item.component"
        :value="item.value"
        v-bind="getBinding(item)"
      />
    </div>
  </div>
</template>

<script>
  import SidebarCost from "Modules/campaign/components/wizard/sidebar/items/SidebarCost";
  import SidebarItem from "Modules/campaign/components/wizard/sidebar/items/SidebarItem";
  import SidebarItemNumeric from "Modules/campaign/components/wizard/sidebar/items/SidebarItemNumeric";
  import SidebarDateRangeItem from "Modules/campaign/components/wizard/sidebar/items/SidebarDateRangeItem";
  import SidebarTargetingAudiences from "Modules/campaign/components/wizard/sidebar/items/SidebarTargetingAudiences";
  import SidebarTargetingLocations from "Modules/campaign/components/wizard/sidebar/items/SidebarTargetingLocations";
  import SidebarTargetingItem from "Modules/campaign/components/wizard/sidebar/items/SidebarTargetingItem";
  import SidebarTargetingIncludeItem
    from 'Modules/campaign/components/wizard/sidebar/items/SidebarTargetingIncludeItem';

  export default {
    /**
     * Name of the component.
     */
    name: "CampaignReviewItemWrapper",

    /**
     * Components
     */
    components: {
      SidebarCost,
      SidebarItem,
      SidebarItemNumeric,
      SidebarDateRangeItem,
      SidebarTargetingAudiences,
      SidebarTargetingLocations,
      SidebarTargetingItem,
      SidebarTargetingIncludeItem
    },

    /**
     * Props
     */
    props: {
      item: {
        type: Object,
        default () {
          return {
            title: '',
            value: '-',
            component: 'campaign-review-item'
          }
        }
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      isSingleColumn () {
        return this.item.singleColumn === undefined || !this.item.singleColumn;
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Returns object that is used in attributes binding for the item.
       * @param item
       * @returns {{}}
       */
      getBinding (item) {
        return item.value instanceof Object ? item.value : {};
      },
    },
  };
</script>
