<template>
  <div class="upload-progress">
    <modal
      class="upload-progress__modal"
      :visible="visible"
      :title="title"
      :show-buttons="false"
      :before-close="beforeClose"
      :center="true"
      :loading="loading"
      :body-loading="modalLoading"
      @close="close"
    >
      <p class="text-body-sm text-muted">
        {{ $trans('creative::messages.close_note') }}
      </p>
      <el-progress
        ref="uploader"
        :stroke-width="18"
        :percentage="uploadStats.percent"
      />
    </modal>
    <action-confirmation
      :visible.sync="showAbortModal"
      :title="$trans('creative::content.cancel-upload')"
      :submit-label="$trans('actions.yes')"
      :cancel-label="$trans('actions.no')"
      :warning-message="$trans('creative::content.cancel_file_warning')"
      @cancel="resume"
      @submit="abort"
    />
  </div>
</template>

<script>
  import Modal from "../../../../foundation/components/layout/modal/Modal";
  import ActionConfirmation from "Foundation/components/modals/ActionConfirmation";
  import Visible from 'Foundation/mixins/Visible';
  import {mapFields} from 'vuex-map-fields';

  /**
   * Delay before enabling progress bar transition that was disabled for resetting purposes (in milliseconds).
   */
  const DELAY_BEFORE_TRANSITION_ENABLING = 200;

  export default {

    /**
     * Component name
     */
    name: 'UploadCreative',

    /**
     * Used Components
     */
    components: {
      Modal,
      ActionConfirmation,
    },

    /**
     * Mixins
     */
    mixins: [
      Visible
    ],

    props: {
      /**
       * True if component should display loading state.
       */
      loading: {
        type: Boolean,
        default () {
          return false;
        },
      },

      /**
       * True if whole modal should be in loading state.
       */
      modalLoading: {
        type: Boolean,
        default () {
          return false;
        },
      },

      /**
       * Progress bar title.
       */
      title: {
        required: true,
        type: String,
      },
    },

    /**
     * Component data
     */
    data() {
      return {
        showAbortModal: false
      }
    },

    /**
     * Computed properties
     */
    computed: {
      ...mapFields('creative/evaporate', [
        'uploadStats'
      ]),
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Abort upload
       */
      abort() {
        this.close();
        this.$emit('abort');
      },

      resume() {
        this.$emit('resume');
      },

      /**
       * Show notification before close
       */
      beforeClose() {
        this.$emit('pause');
        this.showAbortModal = true;
      },

      /**
       * Reset progress bar state.
       * @param {*} uploadStats
       */
      resetProgress (uploadStats) {
        uploadStats.percent = 0;
        const progressEl = this.$refs.uploader.$el.querySelector('.el-progress-bar__inner');
        if (progressEl) {
          progressEl.classList.add('notransition');
          setTimeout(() => {
            progressEl.classList.remove('notransition');
          }, DELAY_BEFORE_TRANSITION_ENABLING);
        }
      },
    }
  }
</script>
