<template>
  <el-checkbox-group
    v-if="hasOptions"
    v-model="checkedOptions"
    class="checkbox-in-row devices-checkboxes"
  >
    <div
      v-for="option in mappedOptions"
      :key="option.value"
      class="device-checkbox"
    >
      <el-checkbox
        :label="option.label"
      >
        <div class="device-checkbox-wrap">
          <component :is="option.icon" />
          <div class="label">
            {{ option.label }}
            <info-tip
              low-zindex
              :description="option.description"
            />
          </div>
        </div>
      </el-checkbox>
    </div>
  </el-checkbox-group>
</template>

<script>
  import { find, kebabCase, map, filter } from 'lodash';
  import IconDeviceComputer from 'Foundation/components/icons/IconDeviceComputer';
  import IconDeviceLivingRoom from 'Foundation/components/icons/IconDeviceLivingRoom';
  import IconDeviceMobile from 'Foundation/components/icons/IconDeviceMobile';
  import InfoTip from 'Foundation/components/toolpip/InfoTip';
  import {mapState} from "vuex";

  export default {
    /**
     * Component name.
     */
    name: 'DeviceForm',

    /**
     * Components
     */
    components: {
      IconDeviceComputer,
      IconDeviceLivingRoom,
      IconDeviceMobile,
      InfoTip,
    },

    /**
     * Props.
     */
    props: {
      options: {
        required: true,
        type: [Array],
      },
      selected: {
        required: true,
        type: [Array],
      },
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * Vuex.
       */
      ...mapState('wizard/targeting', {
        minCountItems: 'minCountItems'
      }),

      /**
       * Check if there are options to show.
       * @returns {boolean}
       */
      hasOptions () {
        return this.mappedOptions && this.mappedOptions.length > 0;
      },

      /**
       * Selected options.
       */
      checkedOptions: {
        get: function () {
          return map(this.selected, (item) => item.label);
        },
        set: function (labels) {
          const selected = this.getOptionsByLabels(labels);
          this.$emit('selected', selected)
        }
      },

      /**
       * Options for rendering devices list.
       * @returns {Array}
       */
      mappedOptions () {
        const options = [];
        const availableOptions = this.$config.devices.groups;

        availableOptions.forEach((groupName) => {
          const option = this.getOptionByName(groupName);
          if (!option) {
            return;
          }
          const icon = this.getDeviceIcon(option.name);
          if (icon !== null) {
            options.push({
              ...option,
              icon: icon,
            });
          }
        });

        return options;
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Get icon component name.
       * @param name
       * @returns {string}
       */
      getDeviceIcon (name) {
        return `icon-device-${kebabCase(name)}`;
      },

      /**
       * Get option by name.
       * @param name
       * @returns {*}
       */
      getOptionByName (name) {
        return find(this.options, ['name', name]);
      },

      /**
       * @param labels
       * @returns {*}
       */
      getOptionsByLabels (labels) {
        return filter(this.options, (item) => labels.includes(item.label))
      },
    },
  };
</script>
