<template>
  <div class="order-popup__section order-popup__caption">
    <el-row :gutter="20">
      <el-col :span="16">
        <span class="text-label-xs-semibold-caps">{{ $trans('payment::labels.campaign_details') }}</span>
      </el-col>
      <el-col
        :span="8"
        class="text-right"
      >
        <status-cell
          :cell-value="paymentStatus"
        />
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="5">
        {{ $trans('labels.advertiser') }}:
      </el-col>
      <el-col :span="7">
        <span class="text-body-sm">{{ advertiser }}</span>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="5">
        {{ $trans('campaign::labels.campaign_title') }}:
      </el-col>
      <el-col :span="19">
        <span class="text-body-sm">{{ campaignTitle }}</span>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="5">
        {{ $trans('labels.submit_date') }}:
      </el-col>
      <el-col :span="19">
        <span class="text-body-sm">{{ displayOrderDate }}</span>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import StatusCell from 'App/modules/campaign/components/index/cells/TransactionStatusCell';
  import moment from 'moment';

  export default {
    /**
     * Name
     */
    name: "CampaignDetails",

    /**
     * Components
     */
    components: {
      StatusCell,
    },

    /**
     * Props
     */
    props: {
      /**
       * Id
       */
      id: {
        type: [String, Number],
        default: '',
      },

      /**
       * Advertiser
       */
      advertiser: {
        type: String,
        default: '',
      },

      /**
       * Campaign title.
       */
      campaignTitle: {
        type: String,
        default: '',
      },

      /**
       * Order's date.
       */
      orderDate: {
        type: String,
        default: '',
      },

      /**
       * Payment status.
       */
      paymentStatus: {
        type: String,
        default: '',
      },
    },

    /**
     * Computed props.
     */
    computed: {
      /**
       * Order date
       */
      displayOrderDate() {
        return moment(this.orderDate).format(this.$config.date.format.orderDate);
      },
    },
  };
</script>
