<template>
  <div class="order-popup__section order-popup__footer">
    <el-row :gutter="20">
      <el-col
        :span="5"
        :offset="14"
        class="text-right"
      >
        {{ $trans('payment::labels.paid_amount') }}:
      </el-col>
      <el-col
        :span="5"
        class="text-right"
      >
        <span class="text-body-md">
          <money
            :use-zero="true"
            :value="paidAmount"
          />
        </span>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="14">
        &nbsp;
      </el-col>
      <el-col
        v-if="dueAmount"
        :span="5"
        class="text-right"
      >
        {{ $trans('payment::labels.amount_due') }}:
      </el-col>
      <el-col
        v-if="dueAmount"
        :span="5"
        class="text-right text-danger"
      >
        <span class="text-body-md"><money :value="dueAmount" /></span>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import Money from 'Foundation/components/formatters/Money';

  export default {
    /**
     * Name
     */
    name: "TransactionDetailsFooter",

    /**
     * Components
     */
    components: {
      Money,
    },

    /**
     * Props
     */
    props: {
      /**
       * Paid amount.
       */
      paidAmount: {
        type: [String, Number],
        default: 0,
      },

      /**
       * Campaign payment method
       */
      dueAmount: {
        type: [String, Number],
        default: '',
      },
    },
  };
</script>
