<template>
  <div class="content-right">
    <clone
      v-if="canDuplicate"
      :campaign-id="campaignId"
    />
    <template v-if="displayControls">
      <download-report
        v-if="canDownloadReport"
        :campaign-id="campaignId"
      />
      <edit
        v-if="canEdit"
        :campaign-id="campaignId"
      />
      <remove
        v-if="canDelete"
        :campaign-id="campaignId"
        :campaign-status="campaignStatus"
        @removed="removeCampaign"
      />
    </template>
  </div>
</template>

<script>
  import Edit from './Actions/Edit';
  import Remove from './Actions/Remove';
  import DownloadReport from './Actions/DownloadReport';
  import { mapState } from 'vuex';
  import DeactivatedAdvertiser from 'Modules/advertiser/mixins/DeactivatedAdvertiser';
  import CampaignState from 'Modules/campaign/mixins/CampaignState';
  import Clone from "Modules/campaign/components/campaignDetails/Actions/Clone";

  export default {
    /**
     * Name of the component.
     */
    name: 'CampaignActions',

    /**
     * Child components.
     */
    components: {
      Edit,
      Remove,
      DownloadReport,
      Clone,
    },

    /**
     * Mixins.
     */
    mixins: [
      DeactivatedAdvertiser,
      CampaignState,
    ],

    /**
     * Computed props
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('details', [
        'campaign',
      ]),

      /**
       * True if template should be displayed.
       */
      displayControls () {
        return this.canEdit || this.canDelete || this.canDownloadReport;
      },

      /**
       * Campaign id.
       */
      campaignId () {
        return this.campaign.details.id;
      },

      /**
       * Campaign's status.
       */
      campaignStatus() {
        return this.campaign.details.status;
      },

      /**
       * Allow duplicate campaign.
       */
      canDuplicate () {
        return this.campaignStates.can_duplicate;
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Remove campaign.
       */
      removeCampaign () {
        this.$emit('removed', this.campaignId);
        this.close();
      },

      /**
       * Emit close event.
       */
      close () {
        this.$emit('close');
      },
    },
  };
</script>
