<template>
  <div
    class="budget-tooltip"
  >
    <span
      ref="budgetCode"
      class="budget-code"
    >
      {{ $trans('campaign::labels.code_applied') }}
      <div
        ref="promoTooltip"
        class="budget-tooltip__popover"
        :class="promoTooltipClass"
      >
        <p class="text-label-xs-semibold-caps">
          {{ promocodeName }}
        </p>
        <p><money v-model="campaign.details.budget" /></p>
        <p>-<money v-model="campaign.details.discount_money" /></p>
        <p class="total text-label-xs-semibold-caps">
          <money
            v-model="campaign.details.discounted_cost"
            :use-zero="true"
          />
        </p>
      </div>
    </span>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { debounce } from "lodash";
import Money from 'Foundation/components/formatters/Money';

export default {
  name: 'PromoCode',

  /**
   * Components.
   */
  components: {
    Money,
  },

  /**
   * Data attributes.
   */
  data () {
    return {
      promoTooltipClass: '',
    };
  },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Map state.
     */
    ...mapState('details', {
      campaign: 'campaign',
    }),

    /**
     * Promocode name.
     */
    promocodeName () {
      return this.campaign.details.promocode !== undefined && this.campaign.details.promocode ?
        this.campaign.details.promocode.code : "";
    },
  },

  /**
   * Watchers.
   */
  watch: {
    promocodeName () {
      this.setPromoTooltipClass();
    },
  },

  /**
   * "mounted" hook.
   */
  mounted () {
    this.setPromoTooltipClass();
    window.addEventListener('resize', this.setPromoTooltipClassDebounced);
  },

  /**
   * "beforeDestroy" hook.
   */
  beforeDestroy () {
    window.removeEventListener('resize', this.setPromoTooltipClassDebounced);
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Set the css-class for the promos tooltip.
     */
    setPromoTooltipClass () {
      if (!this.promocodeName || !this.$refs.budgetCode || !this.$refs.promoTooltip) {
        this.promoTooltipClass = '';
        return;
      }

      this.promoTooltipClass = this.doesElementFitScreen(
        this.$refs.budgetCode,
        this.$refs.promoTooltip,
      ) ? '' : 'is-right';
    },

    /**
     * Debounced version of setPromoTooltipClass method.
     */
    setPromoTooltipClassDebounced: debounce( function () { this.setPromoTooltipClass() }, 200),

    /**
     * Check if "relatedElement" isn't being cut by the windows frame.
     * @param baseElement
     * @param relatedElement
     * @return {boolean}
     */
    doesElementFitScreen (baseElement, relatedElement) {
      const windowWidth = window.innerWidth;
      const baseElementOffset = this.elementOffset(baseElement);
      const relatedElementWidth = relatedElement.offsetWidth;

      return windowWidth > (baseElementOffset + relatedElementWidth + 20);
    },

    /**
     * Get the left offset of the element (related to the window).
     * @param el
     * @return {*}
     */
    elementOffset (el) {
      const rect = el.getBoundingClientRect();
      const scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;
      return rect.left + scrollLeft;
    }
  },

}

</script>
