<template>
  <div class="details-item__header">
    <h3
      v-loading="loadStatisticPending"
      class="text-size-lg text-right"
    >
      <money v-model="cost" />
    </h3>
    <span class="text-label-xxs">
      {{ $trans('campaign::labels.total_spend') }}
    </span>
  </div>
</template>

<script>
  import Money from 'Foundation/components/formatters/Money';
  import { mapState } from 'vuex';

  export default {
    /**
     * Component name.
     */
    name: 'TotalCost',

    /**
     * Components.
     */
    components: {
      Money,
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('metrics', {
        loadStatisticPending: 'loadStatisticPending',
        cost: state => state.campaignStatistic.cost,
      }),
    },
  };
</script>
