<template>
  <modal
    :loading="updatePersonalPending"
    :title="$trans('labels.update_personal_information')"
    :visible="visible"
    :submit-disabled="submitDisabled"
    :custom-class="'el-dialog--actions-column-reverse'"
    :width="'688px'"
    @cancel="close"
    @close="close"
    @submit="submit"
  >
    <el-form
      ref="form"
      :model="form"
    >
      <text-field
        ref="firstName"
        v-model="form.firstName"
        :label="$trans('labels.first_name')"
        :placeholder="$trans('labels.placeholder_first_name')"
        :validation="validationRules.user.first_name"
        name="first_name"
        size="medium"
        validate-on="none"
        @input="onFormChange"
      />
      <text-field
        ref="lastName"
        v-model="form.lastName"
        :label="$trans('labels.last_name')"
        :placeholder="$trans('labels.placeholder_last_name')"
        :validation="validationRules.user.last_name"
        name="last_name"
        size="medium"
        validate-on="none"
        @input="onFormChange"
      />
    </el-form>
  </modal>
</template>

<script>
  import Visible from 'Foundation/mixins/Visible';
  import { TextField } from 'Foundation/components/form';
  import { mapActions, mapState } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import { Modal } from 'Foundation/components/layout/modal';

  export default {
    /**
     * Name of the component.
     */
    name: "PersonalInfoModal",

    /**
     * Child components.
     */
    components: {
      Modal,
      TextField,
    },

    /**
     * Mixins.
     */
    mixins: [
      Visible,
    ],

    /**
     * Reactive data.
     *
     * @returns {{form: {name: null, email: null, password: null}}}
     */
    data () {
      return {
        form: {
          firstName: null,
          lastName: null,
        },
        submitDisabled: true,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map fields.
       */
      ...mapFields('profile', {
        firstName: 'user.firstName',
        lastName: 'user.lastName',
      }),

      /**
       * Map state.
       */
      ...mapState('profile', [
        'updatePersonalPending',
      ]),
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Component visibility.
       *
       * @param visible
       */
      visible (visible) {
        if (visible) {
          this.loadFromState();
        }
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex.
       */
      ...mapActions('profile', [
        'updatePersonalInfo',
      ]),

      /**
       * On form change
       */
      onFormChange () {
        this.submitDisabled = false;
      },

      /**
       * Update internal form data from state.
       */
      loadFromState () {
        this.form.firstName = this.firstName;
        this.form.lastName = this.lastName;
      },

      /**
       * Update vuex state.
       */
      updateState () {
        this.firstName = this.form.firstName;
        this.lastName = this.form.lastName;
        this.submitDisabled = true;
      },

      /**
       * Submit the form.
       *
       * @returns {Promise<void>}
       */
      async submit () {
        const validated = await this.$validateScope();

        if (!validated) {
          return;
        }

        this.$call(this.updatePersonalInfo(this.form)).then(() => {
          this.updateState();
          this.close();
        }).catch(() => {});
      },
    },
  };
</script>
