<template>
  <div
    class="el-collapse-item"
    :class="{'is-active': isActive, 'is-disabled': disabled }"
  >
    <div
      role="tab"
      :aria-expanded="isActive"
      :aria-controls="`el-collapse-content-${id}`"
      :aria-describedby="`el-collapse-content-${id}`"
    >
      <div
        :id="`el-collapse-head-${id}`"
        class="el-collapse-item__header"
        role="button"
        :tabindex="disabled ? undefined : 0"
        :class="{
          'focusing': focusing,
          'is-active': isActive
        }"
        @keyup.space.enter.stop="handleEnterClick"
        @focus="handleFocus"
        @blur="focusing = false"
      >
        <slot name="title">
          {{ title }}
        </slot>
        <div
          class="dropdown-checkbox__control"
          :class="{'is-active': isActive}"
          role="button"
          @click="handleHeaderClick"
        >
          <div
            class="default-accordion__icon"
          >
            <icon-chevron-up />
          </div>
        </div>
      </div>
    </div>
    <el-collapse-transition>
      <div
        v-show="isActive"
        :id="`el-collapse-content-${id}`"
        class="el-collapse-item__wrap"
        role="tabpanel"
        :aria-hidden="!isActive"
        :aria-labelledby="`el-collapse-head-${id}`"
      >
        <div class="el-collapse-item__content">
          <slot />
        </div>
      </div>
    </el-collapse-transition>
  </div>
</template>

<script>
  import { CollapseItem } from 'element-ui';
  import IconChevronUp from 'Foundation/components/icons/IconChevronUp';

  export default {
    /**
     * Component name.
     */
    name: "CollapseItem",

    /**
     * Components.
     */
    components: {IconChevronUp},

    /**
     * Extend.
     */
    extends: CollapseItem
  }

</script>

