<template>
  <layout-main menu="campaigns">
    <transition
      name="el-fade-in-linear"
      mode="out-in"
    >
      <router-view ref="page" />
    </transition>
  </layout-main>
</template>

<script>
  import LayoutMain from 'Foundation/layouts/LayoutMain';

  export default {
    /**
     * Name
     */
    name: 'TheIndex',

    /**
     * Components
     */
    components: {
      LayoutMain,
    },
  };
</script>
