<template>
  <div class="create-password">
    <div class="create-password__holder">
      <div class="create-password__title">
        <h3>{{ $trans('auth::labels.welcome') }}</h3>
        <p>{{ $trans('auth::labels.to_finish') }}</p>
      </div>
      <div
        v-if="canShowInfoBlock"
        class="d-flex info-block"
      >
        <div class="info-block__item">
          <div
            v-if="canShowUserName"
            class="block"
          >
            <p class="text-label-xxs">
              {{ $trans('auth::labels.user_name') }}
            </p>
            <p>{{ userName }}</p>
          </div>
          <div
            v-if="canShowEmail"
            class="block"
          >
            <p class="text-label-xxs">
              {{ $trans('auth::labels.user_email') }}
            </p>
            <p>{{ email }}</p>
          </div>
        </div>
        <div class="info-block__item">
          <div
            v-if="canShowCompanyName"
            class="block"
          >
            <p class="text-label-xxs">
              {{ $trans('auth::labels.business_name') }}
            </p>
            <p>{{ companyName }}</p>
          </div>
          <div
            v-if="canShowBusinessAddress"
            class="block"
          >
            <p class="text-label-xxs">
              {{ $trans('auth::labels.business_address') }}
            </p>
            <p>
              {{ companyAddressLine1 }}
              {{ companyAddressLine2 }}
              <br>
              {{ userCity }}
            </p>
          </div>
        </div>
      </div>
      <el-form @submit.prevent.native="onSubmit(pending)">
        <div class="d-flex">
          <password-field
            ref="new_password"
            v-model="rawNewPassword"
            :label="$trans('labels.password')"
            :disabled="pending"
            :scope="passwordScope"
            :validation="validation.password"
            name="new_password"
            size="medium"
            @enter="onSubmit(pending)"
          />
          <password-field
            ref="new_password_confirmation"
            v-model="rawNewPasswordConfirmation"
            :label="$trans('labels.repeat_password')"
            :scope="passwordScope"
            :validation="validation.password"
            name="new_password_confirmation"
            size="medium"
            @enter="onSubmit(pending)"
          />
        </div>

        <!-- PASSWORD VALIDATION -->
        <password-validation :password="rawNewPassword" />

        <div class="desc">
          <p>{{ $trans('auth::labels.by_creating_account') }}</p>
          <p v-html="$trans('auth::labels.by_clicking', {link1: $config.general.links.terms_of_use, link2: $config.general.links.privacy_policy})" />
        </div>

        <el-button
          v-loading="pending"
          :disabled="disableButton"
          type="default"
          class="create-password__submit"
          @click="onSubmit(pending)"
        >
          {{ $trans('auth::labels.get_started') }}
        </el-button>
      </el-form>
    </div>
  </div>
</template>

<script>
  import PasswordValidation from './PasswordValidation';
  import UpdatePassword from 'Modules/auth/mixins/UpdatePassword';
  import { mapActions, mapState, mapMutations } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import { PasswordField } from 'Foundation/components/form';
  import Form from 'Foundation/mixins/Form';
  import { isEmpty, isNull } from 'lodash';

  export default {
    /**
     * Name of the component.
     */
    name: "CreatePasswordForm",

    /**
     * Child components.
     */
    components: {
      PasswordField,
      PasswordValidation,
    },

    /**
     * Mixins.
     */
    mixins: [
      UpdatePassword,
      Form
    ],

    /**
     * Component data.
     */
    data () {
      return {
        beforeRedirect: false,
        action: this.submit,
        companyAddressCity: null,
        companyAddressLine1: null,
        companyAddressLine2: null,
        companyAddressState: null,
        companyAddressZip: null,
        companyName: null,
        email: null,
        userFirstName: null,
        userLastName: null,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map fields.
       */
      ...mapFields('createPassword', {
        newPassword: 'form.password',
        newPasswordConfirmation: 'form.passwordConfirmation',
      }),

      /**
       * Map state.
       */
      ...mapState('createPassword', [
        'createPasswordPending',
        'firstLoginPending',
        'loggedUser'
      ]),

      /**
       * Map state.
       */
      ...mapState('login', [
        'user',
      ]),

      /**
       * Form is pending
       *
       * @returns boolean
       */
      pending () {
        return this.createPasswordPending || this.firstLoginPending || this.beforeRedirect;
      },

      /**
       * Disable submit button.
       */
      disableButton () {
        if (!this.rawNewPassword.length || !this.rawNewPasswordConfirmation.length) {
          return true;
        }

        return this.pending;
      },

      /**
       * User name.
       */
      userName () {
        return this.userFirstName + ' ' + this.userLastName;
      },

      /**
       * User's city.
       */
      userCity () {
        return this.companyAddressCity + ', ' + this.companyAddressState + ' ' + this.companyAddressZip;
      },

      /**
       * Show user name block
       */
      canShowUserName () {
        return this.isNonEmptyString(this.userFirstName) || this.isNonEmptyString(this.userLastName);
      },

      /**
       * Show company name block
       */
      canShowCompanyName () {
        return this.isNonEmptyString(this.companyName);
      },

      /**
       * Show business address block
       */
      canShowBusinessAddress () {
        return this.isNonEmptyString(this.companyAddressLine1) ||
          this.isNonEmptyString(this.companyAddressLine2) ||
          this.isNonEmptyString(this.companyAddressCity) ||
          this.isNonEmptyString(this.companyAddressState) ||
          this.isNonEmptyString(this.companyAddressZip);
      },

      /**
       * Show email block
       */
      canShowEmail () {
        return this.isNonEmptyString(this.email);
      },

      /**
       * Show info block
       */
      canShowInfoBlock () {
        return this.canShowEmail ||
          this.canShowBusinessAddress ||
          this.canShowCompanyName ||
          this.canShowUserName;
      }
    },

    /**
     * Created hook.
     */
    created () {
      this.validateOnInput = true;
    },

    /**
     * Mounted.
     */
    mounted() {
      this.applyRouteParams();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Map actions.
       */
      ...mapActions('createPassword', [
        'cognitoCreatePassword',
        'firstLogin'
      ]),

      /**
       * Map mutations.
       */
      ...mapMutations('createPassword', [
        'resetPasswords'
      ]),

      ...mapMutations('login', [
        'resetLoginFields'
      ]),

      /**
       * Close the form.
       */
      close () {
        this.$emit('close');
      },

      /**
       * @returns {Promise<boolean>}
       */
      validateForm () {
        return Promise.all([
          this.validateNewPassword(this.$trans('auth::labels.password_must_meet')),
          this.validateNewPasswordConfirmation(),
        ]).then(results => {
          return results.filter(result => result).length === 2;
        });
      },

      /**
       * Submit the form.
       *
       * @returns {Promise<void>}
       */
      async submit () {
        const validated = await this.validateForm();

        if (!validated) {
          return;
        }

        try {
          await this.cognitoCreatePassword(this.user);
        } catch (err) {
          if (err.code === 'NotAuthorizedException') {
            this.$notify.error({
              message: this.$trans('auth.cognito_session'),
            });

            this.resetPasswords();
            this.resetLoginFields();

            this.$emit('first-login');
          } else {
            this.$log('Fail cognito create password', err);
          }
          return;
        }

        await this.$call(this.firstLogin(this.loggedUser), { notify: false, muteException: true })
          .then(({ data }) => {
            this.beforeRedirect = true;
            this.$redirect(data.redirect);
          })
          .catch(() => {
            this.$refs.new_password.addError(this.$trans('messages.failed_set_password'));
          })
      },

      /**
       * Apply get params.
       */
      async applyRouteParams () {
        const queryParams = this.$route.query;

        const mappedParams = [
          'companyAddressCity',
          'companyAddressLine1',
          'companyAddressLine2',
          'companyAddressState',
          'companyAddressZip',
          'companyName',
          'email',
          'userFirstName',
          'userLastName',
        ];

        mappedParams.forEach((item) => {
          this[item] = this.isNonEmptyString(queryParams[item]) ? queryParams[item] : '';
        });
      },

      /**
       * Check is not null string.
       * @param value
       * @return {boolean}
       */
      isNonEmptyString (value) {
        return !isEmpty(value) && !isNull(value) && value !== 'null';
      }
    },
  };
</script>
