<template>
  <layout-main menu="advertisers">
    <transition
      name="el-fade-in-linear"
      mode="out-in"
    >
      <router-view
        :id="id"
        :index-route="indexRoute"
      />
    </transition>
  </layout-main>
</template>

<script>
  import LayoutMain from 'Foundation/layouts/LayoutMain';
  import Id from 'Foundation/mixins/Id';

  export default {
    /**
     * Name
     */
    name: 'TheShow',

    /**
     * Components
     */
    components: {
      LayoutMain,
    },

    /**
     * Mixins.
     */
    mixins: [
      Id,
    ],

    /**
     * Computed.
     */
    computed: {
      /**
       * Default index route.
       */
      indexRoute () {
        return {
          name: 'show.campaigns',
          params: {
            userId: this.id,
          },
        };
      }
    },
  };
</script>
