.stylemap {
  margin: 0 auto;
  padding: 0 25px;

  &__section {
    margin-bottom: 60px;
  }

  &__title {
    margin: 45px 0 25px;
    border-left: 2px solid var(--color-text-med);
    padding-left: 5px;
  }

  &__icons {
    .text-label-sm {
      display: block;
      margin-bottom: 15px;
    }

    &-wrap {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    background-color: var(--border-color-base);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    margin-bottom: 3px;

    svg {
      width: 30px;
      height: 30px;
      margin: 0;
    }

    .icon-chat-bubble {
      stroke: var(--color-text-med);
    }
  }

  &-type {
    &__row {
      padding: 25px 5px;
      border-bottom: 1px solid var(--color-text-sm-low);

      div {
        color: var(--color-text-high);
      }

      span,
      strong {
        user-select: all;
        color: var(--color-text-sm-low);
      }
    }
  }

  &-buttons {
    &__row {
      h3 {
        margin: 25px 0;
      }
    }
  }

  &-inputs {
    &__row {
      margin: 25px 0;
    }

    .text-label-sm {
      display: block;
      margin-bottom: 15px;
    }
  }

  &-components {
    &__row {
      margin: 25px 0;

      .campaign-sidebar {
        position: relative;
        left: auto;
      }
    }

    .text-label-sm {
      display: block;
      margin: 20px 0;
    }
  }

  &-popups {
    &__item {
      position: relative;
      margin-bottom: 20px;

      .el-button {
        width: 300px;
      }
    }
  }
}

.mockups-home {
  a {
    &:hover {
      color: lighten(#000, 10%);
    }
  }
}

.btn-block {
  width: 100%;

  & + .btn-block {
    margin: 16px 0 0;
  }
}

.color-system {
  display: flex;
  align-items: flex-start;
  text-align: center;

  &__col {
    border: 1px solid black;

    &:not(:last-of-type) {
      margin-right: 1px;
    }
  }

  .title {
    user-select: text;
    border-bottom: 1px solid black;
    padding: 8px;
  }

  .box {
    min-width: 120px;
    height: 40px;

    &:not(:last-of-type) {
      margin-bottom: 1px;
    }
  }
}

.font-size-parameters {
  dl {
    display: grid;
    grid-template-columns: 120px 1fr;
    color: var(--color-text-sm-low);
  }

  dt {
    font-weight: 500;
    margin-bottom: 3px;
  }

  dd {
    padding-left: 12px;
    margin-left: 0;
    color: var(--color-text-lg-low);
  }

  .font-size {
    display: none;

    &--global {
      display: block;
    }

    &--xl {
      @media only screen and (min-width: 1600px) {
        display: block;
      }
    }

    &--lg {
      @media only screen and (min-width: 1025px) {
        display: block;
      }

      @media only screen and (min-width: 1600px) {
        display: none;
      }
    }

    &--md {
      @media only screen and (min-width: 769px) {
        display: block;
      }

      @media only screen and (min-width: 1025px) {
        display: none;
      }
    }

    &--sm {
      @media only screen and (min-width: 376px) {
        display: block;
      }

      @media only screen and (min-width: 769px) {
        display: none;
      }
    }

    &--xs {
      display: block;

      @media only screen and (min-width: 376px) {
        display: none;
      }
    }
  }
}

/*
 * Grid for Single page layout (demo)
 */
//Variables
$--grid-columns: 12;
$--grid-gap: 24px;

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$--grid-gap/2;
  margin-left: -$--grid-gap/2;
}

.col {
  padding: 0 $--grid-gap/2;
  flex: 0 0 100%;
  max-width: 100%;
}
/*
 * Single page layout (demo)
 */
$--sp-header-height: 72px;
$--sp-transition: .3s ease-in-out;

.sp-wrapper {
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-offset90);
}

.sp-header {
  display: flex;
  align-items: center;
  height: $--sp-header-height;
  padding: 24px;
  background-color: var(--bg-offset90);
}

.sp-main {
  transform-origin: center;
  transition: transform $--sp-transition;
  background-color: var(--bg-offset90);
  border-radius: 12px;
  overflow: hidden;

  &.zoomed {
    transform: scale(.95);
  }
}

.sp-row {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.sp-column {
  background-color: var(--bg-base);
  flex-grow: 1;
  max-width: 100%;
  width: 0;
  transition: all $--sp-transition;
  z-index: 1;

  @for $i from 1 through $--grid-columns {
    &.sp-col-#{$i} {
      flex-basis: #{$i / $--grid-columns * 100%};
      flex-grow: 0;

      &.is-fixed {
        width: #{$i / $--grid-columns * 100%};

        &:before {
          opacity: 1;
          visibility: visible;
        }
      }

      &.border-right {
        box-shadow: inset -1px 0 0 var(--fg-offset85);
      }

      &.border-left {
        box-shadow: 0 4px 24px -10px rgba(66, 73, 87, .5);
      }
    }
  }

  &.sp-col-collapsed {
    flex: 0 0 0;
  }

  &.sp-col-wide {
    flex: 1 0 100%;
  }


  &__track {
    @extend %custom-scrollbar;
    height: calc(100vh - #{$--sp-header-height});
    overflow: auto;
    margin-right: 8px;
  }

  &__inner {
    padding: 8px;
  }

  &.is-fixed {
    position: fixed;
    right: 0;
    top: $--sp-header-height;
    bottom: 0;
    border-radius: 12px;

    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      width: 100vw;
      background-color: rgba(#000, .3);
      opacity: 0;
      visibility: hidden;
      transition: all $--sp-transition;
    }
  }
}

.bg-light {
  background-color: var(--bg-base);
}
