<template>
  <layout-main menu="reports">
    <div class="page">
      <div class="page__header">
        <h1>{{ $trans('report::labels.reports') }}</h1>
        <el-button
          slot="button"
          type="default"
          @click="reportModalVisible = true"
        >
          {{ $trans('report::messages.create_report') }}
        </el-button>
      </div>
      <div class="page__holder level-negative-1">
        <report-table
          ref="table"
          @create="reportModalVisible = true"
          @edit="showEdit"
        />
      </div>
    </div>
    <report-modal
      v-if="reportModalVisible"
      :current-id.sync="currentId"
      :active-tab-prop.sync="currentType"
      @close="close"
      @created="refreshDataTable"
    />
  </layout-main>
</template>

<script>
  import LayoutMain from 'Foundation/layouts/LayoutMain';
  import ReportTable from '../components/index/ReportTable';
  import ReportModal from "Modules/report/components/modals/ReportModal";

  export default {
    /**
     * Name
     */
    name: 'TheIndex',

    /**
     * Components
     */
    components: {
      LayoutMain,
      ReportTable,
      ReportModal,
    },

    /**
     * Component data
     */
    data () {
      return {
        reportModalVisible: false,
        currentType: 'scheduled',
        currentId: null,
      }
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Component methods
       */
      refreshDataTable () {
        this.$refs['table'].refresh()
      },

      /**
       * On modal close
       */
      close () {
        this.reportModalVisible = false;
        this.currentType = 'scheduled';
        this.currentId = null;
        this.$pushRoute({
          name: `reports.index`,
        });
      },

      /**
       * Show edit
       */
      showEdit (id, type) {
        this.currentId = id;
        this.currentType = type;
        this.reportModalVisible = true;
      },
    }
  };
</script>
