<template>
  <el-row>
    <el-col :span="24">
      <el-card
        class="box-card profile-card"
      >
        <h2>Billing</h2>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
  export default {
    /**
     * Name of the component.
     */
    name: "BillingTab",
  };
</script>
