<template>
  <modal
    :visible="innerVisible"
    :body-loading="loading"
    :title="modalTitle"
    :submit-label="submitLabel"
    :cancel-label="cancelLabel"
    :custom-class="'change-status'"
    :width="'488px'"
    @close="close"
    @cancel="close"
    @submit="onSubmit"
  >
    <div class="change-status__content">
      <p class="text-body-sm">
        {{ modalContent }}
      </p>
      <p class="text-body-sm black-text-muted">
        {{ modalDescription }}
      </p>
    </div>
  </modal>
</template>

<script>
  import { Modal } from 'Foundation/components/layout/modal';

  export default {
    /**
     * Name
     */
    name: 'ConfirmDialog',

    /**
     * Components
     */
    components: {
      Modal,
    },

    /**
     * Props
     */
    props: {
      /**
       * Dialog visible
       */
      visible: {
        type: Boolean,
        default: false,
      },

      /**
       * Type dialog
       */
      type: {
        type: String,
        default: '',
      },

      /**
       * Switch loading
       */
      loading: {
        type: Boolean,
        default: false,
      },

      /**
       * Custom submit label
       */
      submitName: {
        type: String,
        default: '',
      }
    },

    /**
     * Data
     * @returns {{innerVisible: boolean}}
     */
    data () {
     return {
       innerVisible: false,
     }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Title in the modal
       */
      modalTitle() {
        return this.$trans(`campaign::messages.${this.type}.title`);
      },

      /**
       * Content in the modal
       */
      modalContent() {
        return this.$trans(`campaign::messages.${this.type}.content`);
      },

      /**
       * Description in the modal
       */
      modalDescription() {
        return this.$trans(`campaign::messages.${this.type}.description`);
      },

      /**
       * Submit button label
       */
      submitLabel() {
        if (this.submitName) {
          return this.submitName;
        }

        return this.type === 'cancel' ? this.$trans('actions.yes') : this.$trans('actions.pause');
      },

      /**
       * Cancel button label
       */
      cancelLabel() {
        return this.type === 'cancel' ? this.$trans('actions.no') : this.$trans('actions.cancel');
      },
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Modal visible
       * @param value
       */
      visible (value) {
        this.innerVisible = value;
      }
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Close emit.
       */
      close () {
        this.$emit('close');
      },

      /**
       * Submit method
       */
      onSubmit () {
        this.$emit('submit')
      },
    }
  };
</script>

