<template>
  <div class="el-form-item" :class="{ 'is-error': hasError }">
    <input
      v-model="innerValue"
      v-validate="validationRules"
      type="hidden"
      :data-vv-as="validateAs"
      :data-vv-scope="scope"
      :name="name"
    >
    <re-captcha-field
      id="advertiser-captcha"
      :sitekey="$settings('sigma.re_captcha.site_key')"
      :response.sync="innerValue"
    >
    </re-captcha-field>
    <div
      v-if="hasError"
      class="el-form-item__error"
    >
      {{ errorText }}
    </div>
  </div>
</template>

<script>
  import ReCaptchaField from 'Sigma/recaptcha/src/resources/assets/js/app/modules/recaptcha/components/ReCaptcha';
  import Validation from './mixins/Validation';

  export default {
    /**
     * Component name.
     */
    name: 'Captcha',

    /**
     * Dependency injection.
     */
    inject: ['$validator'],

    /**
     * Mixins.
     */
    mixins: [
      Validation,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Native 'name' attribute.
       */
      name: {
        type: String,
        required: true,
      },
    },

    /**
     * Data.
     */
    data () {
      return {
        innerValue: '',
      };
    },
    /**
     * Computed.
     */
    computed: {
      /**
       * Label.
       */
      label () {
        return this.$trans('words.captcha');
      },
    },

    /**
     * Watch.
     */
    watch: {
      /**
       * Inner value watcher.
       */
      innerValue (value) {
        this.$emit('input', value);
      },
    },

    /**
     * Components
     */
    components: {
      ReCaptchaField,
    },
  };
</script>
