<template>
  <el-checkbox
    v-model="innerValue"
    v-validate="validationRules"
    :border="border"
    :checked="checked"
    :data-vv-as="validateAs"
    :data-vv-scope="scope"
    :disabled="disabled"
    :false-label="falseLabel"
    :indeterminate="indeterminate"
    :name="name"
    :size="size"
    :true-label="trueLabel"
    :label="label"
    @change="$emit('change')"
  >
    <slot />
    <div
      v-if="hasError"
      class="el-form-item__error"
    >
      {{ errorText }}
    </div>
  </el-checkbox>
</template>

<script>
  import BaseProperties from './mixins/BaseProperties';
  import Input from './mixins/Input';
  import Validation from './mixins/Validation';

  export default {
    /**
     * Component name.
     */
    name: 'Checkbox',

    /**
     * Validation.
     */
    mixins: [
      BaseProperties,
      Input,
      Validation,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Should checkbox be bordered.
       */
      border: {
        type: Boolean,
        default: false,
      },
      /**
       * Is checked by default.
       */
      checked: {
        type: Boolean,
        default: false,
      },
      /**
       * Is disabled.
       */
      disabled: {
        type: Boolean,
        default: false,
      },
      /**
       * Value of checkbox while unchecked.
       */
      falseLabel: {
        type: [String, Number],
        default: null,
      },
      /**
       * Same as 'indeterminate' native attribute.
       */
      indeterminate: {
        type: Boolean,
        default: false,
      },
      /**
       * Same as 'name' native attribute.
       */
      name: {
        type: String,
        required: true,
      },
      /**
       * Value of checkbox while checked.
       */
      trueLabel: {
        type: [String, Number],
        default: null,
      },
      /**
       * Size of checkbox.
       */
      size: {
        type: String,
        default: null,
        validator (value) {
          return [
            'medium', 'small', 'mini',
          ].includes(value);
        },
      },
      /**
       * Value.
       */
      label: {
        type: [String, Number, Boolean],
        default () {
          return '';
        },
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Internal value
       */
      innerValue: {
        get () {
          return this.value;
        },
        set (value) {
          this.$emit('input', !value ? null : value); // Convert all `false` values to null. For `required` validation.
        },
      },
    },
  };
</script>
