<template>
  <div
    class="el-form-item"
  >
    <label
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <div class="el-form-item__content">
      <div
        :class="{ 'is-error': hasError, 'is-filled': isFilled }"
      >
        <el-date-picker
          v-model="innerValue"
          :placeholder="placeholder"
          :disabled="disabled"
          :format="format"
          :picker-options="pickerOptions"
          type="date"
          align="left"
        />
        <div
          v-if="hasError"
          class="el-form-item__error"
        >
          {{ errorText }}
        </div>
        <div
          v-if="hasDescription"
          class="text-muted"
        >
          {{ description }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Input from './mixins/Input';
  import InputProperties from './mixins/InputProperties';
  import Validation from './mixins/Validation';
  import {DatePicker} from 'element-ui';

  export default {
    /**
     * Name of the component.
     */
    name: 'DateField',

    /**
     * Extended component.
     */
    extends: DatePicker,

    /**
     * Mixins.
     */
    mixins: [
      Input,
      InputProperties,
      Validation,
    ],

    props: {
      placeholder: {
        type: String,
        default: '',
      },

      name: {
        type: String,
        default: '',
      },

      format: {
        type: String,
        default: 'MM/dd/yyyy',
      },

      label: {
        type: String,
        default: '',
      },

      /**
       * Size of input.
       */
      size: {
        type: String,
        default: null,
        validator (value) {
          return [
            'mini', 'small', 'medium',
          ].includes(value);
        },
      },

      /**
       * Input description.
       */
      description: {
        type: String,
        default: '',
      }
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * Has description.
       */
      hasDescription () {
        return Boolean(this.description.length)
      }
    }
  };
</script>
