<template>
  <div
    :class="{ 'is-error': hasError, 'is-filled': isFilled }"
  >
    <el-date-picker
      v-if="useNativePicker"
      v-model="innerValue"
      :data-vv-as="validateAs"
      :data-vv-name="name"
      :data-vv-scope="scope"
      :align="align"
      :end-placeholder="$trans('labels.end_date')"
      :format="format"
      :name="name"
      :disabled="disabled"
      :picker-options="pickerOptions"
      :range-separator="rangeSeparator"
      :start-placeholder="$trans('labels.start_date')"
      :validation="validation"
      type="daterange"
    />
    <base-date-range
      v-else
      v-model="innerValue"
      :data-vv-as="validateAs"
      :data-vv-name="name"
      :data-vv-scope="scope"
      :align="align"
      :end-placeholder="$trans('labels.end_date')"
      :format="format"
      :name="name"
      :disabled="disabled"
      :picker-options="pickerOptions"
      :show-dates-shifter="showDatesShifter"
      :pretty-format="prettyFormat"
      :range-separator="rangeSeparator"
      :start-placeholder="$trans('labels.start_date')"
      :validation="validation"
      type="daterange"
      @closed="$emit('closed')"
    />
    <div
      v-if="hasError"
      class="el-form-item__error"
    >
      {{ errorText }}
    </div>
    <div
      v-if="hasDescription"
      class="text-muted"
    >
      {{ description }}
    </div>
  </div>
</template>

<script>
  import Input from './mixins/Input';
  import InputProperties from './mixins/InputProperties';
  import Validation from './mixins/Validation';
  import BaseDateRange from 'Foundation/components/form/extend/BaseDateRange';
  import { fetchDate } from 'Foundation/helpers/date-time';

  export default {
    /**
     * Name of the component.
     */
    name: "DateRangeField",

    /**
     * Child components.
     */
    components: {
      BaseDateRange
    },

    /**
     * Mixins.
     */
    mixins: [
      Input,
      InputProperties,
      Validation,
    ],

    /**
     * Properties.
     */
    props: {
      /**
       * Additional options.
       */
      pickerOptions: {
        type: Object,
        default () {
          return {};
        },
      },

      /**
       * Use element-ui date range picker.
       */
      useNativePicker: {
        type: Boolean,
        default () {
          return true;
        },
      },

      /**
       * Calendars panel alignment (possible values: left|center|right).
       */
      align: {
        type: String,
        default: 'left'
      },

      /**
       * Separator between the start and the end dates.
       */
      rangeSeparator: {
        type: String,
        default: '',
      },

      /**
       * Verify if dates-shifter over each date-input should be shown.
       */
      showDatesShifter: {
        type: Boolean,
        default: false,
      },

      /**
       * Dates format to show input's value when input is unfocused, otherwise native format (this.format) will be applied.
       * NOTE: Unlike the native format prettyFormat uses moment.js display tokens (https://momentjs.com/docs/#/displaying/)
       */
      prettyFormat: {
        type: String,
        default: '',
      },

      /**
       * Input description.
       */
      description: {
        type: String,
        default: '',
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Format for date displaying.
       */
      format () {
        return this.$config.date.format.element_datepicker_format;
      },

      /**
       * Internal value
       */
      innerValue: {
        /**
         * Getter.
         */
        get: function () {
          return this.useNativePicker ? this.getInnerValueNative() : this.getInnerValue();
        },

        /**
         * Setter.
         */
        set: function (value) {
          this.$emit('input', {
            start: value && value[0],
            end: value && value[1],
          });
        },
      },

      /**
       * True if input is filled.
       *
       * @returns {boolean}
       */
      isFilled () {
        return !!(this.innerValue && this.innerValue.length);
      },

      /**
       * Has description.
       */
      hasDescription () {
        return Boolean(this.description.length)
      }
    },

    /**
     * Created hook.
     */
    created () {
      this.attachField();
    },

    /**
     * Destroyed hook.
     */
    destroyed () {
      this.detachField();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Attach field to validator.
       */
      attachField () {
        this.$validator.attach({
          name: this.name,
          scope: this.scope,
          rules: this.validation,
          getter: () => {
            return this.innerValue;
          },
        });
      },

      /**
       * Detach field from validator.
       */
      detachField () {
        this.$validator.detach(this.name, this.scope);
      },

      /**
       * Get inner value for native date-range picker
       * @returns {Array}
       */
      getInnerValueNative () {
        // Assume that if start date is null then both dates are not set.
        if (!this.value.start) {
          return [];
        }

        if (!this.value.end) {
          return [fetchDate(this.value.start)];
        }

        return [
          fetchDate(this.value.start),
          fetchDate(this.value.end),
        ];
      },

      /**
       * Get inner value for custom date-range picker
       * @returns {Array}
       */
      getInnerValue () {
        return [
          fetchDate(this.value.start),
          fetchDate(this.value.end),
        ];
      },
    },
  };
</script>
