<template>
  <div
    class="el-form-item"
    :class="{ 'is-error': hasError, 'is-filled': isFilled }"
  >
    <label
      v-if="showLabel"
      :for="name"
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <el-radio-group
      v-model="innerValue"
      v-validate="validationRules"
      :data-vv-as="validateAs"
      :data-vv-scope="scope"
      :disabled="disabled"
      :name="name"
      @change="$emit('change')"
    >
      <slot />
    </el-radio-group>
    <div
      v-if="hasError"
      class="el-form-item__error"
    >
      {{ errorText }}
    </div>
  </div>
</template>

<script>
  import Input from './mixins/Input';
  import Validation from './mixins/Validation';

  export default {
    /**
     * Component name.
     */
    name: 'RadioGroup',

    /**
     * Mixins.
     */
    mixins: [
      Input,
      Validation,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Disabled.
       */
      disabled: {
        type: Boolean,
        default: false,
      },
      /**
       * Label text.
       */
      label: {
        type: String,
        default: '',
      },
      /**
       * Native 'name' attribute.
       */
      name: {
        type: String,
        required: true,
      },
      /**
       * Size of radio group.
       */
      size: {
        type: String,
        default: null,
        validator (value) {
          return ['medium', 'small', 'mini'].includes(value);
        },
      },
      /**
       * Is label shown.
       */
      showLabel: {
        type: Boolean,
        default: true,
      },
    },
  };
</script>
