<template>
  <div
    class="el-form-item"
    :class="{ 'is-error': hasError}"
  >
    <label
      v-if="showLabel"
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <div class="el-form-item__content">
      <div
        class="el-select"
        :class="{'is-disabled': disabled}"
      >
        <div
          ref="tags"
          class="el-select__tags"
          :style="tagsStyle"
        >
          <span v-if="collapseTags && selected.length">
            <el-tag
              :closable="!selectDisabled"
              :size="collapseTagSize"
              :hit="selected[0].hitState"
              :disabled="disabled"
              type="info"
              disable-transitions
              @close="deleteTag($event, selected[0])"
            >
              <span class="el-select__tags-text">{{ selected[0].currentLabel }}</span>
            </el-tag>
            <el-tag
              v-if="selected.length > 1"
              :closable="false"
              :size="collapseTagSize"
              :disabled="disabled"
              type="info"
              disable-transitions
            >
              <span class="el-select__tags-text">+ {{ selected.length - 1 }}</span>
            </el-tag>
          </span>
          <transition-group
            v-if="!collapseTags"
            @after-leave="resetInputHeight"
          >
            <el-tag
              v-for="item in selected"
              :key="getValueKey(item)"
              :closable="!selectDisabled"
              :size="collapseTagSize"
              :hit="item.hitState"
              :disabled="disabled"
              type="info"
              disable-transitions
              @close="deleteTag($event, item)"
            >
              <span class="el-select__tags-text">{{ item.currentLabel }}</span>
            </el-tag>
          </transition-group>
          <input
            ref="input"
            v-model="query"
            type="text"
            class="el-select__input"
            :class="[selectSize ? `is-${ selectSize }` : '']"
            :style="inputStyle"
            :disabled="disabled"
            @focus="handleFocus"
            @blur="onBlur"
            @click.stop
            @keydown="checkEvent"
            @keydown.esc.stop.prevent="visible = false"
            @keydown.delete="deletePrevTag"
            @compositionstart="handleComposition"
            @compositionupdate="handleComposition"
            @compositionend="handleComposition"
            @paste="onPaste"
            @input="debouncedQueryChange"
          >
        </div>
        <el-input
          :id="id"
          ref="reference"
          v-model="selectedLabel"
          type="text"
          :placeholder="extendedPlaceholder"
          :name="name"
          :autocomplete="autoComplete || autocomplete"
          :size="selectSize"
          :readonly="readonly"
          :disabled="disabled"
          :class="{ 'is-focus': visible }"
          @focus="handleFocus"
          @blur="handleBlur"
          @keyup.native="debouncedOnInputChange"
          @keydown.native.esc.stop.prevent="visible = false"
          @keydown.native.tab="visible = false"
          @paste.native="debouncedOnInputChange"
          @mouseenter.native="inputHovering = true"
          @mouseleave.native="inputHovering = false"
        />
        <div
          v-if="hasError"
          class="el-form-item__error"
        >
          {{ errorText }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { Select } from 'element-ui';
  import Validation from 'Foundation/components/form/mixins/Validation';

  export default {
    /**
     * Component name
     */
    name: 'TagField',

    /**
     * Extends
     */
    extends: Select,

    mixins: [
      Validation,
    ],

    /**
     * Props
     */
    props: {
      /**
       * Field name
       */
      name: {
        type: String,
        default: '',
      },

      /**
       * Default field value. Don`t change for correct work
       */
      showTags: {
        type: Boolean,
        default: true,
      },

      /**
       * Default field value. Don`t change for correct work
       */
      multiple: {
        type: Boolean,
        default: true,
      },

      /**
       * Default field value. Don`t change for correct work
       */
      filterable: {
        type: Boolean,
        default: true,
      },

      /**
       * Default field value. Don`t change for correct work
       */
      allowCreate: {
        type: Boolean,
        default: true,
      },

      /**
       * Show field label
       */
      showLabel: {
        type: Boolean,
        default: true,
      },

      /**
       * Label value
       */
      label: {
        type: String,
        default: '',
      },

      /**
       * Disabled value
       */
      disabled: {
        type: Boolean,
        default: false,
      },

      /**
       * Max values allowed
       */
      max: {
        type: Number,
        default: 100,
      },

      /**
       * Validation rules
       */
      validation: {
        type: Object,
        default: () => {
          return null;
        },
      },

      /**
       * Split Reg Exp
       */
      splitRegExp: {
        type: String,
        default: null,
      },

      /**
       * Event Keys
       */
      eventKeys: {
        type: Array,
        default: () => {
          return ['Enter', 'Space'];
        }
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Extended placeholder
       * @returns {string}
       */
      extendedPlaceholder () {
        if (this.showTags) {
          return this.currentPlaceholder;
        }

        return this.query ? '' : this.placeholder;
      },

      /**
       * Tags style
       * @returns {object}
       */
      tagsStyle () {
        return { 'max-width': this.inputWidth - 32 + 'px', width: '100%'}
      },

      /**
       * Input style
       * @returns {object}
       */
      inputStyle () {
        return {
          'flex-grow': '1',
          'width': this.inputLength / (this.inputWidth - 32) + '%',
          'max-width': this.inputWidth - 42 + 'px'
        }
      }
    },

    /**
     * Watchers
     */
    watch : {
      /**
       * Value watcher
       */
      value () {
        this.$validator.errors.remove(this.name, this.scope)
        this.validate();
      }
    },

    /**
     * Component methods
     */
    methods: {

      checkEvent (event) {
        if(event && !this.eventKeys.includes(event.code)) {
            return;
        }
        event.preventDefault();
        this.submitTag();
      },

      /**
       * Submit new tag
       */
      submitTag (entry = null) {
        const newValue = entry ? entry : this.query;
        const index = this.value.indexOf(newValue)

        if (!~index && newValue) {
          this.selected.push({currentLabel: newValue, value: newValue, hitState: false});
          this.value.push(newValue);
        }

        this.query = '';
      },

      /**
       * On blur method
       */
      onBlur () {
        this.softFocus = false
        this.submitTag(this.query);
      },

      /**
       * On paste handler method
       */
      onPaste (event) {
        if(!this.splitRegExp) {
          return;
        }

        const clipboardData = event.clipboardData;
        const pastedData = clipboardData.getData('Text');
        const values = pastedData.split(new RegExp(this.splitRegExp));

        if(!values.length) {
          return;
        }

        event.preventDefault();
        values.map((value) => {
          this.submitTag(value);
        });
      },

      /**
       * Validate field
       * On submit form should be called manually
       */
      async validate () {
        let valid = this.checkRequire();
        valid = valid && this.checkMax();
        valid = valid && await this.checkEachValue();

        return valid;
      },

      /**
       * Validate required rule
       */
      checkRequire () {
        if (this.validation && this.validation.required && !this.value.length) {
          this.$validator.errors.add({
              field: this.name,
              msg: this.validationMessages.required || `Please fill the ${this.name} field`,
              scope: this.scope,
            }
          );
          return false;
        }
        return true;
      },

      /**
       * Validate max rule
       */
      checkMax () {
        if (this.value.length > this.max) {
          this.$validator.errors.add({
              field: this.name,
              msg: this.$trans('validation.max_tag', { max: this.max }),
              scope: this.scope,
            }
          );
          return false;
        }
        return true;
      },

      /**
       * Validate each value
       */
      async checkEachValue () {
        let valid = true;
        let promises = [];

        for (let value in this.value) {
          promises.push(
            this.$validator.verify(
              this.value[value],
              this.validation,
              { name: this.name }
            ),
          )
        }

        const results = await Promise.all(promises);

        for (let result in results) {
          const resultValue = results[result];
          if (!resultValue.valid) {
            valid = false;
            this.$validator.errors.add({
                field: this.name,
                msg: this.validationMessages[Object.keys(resultValue.failedRules)[0]] ||
                  resultValue.errors[0],
                scope: this.scope,
              }
            );
          }
        }
        return valid;
      }
    },
  };
</script>
