<template>
  <div
    class="el-form-item"
    :class="{ 'is-error': hasError, 'is-filled': isFilled }"
  >
    <label
      v-if="showLabel"
      :for="name"
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <el-input
      v-model="innerValue"
      v-validate="validationRules"
      :autocomplete="autocomplete"
      :autofocus="autofocus"
      :autosize="autosize"
      :clearable="clearable"
      :data-vv-as="validateAs"
      :data-vv-scope="scope"
      :disabled="disabled"
      :label="label"
      :max="max"
      :maxlength="maxlength"
      :min="min"
      :minlength="minlength"
      :name="name"
      :placeholder="placeholder"
      :rows="rows"
      :tabindex="tabindex"
      :type="type"
      @blur="$emit('blur')"
      @focus="$emit('focus')"
    />
    <div
      v-if="hasError"
      class="el-form-item__error"
    >
      {{ errorText }}
    </div>
  </div>
</template>

<script>
  import Input from './Input';

  export default {
    /**
     * Component name.
     */
    name: 'TextAreaField',

    /**
     * Extended component.
     */
    extends: Input,

    /**
     * Props.
     */
    props: {
      /**
       * Is enabled auto size.
       *
       * Can accept also object.
       * Example: { minRows: 2, maxRows: 6 }
       */
      autosize: {
        type: [Boolean, Object],
        default: false,
      },
      /**
       * Initial count of rows in text area.
       */
      rows: {
        type: Number,
        default: 2,
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Type of input.
       */
      type () {
        return 'textarea';
      },
    },
  };
</script>
