<template>
  <div class="data-table-cell report__actions-cell d-flex">
    <!-- DOWNLOAD -->
    <download-action
      v-if="report.states.can_download"
      :url="report.url"
      :update-required="report.update_required"
      :loading="isPendingReport"
      :disabled="isPendingReport"
      :tooltip="$trans('report::labels.download_report')"
    />

    <!-- PAUSE / RESUME -->
    <pause-resume-action
      :report="report"
      @update="report => $emit('update', report)"
    />

    <!-- DELETE -->
    <delete-action
      v-if="report.states.can_delete"
      :id="report.id"
      :tooltip="$trans('report::labels.delete_report')"
      @delete="$emit('delete')"
    />
  </div>
</template>

<script>
  import DeleteAction from './ReportDeleteAction';
  import DownloadAction from 'Foundation/components/action-icon/DownloadAction';
  import PauseResumeAction from './ReportPauseResumeAction';
  import ReportPending from 'Modules/report/components/index/mixins/ReportPending';

  export default {
    /**
     * Component name
     */
    name: 'ReportActionsCell',

    /**
     * Components
     */
    components: {
      DeleteAction,
      DownloadAction,
      PauseResumeAction,
    },

    /**
     * Mixins.
     */
    mixins: [ReportPending],

    /**
     * Props
     */
    props: {
      /**
       * Report type
       */
      report: {
        type: Object,
        default: () => {
          return {};
        },
      },
    },

    /**
     * Computed
     */
    computed: {
      /**
       * Check is pending report.
       */
      isPendingReport () {
        return this.isPending(this.report);
      }
    },
  };
</script>
