<template>
  <div ref="messageBlock">
    <message
      v-for="(error, key) in reviewErrors"
      :key="key"
      type="danger"
      :formatted-message="error"
    />
  </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex';
  import { Message } from 'Foundation/components/notice';

  export default {
    /**
     * Name of the component.
     */
    name: "CampaignReviewMessages",

    /**
     * Child components.
     */
    components: { Message },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (getters).
       */
      ...mapGetters('wizard', {
        reviewErrors: 'review/errors',
      }),

      /**
       * Vuex (state).
       */
      ...mapState('wizard/creative', [
        'creative',
      ]),
    },
  };
</script>
