<template>
  <div class="el-collapse-item__wrap first-block">
    <div class="el-collapse-item__content">
      <div class="collapse-grid">
        <div class="collapse-grid__col col-6">
          <div class="collapse-grid__title">
            <div class="text-label-xxs">
              {{ $trans('labels.budget') }}
            </div>
          </div>
          <div class="collapse-grid__content">
            <div class="collapse-grid__content-inner text-large">
              {{ budgetValue }}
            </div>
          </div>
        </div>
        <div class="collapse-grid__col col-6">
          <div class="collapse-grid__title">
            <div class="text-label-xxs">
              {{ $trans('labels.impressions') }}
            </div>
          </div>
          <div class="collapse-grid__content">
            <div class="collapse-grid__content-inner text-large">
              <dynamic-number
                :key="impressionNew"
                :old-value="impressionOld"
                :new-value="impressionNew"
              />
            </div>
          </div>
        </div>
        <div class="collapse-grid__col col-6">
          <div class="collapse-grid__title">
            <div class="text-label-xxs">
              {{ $trans('labels.cpm') }}
            </div>
          </div>
          <div class="collapse-grid__content">
            <div class="collapse-grid__content-inner text-large">
              $
              <dynamic-number
                :old-value="cpmOld"
                :new-value="cpmNew"
                :separator="false"
              />
            </div>
          </div>
        </div>
        <div class="collapse-grid__col col-6">
          <div class="collapse-grid__content">
            <div class="collapse-grid__content-inner text-large">
              {{ $trans('messages.impressions_and_cpm_based') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import BudgetsValues from 'Modules/campaign/components/wizard/sidebar/items/mixins/BudgetsValues';
  import { mapState } from 'vuex';
  import DynamicNumber from 'Foundation/components/formatters/DynamicNumber';

  export default {
    /**
     * Name of the component.
     */
    name: "GeneralInfo",

    /**
     * Components.
     */
    components: {DynamicNumber},

    /**
     * Mixins.
     */
    mixins: [BudgetsValues],

    /**
     * Data properties.
     */
    data() {
      return {
        impressionOld: 0,
        impressionNew: 0,
        cpmOld: '0.00',
        cpmNew: '0.00'
      }
    },

    /**
     * Computed.
     */
    computed: {
      /**
       * Map states.
       */
      ...mapState('wizard/budget', ['impressions', 'cost', 'cpm']),

      /**
       * Budget value.
       */
      budgetValue () {
        return this.cost ? this.formattedCost(this.cost) : '-';
      },
    },

    /**
     * Watch.
     */
    watch: {
      impressions (value, old) {
        this.impressionOld = this.$formatDecimal(old);
        this.impressionNew = this.$formatDecimal(value);
      },
      cpm (value, old) {
        this.cpmOld = old ? old.toFixed(2) : '0.00';
        this.cpmNew = value.toFixed(2);
      }
    },

    /**
     * Created.
     */
    created() {
      this.impressionNew = this.$formatDecimal(this.impressions);
      this.cpmNew = this.cpm ? this.cpm.toFixed(2) : '0.00';
    }
  }
</script>
