<template>
  <div class="el-collapse-item__content">
    <div class="collapse-grid messages_list">
      <div class="collapse-grid__title">
        <div class="text-label-xxs">
          {{ $trans('campaign::labels.try_the_following') }}
        </div>
      </div>
      <div class="collapse-grid__content list">
        <ol>
          <li
            v-for="(item, index) in messages"
            :key="index"
          >
            {{ item }} <span @click="goToStepLink(index)">{{ stepName(index) }}</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</template>

<script>
  import { get } from 'lodash';
  import { mapState } from 'vuex';

  export default {
    /**
     * Name of the component.
     */
    name: 'StepMessages',

    /**
     * Computed.
     */
    computed: {
      /**
       * Map states.
       */
      ...mapState('wizard/inventory', ['inventory']),
      ...mapState('wizard', ['edit', 'id']),

      /**
       * Step messages list.
       */
      messages () {
        return get(this.inventory, 'suggestions.action.steps', {});
      }
    },

    methods: {
      /**
       * Go to step.
       */
      goToStepLink (value) {
        const subName = value === 'schedule' ? 'details' : 'targeting';

        if (this.edit) {
          return this.$pushRoute({ name: `campaigns.edit.${subName}.${value}`, params: { campaignId: this.id }});
        }

        return this.$pushRoute({ name: `campaigns.create.${subName}.${value}`});
      },

      /**
       * Get step name.
       */
      stepName (value) {
        return this.$trans(`campaign::labels.inventory_steps.${value}`)
      },
    }
  }
</script>

