<template>
  <div class="contact__button">
    <el-button
      class="button-rounded"
      size="medium"
      @click="onClick"
    >
      <icon
        value="envelope"
        lightness="light"
      />
      Contact us
    </el-button>
  </div>
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Name of the component.
     */
    name: 'ContactButton',

     /**
     * Components.
     */
    components: {Icon},

    /**
     * Methods.
     */
    methods: {
      /**
       * On click event handler.
       */
      onClick () {
        this.$emit('click');
      },
    },
  };
</script>
