<template>
  <modal
    :loading="loading"
    :submit-label="$trans('actions.submit')"
    :title="$trans('support::actions.contact_us')"
    :visible="visible"
    custom-class="popup-contact el-dialog--actions-column-reverse"
    width="688px"
    @cancel="close"
    @close="close"
    @submit="submit"
  >
    <div class="popup-contact__caption">
      {{ $trans('support::labels.we_are_here_for_you') }}
    </div>
    <div>
      <select-field
        v-model="form.subject"
        :label="$trans('support::labels.subject')"
        :options="subjectOptions"
        :placeholder="placeholders.subject"
        :validation="validationRules.support.contact.subject"
        :validation-messages="validationMessages.subject"
        name="subject"
      />
      <text-area-field
        v-model="form.message"
        :label="$trans('support::labels.message')"
        :placeholder="placeholders.message"
        :validation="validationRules.support.contact.message"
        :validation-messages="validationMessages.message"
        name="message"
      />
    </div>
  </modal>
</template>

<script>
  import api from '../../api';
  import Visible from 'Foundation/mixins/Visible';
  import { Modal } from 'Foundation/components/layout/modal';
  import { SelectField, TextAreaField } from 'Foundation/components/form';

  export default {
    /**
     * Name of the component.
     */
    name: 'ContactForm',

    /**
     * Child components.
     */
    components: {
      Modal,
      SelectField,
      TextAreaField,
    },

    /**
     * Mixins.
     */
    mixins: [
      Visible,
    ],

    /**
     * Data.
     *
     * @returns {{form: {subject: string, message: string}, loading: boolean}}
     */
    data () {
      return {
        form: {
          subject: '',
          message: '',
        },
        loading: false,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * All subjects.
       *
       * @returns {string[]}
       */
      subjects () {
        return [
          this.$trans('support::labels.subjects.account_setup'),
          this.$trans('support::labels.subjects.campaigns'),
          this.$trans('support::labels.subjects.ads'),
          this.$trans('support::labels.subjects.billing_and_payments'),
          this.$trans('support::labels.subjects.other'),
        ];
      },

      /**
       * Subject options for select.
       *
       * @returns {*}
       */
      subjectOptions () {
        return this.subjects.map(subject => ({ value: subject, key: subject }));
      },

      /**
       * Input placeholders.
       *
       * @returns {{subject: string, message: string}}
       */
      placeholders () {
        return {
          subject: this.$trans('labels.select_subject'),
          message: this.$trans('support::labels.enter_message_here'),
        };
      },

      /**
       * Custom validation messages.
       */
      validationMessages () {
        return {
          subject: {
            required: this.$trans('validation.custom.subject.required'),
          },
          message: {
            required: this.$trans('validation.custom.message.required'),
            max: (field, [max]) => {
              return this.$trans('validation.custom.message.max', {
                max: max,
              });
            },
          },
        };
      },
    },

    /**
     * Component mounted hook.
     */
    mounted () {
      if (this.$route.name === 'profile.settings.contact') {
        if (this.isValidSubject(this.$route.query.subject)) {
          this.form.subject = this.$route.query.subject;
        }

        this.form.message = this.$route.query.message;
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Submit form.
       *
       * @returns {Promise<void>}
       */
      async submit () {
        const validated = await this.validate();

        if (!validated) {
          return;
        }

        this.loading = true;
        this.$call(api.contact(this.form))
          .finally(() => this.loading = false)
          .then(() => {
            this.$trackAction('contact_submit');
            this.close();
          });
      },

      /**
       * Validate form.
       *
       * @returns {*}
       */
      validate () {
        return this.$validateScope();
      },

      /**
       * Check if predefined subject is valid
       *
       * @returns Boolean
       */
      isValidSubject (query) {
        return !!this.subjects.find(subject => { return subject === query });
      },
    },
  };
</script>
