<template>
  <base-tooltip
    ref="tooltip"
    :zindex="zindex"
    popper-class="text-tip"
    placement="right"
    effect="light"
  >
    <template slot="content">
      <div v-html="description" />
      <p
        v-if="moreLink"
        class="more"
      >
        <a :href="moreLink"> {{ $trans('labels.learn_more') }}</a>
      </p>
    </template>
    <icon
      ref="reference"
      value="help-circle-header"
      transparent="fill"
      custom-class="info-tip"
      :width="15"
      :height="15"
    />
  </base-tooltip>
</template>

<script>
  import BaseTooltip from 'Foundation/components/toolpip/BaseTooltip';
  import Icon from 'Foundation/components/icons/Icon';
  import LowZindex from 'Foundation/components/toolpip/mixins/LowZindex';

  export default {

    name: 'InfoTip',

    /**
     * Components.
     */
    components: {
      BaseTooltip,
      Icon,
    },

    /**
     * Mixins.
     */
    mixins: [
      LowZindex,
    ],

    /**
     * Props.
     */
    props: {
      /**
       * Term description. Could contain arbitrary html.
       */
      description: {
        type: String,
        required: true,
      },

      /**
       * Link to the details page.
       */
      moreLink: {
        type: String,
        default: '',
      },

      /**
       * Identify if tooltip should be hoverable.
       */
      hoverable: {
        type: Boolean,
        default: false,
      },
    },

    /**
     * Computed properties.
     */
    computed: {
      tooltipEl () {
        return this.$refs.tooltip.poperEl;
      }
    },

    /**
     * Mounted hook.
     */
    mounted () {
      this.addEventListeners();
    },

    /**
     * Before-Destroy hook.
     */
    beforeDestroy () {
      this.removeEventListeners();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * @returns {void}
       */
      addEventListeners () {
        this.$nextTick(() => {
          if (!this.hoverable) {
            const ref = this.$refs.reference.$el;
            ref.addEventListener('mouseleave', this.closePopper);
          }
        });
      },

      /**
       * @returns {void}
       */
      removeEventListeners () {
        if (!this.hoverable) {
          const ref = this.$refs.reference.$el;
          ref.removeEventListener('mouseleave', this.closePopper);
        }
      },

      /**
       * @returns {void}
       */
      closePopper () {
        this.$refs.tooltip.showPopper = false;
      },
    },
  }

</script>
