<template>
  <campaign-step
    :title="$trans('campaign::labels.titles.budget')"
    :skippable="false"
    :has-error="!!budgetFailMessage"
  >
    <annotated-text
      slot="description"
      low-zindex
      :text="$trans(
        'campaign::labels.subtitles.budget',
        {value: $formatDecimal(minBudget), duration: dateDiff}
      )"
      :terms="{
        budget: {
          term: $trans('campaign::labels.annotations.budget.term'),
          description: $trans('campaign::labels.annotations.budget.description'),
        },
        impressions: {
          term: $trans('campaign::labels.annotations.impressions.term'),
          description: $trans('campaign::labels.annotations.impressions.description'),
        },
      }"
    />
    <template slot="content">
      <!-- FORM -->
      <campaign-budget-form
        ref="form"
        @blur-budget="saveWithInventory"
        @force-inventory="(state) => {forceInventory = state}"
      />
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import CampaignBudgetForm from './CampaignBudgetForm';
  import TargetingStep from '../mixins/TargetingStep';
  import { mapActions, mapState } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import AnnotatedText from 'Foundation/components/toolpip/annotations/AnnotatedText';
  import { isEqual } from 'lodash';
  import moment from 'moment';
  import config from 'Foundation/services/config';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignBudget',

    /**
     * Child components.
     */
    components: {
      CampaignBudgetForm,
      CampaignStep,
      AnnotatedText,
    },

    /**
     * Mixins.
     */
    mixins: [
      TargetingStep,
    ],

    /**
     * Data.
     */
    data () {
      return {
        shouldTriggerAutoSave: false,
        forceInventory: false,
        dateDiff: 0
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex.
       */
      ...mapState('wizard/budget', {
        savePending: 'updateBudgetPending',
        value: 'cost',
        cpm: 'cpm',
        budgetFailMessage: 'budgetFailMessage',
        minDailyImpressions: 'minDailyImpressions',
      }),
      ...mapState('wizard/details', ['date']),
      ...mapFields('wizard/budget', ['triggerBudgetSave']),

      /**
       * Storage key for step.
       *
       * @returns {string}
       */
      key () {
        return 'budget.budget';
      },

      /**
       * Skip inventory if values don't changed but it's not first initialization
       * @returns {boolean}
       */
      skipInventory () {
        return isEqual(this.getCombinedStepValue, this.stepLastValue) && !this.forceInventory;
      },

      /**
       * Get minimum budget.
       */
      minBudget () {
        if (!this.date.start || !this.date.end || !this.minDailyImpressions) {
          return config.campaign.wizard.budget.min;
        }
        const value = (this.dateDiff * this.minDailyImpressions / 1000) * this.cpm;

        return value < config.campaign.wizard.budget.min ? config.campaign.wizard.budget.min : value;
      },
    },

    /**
     * Component watcher.
     */
    watch: {
      triggerBudgetSave (value) {
        if (value) {
          this.forceSaveAndCheck();
        }
      }
    },

    /**
     * Created hook.
     */
    created() {
      this.setDateDiff();
      if (this.triggerBudgetSave) {
        this.forceSaveAndCheck();
      }
      this.setStepLastValue(this.getCombinedStepValue);
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/budget', [
        'updateBudget',
      ]),

      /**
       * This method is called each time the step is changed to next.
       * @returns {*}
       */
      async beforeNext () {
        if (this.budgetFailMessage) {
          return false;
        }

        return true;
      },

      /**
       * Set dateDiff.
       */
      setDateDiff () {
        if (!this.date.start || !this.date.end) {
          this.dateDiff = 0;
          return;
        }

        const startDate = moment.utc(this.date.start).startOf('day');
        const endDate = moment.utc(this.date.end).endOf('day');
        this.dateDiff = Math.ceil(moment.duration(endDate.diff(startDate)).asDays());
      },

      /**
       * Save current step.
       * @returns {*}
       */
      save () {
        return this.$call(this.updateBudget(), { muteException: true });
      },

      /**
       * Force Save & check inventory for budget step.
       */
      forceSaveAndCheck () {
        this.forceInventory = true;
        this.saveWithInventory().then(() => {
          this.forceInventory = false;
          this.triggerBudgetSave = false;
        });
      }
    },
  };
</script>
