<template>
  <transition
    name="el-fade-in-linear"
    mode="out-in"
  >
    <div>
      <message
        v-for="item in messages"
        :key="item.message"
        :type="item.type"
        :formatted-message="item.message"
      />
    </div>
  </transition>
</template>

<script>
  import { mapState } from 'vuex';
  import { Message } from 'Foundation/components/notice';

  export default {
    /**
     * Name of the component.
     */
    name: 'CampaignBudgetMessage',

    /**
     * Child components.
     */
    components: {
      Message,
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('wizard/inventory', ['messages']),
    },
  };
</script>
