<template>
  <div class="budget-form">
    <div class="budget-form__impressions">
      <!-- COST -->
      <money-field
        ref="cost"
        v-model="cost"
        :name="fieldNames.cost"
        :validation="validation.cost"
        :validation-messages="validationMessages.cost"
        :integer-positions="costLength"
        placeholder="$10,000"
        size="medium"
        :label="$trans('labels.budget')"
        @blur="onBlur"
        @enter="onEnter"
      />

      <!-- IMPRESSIONS -->
      <number-field
        ref="impressions"
        v-model="impressions"
        disabled
        :name="fieldNames.impressions"
        allow-all-numbers
        class="is-disabled"
        placeholder="1,000,000"
        size="medium"
        :label="$trans('labels.impressions')"
        :info-text="$trans('campaign::messages.impressions_message')"
      />
    </div>
  </div>
</template>

<script>
  import config from 'Foundation/services/config';
  import { calculateImpressions } from 'Foundation/helpers/cost';
  import { mapFields } from 'vuex-map-fields';
  import { MoneyField } from 'Foundation/components/form';
  import { NumberField } from 'Foundation/components/form';
  import { mapMutations, mapState } from 'vuex';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignBudgetForm',

    /**
     * Child components.
     */
    components: {
      NumberField,
      MoneyField
    },

    /**
     * Available properties.
     */
    props: {
      /**
       * Loading.
       */
      loading: {
        type: Boolean,
        default () {
          return false;
        },
      },
    },

    /**
     * Component data.
     */
    data () {
      return {
        previousCost: null,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (fields) - budget.
       */
      ...mapFields('wizard/budget', [
        'cost',
        'cpm',
        'impressions',
      ]),

      /**
       * Map state.
       */
      ...mapState('wizard/budget', ['budgetFailMessage']),

      /**
       * Currency symbol.
       *
       * @returns {SVGSymbolElement}
       */
      currency () {
        return this.$user.currency.symbol;
      },

      /**
       * Validation rules.
       */
      validation () {
        return {
          cost: this.validationRules.campaign.budget.cost,
        };
      },

      /**
       * Custom validation messages.
       */
      validationMessages () {
        return {
          cost: {
            required: this.$trans('validation.custom.campaign.cost.required'),
            'formatted_min_value': (field, [min]) => {
              return this.$trans('validation.custom.campaign.cost.min', {
                min: this.$formatCurrency(min, this.$user.currency.code),
              });
            },
            'formatted_max_value': (field, [max]) => {
              return this.$trans('validation.custom.campaign.cost.max', {
                max: this.$formatCurrency(max, this.$user.currency.code),
              });
            },
          },
        };
      },

      /**
       * Field names.
       */
      fieldNames () {
        return {
          cost: 'cost',
          impressions: 'disabled_impressions',
        };
      },

      /**
       * Max length for budget field.
       */
      costLength () {
        return this.validation.cost.max_value.toString().length;
      },
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Active.
       */
      active: {
        immediate: true,
        handler () {
          this.$nextTick(this.focus);
        },
      },

      /**
       * Cost watcher
       */
      cost (value, oldValue) {
        // Skip if the cost is being initialized for the first time.
        if (oldValue === null) {
          this.$emit('force-inventory', true);
          return;
        }

        this.calculateImpressions();
        this.$emit('force-inventory', false);
      },

      /**
       * Watch error budget message.
       */
      budgetFailMessage (value) {
        return value ? this.addExternalValidationError(value) : this.$clearErrors();
      }
    },

    /**
     * Created hook.
     */
    created () {
      if (!this.cost) {
        this.cost = config.campaign.wizard.budget.default;
      }

      if (this.$route.query.updatedBudget) {
        this.cost = this.$route.query.updatedBudget;
      }

      this.previousCost = this.cost;
      this.calculateImpressions();
    },

    /**
     * Mounted hook.
     */
    mounted() {
      this.$nextTick(() => {
        if (this.budgetFailMessage) {
          this.addExternalValidationError(this.budgetFailMessage);
        }
      });
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapMutations('wizard/budget', ['clearErrorBudgetMessage',]),

      /**
       * Focus the form element.
       */
      focus () {
        if (!this.budgetFailMessage) {
          this.$refs.cost.focus();
        }
      },

      /**
       * Calculates amount of impressions based on cost and CPM.
       */
      calculateImpressions () {
        this.impressions = calculateImpressions(this.cost, this.cpm);
      },

      /**
       * On key enter
       */
      onEnter () {
        this.$refs.cost.$el.getElementsByTagName('input')[0].blur();
      },

      /**
       * On blur event
       */
      onBlur () {
        if (this.cost !== this.previousCost) {
          this.clearErrorBudgetMessage();
        }

        if (this.budgetFailMessage) {
          setTimeout(() => {
            this.addExternalValidationError(this.budgetFailMessage);
          },1);
        }

        this.previousCost = this.cost;
        this.$emit('blur-budget');
      },

      /**
       * Add external validation error to the cost field
       */
      addExternalValidationError (value) {
        this.$refs.cost.addError(value);
      }
    },
  };
</script>
