<template>
  <div class="land-footer__copy">
    ©{{ currentYear }} {{ company }}
  </div>
</template>

<script>
    export default {
      /**
       * Component name.
       */
      name: "CopyrightInfo",

      /**
       * Computed properties.
       */
      computed: {
        /**
         * Company name.
         *
         * @returns {string}
         */
        company () {
          return this.$config.general.company_name;
        },

        /**
         * Current year.
         *
         * @returns {number}
         */
        currentYear () {
          return new Date().getFullYear();
        },
      },
    }
</script>
