<template>
  <el-footer
    class="footer level-negative-1"
    height="88px"
  >
    <div class="footer__holder">
      <!-- LINK -->
      <div class="footer__menu">
        <a
          v-for="link in visibleLinks"
          :key="link.label"
          :href="link.href"
          :target="link.target"
          class="footer__terms"
        >
          <small>{{ link.label }}</small>
        </a>
      </div>

      <!-- COPYRIGHT -->
      <copyright-info />
    </div>
  </el-footer>
</template>

<script>
  import CopyrightInfo from './CopyrightInfo';
  import FooterActiveLink from "Foundation/components/navigation/mixins/FooterActiveLink";

  export default {
    /**
     * Component name.
     */
    name: 'Footer',

    /**
     * Components.
     */
    components: {
      CopyrightInfo,
    },

    /**
     * Mixins.
     */
    mixins: [
      FooterActiveLink,
    ],
  };
</script>
