<template>
  <div>
    <p class="text-label-xs-semibold-caps">
      {{ $trans('broadcast::labels.blocks.general') }}
    </p>
    <text-field
      ref="name"
      v-model="formData.name"
      :disabled="editEnabled"
      :label="$trans('broadcast::labels.field_labels.name')"
      :placeholder="$trans('broadcast::labels.field_placeholders.name')"
      name="name"
      size="medium"
      :validation="validationRules.broadcast.name"
    />
    <date-time-field
      v-model="scheduleDate"
      type="date"
      name="schedule_date"
      class="schedule-date"
      :disabled="editEnabled"
      :picker-options="pickerOptions"
      :placeholder="$trans('broadcast::labels.field_placeholders.date')"
      :label="$trans('broadcast::labels.field_labels.date')"
      size="medium"
      :description="$trans('broadcast::labels.date_description')"
      :validation="validationRules.broadcast.date"
      format="MM/dd/yyyy h A (ET)"
    />
    <div>
      <div class="custom-label">
        {{ $trans('broadcast::labels.field_labels.channel') }}
      </div>
      <el-radio-group
        v-model="formData.channel"
        size="medium"
        class="create-campaign__top"
        :disabled="editEnabled"
      >
        <el-radio
          v-for="option in channels"
          :key="option"
          :label="option"
        >
          {{ channelLabel(option) }}
        </el-radio>
      </el-radio-group>
    </div>
    <div>
      <div class="custom-label">
        {{ $trans('broadcast::labels.field_labels.segment') }}
      </div>
      <el-radio-group
        v-model="formData.segment.id"
        :disabled="editEnabled"
        size="medium"
        class="create-campaign__top"
      >
        <el-radio
          v-for="item in segments"
          :key="item"
          :label="item"
        >
          {{ segmentLabel(item) }}
        </el-radio>
      </el-radio-group>
    </div>
    <advertisers-select
      v-if="showSelectAdvertisers"
      v-model="formData.segment.advertisers"
      name="segment_group.advertisers"
      :disabled="editEnabled"
      multiple
      :label="$trans('broadcast::labels.field_labels.advertiser')"
      :placeholder="$trans('broadcast::labels.field_placeholders.advertiser')"
    />
    <affected-advertisers
      v-if="showAffectedAdvertisers"
      :edit-enabled="editEnabled"
    />
    <div>
      <email-form
        v-if="showEmailsFields"
        :disabled="editEnabled"
      />
      <in-app-form
        v-if="showInAppFields"
        :disabled="editEnabled"
      />
    </div>
  </div>
</template>

<script>
  import {DateTimeField, TextField} from 'Foundation/components/form';
  import { mapFields } from 'vuex-map-fields';
  import EmailForm from 'Modules/broadcast/components/index/forms/channels/EmailForm';
  import InAppForm from 'Modules/broadcast/components/index/forms/channels/InAppForm';
  import { mapActions, mapState } from 'vuex';
  import AdvertisersSelect from 'Modules/advertiser/components/common/form/AdvertisersSelect';
  import moment from 'moment-timezone';
  import AffectedAdvertisers from 'Modules/broadcast/components/index/forms/elements/AffectedAdvertisers';
  import { fetchDate } from 'Foundation/helpers/date-time';

  const SEGMENT_ALL_ID = 1;
  const SEGMENT_SELECTED_ID = 2;
  const SEGMENT_AFFECTED_ID = 3;

  const CHANNEL_ALL = 'all';
  const CHANNEL_EMAIL = 'email';
  const CHANNEL_IN_APP = 'in_app';

  export default {
    /**
     * Name.
     */
    name: 'BroadcastForm',

    /**
     * Components.
     */
    components: {
      InAppForm,
      EmailForm,
      TextField,
      DateTimeField,
      AdvertisersSelect,
      AffectedAdvertisers
    },

    /**
     * Props.
     */
    props: {
      /**
       * Allow edit form
       */
      editEnabled: {
        type: Boolean,
        default: true
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Map fields
       */
      ...mapFields('broadcast', {
        formData: 'broadcastData',
        initialData: 'initialData',
      }),

      /**
       * Map state
       */
      ...mapState('broadcast', {
        storePending: 'storeBroadcastPending',
        paramsPending: 'getBroadcastParamsPending',
        showPending: 'showBroadcastPending',
        clonePending: 'cloneBroadcastPending',
        channels: 'channels',
        segments: 'segments'
      }),

      /**
       * Schedule date.
       */
      scheduleDate: {
        /**
         * Getter.
         */
        get: function () {
          return fetchDate(this.formData.date);
        },

        /**
         * Setter.
         */
        set: function (value) {
          this.formData.date = value;
        },
      },

      /**
       * Check if need to show email fields
       */
      showEmailsFields () {
        return this.formData.channel === this.channels[CHANNEL_ALL] || this.formData.channel === this.channels[CHANNEL_EMAIL];
      },

      /**
       * Check if need to show inApp fields
       */
      showInAppFields () {
        return this.formData.channel === this.channels[CHANNEL_ALL] || this.formData.channel === this.channels[CHANNEL_IN_APP];
      },

      /**
       * Check if need to show advertiser select
       */
      showSelectAdvertisers () {
        return this.formData.segment.id === SEGMENT_SELECTED_ID;
      },

      /**
       * Check if need to show affected advertisers
       */
      showAffectedAdvertisers () {
        return this.formData.segment.id === SEGMENT_AFFECTED_ID;
      },

      /**
       * Picker options for datepicker.
       *
       * @returns {{disabledDate: (default.methods.checkDateIsDisabled|(function(*=): boolean))}}
       */
      pickerOptions () {
        return {
          disabledDate: this.checkDateIsDisabled,
          defaultTime: {
            hour: this.$config.date.schedule_broadcast.hour,
            minute: this.$config.date.schedule_broadcast.minute,
            second: this.$config.date.schedule_broadcast.sec,
          },
          disabledDateTime: this.getDisableEndDate()
        };
      }
    },

    /**
     * Watch
     */
    watch: {
      /**
       * Watch segment.id
       */
      'formData.segment.id' (value) {
        if (value !== SEGMENT_AFFECTED_ID) {
          this.formData.segment.dates = {
            start: null,
            end: null
          };
          this.formData.segment.affected_count = 0;
        }

        if (value !== SEGMENT_SELECTED_ID) {
          this.formData.segment.advertisers = [];
        }
      }
    },

    /**
     * Mounted functions
     */
    mounted() {
      this.setParams();
      this.$clearErrors();
    },

    /**
     * Component methods
     */
    methods: {
      /**
       * Map actions
       */
      ...mapActions('broadcast', ['store', 'update', 'schedule']),

      /**
       * Get channel label
       */
      channelLabel (channel) {
        return this.$trans(`broadcast::labels.channel_notification.${channel}`)
      },

      /**
       * Get segment label
       */
      segmentLabel (segment) {
        return this.$trans(`broadcast::labels.segments.${segment}`)
      },

      /**
       * Submit broadcast
       */
      async saveBroadcast () {
        this.$clearErrors();

        await this.$call(this.save())
        .then(() => {
          this.$notify.success({
            message:  this.$trans('broadcast::labels.saved')
          });
        })
        .catch(() => {
        });
        this.$emit('save');
      },

      /**
       * Schedule broadcast
       */
      async scheduleBroadcast () {
        this.$clearErrors();

        await this.$call(
          this.schedule({
            id: this.formData.id,
            form: this.formData,
            emailContent: this.showEmailsFields,
            inAppContent: this.showInAppFields,
          })
        )
        .then(() => {
          this.$emit('close');
          this.$emit('save');
        })
        .catch(() => {
        });
      },

      /**
       * Save broadcast
       */
      save () {
        if (this.formData.id) {
          return this.update({
            id: this.formData.id,
            form: this.formData,
            emailContent: this.showEmailsFields,
            inAppContent: this.showInAppFields,
          });
        }

        return this.store({
          form: this.formData,
          emailContent: this.showEmailsFields,
          inAppContent: this.showInAppFields,
        });
      },

      /**
       * Set initial params
       */
      setParams () {
        if (this.$router.currentRoute.name !== 'broadcast.show') {
          this.formData.channel = this.channels[CHANNEL_ALL];
          this.formData.segment.id = SEGMENT_ALL_ID;
          this.initialData.channel = this.channels[CHANNEL_ALL];
          this.initialData.segment.id = SEGMENT_ALL_ID;
        }
      },

      /**
       * Returns true if date should be available to select in datepicker.
       * @param date
       * @returns {boolean}
       */
      checkDateIsDisabled (date) {
        //assume date is in ET timezone
        const momentDate = moment(date).clone().endOf('day');
        return momentDate.isBefore(moment(moment().tz(this.$config.date.default_timezone_full_code)));
      },

      /**
       * Disable end datetime.
       * @returns {Date}
       */
      getDisableEndDate () {
        return moment
          .tz(this.$config.date.default_timezone_full_code)
          .tz(moment.tz.guess(), true)
          .add(1, 'hours')
          .toDate();
      }
    },
  }
</script>
