<template>
  <div class="header__notifications notifications">
    <el-tooltip
      class="item"
      effect="dark"
      :content="$trans('faq.labels.help')"
      placement="bottom"
      popper-class="is-border"
    >
      <el-button
        v-if="visible"
        class="notifications__button button-empty-icon"
        @click="onClick"
      >
        <icon
          value="help-circle-header"
          transparent="fill"
          :width="25"
          :height="25"
        />
      </el-button>
    </el-tooltip>
  </div>
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Component name.
     */
    name: 'FaqLink',

    /**
     * Child components.
     */
    components: {
      Icon,
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Returns true if button should be visible.
       *
       * @returns {boolean}
       */
      visible () {
        return this.$hasPermission('read_faq_section');
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * On click event handler.
       */
      onClick () {
        window.open(this.$config.general.links.faq.authorized, '_blank');
      },
    },
  };
</script>
