<template>
  <div>
    <transition name="el-zoom-in-top">
      <reminder-message
        v-if="reminder && show"
        :reminder="reminder"
      />
    </transition>
  </div>
</template>

<script>
  import {first} from 'lodash';
  import {mapState} from 'vuex';
  import ReminderMessage from './ReminderMessage';

  export default {
    /**
     * Name of the component.
     */
    name: 'ReminderBox',

    /**
     * Components.
     */
    components: {
      ReminderMessage,
    },

    /**
     * Data.
     */
    data () {
      return {
        show: true,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('notifications', ['reminders']),

      /**
       * Show only first reminder.
       */
      reminder() {
        return first(this.reminders);
      }
    },
  };
</script>
