<template>
  <div>
    <span class="text-muted">{{ $trans('campaign::labels.modal_inventory_info.unable_guarantee') }}</span>
    <div class="upload-progress__content">
      <div v-html="$trans('campaign::messages.inventory_check.content.danger_schedule.message', {value: getEscapedValue(payload.minDailyImpressions)})" />
      <div class="default-actions">
        <el-button
          type="default"
          @click.stop="clickExpandSchedule"
        >
          {{ $trans('campaign::messages.inventory_check.content.danger_schedule.cta_label') }}
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import InventoryModalContent from './mixins/InventoryModalContent';

  export default {
    /**
     * Component name.
     */
    name: 'DangerScheduleContent',

    /**
     * Mixins.
     */
    mixins: [InventoryModalContent],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map state.
       */
      ...mapState('wizard/inventory', ['payload']),

      /**
       * Route for "Schedule" step.
       */
      scheduleRoute () {
        return this.groups.details.items.schedule.route;
      },
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * This method handles click by button "Expand schedule".
       */
      clickExpandSchedule() {
        this.$pushRoute(this.scheduleRoute);
        this.handleClose();
      }
    }
  }
</script>
