<template>
  <el-row
    type="flex"
    justify="space-between"
  >
    <el-col
      :span="9"
    >
      <div class="review-campaign">
        <div class="review-campaign__table">
          <h3 class="review-campaign__title">
            {{ $trans('campaign::labels.review_campaign') }}
          </h3>
          <campaign-review-messages />
          <campaign-review-details />
        </div>
      </div>
    </el-col>
    <el-col
      :span="12"
    >
      <div class="review-sidebar">
        <campaign-review-creative />
        <div class="review-sidebar__footer">
          <div class="wizard-controls">
            <el-button
              type="text"
              @click="$emit('previous')"
            >
              {{ $trans('actions.back') }}
            </el-button>
            <el-button
              @click="$emit('next')"
            >
              {{ $trans('campaign::labels.proceed_to_payment') }}
            </el-button>
          </div>
          <p class="text-info">
            <small class="text-info">
              {{ $trans('creative::messages.responsibility_warning_p1') }}
            </small>
          </p>
          <p>
            <small class="text-info">
              {{ $trans('creative::messages.responsibility_warning_p2') }}
            </small>
          </p>
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<script>
  import CampaignReviewDetails from './review/items/CampaignReviewDetails';
  import CreateCampaignFormStep from '../mixins/CreateCampaignFormStep';
  import CampaignReviewCreative from './review/items/CampaignReviewCreative';
  import CampaignReviewMessages from './review/CampaignReviewMessages';
  import { mapActions, mapState } from 'vuex';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignReview',

    /**
     * Child components.
     */
    components: {
      CampaignReviewDetails,
      CampaignReviewCreative,
      CampaignReviewMessages,
    },

    /**
     * Mixins.
     */
    mixins: [
      CreateCampaignFormStep,
    ],

    /**
     * Computed properties.
     */
    computed: {

      /**
       * Vuex (state).
       */
      ...mapState('wizard', [
        'refreshCampaignPending',
      ]),

      /**
       * Storage key for step.
       *
       * @returns {string}
       */
      key () {
        return 'reviewAndPayment.review';
      },

      /**
       * Activity value.
       * @returns {string}
       */
      activity () {
        return this.lastActivity;
      },
    },

    /**
     * Mounted hook.
     */
    async mounted() {
      await this.refreshCampaign();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/review', [
        'clearErrors',
        'validateCampaign',
      ]),

      /**
       * Vuex (actions).
       */
      ...mapActions('wizard', [
        'refreshCampaign',
      ]),

      /**
       * This method is called each time step is leaved.
       *
       * @returns {Promise<boolean>}
       */
      async onLeave () {
        this.setSaved();
        this.setDone();
        this.clearErrors();

        return Promise.resolve(true);
      },

      /**
       * Validate step.
       *
       * @returns {Promise<any>}
       */
      validate () {
        return new Promise(resolve => {
          this.$call(this.validateCampaign())
            .then(() => resolve(true))
            .catch(() => resolve(false));
        });
      },
    },
  };
</script>
