<template>
  <div class="campaign-payment step">
    <el-row
      type="flex"
      justify="space-between"
    >
      <modal-progress
        :status="progressModalData.status"
        :resolve-close-modal="progressModalData.resolver"
        :instant-close="progressModalData.instantClose"
        @close="closeProgressModal"
      />
      <inventory-check-modal
        :status="showWarningModal"
        :type="modalType"
        @close="closeInventoryCheckModal"
      />
      <modal-campaign-deactivated
        :visible.sync="showModalDeactivatedAdvertiser"
        :payment-updated="paymentUpdated"
        :retry-payment-processing="retryPaymentProcessing"
      />
      <el-col
        :span="9"
      >
        <h3 class="create-campaign__title icon-text-popover">
          {{ $trans('payment::labels.payment_method') }}
        </h3>
        <payment-method
          @show-payment-warning="handleShowPaymentWarning"
          @payment-update="handlePaymentUpdate"
        />
        <promocode />
        <message
          v-if="showPaymentWarning"
          type="danger"
        >
          {{ $trans('campaign::messages.payment_method_missing') }}
        </message>
      </el-col>
      <el-col
        :span="12"
      >
        <div class="payment-sidebar">
          <payment-details />
          <p>
            <small>
              {{ $trans('payment::labels.responsibility_p1') }}
            </small>
          </p>
          <p>
            <small
              v-html="$trans('payment::labels.responsibility_p2', {terms_of_use_link: $config.general.links.terms_of_use})"
            />
          </p>
          <div class="wizard-controls">
            <el-button
              type="text"
              @click="$emit('previous')"
            >
              {{ $trans('actions.back') }}
            </el-button>
            <el-button
              @click="$emit('next')"
            >
              {{ $trans('actions.submit_campaign') }}
            </el-button>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { Message } from 'Foundation/components/notice';
import CreateCampaignFormStep from '../mixins/CreateCampaignFormStep';
import PaymentMethod from 'Modules/payment/components/PaymentMethod';
import PaymentDetails from './Order/PaymentDetails';
import ModalProgress from "Modules/campaign/components/common/modals/ModalProgress";
import BudgetModals from '../../../common/modals/mixins/BudgetModals';
import Promocode from 'Modules/promocode/components/Promocode';
import DeactivatedAdvertiser from "Modules/advertiser/mixins/DeactivatedAdvertiser";
import ModalCampaignDeactivated from 'Modules/advertiser/components/common/modals/ModalCampaignDeactivated';
import InventoryCheckModal from 'Modules/campaign/components/common/modals/inventoryCheck/InventoryCheckModal';
import InventoryCheckModalCommon from 'Modules/campaign/components/wizard/steps/mixins/InventoryCheckModalCommon';
import { values, first } from 'lodash';
import { mapFields } from "vuex-map-fields";

export default {
  /**
   * Component name.
   */
  name: 'Order',

  /**
   * Components.
   */
  components: {
    ModalCampaignDeactivated,
    ModalProgress,
    PaymentDetails,
    PaymentMethod,
    Promocode,
    InventoryCheckModal,
    Message,
  },

  /**
   * Mixins.
   */
  mixins: [
    DeactivatedAdvertiser,
    CreateCampaignFormStep,
    BudgetModals,
    InventoryCheckModalCommon
  ],

  /**
   * Reactive data.
   */
  data () {
    return {
      orderCampaignStep: true,
      showPaymentWarning: false,
      paymentUpdated: false,
    };
  },

  /**
   * Computed properties
   */
  computed: {
    ...mapFields('wizard', { campaignId: 'id' }),
    ...mapFields('wizard/promocode', ['promocode']),

    ...mapGetters('payment', [
      'activePayment',
    ]),

    /**
     * Returns current retry-payment processing state.
     */
    retryPaymentProcessing () {
      return (this.activePayment)
        ? this.activePayment.is_retry_processing
        : this.$user.states.is_retry_payment_processing;
    },

    /**
     * Storage key for step.
     * @returns {string}
     */
    key () {
      return 'reviewAndPayment.payment';
    },

    /**
     * Activity value.
     * @returns {string}
     */
    activity () {
      return this.lastActivity;
    },
  },

  /**
   * Methods.
   */
  methods: {

    /**
     * Map actions
     */
    ...mapActions('wizard/inventory', ['getInventoryCheck']),

    /**
     * This calls check Delivery status
     *
     */
    beforeFinish() {
      return this.ifAdvertiserActivated(() => this.checkInventory());
    },

    /**
     * This checks Delivery status
     */
    checkInventory () {
      this.showProgressModal();

      return this.$call(this.getInventoryCheck(), { notify: false })
        .then(async () => {
          await this.processCloseProgressModal();
          this.checkTypeFlow();
          return this.setInventoryCheckedAction();
        })
        .catch((error) => {
          if (error.data.errors) {
            let message = first(values(error.data.errors));

            if (message.length !== 0) {
              this.$notify.error({
                title: this.$trans('labels.error'),
                message: message.join(''),
              });
              this.closeProgressModal(null , true);
              return;
            }
          }

          this.closeProgressModalWithErrNotification(error);
        });
    },

    /**
     * Is warning is shown
     */
    handleShowPaymentWarning (display) {
      this.showPaymentWarning = display
    },

    /**
     * Is payment is updated
     */
    handlePaymentUpdate () {
      this.paymentUpdated = true;
    },
  },
};
</script>
