<template>
  <div class="data-table-cell campaigns__actions-cell d-flex">
    <edit-action
      v-if="campaign.states.can_edit"
      :campaign="campaign"
      :tooltip="$trans('campaign::actions.edit_campaign')"
    />
    <clone-action
      v-if="campaign.states.can_duplicate"
      :campaign="campaign"
      :tooltip="$trans('campaign::actions.clone')"
      @refresh="$emit('refresh')"
    />
    <download-report-action
      v-if="campaign.states.can_download_report"
      :campaign="campaign"
      :tooltip="$trans('campaign::actions.download_report')"
    />
    <delete-action
      v-if="campaign.states.can_delete"
      :campaign="campaign"
      :tooltip="$trans('campaign::actions.delete_campaign')"
      @refresh="$emit('refresh')"
    />
  </div>
</template>

<script>
  import DeleteAction from 'Modules/campaign/components/index/actions/DeleteAction';
  import EditAction from 'Modules/campaign/components/index/actions/EditAction';
  import CloneAction from 'Modules/campaign/components/index/actions/CloneAction';
  import DownloadReportAction from 'Modules/campaign/components/index/actions/DownloadReportAction';

  export default {
    /**
     * Component name
     */
    name: 'CampaignActionsCell',

    /**
     * Components
     */
    components: {
      EditAction,
      DeleteAction,
      CloneAction,
      DownloadReportAction
    },

    /**
     * Props
     */
    props: {
      /**
       * Campaign entity.
       */
      campaign: {
        type: Object,
        default: () => {
          return {};
        },
      },
    },
  };
</script>
