<template>
  <el-tooltip
    class="item"
    effect="dark"
    :content="tooltip"
    placement="top"
  >
    <a
      role="button"
      class="button-empty-icon"
      @click="onClick"
    >
      <icon
        value="copy"
        transparent="stroke"
      />
    </a>
  </el-tooltip>
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';
  import { mapActions } from 'vuex';

  export default {
    /**
     * Component name
     */
    name: 'CloneAction',

    components: {
      Icon
    },

    /**
     * Props
     */
    props: {
      /**
       * Campaign entity.
       */
      campaign: {
        type: Object,
        default: () => {
          return {};
        },
      },

      /**
       * Tooltip value
       */
      tooltip: {
        type: String,
        default: ''
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex.
       */
      ...mapActions('details', ['clone']),

      /**
       * On click handler.
       */
      onClick () {
        this.$call(this.clone(this.campaign.id))
          .then(() => {
            this.$emit('refresh');
          })
          .catch((error) => {
            this.$notify.error(error.data.message);
            return Promise.reject(error);
          })
      }
    }
  };
</script>
