<template>
  <div>
    <el-tooltip
      class="item"
      effect="dark"
      :content="tooltip"
      placement="top"
    >
      <a
        role="button"
        class="button-empty-icon"
        @click="onClick"
      >
        <icon
          value="trash"
          transparent="stroke"
        />
      </a>
    </el-tooltip>

    <!-- SUBMIT MODAL -->
    <confirm-dialog
      :visible="visible"
      type="remove"
      :submit-name="$trans('actions.yes')"
      @close="close"
      @cancel="close"
      @submit="removeCampaign"
    />
  </div>
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';
  import { mapActions } from 'vuex';
  import ConfirmDialog from 'Modules/campaign/components/campaignDetails/Actions/Dialogs/ConfirmDialog';

  export default {
    /**
     * Component name
     */
    name: 'EditAction',

    /**
     * Components
     */
    components: {
      ConfirmDialog,
      Icon,
    },

    /**
     * Props
     */
    props: {
      /**
       * Campaign entity.
       */
      campaign: {
        type: Object,
        default: () => {
          return {};
        },
      },

      /**
       * Tooltip value
       */
      tooltip: {
        type: String,
        default: ''
      }
    },

    /**
     * Reactive properties.
     * @returns {{}}
     */
    data () {
      return {
        /**
         * Is dialog visible
         */
        visible: false,
      };
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Vuex actions
       */
      ...mapActions('details', {
        remove: 'remove'
      }),

      /**
       * On click event handler.
       */
      onClick () {
        if (this.campaign.campaign_status === 'draft') {
          return this.open();
        }
      },

      /**
       * Open modal
       */
      open () {
        this.visible = true;
      },

      /**
       * Close modal.
       */
      close () {
        this.visible = false;
      },

      /**
       * Remove campaign
       * @return Promise
       */
      removeCampaign () {
        this.close();
        return this.$call(this.remove(this.campaign.id))
          .then(() => {
            this.$emit('refresh');
          })
          .catch(() => {
            this.$notify.error('Campaign can\'t be removed');
          });
      }
    }
  };
</script>
