<template>
  <el-tooltip
    class="item"
    effect="dark"
    :content="tooltip"
    placement="top"
  >
    <a
      role="button"
      class="button-empty-icon"
      @click="$redirectToRoute('api.campaigns.report.download', { campaign: campaign.id })"
    >
      <icon
        value="download"
        transparent="fill"
      />
    </a>
  </el-tooltip>
</template>

<script>
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Component name
     */
    name: 'DownloadReportAction',

    /**
     * Components
     */
    components: {
      Icon
    },

    /**
     * Props
     */
    props: {
      /**
       * Campaign entity.
       */
      campaign: {
        type: Object,
        default: () => {
          return {};
        },
      },

      /**
       * Tooltip value
       */
      tooltip: {
        type: String,
        default: ''
      }
    },
  };
</script>
