<template>
  <campaign-step
    :title="$trans('campaign::labels.titles.creative')"
    :skippable="true"
  >
    <div
      slot="description"
      v-html="$trans('creative::messages.review', {
        tech_specifications_link: $config.general.links.technical_specifications,
        advertising_policies: $config.general.links.advertising_policies,
        ad_approval_link: $config.general.links.faq.ad_approval,
      })"
    />
    <template slot="content">
      <div class="creative-form">
        <attach-creative
          :selectable="true"
          :campaign-id="campaignId"
          :attached-creative="creative"
          :remind-message="$trans('creative::messages.remind_review')"
          :count-uploaded-ads="countUploadedAds"
        />
      </div>
    </template>
    <template slot="step-next">
      {{ nextButtonLabel }}
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import CreateCampaignFormStep from '../mixins/CreateCampaignFormStep';
  import AttachCreative from 'Modules/creative/components/AttachCreative';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions } from 'vuex';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignCreative',

    /**
     * Components
     */
    components: {
      AttachCreative,
      CampaignStep,
    },

    /**
     * Mixins.
     */
    mixins: [CreateCampaignFormStep],

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Map fields.
       */
      ...mapFields('wizard', {
        campaignId: 'id',
        creative: 'creative.creative',
        campaignStatus: 'details.status',
        countUploadedAds: 'countUploadedAds'
      }),

      /**
       * Storage key for step.
       * @returns {string}
       */
      key () {
        return 'creative.creative';
      },

      /**
       * Activity value.
       * @returns {string}
       */
      activity () {
        return this.lastActivity;
      },

      /**
       * @returns {string}
       */
      nextButtonLabel () {
        return this.creative ? this.$trans('actions.next') : this.$trans('campaign::labels.buttons.skip_for_now');
      },
    },

    /**
     * Watch.
     */
    watch: {
      creative (value) {
        this.checkFilled(value);
      }
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex (actions).
       */
      ...mapActions('wizard/creative', [
        'updateCampaignStep',
      ]),

    /**
     * Save current step.
     * @returns {*}
     */
    save () {
      return this.$call(this.updateCampaignStep(), { muteException: true });
    },
  },
};
</script>
