@import "../mixins/mixins";
@import "../common/variables";
@import "../common/transition";

@include b(date-editor) {
  position: relative;
  display: inline-block;
  text-align: left;
  background: var(--bg-base);
  border: 1px solid var(--border-color-gray);

  &.el-input,
  &.el-input__inner {
    width: 220px;
  }

  .el-input__inner {
    padding-left: 8px;
  }

  @include m((monthrange)) {
    &.el-input,
    &.el-input__inner {
      width: 300px;
    }
  }

  @include m((daterange, timerange)) {
    &.el-input,
    &.el-input__inner {
      width: 350px;
    }
  }

  @include m(datetimerange) {
    &.el-input,
    &.el-input__inner {
      width: 400px;
    }
  }

  @include m(dates) {
    .el-input__inner {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .el-icon-circle-close {
    cursor: pointer;
  }

  .el-range__icon {
    @extend .text-body-xs;
    margin-left: -5px;
    color: var(--fg-offset85);
    float: left;
  }

  .el-icon-time {
    display: none;
  }

  .el-range-input {
    @extend .text-size-sm;
    appearance: none;
    border: none;
    outline: none;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 39%;
    text-align: center;
    color: var(--color-text-med);

    &::placeholder {
      color: var(--color-text-placeholder);
    }
  }

  .el-range-separator {
    @extend .text-body-sm;
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin: 0;
    text-align: center;
    color: var(--color-text-med);
    padding: 0;
    width: 31px;
  }

  .el-range__close-icon {
    @extend .text-body-xs;
    color: var(--color-text-placeholder);
    width: 25px;
    display: inline-block;
    float: right;
  }
}

@include b(range-editor) {
  &.el-input__inner {
    display: inline-flex;
    align-items: center;
    padding: 3px 10px;
  }

  .el-range-input {
    line-height: 1;
  }

  @include when(active) {
    border-color: var(--color-text-med);

    &:hover {
      border-color: var(--color-text-med);
    }
  }

  @include m(medium) {
    &.el-input__inner {
      height: var(--input-medium-height);
    }

    .el-range-separator {
      @extend .text-body-sm;
    }

    .el-range-input {
      @extend .text-size-sm;
    }

    .el-range__icon,
    .el-range__close-icon {
      line-height: 28px;
    }
  }

  @include m(small) {
    &.el-input__inner {
      height: var(--input-small-height);
    }

    .el-range-separator {
      @extend .text-body-xs;
    }

    .el-range-input {
      @extend .text-size-xs;
    }

    .el-range__icon,
    .el-range__close-icon {
      line-height: 24px;
    }
  }

  @include m(mini) {
    &.el-input__inner {
      height: var(--input-mini-height);
    }

    .el-range-separator {
      @extend .text-body-xxs;
    }

    .el-range-input {
      @extend .text-size-xxs;
    }

    .el-range__icon,
    .el-range__close-icon {
      line-height: 20px;
    }
  }

  @include when(disabled) {
    background-color: var(--input-disabled-fill);
    border-color: var(--input-disabled-border);
    color: var(--input-disabled-color);
    cursor: not-allowed;

    &:hover, &:focus {
      border-color: var(--input-disabled-border);
    }

    input {
      background-color: var(--input-disabled-fill);
      color: var(--input-disabled-color);
      cursor: not-allowed;

      &::placeholder {
        color: var(--input-disabled-placeholder-color);
      }
    }

    .el-range-separator {
      color: var(--color-text-sm-low);
    }
  }
}
