<template>
  <div>
    <p class="text-label-xs-semibold-caps">
      {{ $trans('broadcast::labels.blocks.email') }}
    </p>
    <text-field
      ref="subject"
      v-model="formData.email.subject"
      :disabled="disabled"
      :label="$trans('broadcast::labels.email_channels_fields.labels.subject')"
      :placeholder="$trans('broadcast::labels.email_channels_fields.placeholders.subject')"
      name="email.subject"
      size="medium"
    />
    <text-field
      ref="header"
      v-model="formData.email.header"
      :disabled="disabled"
      :label="$trans('broadcast::labels.email_channels_fields.labels.header')"
      :placeholder="$trans('broadcast::labels.email_channels_fields.placeholders.header')"
      name="email.header"
      size="medium"
    />
    <common-select
      ref="notification_category_id"
      v-model="formData.email.icon"
      :disabled="disabled"
      :placeholder="$trans('broadcast::labels.email_channels_fields.placeholders.icon')"
      name="email.icon"
      :label="$trans('broadcast::labels.email_channels_fields.labels.icon')"
      size="medium"
      force-show-clear
      :clearable="!disabled"
    >
      <el-option
        v-for="item in icons"
        :key="item.value"
        :label="item.label"
        :value="item.value"
      >
        <template slot="default">
          <span class="float-left">{{ item.label }}</span>
          <el-image
            class="option-img"
            :src="item.image"
            fit="contain"
          />
        </template>
      </el-option>
    </common-select>
    <editor
      ref="body"
      v-model="formData.email.body"
      :editable="!disabled"
      name="email.body"
      value-type="html"
      :label="$trans('broadcast::labels.email_channels_fields.labels.body')"
    />
  </div>
</template>

<script>
  import { TextField } from 'Foundation/components/form';
  import { mapFields } from 'vuex-map-fields';
  import Editor from 'Foundation/components/wysiwyg/Editor';
  import { mapState } from 'vuex';
  import CommonSelect from "Foundation/components/form/extend/CommonSelect";

  export default {
    /**
     * Name.
     */
    name: 'EmailForm',

    /**
     * Components.
     */
    components: {
      CommonSelect,
      TextField,
      Editor,
    },

    /**
     * Props.
     */
    props: {
      /**
       * Allow edit form
       */
      disabled: {
        type: Boolean,
        default: true
      }
    },

    /**
     * Data.
     */
    data () {
      return {
        scope: '__broadcast__',
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Map fields
       */
      ...mapFields('broadcast', {
        formData: 'broadcastData',
        icons: 'emailIcons',
        saved: 'saved'
      }),

      /**
       * Map state
       */
      ...mapState('broadcast', ['loaded']),
    },

    /**
     * Watch
     */
    watch: {
      /**
       * Watch formData change
       */
      formData: {
        handler () {
          if (this.loaded) {
            this.saved = false;
          }
        },
        deep: true
      },
    }
  }
</script>
