.invalid-token {
  padding: 56px;
  max-width: 720px;
  margin: 150px auto;

  ul {
    list-style: disc;
    padding-left: 40px;
  }

  ul,
  p {
    margin-bottom: 20px;
  }

  .homepage-btn {
    margin-top: 32px;
  }
}
