.sign-up {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;

  .wizard__footer {
    align-items: center;
  }

  .el-dialog {
    &__body {
      flex: 1;
      padding: 0;
    }

    &__header {
      padding: 47px var(--main-padding-x);
      position: relative;
    }

    &__footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: var(--bg-base);
      z-index: 2010;

      .sign-up__terms {
        margin: 0;
      }
    }

    &__headerbtn {
      right: 56px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color-text-high);
  }

  &__forms {
    padding: 3vh 0 180px 0;

    @media all and (min-height: 769px) {
      padding-top: 9vh;
    }

    &--admin {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 80px 0;
      background-color: var( --bg-offset5);
      min-height: calc(100vh - 280px);
    }

    &-step {
      max-width: var(--main-forms-container);
      margin: 0 auto;
    }
  }

  &__thanks {
    text-align: center;
    max-width: 720px;
    margin: 0 auto;

    &-descr {
      margin-bottom: 40px;
      letter-spacing: -0.5px;
    }
  }

  &__terms {
    margin-top: 36px;

    &-link {
      color: var(--color-text-placeholder);
      font-weight: var(--font-weight-regular);
      margin-right: 20px;
    }
  }

  &__title {
    @extend .text-size-xxs;
  }

  @media screen and (max-width: $--md) {
    .el-dialog {
      &__header {
        padding: 25px var(--main-padding-x-mobile) 45px;
      }

      &__headerbtn {
        right: 20px;
        top: calc(50% - 13px);
      }
    }

    &__title {
      display: block;
      width: 100%;
      top: 75px;
    }

    &__forms {
      padding: 78px 20px;
    }
  }
}
