<template>
  <common-select
    ref="notification_category_id"
    v-model="formData.inApp.category"
    :label="$trans('broadcast::labels.in-app_channels_fields.labels.category')"
    :disabled="disabled"
    :placeholder="$trans('broadcast::labels.in-app_channels_fields.placeholders.category')"
    name="notification.notification_category_id"
    size="medium"
    force-show-clear
    :clearable="!disabled"
  >
    <el-option
      v-for="item in notificationCategories"
      :key="item.value"
      :label="item.label"
      :value="item.value"
    />
  </common-select>
</template>

<script>
  import { mapFields } from 'vuex-map-fields';
  import CommonSelect from "Foundation/components/form/extend/CommonSelect";

  export default {
    /**
     * Name.
     */
    name: 'NotificationCategory',

    /**
     * Components.
     */
    components: {
      CommonSelect,
    },

    /**
     * Props.
     */
    props: {
      disabled: {
        type: Boolean,
        default: false
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Map fields
       */
      ...mapFields('broadcast', {
        formData: 'broadcastData',
        notificationCategories: 'notificationCategories'
      })
    },
  }
</script>
