<template>
  <div class="campaigns">
    <div class="campaigns__holder level-default">
      <data-table
        ref="dataTable"
        :show-sub-title="false"
        :search-placeholder="$trans('campaign::labels.search_campaign_placeholder')"
        :additional-columns="additionalColumns"
        name="campaigns"
        order-by="order_id"
        order-dir="descending"
        @row-click="handleRowClick"
      >
        <template slot="banner">
          <campaigns-banner />
        </template>
        <template
          slot="filters"
          slot-scope="props"
        >
          <status-filter
            placeholder="Campaign Status"
            :disabled="props.disabled"
            @change="props.change"
          />
        </template>
        <data-table-column
          prop="name"
          :label="$trans('labels.name')"
        >
          <url-cell
            slot-scope="scope"
            :cell-url="$getRoute('campaigns.show', { campaign: scope.row.id })"
            :cell-value="scope.row.name"
            @click="showCampaignDetails(scope.row.id, scope.row.name)"
          />
        </data-table-column>
        <data-table-column
          :label="$trans('creative::labels.status')"
          prop="creative_status"
          :searchable="false"
        >
          <creative-status-cell
            :key="scope.row.id"
            slot-scope="scope"
            :cell-value="scope.row.creative_status"
          />
        </data-table-column>
        <data-table-column
          prop="date_start"
          :label="$trans('campaign::labels.start_date')"
          :searchable="false"
        >
          <date-cell
            slot-scope="scope"
            :cell-value="scope.row.date_start"
          />
        </data-table-column>
        <data-table-column
          prop="date_end"
          :label="$trans('campaign::labels.end_date')"
          :searchable="false"
        >
          <date-cell
            slot-scope="scope"
            :cell-value="scope.row.date_end"
          />
        </data-table-column>
        <data-table-column
          prop="budget"
          :label="$trans('campaign::labels.budget')"
          :searchable="false"
        >
          <money-cell
            slot-scope="scope"
            :cell-value="scope.row.budget"
          />
        </data-table-column>
        <data-table-column
          prop="impressions"
          :label="$trans('campaign::labels.target_impressions')"
          :searchable="false"
        >
          <number-cell
            slot-scope="scope"
            :cell-value="scope.row.impressions"
          />
        </data-table-column>
        <data-table-column
          :label="$trans('campaign::labels.status')"
          prop="campaign_status"
          :searchable="false"
        >
          <status-cell
            slot-scope="scope"
            :cell-value="scope.row.campaign_status"
          />
        </data-table-column>

        <!-- ACTIONS -->
        <data-table-column
          :label="$trans('invitation::labels.actions')"
          :searchable="false"
          :sortable="false"
          :show-overflow-tooltip="false"
        >
          <campaign-actions-cell
            slot-scope="scope"
            :campaign="scope.row"
            @refresh="reload"
          />
        </data-table-column>
      </data-table>
    </div>
  </div>
</template>

<script>
import CampaignsBanner from './banner/CampaignsBanner';
import CreativeStatusCell from './cells/CreativeStatusCell';
import DataTable from 'Foundation/components/dataTable/DataTable';
import DataTableColumn from 'Foundation/components/dataTable/DataTableColumn';
import DateCell from 'Foundation/components/dataTable/Cells/DateCell';
import MoneyCell from 'Foundation/components/dataTable/Cells/MoneyCell';
import NumberCell from 'Foundation/components/dataTable/Cells/NumberCell';
import StatusCell from './cells/StatusCell';
import StatusFilter from './filters/StatusFilter';
import UrlCell from 'Foundation/components/dataTable/Cells/UrlCell';
import { mapMutations } from "vuex";
import CampaignActionsCell from 'Modules/campaign/components/index/actions/CampaignActionsCell';

export default {
  /**
   * Component name
   */
  name: 'CampaignTable',

  /**
   * Components
   */
  components: {
    CampaignActionsCell,
    CampaignsBanner,
    CreativeStatusCell,
    DataTable,
    DataTableColumn,
    DateCell,
    MoneyCell,
    NumberCell,
    StatusCell,
    StatusFilter,
    UrlCell,
  },

  /**
   * Data attributes
   */
  data () {
    return {
      /**
       * Additional columns
       */
      additionalColumns: [
        {
          prop: 'id',
          data: 'id',
          orderable: false,
        },
        {
          prop: 'order_id',
          data: 'order_id',
          orderable: true,
          searchable: false
        },
      ],
    };
  },

  /**
   * Computed properties.
   */
  computed: {
    /**
     * Route for campaign listing page.
     */
    indexRoute () {
      return 'campaigns.index';
    },
  },

  /**
   * Methods
   */
  methods: {
    /**
     * Map vuex actions
     */
    ...mapMutations('details', [
        'setCampaignData',
    ]),
    /**
     * Reload the table.
     */
    reload () {
      this.$refs.dataTable.loadData();
    },

    /**
     * Show campaign details on row click.
     *
     * @param row
     */
    handleRowClick (row) {
      this.showCampaignDetails(row.id, row.name)
    },

    /**
     * Show campaign details.
     *
     * @param campaignId
     * @param name
     */
    showCampaignDetails (campaignId, name) {
      this.setCampaignData(campaignId, name);
      this.$pushRoute(this.getDetailsRoute(campaignId));
    },

    /**
     * Get route for campaign details page.
     */
    getDetailsRoute (campaignId) {
      return {
        name: 'campaigns.show',
        params: {
          campaignId,
        },
      };
    },
  },
};
</script>
