<template>
  <campaign-step
    classes="campaign-schedule"
    :title="$trans('campaign::labels.titles.schedule')"
  >
    <div
      slot="description"
      v-html="$trans('campaign::labels.subtitles.schedule', {
        link: $config.general.links.faq.ad_approval,
      })"
    />
    <template slot="content">
      <div class="custom-label">
        {{ $trans('labels.dates') }}
      </div>
      <div class="campaign-schedule__input-wrapper">
        <campaign-date-range
          class="campaign-schedule__input-wrapper-item"
          @closed="saveWithInventory"
        />
        <timezones
          v-if="showTimeZones"
          class="campaign-schedule__input-wrapper-item"
        />
      </div>
    </template>
  </campaign-step>
</template>

<script>
  import CampaignStep from '../CampaignStep';
  import CampaignDateRange from './CampaignDateRange';
  import CreateCampaignFormStep from '../mixins/CreateCampaignFormStep';
  import TimezonesMixin from '../mixins/Timezones';
  import { mapActions, mapState } from 'vuex';
  import { mapFields } from 'vuex-map-fields';
  import Timezones from './Timezones';

  export default {
    /**
     * Component name.
     */
    name: 'CampaignSchedule',

    /**
     * Child components.
     */
    components: {
      Timezones,
      CampaignDateRange,
      CampaignStep,
    },

    /**
     * Mixins.
     */
    mixins: [
      CreateCampaignFormStep,
      TimezonesMixin,
    ],

    /**
     * Data properties.
     */
    data(){
      return {
        shouldTriggerAutoSave: false,
      }
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapFields('wizard/details', ['date', 'updateSchedulePending']),

      /**
       * Vuex (state).
       */
      ...mapState('wizard/budget', ['cost']),

      /**
       * If save operation is performing
       */
      savePending () {
        return this.updateSchedulePending;
      },

      /**
       * Storage key for step.
       *
       * @returns {string}
       */
      key () {
        return 'details.schedule';
      },

      /**
       * Show timezone select
       * @returns {boolean}
       */
      showTimeZones () {
        return this.$config.campaign.enable_timezone_select;
      },

      /**
       * Get combined step value
       * @returns {{}}
       */
      getCombinedStepValue () {
        return this.date;
      }
    },

    /**
     * Watchers.
     */
    watch: {
      date: {
        deep: true,
        handler: 'onUpdate'
      },
      timezone_id: 'onUpdate',
    },

    /**
     * Created hook.
     */
    created () {
      if (!this.$config.campaign.enable_timezone_select) {
        this.setTimezoneId();
      }

      //we need to trigger new inventory only in case if user already has budget.
      if (!this.cost) {
        this.shouldTriggerAutoSave = false;
        this.shouldTriggerInventory = false;
      }

      this.setStepLastValue(this.getCombinedStepValue);
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Vuex.
       */
      ...mapActions('wizard/details', [
        'updateSchedule',
      ]),

      /**
       * Save current step.
       * @returns {*}
       */
      save () {
        return this.$call(this.updateSchedule(), { muteException: true });
      },
    },
  };
</script>
