<template>
  <status-badge
    :value="translatedCellValue"
    :type="type"
  />
</template>

<script>
  import CellMixin from "Foundation/mixins/CellMixin";

  export default {
    /**
     * Component name
     */
    name: 'StatusCell',

    /**
     * Mixins.
     */
    mixins: [CellMixin],

    /**
     * Component data.
     */
    data () {
      return {
        typeStatusMapping: {
          'default': ['approved', 'draft', 'pending-approval', 'processing'],
          'danger': ['rejected'],
        }
      }
    },

    /**
     * Computed properties
     */
    computed: {
      /**
       * Translated  cell value
       */
      translatedCellValue () {
        return this.$trans(`creative::labels.creative.statuses.${this.cellValue}`)
      },
    },
  };
</script>
