<template>
  <el-button
    type="primary"
    size="mini"
    :icon="icon"
    :class="{ 'is-active': isActive }"
    @click="click"
  >
    <slot />
  </el-button>
</template>

<script>
  export default {
    /**
     * Component name
     */
    name: 'EditorButton',

    /**
     * Props
     */
    props: {
      /**
       * Is active
       */
      isActive: {
        type: Boolean,
        default: false,
      },

      /**
       * Icon
       */
      icon: {
        type: String,
        default: '',
      }
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Click event
       */
      click () {
        this.$emit('click');
      },
    },
  };
</script>
