<template>
  <div
    class="el-form-item"
    :class="{ 'is-error': hasError, 'is-filled': isFilled }"
  >
    <label
      v-if="showLabel"
      :for="name"
      class="el-form-item__label"
    >
      {{ label }}
    </label>
    <div
      id="editor"
      class="editor"
    >
      <editor-menu-bubble
        v-if="editable"
        v-slot="{ commands, isActive, getMarkAttrs, menu }"
        class="menububble"
        :editor="editor"
        @hide="hideLinkMenu"
      >
        <div
          class="menububble"
          :class="{ 'is-active': menu.isActive }"
          :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
        >
          <form
            v-if="linkMenuIsActive"
            class="menububble__form"
            @submit.prevent="setLinkUrl(commands.link, linkUrl)"
          >
            <input
              ref="linkInput"
              v-model="linkUrl"
              class="menububble__input"
              type="text"
              placeholder="https://"
              @keydown.esc="hideLinkMenu"
            >
            <button
              type="button"
              class="menububble__button"
              @click="setLinkUrl(commands.link, null)"
            >
              Remove Link
            </button>
          </form>
          <template v-else>
            <button
              class="menububble__button"
              :class="{ 'is-active': isActive.link() }"
              @click="showLinkMenu(getMarkAttrs('link'))"
            >
              <span>{{ isActive.link() ? 'Update Link' : 'Add Link' }}</span>
            </button>
          </template>
        </div>
      </editor-menu-bubble>
      <editor-menu-bar
        v-if="editable"
        v-slot="{ commands, isActive, getMarkAttrs }"
        :editor="editor"
      >
        <div class="menubar">
          <editor-button
            :is-active="isActive.bold()"
            @click="commands.bold"
          >
            <strong>B</strong>
          </editor-button>
          <editor-button
            :is-active="isActive.italic()"
            @click="commands.italic"
          >
            <i>I</i>
          </editor-button>
          <editor-button
            :is-active="isActive.strike()"
            @click="commands.strike"
          >
            <strike>S</strike>
          </editor-button>
          <editor-button
            :is-active="isActive.underline()"
            @click="commands.underline"
          >
            <u>U</u>
          </editor-button>
          <editor-button
            :is-active="isActive.heading({ level: 1 })"
            @click="commands.heading({ level: 1 })"
          >
            H1
          </editor-button>
          <editor-button
            :is-active="isActive.heading({ level: 2 })"
            @click="commands.heading({ level: 2 })"
          >
            H2
          </editor-button>
          <editor-button
            :is-active="isActive.heading({ level: 3 })"
            @click="commands.heading({ level: 3 })"
          >
            H3
          </editor-button>
          <editor-button
            :is-active="isActive.bullet_list()"
            @click="commands.bullet_list"
          >
            <icon
              value="list-ul"
              :width="15"
              :height="10"
            />
          </editor-button>
          <editor-button
            :is-active="isActive.ordered_list()"
            @click="commands.ordered_list"
          >
            <icon
              value="list-ol"
              :width="15"
              :height="10"
            />
          </editor-button>
          <el-tooltip
            class="item"
            effect="dark"
            :content="$trans('labels.link_tooltip')"
            placement="top"
          >
            <editor-button
              :is-active="isActive.link()"
              @click="showLinkMenu(getMarkAttrs('link'))"
            >
              <i class="el-icon-link link-button" />
            </editor-button>
          </el-tooltip>
        </div>
      </editor-menu-bar>
      <editor-content
        v-if="editable"
        ref="editor"
        :editor="editor"
      />
      <div
        v-else
        v-html="value"
      />
    </div>
    <div
      v-if="hasError && editable"
      class="el-form-item__error"
    >
      {{ errorText }}
    </div>
    <input
      v-if="editable"
      v-model="schema"
      v-validate="validationRules"
      type="hidden"
      :name="name"
      :data-vv-as="validateAs"
      :data-vv-name="name"
      :data-vv-scope="scope"
    >
  </div>
</template>

<script>
  import { Editor, EditorContent, EditorMenuBar, EditorMenuBubble } from 'tiptap';
  import LinkWithTitle from './extensions/LinkWithTitle.js';
  import {
    Blockquote,
    CodeBlock,
    HardBreak,
    Heading,
    HorizontalRule,
    OrderedList,
    BulletList,
    ListItem,
    TodoItem,
    TodoList,
    Bold,
    Code,
    Italic,
    Strike,
    Underline,
    History,
  } from 'tiptap-extensions';
  import EditorButton from 'Foundation/components/wysiwyg/EditorButton';
  import Input from '../form/Input.vue';
  import { Renderer } from 'prosemirror-to-html-js';
  import Icon from 'Foundation/components/icons/Icon';

  export default {
    /**
     * Component name
     */
    name: 'Editor',

    /**
     * Components
     */
    components: {
      EditorButton,
      EditorContent,
      EditorMenuBar,
      EditorMenuBubble,
      Icon
    },

    /**
     * Extends Input
     */
    extends: Input,

    /**
     * Props
     */
    props: {
      /**
       * Initial value
       */
      initialValue: {
        type: String,
        default: '',
      },

      /**
       * Value type
       */
      valueType: {
        type: String,
        default: 'json',
      },

      /**
       * Allow edit text
       */
      editable: {
        type: Boolean,
        default: true
      }
    },

    /**
     * Data attributes
     */
    data () {
      return {
        focused: false,
        editor: this.initEditor(),
        schema: {},
        linkUrl: null,
        linkMenuIsActive: false,
      };
    },

    /**
     * Watchers
     */
    watch: {
      /**
       * Initial value watcher
       */
      value (value) {
        if (!value) {
          return;
        }

        if (!this.focused) {
          this.setContent(value);
        }
        if (this.valueType === 'json') {
          const renderer = new Renderer();
          this.schema = renderer.render(value).replace(/(<([^>]+)>)/ig, '');
        }
      }
    },

    /**
     * Before destroy hook
     */
    beforeDestroy () {
      // Always destroy your editor instance when it's no longer needed
      this.editor.destroy();
    },

    /**
     * Methods
     */
    methods: {
      /**
       * Show link menu
       */
      showLinkMenu(attrs) {
        if (attrs) {
          this.linkUrl = attrs.href;
        }

        this.linkMenuIsActive = true;
        this.$nextTick(() => {
          this.$refs.linkInput.focus();
        })
      },

      /**
       * Hide link menu
       */
      hideLinkMenu() {
        this.linkUrl = null;
        this.linkMenuIsActive = false;
      },

      /**
       * Set link URL
       */
      setLinkUrl(command, url) {
        command({ href: url });
        this.hideLinkMenu();
        this.editor.focus();
      },

      /**
       * Init editor
       */
      initEditor () {
        return new Editor({
          extensions: [
            new Blockquote(),
            new BulletList(),
            new CodeBlock(),
            new HardBreak(),
            new Heading({ levels: [1, 2, 3] }),
            new HorizontalRule(),
            new ListItem(),
            new OrderedList(),
            new TodoItem(),
            new TodoList(),
            new LinkWithTitle(),
            new Bold(),
            new Code(),
            new Italic(),
            new Strike(),
            new Underline(),
            new History(),
          ],
          editable: this.editable,
          content: this.value,
          onFocus: () => {
            this.focused = true;
          },
          onBlur: () => {
            this.focused = false;
          },
          onUpdate: (value) => {
            switch (this.valueType) {
              case 'json':
                this.innerValue = value.getJSON();
                break;
              default:
                this.innerValue = value.getHTML();
            }
          },
        });
      },

      /**
       * Set editor content
       */
      setContent (content) {
        if (typeof this.$refs.editor !== 'undefined') {
          this.$refs.editor.editor.setContent(content);
        }
      },
    },
  };
</script>
