<template>
  <div class="campaign-sidebar__placeholder">
    <img
      :alt="$trans('labels.common_image_alt')"
      src="/images/content/Green-Bolt.svg"
      width="25"
    >
    <p class="text-body-sm">
      {{ $trans('campaign::messages.campaign_wizard_tip_p1') }}
    </p>
    <p class="text-body-sm">
      {{ $trans('campaign::messages.campaign_wizard_tip_p2') }}
    </p>
    <img
      :alt="$trans('labels.common_image_alt')"
      src="/images/content/Squiggly-Line.svg"
      width="75"
    >
  </div>
</template>

<script>
  export default{
    /**
     * Name of the component.
     */
    name: 'SidebarTip',
  }
</script>
