<template>
  <div
    class="campaign-sidebar"
  >
    <div class="campaign-sidebar__header">
      <p class="text-label-sm">
        {{ name }}
      </p>
      <div class="d-flex date-block">
        <span>
          {{ $trans('campaign::labels.date_range') }}:
          <date-range
            :date-start="date.start"
            :date-end="date.end"
          />
        </span>
        <div class="status">
          <slot name="status" />
        </div>
      </div>
    </div>
    <div
      id="sidbar-content"
      class="campaign-sidebar__content"
    >
      <sidebar-tip v-if="showSidebarTip" />
      <div
        v-else
        class="campaign-sidebar__collapse"
      >
        <sidebar-budget />
        <el-collapse
          v-model="activePanel"
          class="campaign-sidebar__list"
        >
          <sidebar-collapsable-item
            v-for="(item, key) in items"
            :key="key"
            :name="key"
            :item="item"
          />
        </el-collapse>
      </div>
    </div>
  </div>
</template>

<script>
  import { merge, pickBy } from 'lodash';
  import SidebarTip from './SidebarTip';
  import SidebarCollapsableItem from './items/SidebarCollapsableItem';
  import { mapGetters, mapState } from 'vuex';
  import DateRange from 'Foundation/components/formatters/DateRange';
  import SidebarBudget from 'Modules/campaign/components/wizard/sidebar/items/SidebarBudget';

  export default {
    /**
     * Name of the component.
     */
    name: "WizardSidebar",

    /**
     * Child components.
     */
    components: {
      SidebarTip,
      SidebarCollapsableItem,
      DateRange,
      SidebarBudget
    },

    /**
     * Reactive data.
     */
    data () {
      return {
        activePanel: [],
        items: null,
        showSidebarTip: true,
      };
    },

    /**
     * Computed properties.
     */
    computed: {
      /**
       * Vuex (state).
       */
      ...mapState('wizard/details', [
        'name',
        'date',
        'timezone',
      ]),
      ...mapState('wizard/budget', [
        'cost',
        'impressions',
        'cpm'
      ]),
      ...mapState('wizard/creative', [
        'creative',
      ]),

      /**
       * Vuex (getters) - steps.
       */
      ...mapGetters('wizard/steps', [
        'groups',
        'getGroupKeyByRoute'
      ]),

      /**
       * Vuex (getters) - targeting.
       */
      ...mapGetters('wizard/targeting', [
        'selectedGenderLabel',
        'ages',
        'audiences',
        'genres',
        'deviceGroups',
        'locations',
      ]),

      /**
       * All items available in sidebar. Additional information will be added to these items.
       * @returns {Object}
       */
      rawItems () {
        return {
          targeting: {
            items: {
              ages: {
                title: this.$trans('campaign::labels.labels.age_groups'),
                singleColumn: true,
                value: this.ages.map(item => item.label).join(', '),
                component : 'sidebar-item',
                extraItems: {
                  genders: {
                    showFirst: true,
                    title: this.$trans('labels.gender'),
                    singleColumn: true,
                    value: this.selectedGenderLabel,
                    component : 'sidebar-item',
                  },
                }
              },
              audiences: {
                singleColumn: false,
                value: this.audiences,
                component: 'sidebar-targeting-audiences',
              },
              locations: {
                title: this.$trans('labels.locations'),
                singleColumn: false,
                value: {
                  locations: this.locations,
                  allLabel: this.$trans('targeting::labels.locations.all'),
                },
                component: 'sidebar-targeting-locations',
              },
              genres: {
                singleColumn: false,
                value: {
                  items: this.genres,
                  allLabel: this.$trans('targeting::labels.genres.all'),
                  allowAll: true,
                },
                component: 'sidebar-targeting-include-item',
              },
              devices: {
                singleColumn: false,
                value: {
                  items: this.deviceGroups,
                  allowAll: false,
                },
                component: 'sidebar-targeting-item',
              },
            }
          },
          creative: {
            title: this.$trans('labels.creative'),
            items: {
              creative: {
                title: this.$trans('labels.creative'),
                singleColumn: false,
                value: this.creative,
                component : 'sidebar-creative',
              },
            },
          },
        };
      },

      /**
       * All wizard items. We need to add additional default information and data from the vuex.
       * @returns {{}}
       */
      mergedItems () {
        return merge(
          {},
          pickBy(this.groups, (val, key) =>
            Object.keys(this.rawItems).includes(key)
          ),
          this.rawItems,
        );
      },
    },

    /**
     * Watchers.
     */
    watch: {
      /**
       * Expand the active sidebar group on the route changing.
       */
      $route () {
        this.setActivePanel();
      },

      mergedItems: {
        deep: true,
        handler: function (value) {
          this.items = value;
        }
      },

      'groups.details.items.name.filled' (val) {
        if (val) {
          this.showSidebarTip = false;
        }
      },
    },

    /**
     * Mounted hook
     */
    mounted () {
      this.items = this.mergedItems;
      this.showSidebarTip = !this.groups.details.items.name.filled;
      this.setActivePanel();
    },

    /**
     * Methods.
     */
    methods: {
      /**
       * Expand the active sidebar group.
       */
      setActivePanel () {
        this.activePanel = [this.getGroupKeyByRoute(this.$route.name)];
      },
    },
  };
</script>
